﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"  Inherits="Layouts.Breadcrumb_sublayout.Breadcrumb_sublayoutSublayout" CodeFile="~/SG50/layouts/Breadcrumb Sublayout.ascx.cs" %>

<div class="breadcrumb">
    <asp:literal id="litBreadcrumb" runat="server"></asp:literal>
</div>