﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" Inherits="Layouts.Idea_main_sublayout.Idea_main_sublayoutSublayout" CodeFile="~/SG50/layouts/Idea Main Sublayout.ascx.cs" %>

<script type="text/javascript">
    /*
    Cross-browser Modal Popup using Javascript (JQuery)
    */
    //Modal popup background ID. 
    //This value should be unique so that it does not conflict with other IDs in the page.
    var _ModalPopupBackgroundID = 'backgroundPopup_XYZ_20110418_Custom';

    function shModalPopup(modalPopupID) {

        //Setting modal popup window

        //Boolean to detect IE6.
        var isIE6 = (navigator.appVersion.toLowerCase().indexOf('msie 6') > 0);

        var popupID = "#" + modalPopupID;

        //Get popup window margin top and left
        var popupMarginTop = $(popupID).height() / 2.5;
        var popupMarginLeft = $(popupID).width() / 2;

        //Set popup window left and z-index
        //z-index of modal popup window should be higher than z-index of modal background
        $(popupID).css({
            'left': '50%',
            'z-index': 9999
        });

        //Special case for IE6 because it does not understand position: fixed
        if (isIE6) {
            $(popupID).css({
                'top': $(document).scrollTop(),
                'margin-top': $(window).height() / 2 - popupMarginTop,
                'margin-left': -popupMarginLeft,
                'display': 'block',
                'position': 'absolute'
            });
        }
        else {
            $(popupID).css({
                /*'top': '32%',
                'margin-top': -popupMarginTop,*/
                'top': '140px',
                'margin-left': -popupMarginLeft,
                'display': 'block',
                'position': 'fixed'
            });
        }

        //Automatically adding modal background to the page.
        var backgroundSelector = $('<div id="' + _ModalPopupBackgroundID + '" ></div>');

        //Add modal background to the body of the page.
        backgroundSelector.appendTo('body');

        //Set CSS for modal background. Set z-index of background lower than popup window.
        backgroundSelector.css({
            'width': $(document).width(),
            'height': $(document).height(),
            'display': 'none',
            'position': 'absolute',
            'top': 0,
            'left': 0
        });

        backgroundSelector.fadeTo('fast', 0.8);

        // Set to default
        for (var i = 1; i < 11; i++) {
            $('#' + "faq" + i + "ID" + ' p a img').attr("src", "/SG50/images/celebration-faq/icon1.png");
            $("#" + "faq" + i + "ID").css("color", "black");
            $("#" + "faq" + i + "ConID").hide();
        }
    }

    function csModalPopup(modalPopupID) {
        //Hide modal popup window
        $("#" + modalPopupID).css('display', 'none');

        //Remove modal background from DOM.
        $("#" + _ModalPopupBackgroundID).remove();
    }

    function HideContent(faqID, faqConID) {
        var a = $('#' + faqID + ' p a img').attr("src").replace(/\\/g, '/');
        var b = a.substring(a.lastIndexOf('/') + 1).split('.')[0];
        if (b != "undefined") {
            if (b == "icon1") {
                $('#' + faqID + ' p a img').attr("src", "/SG50/images/celebration-faq/icon2.png");
                $("#" + faqID).css("color", "white");
                $("#" + faqConID).show();
            }
            else {
                $('#' + faqID + ' p a img').attr("src", "/SG50/images/celebration-faq/icon1.png");
                $("#" + faqID).css("color", "black");
                $("#" + faqConID).hide();
            }
        }
    }
</script>

<sc:Text ID="Text2" runat='server' Field='Additional Javascript' />

<style>
    body
    {
        overflow: hidden;
        background-color: #000000;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
    }

    hr
    {
        border-width: 0;
        color: white;
        background-color: white;
        /*margin-left: 40px;
        margin-right: 40px;*/
        /*margin-left: 20px;
        margin-right: 20px;*/
        height: 1px;
    }

    .ball
    {
        margin-left: 5px;
        margin-right: 5px;
        font-family: helvetica;
    }

        .ball span
        {
            font-family: helvetica;
        }

        .ball a, .ball a:hover, .ball a:visited
        {
            text-decoration: none;
            color: white;
        }

    .footer
    {
        position: relative;
        z-index: 11;
    }

    .content
    {
        position: relative;
        z-index: 10;
    }

    #shareAnIdeaTitle, #submitButton, #rightSide, #noOfIdeas, #sortBy, .regionDropdown, .regionDropdown select, .regionDropdown select option, .btnSearch, .txtSearch
    {
        z-index: 11;
    }

        /*.regionDropdown select {
            background-color: transparent;
            border: 0px;
            font-weight: bold;
            color: #666666;
            font-size: 20px;
            padding-top: 5px;
        }

            .regionDropdown select option {
                background-color: transparent;
                border: 0px;
                font-weight: bold;
                color: #666666;
                font-size: 20px;
            }*/

        .regionDropdown div
        {
            font-weight: bold;
            color: #666666;
            font-size: 26px;
            padding-top: 2px;
        }

        .regionDropdown .non-selected
        {
            color: #b0adad;
        }

        .regionDropdown .selected
        {
            color: #5a5858;
        }

        #submitButton a
        {
            background-color: white;
        }

    .noOfideasStyle
    {
        font-weight: bold;
        color: #666666;
        font-size: 26px;
        line-height: 30px;
    }

    .ball
    {
        word-break: break-all;
    }

    .btnSearch, .txtSearch
    {
        float: left;
    }

    .txtSearch
    {
        width: 200px;
        height: 25px;
        border: 1px solid #999;
        font-size: 16px;
        color: #999;
        font-size: 14px;
        padding-left: 5px;
    }

    .learnMore
    {
        clear: both;
        width: 200px;
        float: left;
        text-align: right;
        margin-top: 10px;
    }

    #rightSide .learnMore a
    {
        font-size: 14px;
    }

    .ideaSearch
    {
        margin-top: 20px;
    }

    #rightSide #noOfIdeas
    {
        /*top:120px;*/
        position: relative;
        top: 0;
        float: left;
        padding-top: 10px;
    }

    #rightSide #sortBy
    {
        /*top:160px;*/
        position: relative;
        top: 0;
        float: left;
    }

    #ddlRecent
    {
        cursor: default;
        position: relative;
    }

        #ddlRecent img
        {
            border: 0px;
            top: 12px;
            position: absolute;
            left: 117px;
        }

    #ddlRegion
    {
        display: none;
        cursor: default;
    }

    #ddlSeeAll
    {
        display: none;
        cursor: default;
        top: 85px;
    }

        #ddlSeeAll:hover
        {
            color: #999;
        }

    #ddlRegion:hover
    {
        color: #999;
    }

    .mobileDiv
    {
        display: none;
    }

    .mobile div
    {
        margin-top: 0;
        padding-top: 25%;
    }

    #learnMorePopUp
    {
        padding: 50px;
        width: 450px;
    }

    .popupClose
    {
        background: #5c5959;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;
    }

    #shareAnIdeaTitle
    {
        margin-top: 30px;
    }

    #submitButton
    {
        top: 130px;
    }
</style>

<script type="text/javascript">

    function openDdl() {

        if ($('#ddlRegion').css('display') == 'none') {
            $('#ddlSeeAll').css('display', 'block');
            $('#ddlRegion').css('display', 'block');
        } else {
            $('#ddlRegion').css('display', 'none');
            $('#ddlSeeAll').css('display', 'none');
        }
    }

    function closeDdl() {
        window.location = "<%= getRegionLink() %>";
    }

    function closeDdl2() {
        window.location = "<%= getSeeAllLink() %>";
    }

    //---------------------------- Mobile ddl----------------
    //--------------------------------------------------------
    function openDdlMob() {

        if ($('#ddlRegionMob').css('display') == 'none') {
            $('#ddlSeeAllMob').css('display', 'block');
            $('#ddlRegionMob').css('display', 'block');
        } else {
            $('#ddlRegionMob').css('display', 'none');
            $('#ddlSeeAllMob').css('display', 'none');
        }
    }


    function focusTxtbox() {
        $('#<%=txtSearch.ClientID%>').focus();
    }

    function focusTxtboxMob() {
        $('#<%=txtSearchMob.ClientID%>').focus();
    }

</script>

<style type="text/css">
    @media screen and (min-width: 300px) and (max-width: 768px)
    {
        #rightSide
        {
            display: none;
        }

        #shareAnIdeaTitle
        {
            width: 95% !important;
        }

        .txtSearch
        {
            width: 100% !important;
            padding-left:0!important;
            height:27px;
        }

        .learnMore
        {
            width: 100% !important;
        }

        .ball .mobile
        {
            width: 200px;
            height: 200px;
            margin-top: 0;
        }

        .ball
        {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .btnSearchMob
    {
        background-color: transparent;
        background-image: url('/sg50/images/search.png');
        background-repeat: no-repeat;
        position: relative;
        width: 20px;
        width: 29px;
        height: 29px;
        background-position: center;
        border: none;
        border-left: 0 !important;
    }

    #rightSideMobile
    {
        margin: 10px;
        margin-top: 50px;
    }

    .txtSearchMob
    {
        border-right: 0 !important;
    }

    #noOfIdeasMob p
    {
        font-size: 0.7em!important;
    }

    #sortByMob p
    {
        font-size: 0.7em!important;
    }

    #ddlRecentMob
    {
        cursor: default;
        position: relative;
    }

    #ddlRegionMob
    {
        display: none;
        cursor: default;
    }

    #ddlSeeAllMob
    {
        display: none;
        cursor: default;
    }

    #ddlRecentMob img
    {
        margin-bottom: 8px;
        margin-left: 5px;
    }

    #ddlSeeAllMob:hover
    {
        color: #999;
    }

    #ddlRegionMob:hover
    {
        color: #999;
    }
</style>

<div class="ballContainer shareAnIdea">
    <div id="shareAnIdeaTitle">
        <h1>SOME BIG, SOME SMALL.</h1>
        <h1>SOME HEARTFELT AND OTHERS, PLAIN WACKY.</h1>
        <h3>Submission for celebration ideas is now over. While we pick some to bring to life, see how your fellow Singaporeans want to celebrate our nation’s 50th. </h3>
    </div>

    <div id="rightSide">

        <div class="ideaSearch">
            <div onclick="focusTxtbox()">
                <asp:TextBox ID="txtSearch" MaxLength="200" CssClass="txtSearch" runat="server" Text="" ></asp:TextBox>
            </div>
            <asp:Button CssClass="btnSearch" ID="btnSearch" OnClick="btnSearch_Click" runat="server" Text="" />

            <%--<div class="btnSearch" id="btnSearch" runat="server" onclick="btnSearch_Click">search</div>--%>
            <div class="errorMsg">
                <asp:RequiredFieldValidator ID="rfvSearch" runat="server" Display="Dynamic" ErrorMessage="Please enter your name to search" ControlToValidate="txtSearch" Style="width: 100%; float: left; color: #ef2c2e; padding-top: 2px; font-size: 12px; padding-bottom: 2px;"></asp:RequiredFieldValidator>
                <asp:RegularExpressionValidator ID="regexSearch" ControlToValidate="txtSearch" Display="Dynamic"
                    ErrorMessage="Invalid characters." runat="server" ValidationExpression="^(a-z|A-Z|0-9)*[^@#$%^&*()']*$" Style="width: 100%; float: left; color: #ef2c2e; padding-top: 2px; font-size: 12px; padding-bottom: 2px;"></asp:RegularExpressionValidator>
            </div>
            <div id="noResult" class="noResult" runat="server" visible="false" style="width: 100%; float: left; color: #ef2c2e; padding-top: 2px; font-size: 12px; padding-bottom: 3px;">
                No results found.
            </div>
        </div>
        <div class="learnMore">
            <a href="#" onclick="shModalPopup('learnMorePopUp'); return false;">Learn More</a>
        </div>
        <div id="learnMorePopUp">
            <a href="#" onclick="csModalPopup('learnMorePopUp'); return false;" class="popupClose">
                <img align="right" src="/SG50/images/celebration-faq/close.png" alt="" />
            </a>
            <div class="learnMorePopUpTitle">
                <sc:Text Field="Learn More Title" DataSource="{2867D347-F425-4D0C-BC54-C9E33A78D31F}" runat="server" />
            </div>
            <div class="learnMorePopUpContent">
                <sc:Text Field="Learn More Content" DataSource="{2867D347-F425-4D0C-BC54-C9E33A78D31F}" runat="server" />
            </div>
        </div>
        <div id="noOfIdeas">
            <p>no of ideas</p>
            <%--/sitecore/content/SG50/Settings/Idea Count--%>
            <h1><span class="noOfideasStyle">
                <sc:Text Field="Value" DataSource="{A11A26C5-6BCE-4676-B856-8285E1A56A95}" runat="server" />
            </span></h1>
        </div>

        <div id="sortBy">
            <p style="margin-top: 15px;">
                <%--<select onchange="if(this.value == '') this.selectedIndex = 1; ">
                    <option value="">Sort by</option>
                    <option value="one">North</option>
                    <option value="two">East</option>
                    <option value="three">West</option>
                    <option value="four">South</option>
                </select>--%>
                sort by
            </p>
            <%--<h1>REGION</h1>--%>
            <div class="regionDropdown">
                <%--<select id="ddlSorting" onchange="selectSorting();" onclick="openDdl();">
                    <option value="recent" selected="selected">RECENT</option>
                    <div>
                        <option value="region" onclick="closeDdl();" onselect="closeDdl();">REGION</option>
                    </div>
                </select>--%>
                <div id="ddlRecent" onclick="openDdl();" class="selected">RECENT<img src="/sg50/images/down_arrow.png" /></div>
                <div id="ddlRegion" onclick="closeDdl();" class="non-selected" style="position: absolute;">REGION</div>
                <div id="ddlSeeAll" onclick="closeDdl2();" class="non-selected" style="position: absolute;">SEE ALL</div>

            </div>

        </div>
    </div>
    <div id="canvas" class="ideaCanvas"></div>

    <div style="display: none;">

        <asp:Repeater ID="repIdeas" runat="server">
            <ItemTemplate>
                <div class="cssClass"><%# DataBinder.Eval(Container.DataItem, "cssClass") %></div>
                <div class="href"><%# DataBinder.Eval(Container.DataItem, "href") %></div>
                <div class="ideaText"><%# DataBinder.Eval(Container.DataItem, "ideaText") %></div>
                <div class="Name"><%# DataBinder.Eval(Container.DataItem, "Name") %></div>
                <div class="Age"><%# DataBinder.Eval(Container.DataItem, "Age") %></div>
                <div class="Region"><%# DataBinder.Eval(Container.DataItem, "Region") %></div>
            </ItemTemplate>
        </asp:Repeater>
    </div>

    <div class="ball mobileDiv">
        <div id="sliderIdea">
            <a class="buttons prev" href="#"><span>&#9666;</span></a>
            <div class="viewport">
                <ul class="overview">
                    <asp:Repeater ID="repIdeasMobile" runat="server">
                        <ItemTemplate>
                            <li>
                                <div class="mobile">
                                    <a href="<%# DataBinder.Eval(Container.DataItem, "href") %>">
                                        <div>
                                            <span>
                                                <%# DataBinder.Eval(Container.DataItem, "ideaText") %></span>
                                            <hr />
                                            <span>
                                                <%# DataBinder.Eval(Container.DataItem, "Name") %>, <%# DataBinder.Eval(Container.DataItem, "Age") %>
                                        </br>
                                            <%# DataBinder.Eval(Container.DataItem, "Region") %>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ItemTemplate>
                    </asp:Repeater>
                </ul>
            </div>
            <a class="buttons next" href="#"><span>&#9656;</span></a>
        </div>


        <div id="rightSideMobile">

            <div id="noOfIdeasMob" style="width: 49%; float: left; margin-right: 2%">
                <p style="border-bottom: 1px solid #000000;">no of ideas</p>
                <%--/sitecore/content/SG50/Settings/Idea Count--%>
                <h1><span class="noOfideasStyle">
                    <sc:Text ID="Text5" Field="Value" DataSource="{A11A26C5-6BCE-4676-B856-8285E1A56A95}" runat="server" />
                </span></h1>
            </div>

            <div id="sortByMob" style="width: 49%; float: left;">
                <p style="border-bottom: 1px solid #000000;">
                    sort by
                </p>
                <div class="regionDropdown">
                    <div id="ddlRecentMob" onclick="openDdlMob();" class="selected">RECENT<img src="\sg50\images\down_arrow.png" /></div>
                    <div id="ddlRegionMob" onclick="closeDdl();" class="non-selected" style="position: absolute;">REGION</div>
                    <div id="ddlSeeAllMob" onclick="closeDdl2();" class="non-selected" style="position: absolute; margin-top: 30px;">SEE ALL</div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="ideaSearch">

                <div style="min-width: 300px; max-width: 760px;">
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="29">
                                <div onclick="focusTxtboxMob()">
                                    <asp:TextBox  Width="100%" ID="txtSearchMob" MaxLength="200" CssClass="txtSearch txtSearchMob" runat="server" Text="" ></asp:TextBox>
                                </div>
                            </td>
                            <td width="29"  height="29" vallign="top" style="vertical-align:top;">
                                <div style="width:29px; height:29px; border:1px solid #999999; border-left:none;">
                                <asp:Button ValidationGroup='mobile' CssClass="btnSearchMob" ID="btnSearchMob" OnClick="btnSearchMob_Click" runat="server" Text="" />

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="errorMsg">
                    <asp:RequiredFieldValidator ValidationGroup='mobile' ID="rfvSearchMob" runat="server" Display="Dynamic" ErrorMessage="Please enter your name to search" ControlToValidate="txtSearchMob" Style="width: 100%; float: left; color: #ef2c2e; padding-top: 2px; font-size: 12px; padding-bottom: 2px;"></asp:RequiredFieldValidator>
                    <asp:RegularExpressionValidator ValidationGroup='mobile' ID="regexSearchMob" ControlToValidate="txtSearchMob" Display="Dynamic"
                        ErrorMessage="Invalid characters." runat="server" ValidationExpression="^(a-z|A-Z|0-9)*[^@#$%^&*()']*$" Style="width: 100%; float: left; color: #ef2c2e; padding-top: 2px; font-size: 12px; padding-bottom: 2px;"></asp:RegularExpressionValidator>
                </div>

                <div id="noResultMob" class="noResult" runat="server" visible="false" style="width: 100%; float: left; color: #ef2c2e; padding-top: 2px; font-size: 12px; padding-bottom: 3px;">
                    No results found.
                </div>

            </div>
            <!-- // idSearch -->
            <div class="learnMore" style="width: 100%; margin-bottom: 20px;">
                <a href="#" onclick="shModalPopup('learnMorePopUp'); return false;">Learn More</a>
            </div>
        </div>

        <%--<asp:Repeater ID="repIdeasMobile" runat="server">
            <ItemTemplate>
                <div class="mobile">
                    <a href="<%# DataBinder.Eval(Container.DataItem, "href") %>">
                        <div>
                            <span>
                                <%# DataBinder.Eval(Container.DataItem, "ideaText") %></span>
                            <hr />
                            <span>
                                <%# DataBinder.Eval(Container.DataItem, "Name") %>, <%# DataBinder.Eval(Container.DataItem, "Age") %>
                            </br>
                                <%# DataBinder.Eval(Container.DataItem, "Region") %>
                            </span>
                        </div>
                    </a>
                </div>
            </ItemTemplate>
        </asp:Repeater>--%>
    </div>

    <script src="/SG50/include/js/protoclass.js"></script>
    <script src='/SG50/include/js/box2d.js'></script>
    <script type="text/javascript">

    $(document).ready(function () {
            adjustHeight();

            $('#sliderIdea').tinycarousel(
                { infinite: false }
                );

            var canvas;

            var delta = [0, 0];
            var stage = [window.screenX, window.screenY, window.innerWidth, window.innerHeight - 50];
            getBrowserDimensions();

            /*var themes = [ [ "#10222B", "#95AB63", "#BDD684", "#E2F0D6", "#F6FFE0" ],
                    [ "#362C2A", "#732420", "#BF734C", "#FAD9A0", "#736859" ],
                    [ "#0D1114", "#102C2E", "#695F4C", "#EBBC5E", "#FFFBB8" ],
                    [ "#2E2F38", "#FFD63E", "#FFB54B", "#E88638", "#8A221C" ],
                    [ "#121212", "#E6F2DA", "#C9F24B", "#4D7B85", "#23383D" ],
                    [ "#343F40", "#736751", "#F2D7B6", "#BFAC95", "#8C3F3F" ],
                    [ "#000000", "#2D2B2A", "#561812", "#B81111", "#FFFFFF" ],
                    [ "#333B3A", "#B4BD51", "#543B38", "#61594D", "#B8925A" ] ];
            var themes = [ [ "#fff", "#fff" ] ];*/

            var themes = [["#fff", "#fff", "#f21313", "#d61414", "#f88989"]];
            var theme;

            //var imgArray = ["images/email.png", "images/facebook.png", "images/downloadicon.jpg", "", "", "","","","","",""];

            var cssClassArray = new Array();
            var ideaTextArray = new Array();
            var NameArray = new Array();
            var AgeArray = new Array();
            var hrefArray = new Array();
            var RegionArray = new Array();

            for (var i = 0; i < $('.cssClass').length; i++) {
                cssClassArray[i] = $('.cssClass')[i].innerHTML;
            }
            for (var i = 0; i < $('.ideaText').length; i++) {
                ideaTextArray[i] = $('.ideaText')[i].innerHTML;
            }
            for (var i = 0; i < $('.Name').length; i++) {
                NameArray[i] = $('.Name')[i].innerHTML;
            }
            for (var i = 0; i < $('.Age').length; i++) {
                AgeArray[i] = $('.Age')[i].innerHTML;
            }
            for (var i = 0; i < $('.href').length; i++) {
                hrefArray[i] = $('.href')[i].innerHTML;
            }
            for (var i = 0; i < $('.Region').length; i++) {
                RegionArray[i] = $('.Region')[i].innerHTML;
            }

            if ($('.href').length < 15) {
                for (var i = $('.href').length; i < 15; i++) {
                    cssClassArray[i] = "";
                }
                for (var i = $('.href').length; i < 15; i++) {
                    ideaTextArray[i] = "";
                }
                for (var i = $('.href').length; i < 15; i++) {
                    NameArray[i] = "";
                }
                for (var i = $('.href').length; i < 15; i++) {
                    AgeArray[i] = "";
                }
                for (var i = $('.href').length; i < 15; i++) {
                    hrefArray[i] = "";
                }
                for (var i = $('.Region').length; i < 15; i++) {
                    RegionArray[i] = "";
                }
            }

            var contentArray = ["Description for the sample idea 1", "Description for the sample idea 2", "Description for the sample idea 3", "Description for the sample idea 4", "Description for the sample idea 5", "Description for the sample idea 6", "Description for the sample idea 7", "Description for the sample idea 8", "Description for the sample idea 9", "Description for the sample idea 10", "Description for the sample idea 11", "Description for the sample idea 12", "Description for the sample idea 13", "Description for the sample idea 14", "Description for the sample idea 15", "Description for the sample idea 16", "Description for the sample idea 17", "Description for the sample idea 18", "Description for the sample idea 19", "Description for the sample idea 20"];
            var imgArray = ["Name 1, 30,</br> Sentosa", "Name 2, 24,</br> Pulau Ubin", "Name 3, 45,</br> Tiong Bahru ", "Name 4, 30,</br> Sentosa", "Name 5, 24,</br> Pulau Ubin", " Name 6, 45,</br> Tiong Bahru", " Name 7, 30,</br> Sentosa", " Name 8, 24,</br> Pulau Ubin", " Name 9, 30,</br> Sentosa", " Name 10, 45,</br> Tiong Bahru", " Name 11, 30,</br> Sentosa", " Name 12, 24,</br> Pulau Ubin", " Name 13, 30, </br>Sentosa", " Name 14, 45,</br> Tiong Bahru", " Name 15, 30, </br>Sentosa", " Name 16, 45, </br>Tiong Bahru", " Name 17, 24,</br> Pulau Ubin", " Name 18, 45, </br>Tiong Bahru", " Name 19, 30,</br> Sentosa", " Name 20, 24,</br>Pulau Ubin"];

            var worldAABB, world, iterations = 1, timeStep = 1 / 15;

            var walls = [];
            var wall_thickness = 200;
            var wallsSetted = false;

            var bodies, elements, text;

            var createMode = false;
            var destroyMode = false;

            var isMouseDown = false;
            var mouseJoint;
            var mouse = { x: 0, y: 0 };
            var gravity = { x: 0, y: 1 };

            var PI2 = Math.PI * 2;

            var timeOfLastTouch = 0;

            init();
            play();

            function adjustHeight() {
                var style = 'height:' + (window.innerHeight - 100) + 'px;';
                $('.ballContainer').attr('style', style);
            }

            function init() {

                canvas = document.getElementById('canvas');

                document.onmousedown = onDocumentMouseDown;
                document.onmouseup = onDocumentMouseUp;
                document.onmousemove = onDocumentMouseMove;
                //document.ondblclick = onDocumentDoubleClick;

                document.addEventListener('touchstart', onDocumentTouchStart, false);
                document.addEventListener('touchmove', onDocumentTouchMove, false);
                document.addEventListener('touchend', onDocumentTouchEnd, false);

                window.addEventListener('deviceorientation', onWindowDeviceOrientation, false);/**/

                // init box2d

                worldAABB = new b2AABB();
                worldAABB.minVertex.Set(-200, -200);
                worldAABB.maxVertex.Set(window.innerWidth + 200, window.innerHeight + 200);

                world = new b2World(worldAABB, new b2Vec2(0, 0), true);

                setWalls();
                reset();
                //setInterval(function(){reset()},10000);
            }

            function play() {

                setInterval(loop, 1000 / 40);
            }

            function reset() {

                var i;

                if (bodies) {

                    for (i = 0; i < bodies.length; i++) {

                        var body = bodies[i]
                        canvas.removeChild(body.GetUserData().element);
                        world.DestroyBody(body);
                        body = null;
                    }
                }

                // color theme
                theme = themes[Math.random() * themes.length >> 0];
                document.body.style['backgroundColor'] = theme[0];

                bodies = [];
                elements = [];
                imageCount = 0;
                createInstructions();

                imageCount = 1;
                //for( i = 0; i < 10; i++ ) {
                for (i = 0; i < 14; i++) {

                    //createBall();
                    createInstructions();
                }
                for (i = 0; i < 20; i++) {
                    createBall();
                }
            }

            //

            function onDocumentMouseDown() {

                isMouseDown = true;
                return false;
            }

            function onDocumentMouseUp() {

                isMouseDown = false;
                return false;
            }

            function onDocumentMouseMove(event) {

                mouse.x = event.clientX;
                mouse.y = event.clientY;
            }

            function onDocumentDoubleClick() {

                reset();
            }

            function onDocumentTouchStart(event) {

                if (event.touches.length == 1) {

                    event.preventDefault();

                    // Faking double click for touch devices

                    var now = new Date().getTime();

                    if (now - timeOfLastTouch < 250) {

                        //reset();
                        return;
                    }

                    timeOfLastTouch = now;

                    mouse.x = event.touches[0].pageX;
                    mouse.y = event.touches[0].pageY;
                    isMouseDown = true;
                }
            }

            function onDocumentTouchMove(event) {

                if (event.touches.length == 1) {

                    event.preventDefault();

                    mouse.x = event.touches[0].pageX;
                    mouse.y = event.touches[0].pageY;
                }
            }

            function onDocumentTouchEnd(event) {

                if (event.touches.length == 0) {

                    event.preventDefault();
                    isMouseDown = false;
                }
            }

            function onWindowDeviceOrientation(event) {

                if (event.beta) {

                    gravity.x = Math.sin(event.gamma * Math.PI / 180);
                    gravity.y = Math.sin((Math.PI / 4) + event.beta * Math.PI / 180);
                }
            }

            //

            var imageCount = 0;

            function createInstructions() {

                var size = 120 + (Math.random() * 150);

                var element = document.createElement('div');
                element.width = size;
                element.height = size;
                element.style.position = 'absolute';
                element.style.left = -200 + 'px';
                element.style.top = -200 + 'px';
                element.style.cursor = "default";

                canvas.appendChild(element);
                elements.push(element);

                var circle = document.createElement('canvas');
                circle.width = size;
                circle.height = size;

                var graphics = circle.getContext('2d');

                //graphics.fillStyle = theme[ 3 ];
                //graphics.fillStyle = "red";
                graphics.fillStyle = theme[(Math.random() * 2 >> 0) + 2];
                //console.log(theme[2]);
                graphics.beginPath();
                graphics.arc(size * .5, size * .5, size * .5, 0, PI2, true);
                graphics.closePath();
                graphics.fill();

                var link = document.createElement('a');
                link.href = hrefArray[[imageCount]];

                link.appendChild(circle);
                element.appendChild(link);

                //element.appendChild(circle);

                var fontsize1 = Math.ceil((size / 270) * 22);
                var fontsize2 = Math.ceil((size / 270) * 15);

                text = document.createElement('div');
                text.onSelectStart = null;
                //var cssClassArray = new Array();
                //var ideaTextArray = new Array();
                //var NameArray = new Array();
                //var AgeArray = new Array();
                //var hrefArray = new Array();
                //text.innerHTML = '<span style="color:' + theme[0] + ';font-size:40px;">Hello!</span><br /><br /><span style="font-size:15px;"><strong>This is how it works:</strong><br /><br />1. Drag a ball.<br />2.&nbsp;Click&nbsp;on&nbsp;the&nbsp;background.<br />3. Shake your browser.<br />4. Double click.<br />5. Play!</span>';

                if (ideaTextArray[imageCount].length != 0) {
                    text.innerHTML = '<a href="' + hrefArray[[imageCount]] + '"><span style="color:' + theme[0] + ';font-size:' + fontsize1 + 'px;font-style:bold;">' + ideaTextArray[imageCount] + '</span><br /><hr/><span style="font-size:' + fontsize2 + 'px;">' + NameArray[imageCount] + ', ' + AgeArray[imageCount] + '</br>' + RegionArray[imageCount] + '</span></a>';
                }

                text.style.color = theme[1];
                text.style.position = 'absolute';
                text.style.left = '0px';
                text.style.top = '0px';
                text.style.fontFamily = 'Georgia';
                text.style.textAlign = 'center';
                text.className = 'ball';
                element.appendChild(text);

                text.style.left = ((size - text.clientWidth) / 2) + 'px';
                text.style.top = ((size - text.clientHeight) / 2) + 'px';

                var b2body = new b2BodyDef();

                var circle = new b2CircleDef();
                circle.radius = size / 2;
                circle.density = 1;
                circle.friction = 0.3;
                circle.restitution = 0.3;
                b2body.AddShape(circle);
                b2body.userData = { element: element };

                b2body.position.Set(Math.random() * stage[2], Math.random() * -200);
                b2body.linearVelocity.Set(Math.random() * 400 - 200, Math.random() * 400 - 200);
                bodies.push(world.CreateBody(b2body));
                imageCount++;
            }

            function createBall(x, y) {

                var x = x || Math.random() * stage[2];
                var y = y || Math.random() * -200;

                var size = (Math.random() * 60 >> 0) + 20;

                var element = document.createElement("canvas");
                element.width = size;
                element.height = size;
                element.style.position = 'absolute';
                element.style.left = -200 + 'px';
                element.style.top = -200 + 'px';
                element.style.WebkitTransform = 'translateZ(0)';
                element.style.MozTransform = 'translateZ(0)';
                element.style.OTransform = 'translateZ(0)';
                element.style.msTransform = 'translateZ(0)';
                element.style.transform = 'translateZ(0)';

                var graphics = element.getContext("2d");

                //var num_circles = Math.random() * 10 >> 0;
                var num_circles = 1;

                for (var i = size; i > 0; i -= (size / num_circles)) {

                    //graphics.fillStyle = theme[ (Math.random() * 4 >> 0) + 1];
                    //graphics.fillStyle = theme[(Math.random() * 3 >> 0) + 2];
                    //graphics.fillStyle = "red";
                    graphics.fillStyle = theme[(Math.random() * 2 >> 0) + 2];
                    graphics.beginPath();
                    graphics.arc(size * .5, size * .5, i * .5, 0, PI2, true);
                    graphics.closePath();
                    graphics.fill();
                }

                canvas.appendChild(element);

                elements.push(element);

                var b2body = new b2BodyDef();

                var circle = new b2CircleDef();
                circle.radius = size >> 1;
                circle.density = 1;
                circle.friction = 0.3;
                circle.restitution = 0.3;
                b2body.AddShape(circle);
                b2body.userData = { element: element };

                b2body.position.Set(x, y);
                b2body.linearVelocity.Set(Math.random() * 400 - 200, Math.random() * 400 - 200);
                bodies.push(world.CreateBody(b2body));
            }

            //

            function loop() {

                if (getBrowserDimensions()) {

                    setWalls();
                }

                delta[0] += (0 - delta[0]) * .5;
                delta[1] += (0 - delta[1]) * .5;

                world.m_gravity.x = gravity.x * 350 + delta[0];
                world.m_gravity.y = gravity.y * 350 + delta[1];

                mouseDrag();
                world.Step(timeStep, iterations);

                for (i = 0; i < bodies.length; i++) {

                    var body = bodies[i];
                    var element = elements[i];

                    element.style.left = (body.m_position0.x - (element.width >> 1)) + 'px';
                    element.style.top = (body.m_position0.y - (element.height >> 1)) + 'px';

                    if (element.tagName == 'DIV') {
                        //rotation of balls
                        //var style = 'rotate(' + (body.m_rotation0 * 57.2957795) + 'deg) translateZ(0)';
                        //text.style.WebkitTransform = style;
                        //text.style.MozTransform = style;
                        //text.style.OTransform = style;
                        //text.style.msTransform = style;
                        //text.style.transform = style;
                    }
                }
            }

            // .. BOX2D UTILS

            function createBox(world, x, y, width, height, fixed) {

                if (typeof (fixed) == 'undefined') {

                    fixed = true;
                }

                var boxSd = new b2BoxDef();

                if (!fixed) {

                    boxSd.density = 1.0;
                }

                boxSd.extents.Set(width, height + 50);

                var boxBd = new b2BodyDef();
                boxBd.AddShape(boxSd);
                boxBd.position.Set(x, y);

                return world.CreateBody(boxBd);
            }

            function mouseDrag() {
                // mouse press
                if (createMode) {

                    //createBall( mouse.x, mouse.y );

                } else if (isMouseDown && !mouseJoint) {

                    var body = getBodyAtMouse();

                    if (body) {

                        var md = new b2MouseJointDef();
                        md.body1 = world.m_groundBody;
                        md.body2 = body;
                        md.target.Set(mouse.x, mouse.y);
                        md.maxForce = 30000 * body.m_mass;
                        // md.timeStep = timeStep;
                        mouseJoint = world.CreateJoint(md);
                        body.WakeUp();

                    } else {

                        createMode = true;
                    }
                }

                // mouse release
                if (!isMouseDown) {

                    createMode = false;
                    destroyMode = false;

                    if (mouseJoint) {

                        world.DestroyJoint(mouseJoint);
                        mouseJoint = null;
                    }
                }

                // mouse move
                if (mouseJoint) {

                    var p2 = new b2Vec2(mouse.x, mouse.y);
                    mouseJoint.SetTarget(p2);
                }
            }

            function getBodyAtMouse() {

                // Make a small box.
                var mousePVec = new b2Vec2();
                mousePVec.Set(mouse.x, mouse.y);

                var aabb = new b2AABB();
                aabb.minVertex.Set(mouse.x - 1, mouse.y - 1);
                aabb.maxVertex.Set(mouse.x + 1, mouse.y + 1);

                // Query the world for overlapping shapes.
                var k_maxCount = 10;
                var shapes = new Array();
                var count = world.Query(aabb, shapes, k_maxCount);
                var body = null;

                for (var i = 0; i < count; ++i) {

                    if (shapes[i].m_body.IsStatic() == false) {

                        if (shapes[i].TestPoint(mousePVec)) {

                            body = shapes[i].m_body;
                            break;

                        }

                    }

                }

                return body;
            }

            function setWalls() {

                if (wallsSetted) {

                    world.DestroyBody(walls[0]);
                    world.DestroyBody(walls[1]);
                    world.DestroyBody(walls[2]);
                    world.DestroyBody(walls[3]);

                    walls[0] = null;
                    walls[1] = null;
                    walls[2] = null;
                    walls[3] = null;
                }

                walls[0] = createBox(world, stage[2] / 2, -wall_thickness, stage[2], wall_thickness);
                walls[1] = createBox(world, stage[2] / 2, stage[3] + wall_thickness, stage[2], wall_thickness);
                walls[2] = createBox(world, -wall_thickness, stage[3] / 2, wall_thickness, stage[3] - 50);
                walls[3] = createBox(world, stage[2] + wall_thickness, stage[3] / 2, wall_thickness, stage[3] - 50);

                wallsSetted = true;

            }

            // BROWSER DIMENSIONS

            function getBrowserDimensions() {

                var changed = false;

                if (stage[0] != window.screenX) {

                    delta[0] = (window.screenX - stage[0]) * 50;
                    stage[0] = window.screenX;
                    changed = true;

                }

                if (stage[1] != window.screenY) {

                    delta[1] = (window.screenY - stage[1]) * 50;
                    stage[1] = window.screenY;
                    changed = true;

                }

                if (window.innerWidth > 1281) {
                    if (stage[2] != 1280) {

                        stage[2] = 1280;
                        changed = true;

                    }
                } else {
                    if (stage[2] != window.innerWidth) {

                        stage[2] = window.innerWidth;
                        changed = true;

                    }
                }

                if (stage[3] != (window.innerHeight - 50)) {

                    stage[3] = window.innerHeight - 50;
                    changed = true;

                }

                return changed;
            }

        });

    </script>
</div>
