﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"  Inherits="Layouts.Meta_tag_sublayout.Meta_tag_sublayoutSublayout" CodeFile="~/SG50/layouts/Meta Tag Sublayout.ascx.cs" %>

<asp:Literal ID="litMetaTag" runat="server"></asp:Literal>