﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"  Inherits="Layouts.Worksublayout.WorksublayoutSublayout" CodeFile="~/SG50/layouts/WorkSublayout.ascx.cs" %>

<sc:Text ID="txtContent" runat="server" Field="Content1"/>
