/* 
    Author     : Tomaz Dragar
    Mail       : <tomaz@dragar.net>
    Homepage   : http://www.dragar.net
*/

#fileInput{
  width:0;
  height:0;
  overflow:hidden;
}

#modal{
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.85;
  display: none;
}

#preview{
  z-index: 15;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  border: 3px solid #191919;
  float: left;
  font-size: 0px;
  line-height: 0px;
}

#preview .buttons{
  width: 36px;
  position: absolute;
  bottom:0px;
  right: -38px;
}

#preview .buttons .ok{
  width: 30px;
  height: 30px;
  line-height: 0px;
  font-size: 0px;
  background-image: url('/SG50/images/PG/Ok.png');
  background-repeat: no-repeat;
  cursor:pointer
}
/* #preview .buttons .ok:hover{
  background-image: url('/SG50/images/PG/OkGreen.png');
}*/

#preview .buttons .cancel{
  margin-bottom: 4px;
  width: 30px;
  height: 30px;
  line-height: 0px;
  font-size: 0px;
  background-image: url('/SG50/images/PG/Cancel.png');
  background-repeat: no-repeat;
  cursor:pointer
}

/*#preview .buttons .cancel:hover{
  background-image: url('/SG50/images/PG/CancelRed.png');
}*/
/* .jcrop-tracker{background: #000; opacity:1; } */



/* ----- Cropping ----- */ 
.clear{
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
  width: 0px;
  height: 0px;
  clear: both;
}

 .simple-cropper-images{
  width: 820px;
  margin: 0 auto 20px;
  
}
/*
.cropme{
  float: left;
  background-color: #f1f1f1;
  margin-bottom: 5px;
  margin-right: 5px;
  background-image: url('/SG50/images/PG/UploadLight.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cropme:hover{
  background-image: url('/SG50/images/PG/UploadDark.png');
}*/

.text{
  font-family: arial;
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 20px;
}

.code{
  font-family: arial;
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 10px;
}

