﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"  Inherits="Layouts.Pgevent_sublayout.Pgevent_sublayoutSublayout" CodeFile="~/SG50/layouts/PG/sublayouts/PGEvent Sublayout.ascx.cs" %>
