﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"  Inherits="Layouts.Pghomenewspost_sublayout.Pghomenewspost_sublayoutSublayout" CodeFile="~/SG50/layouts/PG/sublayouts/PGHomeNewsPost Sublayout.ascx.cs" %>
