
@media (min-width:1101px) {
.m-nav-icon { display:none; }
.show-sm { display:none}
.show-md { display:block}
.show-lg { display:block}
.email-block .show-sm { display:none;}
.email-block .show-lg { display:inline-block;}
.slider-container .carousel-inner > .item .show-sm { display:none;}
.main-nav-list { display:block !important;}
.slider-container .carousel-inner > .item .slide-caption p .show-lg { display:inline-block;}

}
@media (min-width:1700px) {
.video{left:0;  margin-top:-1% !important;  overflow:hidden;  position:absolute;  right:0}
}

@media (min-width:1280px) {
.categories-dw { display:none; }
.video{left:0;  margin-top:-8%;  overflow:hidden;  position:absolute;  right:0}	
}
@media (max-width:1279px) {
/*.video{ margin-top: -20%;}*/


	.detailsbanner .slide-caption{ bottom:0 !important; }
	.slider-container .detailsbanner > .item img{width:inherit !important}
.pics-gallery li {
	max-width: 418px;
}
.main-nav {
	width: 100%;
	padding: 0 40px
}
.share-story-section { padding:50px 40px;}
.share-story-section .custom-container { padding:0;}
.custom-container {
	width: 100%;
	padding: 0 40px;
}
.main-nav .social_nav {
	right: 40px;
}
.slider-container .carousel-inner > .item { height:auto;}
.slider-container .carousel { float:left; z-index:5; width:100%;}
.slider-container .carousel-inner > .item > img {  max-height: 320px; width:100%; min-height:inherit;}
.shareQuote .carousel-inner > .item > img { max-width:100%; width:auto}
.slider-container.quoteonly-slider .carousel-inner > .item { height:425px }
.email-block span { display:none;}
.sort-block .link-categores { display:none;}
.categories-dw { display:table; float:left; margin:2px 10px 0 0; min-width:180px; top:0px; position:relative; height:60px; background:#fff;}
.select-arrow { position:absolute; right:0; top:0; height:100%; width:40px; background:#fff url(/SG50/images/arrow-select.jpg) no-repeat left center; margin-top: 0px;}
.categories-dw select { padding:11px 30px 11px 10px; width:100%; font-size:20px; font-weight:normal; color:#000; text-transform:uppercase; border:1px solid #fff; display:table-cell; vertical-align:middle; 
}
.categories-dw select option { padding:3px 15px}
.photo-buttons .pioneer-container { padding:50px 0}
.events-block {
    float: none;
    width: 600px;
	margin:0 auto;
}
.events-img { width:100%; margin-bottom:20px}
.events-block .description { width:100%;}
.events-block .description p { min-height:150px; }
.events-block .description .event-button {font-size:28px; line-height:28px; display:inline-block; margin-top:0px;}


.slider-container .slide-para { left:90px; font-size:12px; width:230px; top:-34%}
.home-caption .slide-caption p img { width:150px; }
.slider-container .slide-caption .sg-button { font-size:18px; margin-top:25px; padding:10px 25px;}
.slider-container .slide-caption { bottom:90px;}
.home-slider .Video-section { height:600px;}

}
@media (max-width:1210px) {
.sortlist-container {
    margin: 0 auto;
    width: 752px;
}	
}

@media (max-width:1100px) {
	.detailsbanner .slide-caption p{font-size:1em;
}

	.pioneer-container p, .pioneer-content p, .share-story-section p{font-size:20px; line-height:30px; padding:22px 0; font-family:"Open Sans",sans-serif}
	.share-story-section .fields-group label{ font-size:18px;}
		.share-story-section .questions-list li{ font-size:20px; line-height:30px; }
	.events-block .description h5{ font-size:26px; line-height:36px;}
	.events-block .description p{font-size:20px; line-height:30px; }
	/*.video{ margin-top: -30%;}*/
	 .format{font-size:13px;}
.slider-container .carousel-indicators { display:none;}
.details-slider .slide-caption { bottom:0;}
.slider-container .slide-caption p { margin:0; padding:0;}
.details-slider .slide-caption .pioneer-h5 {margin:15px 0; padding:0;}
.pioneer-container {
	width: 100%;
	padding: 50px 40px
}
.SG-Logo { margin-top:1px;}
.main-nav {
	width: 100%;
	height:auto;
	float:left;
	padding: 9px 40px
}
.custom-container {
	width: 100%;
	padding: 0 40px
}
 
.m-nav-icon {
	font-size: 24px;
	line-height: 36px;
	color: #fff;
	padding: 0 0 0 55px;
	margin: 22px 0 0 22px;
	text-transform: uppercase;
	background: url(/SG50/images/mobile/icon-nav.png) no-repeat 0 center;
	float:left;
	display:block;
	cursor:pointer;
}
.main-nav-list {
	position:absolute;
	top:95px;
	left:0;
	margin:0;
	width:350px;
	background:#444;
	padding:10px 0;
	display:none;
	z-index:99
	}
.main-nav-list li {
	width:100%;
	padding:0px 0px;	
}
.main-nav-list li a {
	width:100%;
	padding:10px 25px;	
}
.main-nav-list li:hover a{
		background:#c6171e;	
		color:#fff;
}
.main-nav-list li:hover ul a{
	color:#fcaf98;
}
.main-nav-list li ul a:hover{
	color:#fff;
}
.main-nav-list li a.active {/*background:#c6171e;*/	}
.nav2 {  display:none }
.sgContainer .social_nav div { /*display:table-cell; float:inherit; padding:0 0 0 15px;*/ vertical-align:middle;}
  .show-sm { display:block}
  .show-md { display:none}
  .show-lg { display:none}

.main-nav { min-height:97px;}
.main-nav .social_nav { top:18px; }
.slider-container .carousel-inner > .item .show-sm { display:inline-block;}

.footer-section .copy { width:100%; text-align:center; padding:20px 0; font-size:12px;}
.footer-nav { width:100%; text-align:center;}

.sortlist-container li {
	 width:auto;
	 overflow:hidden;
}
.sortlist-container li .img > img {
	min-width:100%;
	min-height:100%;	 
}
.email-block { width:50%;}
.categories-dw { width:45%;}



.email-block input { width:100%; margin:0; padding-right:170px; float:left;}
.email-block button, .email-block input.show-lg{ margin:0; float:left; width:164px; position:absolute; top:0; right:0; }
.email-address { position:relative; float:right; padding:0; width:100%;}


.slider-container .slide-caption p { padding:0 100px 0 0; text-align:right; }
.slider-container .slide-caption { text-align:right; }
.slider-container .slide-caption .sg-button { margin-right:120px;}
.sort-block { width:100%;}
.categories-list { text-align:left; width:45%;}
.link-categores { padding-left:0px;}
.email-block {
  float: left;
  padding-left: 0px;
  width: 70%;
}
.categories-list {
  width: 50%;
}
.categories-list{
	padding-top:0;
}
.sort-block span{
	padding-left:0;
}
	.categories-list {  padding: 16px 0;}
.categories-options { left:0px; }
.main-nav-list li ul { position:inherit;}
.slider-container .carousel-inner > .item > img {
  max-height: 320px;
  width: 100%;
  min-height:inherit;
}
}

@media (max-width:1024px) {
	.crop-sm { display:inline-block;}
	.width100{width:100%}
	.visible-sm, .visible-lg, .visible-md { display:none !important;}
	.recommend {padding-top:10px;}
	.crop-lg { display:none;}
	#form_of_agreement-error {
	float: left; display: block; position: absolute; margin-top: 44px !important;
	}	
	.mobilehide{display:none}
	/*.video {  margin-top: -21.5%;}*/
	.slide-caption p span {
		padding: 5px 0 5px 0;
	}
}


@media (max-width:1023px) 
{
	.pics-gallery li > img {width: 100%;}
	.pics-gallery li, .pics-gallery li.single { width:100%; max-width:100%; display:inline-block;}	
	.share-list li { width:100%; border-left:0; border-bottom:1px solid #666; }
	.share-section { padding:0 !important}
  .next-story { position:relative; height:auto; min-height:80px; text-align:center; width:100%; padding:40px }
  .next-story > img { margin:-10px 0 0 0; vertical-align:middle;}
  .next-story span { display:inline-block; padding-top:10px; padding-left:30px; font-size:26px}
  .next-story span br{ display:none}
  .share-list li span { font-size:30px;}
  .share-list li p { font-size:22px; line-height:28px; padding:13px 0 25px 0}
  .share-block { width:65%;}
  .share-section .backtohome-pos { right:0; border-bottom:1px solid #ccc; border-right:0;}
  .footer-section .footer-nav a { width:100%; font-size:20px; line-height:20px; display:inline-block; margin:10px 0; text-align:center;}
  .footer-section .footer-nav > span{ display:none;}
  .footer-section .copy { font-size:14px; line-height:18px; padding:30px 0px;}
  .footer-section { box-shadow:inset 0px 11px 15px #111; padding-top:30px; margin-top:0px;}
  .home-slider .Video-section { height:450px;}
  
}
@media (max-width:999px) {
	#divChangeBanner{display:none}
.photo-buttons .choose{display:none}
.home-slider .Video-section {
    height: 450px;
}	
	.sgContainer .social_nav { display:block;}
	.pioneer-content { padding-top:25px;}
	.main-nav-list {width:100%}
/*	.sorting-bg .custom-container { padding:0;}*/
.sort-block { width:100%; padding:25px 5px 0px 0px}
.categories-dw { width:100%; margin-bottom:3px}
.email-block input { width:100%; margin:0; padding-right:170px; float:left;}
.email-block button { margin:0; float:left; width:164px; position:absolute; top:0; right:0;}
.email-address { position:relative; float:right; width:100%;}
.photo-buttons span { width:100%}
.email-block input.show-sm { display:inline-block;}
.email-block input.show-lg { display:none;}

}

@media (max-width:800px) {
    .video{left:0;  margin-top:-9%;  overflow:hidden;  position:absolute;  right:0}	 	 
	#dvPopup, #dvPopup2, #dvHouseRulesPopup, #dvAckPopup {
    width: 100%;
}
.footer p {
    font-size: 0.75em;
    margin-right: 0;
    margin-top: 25px;
    text-align: center;
    width: 100%;
	background:#FF999A
}
#FontTitle, .FontTitle, .FontTitleHR1, .FontTitleHR, #FontTitle, #FontTitle2 {
    font-size: 36px;
    left: 10px;
    width: 80%;
}
.faqBlock {
    left: 10px;
    width: 97%;
}
.faqTitle, .faqContents {
    width: 97%;
}
 


.sortlist-container {
    margin: 0 auto;
    width: 376px;
}	
}
@media (min-width:767px) {
	.videocon .slide-caption{display:none}
}
@media (max-width:767px) {
	.faqContents p, .faqTitle p {
width: 100%;
margin-left: 0px;}
.faqBlock p{font-size: 90%;}
.footer p{
	width: 100%;
text-align: center ;
font-size: 0.750em;
margin-top: 25px;
margin-right: 0;
	}
#Qmark, #Qmark2 {
right: 5px;
top: 55px;
width: 50px;
}
#Qmark {
font-size: 40px;
color: White;
font: helvetica Bold;
position: absolute;
top: 40px;
right: 20px;
}
#Qmark img, #Qmark2 img {
width: 100%;
}
.houseRulesContents, .ackContents {
width: 96%;
margin-left: 10px;
font-size: 85%;
}	
	
	.pioneer-container p, .pioneer-content p, .share-story-section p{font-size:18px; line-height:28px; padding:18px 0; font-family:"Open Sans",sans-serif}
	.events-block .description h5{ font-size:24px; line-height:32px;}
	.events-block .description p{font-size:18px; line-height:28px; }
	
	.sort-block > a {
	padding: 0 0px 14px;
	margin:0 15px
}
	
 /*.video{ margin-top: 45%; top:0}*/
  .show-sm { display:block}
  .show-md { display:none}
  .show-lg { display:none}
  
  .shareQuote .carousel-inner > .item > img { border:43px solid #000;}
  .shareQuote .carousel-control .glyphicon-chevron-right { width:23px; background-position:-59px 0;}
  .shareQuote .carousel-control .glyphicon-chevron-left{ width:21px; background-position:5px 0;}
  .shareQuote .carousel-control {width: 4%;}
  
  
  .pioneer-content p { line-height:30px;}
  .pioneer-bg .pioneer-h2 img { max-width:100%; width:100%;}
  .details-slider { display:inline-block;}
.slider-container .carousel { width:100%;}
  .slider-container .carousel-inner > .item .show-lg { display:none;}
  .slider-container .carousel-inner > .item .slide-caption p img, .details-slider .slide-caption .pioneer-h5 img { max-width:100%;}
  .details-slider .slide-caption { bottom:30px;}
  .share-block { width:90%;}
  .sortlist-container li {
	 width:auto;
	 height:auto;
	 min-height:350px;
	 margin:-1px 0;
}
.sortlist-container li .back-door{
	 min-height:400px;
	 height:auto
}
.story-button { display:block;}
.events-block { width:100%} 
.events-block .events-img { max-width:100%;}
.events-block .description .event-button { display:inline-block; margin-top:30px;}
.photo-buttons .pioneer-container { width:100%; padding:50px 35px;}
.events-section { padding:80px 0}
 
.events-block h3, .share-story-section h3 { font-size:59px; line-height:59px;}
.share-story-section .h5 { font-size:30px; line-height:30px; padding:15px 20px;}
.share-story-section .h5:after { left:33px; right:auto;}
.share-story-section .fields-group label { font-size:20px; line-height:24px; padding-bottom:15px;}
.share-story-section .questions-list li { font-size:18px; line-height:26px;padding: 3px; margin-left:18px;}
.share-story-section .questions-list { margin-top:0;}
.share-story-section .form-textarea { height:270px}
.share-story-section .form-textarea140 { height:170px}
.form-col2, .form-col2-right { width:100%;}
.form-col2-right { padding-top:15px}
.form-add-buuton a { font-size:20px;}
.file-button { font-size:20px; height:auto; margin:10px 0}
.form-chk .chk-label { font-size:20px; line-height:24px; display:table; padding-top:0px;}
.form-chk .chk-label sup{ font-size:16px;}
.share-story-section { padding:50px 27px;}

.thankyou-section .custom-container {width:100%; }

/*.home-slider li .slide-para { display:none; }*/
.home-slider .slide-p-sm { display:block; font-size:24px; line-height:36px; color:#fff; padding:0 40px 30px 40px; box-shadow: 0 0 110px 130px #000;}
.home-slider li .home-caption { 
	left: 0;
    position: relative;
    right: 0;
    bottom: 0%;
    width: 100%;
	margin: 0% 0 30px 0;
}
.home-slider .slide-caption { bottom:0; margin-bottom:25px; position:relative;}
.home-slider .Video-section { height:380px;}

.slider-container .slide-caption p { padding:0 15%; text-align:center; }
.slider-container .slide-caption { text-align:center; width:100%; padding:10px 55px; }
.slider-container .slide-caption .sg-button { margin-right:0px;}
.slider-container .slide-para { left:0px; font-size:18px; line-height:34px; width:100%; text-align:center; position:relative; padding-top:30px;}
.home-caption .slide-caption p img { width:auto; max-width:100%;}
.slider-container .slide-caption .sg-button { font-size:18px; margin-top:25px; padding:10px 25px; width:100%;}
.slider-container .slide-caption { bottom:0px;}
.categories-list { text-align:left; width:80%; padding-left:5px;}
.categories-options { width:100%;}
.categories-options a { padding-left:35px; }
.email-block { width:70%; float:left;}
.email-block input { padding-left:35px;}
.link-categores { padding-left:0; /*width:40%;*/}
.sort-block span { padding-left:0;}
.sort-block { /*border-bottom:1px solid #303030;*/}
.categories-list { padding-bottom:10px; padding-top:25px}
.sortlist-bg0 { padding-top:70px;}

.img-croping { margin:10px 0; height:45px; width:45px;}
#area u { margin:10px 0; }
.customBrowse-group { width:200px}
.customBrowse-group a { width:100%;}
#area { width:200px}
#area div { width:100%;}
.detailsbanner .slide-caption, .detailsbanner .slide-caption p{ padding:0px; }
.slide-caption p span {
	padding: 5px 3%;
}
}
@media (max-width:639px) {

.slider-container .carousel-inner > .item { height:auto}
.home-slider .Video-section { height:380px;}
.email-block { width:100%;}
 

}

@media (max-width:479px) 
{
  .video{left:0;  margin-top:-25% ;  overflow:hidden;  position:absolute;  right:0}	 
  .sort-block > a, .link-categores, .sort-block span{font-size:16px;}
  .pioneer-container p, .pioneer-content p, .share-story-section p{font-size:14px; line-height:24px; padding:14px 0; font-family:"Open Sans",sans-serif}
  .events-block h3, .share-story-section h3{ padding-bottom:0px}
  .events-block .description h5{ font-size:20px; line-height:28px;}
  .events-block .description p{font-size:14px; line-height:24px; }
  .slider-container .slide-para{ font-size:14px; line-height:24px; }
  .SG-Logo{ max-width:40px;}
  .SG-Logo img{ max-width:100%;}
  .main-nav { min-height:inherit;}
  .m-nav-icon { font-size:16px; margin:4px 0 0 18px; padding:0 0 0 28px; background:url("/SG50/images/mobile/icon-nav-sm.png") no-repeat 0 center;}
  .main-nav .social_nav { top:18px; right:25px;}
  .sgContainer .social_nav div { padding:0 0 0 8px;}
  .main-nav { padding:9px 25px}
  .slider-container.quoteonly-slider .carousel-inner > .item { height:300px;}
  .slider-container .carousel-control { margin-top:-50px;}
  .main-nav-list { top:59px; width:100%}
  .next-story span { font-size:20px;}
  .share-list li span { font-size:22px;}
  .share-list li p { font-size:18px; line-height:24px; padding:13px 0 25px 0}
  .sortlist-container li .img > img { width:100%;}
  .sortlist-container .caption p img { max-width:100%;}
  .sortlist-container li { min-height:inherit;}
  .sortlist-container li .back-door{ min-height:350px;}
  .sortlist-bg .custom-container { padding:0 20px;}
  .photo-buttons .pioneer-container a { font-size:17px; }
  .events-block .description .event-button { font-size:20px;}
  
  
  
.events-block h3, .share-story-section h3 { font-size:45px; line-height:45px;}
.share-story-section .h5 { font-size:24px; line-height:24px; padding:15px 20px;}
.share-story-section .fields-group label { font-size:18px; line-height:20px; padding-bottom:15px;}
.share-story-section .questions-list li { font-size:14px; line-height:22px;padding: 3px;}
.form-add-buuton a { font-size:16px;}
/*.file-button { width:100%;}
*/.form-chk .chk-label { font-size:16px;}
.form-chk .chk-label sup{ font-size:13px;}
/*.form-submit .submit-button { width:100%;}*/

.thankyou span { font-size:51px;}
.home-slider .Video-section { height:380px;}
.sortlist-container .caption p {
	font-size: 0.8em;
	line-height: 1.2em;
}
/*.video{ margin-top: 85%; top:0}*/
.social_nav .show-sm {
  max-width: 25px;
}

   
}
@media (max-width:425px) {
	.sort-block > a {margin: 0 3px;}	
.sort-block span, .link-categores{ font-size:14px;}
.sort-block > a{ font-size:14px; padding:0 10px 14px;}
.email-block { width:100%;}
}
@media (max-width:380px) {
	.footer-section .footer-nav a { font-size:14px; line-height:18px;}
	.footer-section .copy, .categories-options a { font-size:12px;}
 	/*.video{ margin-top: 30%; top:80%}*/
	.sort-block > a {margin:0px; padding-left:2px; padding-right:2px;}
	
 
}
@media (max-width:450px) {
.sorting-bg .custom-container{padding:0}
.sort-block{ padding:25px 30px 0px 30px}
.categories-list{width:100%; padding:25px 30px 10px 30px}
.email-block input{height:44px; line-height:44px; font-size:16px;}
input.show-sm{width:143px !important;}
.sortlist-container li .img {
    height: 280px;
    width: 280px;
}
.sortlist-container {
    margin: 0 auto;
    width: 280px;
}
.sortlist-container li .back-door{
	min-height: 280px;
	height: 280px;
    width: 280px;
	}
	/*.video{ margin-top: 0; top:63%}*/
}


@media (max-width:360px) {
.email-block input{height:40px; line-height:40px; font-size:14px; padding-right:130px}
input.show-sm{width:110px !important; padding:0 !important}
.email-address label{ top:52px; font-size:13px}
.sortlist-container li .img {
    height: 250px;
    width: 250px;
}
.sortlist-container li .back-door{
	min-height: 250px;
	height: 250px;
    width: 250px;
	}
.sortlist-container {
    margin: 0 auto;
    width: 250px;

}
/*.video{ margin-top: 0; top:75%}*/
}


