body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
/** { transition:all 0.2s ease-in; -webkit-transition:all 0.2s ease-in; }*/
body.sgContainer {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	background-color:#f2f2f2;
}
ul, li, p, h1, h2, h3, h4, h5, h6, ol, dl, dt {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.sgContainer i {
	font-style: italic;
}
.sgContainer p {
	font-family: 'Open Sans', sans-serif;
}
.sgContainer a:hover {
	text-decoration: none;
}
.sgContainer a:hover, .sgContainer a:focus {
	/*color: inherit*/
}
.photo-buttons span a:focus, .photo-buttons .choose a:focus{
	   color:#fff;
	   text-decoration:none;	
	}
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
a, img, a img, input {
	outline: none;
	border: 0px;
	text-decoration: none;
	cursor:pointer;
}
.clearfix {
	clear: both;
}
.sgContainer .header {
	background-color: #353333;
}
.main-nav {
	background-color: #353334;
	height: 50px;
	margin: 0 auto;
	/*position: relative;*/
	width: 1128px;
	z-index: 11;
}
.main-nav-list {
	list-style: none;
	float: left;
	margin: 0 0 0 5px;
}
.main-nav-list li {
	list-style: none;
	float: left;
	padding:15px 18px 0; /*20px 18px 14px 18px*/
}
.main-nav-list li a {
	margin: 0;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	padding: 0 0 18px;
	text-transform: uppercase;
	color: #ccc; 
	text-decoration: none;
	line-height:16px;
}
.main-nav-list li a.active {
	color: #fff;
}
.main-nav-list li a:hover {
	color: #fff;
}
.nav2 {	background-color: #c6171e;}
.main-nav-list li:hover ul{
	display:block;
}
.main-nav-list li ul {
	background-color: #c6171e;
	padding:2px 0;
	display:none;
	position:absolute;
	top:50px;
	left:0;
	width:100%;
	z-index:999;
}

.main-nav-list li ul a {
	font-size: 14px !important;
	font-weight: 400;
	color: #ccc;
	display: inline-block;
	padding: 10px 23px;
	text-transform: uppercase;
	text-decoration: none;
}


.custom-container {
	width: 1128px;
	margin: 0 auto;
	position: relative;
}
.nav2-list a {
	font-size: 12px;
	font-weight: 400;
	color: #fcaf98;
	display: inline-block;
	padding: 10px 23px;
	text-transform: uppercase;
	text-decoration: none;
}
.main-nav .social_nav{ right:0;}
.nav2-list {
	padding-left: 40px;
}
.nav2-list a:hover {
	color: #fff;
	text-decoration: none;
}
.nav2-list a.active {
	color: #fff;
}
.nav2-list a.active:hover {
	color: #fcaf98;
}
.SG-Logo {
	float: left;
	margin-top: 6px;
}
.slider-container {
	width: 100%;
	height: auto;
	position: relative;
	background-color: #000;
	display:inline-block;
}
 

.slider-container .carousel-inner { position:relative; z-index:1;}


.pioneer-bg {
	background: #000 url(/SG50/images/PG/bg-1.jpg) no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	display:table;
	margin:-3px 0 0 0;
	position:relative;
}
.pioneer-container {
	width: 935px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding: 60px 0;
}
.pioneer-h2 {
	margin-bottom: 20px;
	padding:0;
}
.pioneer-container p {
	font-size: 23px;
	font-weight: 400;
	color: #fff;
	line-height: 38px;
	display: inline-block;
	padding: 23px 0px;
}
.sg-button, .sg-button-sm {
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	line-height: 21px;
	display: inline-block;
	padding: 18px 30px;
	border: 4px solid #fff;
	text-transform: uppercase;
	transition: all 0.4s ease-in;
	cursor:pointer;
}
.margin-top20 {
	margin-top: 20px;
}
.sg-button:hover, .sg-button-sm:hover {
	background-color: #c6171e;
	color: #fff;
}
.sorting-bg {
	background-color: #000;
}
.sort-block {
	float: left;
	padding: 25px 0 0px 0;
	text-transform: uppercase;
}
.email-block {
	float: right;
	text-transform: uppercase;
	padding:2px 0;
}
.sort-block span, .email-block span {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	line-height: 20px;
	display: inline-block;
	padding-right: 12px;
}
.email-block span {
	line-height: 64px;
}
.sort-block > a {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	line-height: 20px;
	display: inline-block;
	padding: 0 12px 14px;
	border-bottom: 8px solid #000;
	outline:none;
	text-decoration:none;
}
.sort-block > a.active{ border-bottom: 8px solid #fe0000}
.sort-block > a:hover {
	border-bottom: 8px solid #fe0000
}
.sort-block > a:focus { text-decoration:none;border-bottom: 8px solid #fe0000}
.email-block input {
	font-size: 19px;
	font-weight: 400;
	color: #000;
	line-height: 60px;
	display: inline-block;
	width: 250px;
	height:59px;
	background: #fff;
	padding: 0 10px 0 20px
}
.email-block button, .email-block input.show-lg {
	font-size: 19px;
	font-weight: 400;
	color: #fff;
	line-height: 60px;
	height:60px;
	display: inline-block;
	background: #ea003c;
	padding: 0 32px;
	margin-left: 1px;
	border: none;
	cursor: pointer;
	width:auto;
	margin-left: -5px;
}
.email-block .show-lg:hover {
	background-color: #353333;
}
.email-block .show-sm {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	line-height: 60px;
	height:60px;
	display: inline-block;
	background: #ea003c;
	padding: 0 32px;
	margin-left: -5px;
	border: none;
	cursor: pointer;
	 
}
.email-block .show-sm:hover {
	background-color: #353333;
}
.sortlist-bg {
	background: #000 url(/SG50/images/PG/sort-bg.jpg) no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	padding: 70px 0
}
.sortlist-container {
	list-style: none;
	display: table;
}
.sortlist-container li {
	list-style: none;
	height: 376px;
	position: relative;
	text-align: center;
	display: table-cell;
	float: left;
	transition: all 0.5s ease-in;
	width:auto;
}
.sortlist-container li .img {
	float: left;
	width: 376px;
	overflow:hidden;
	height:376px;
}
.sortlist-container li .img > img {
	width: 376px;
	 
	height:376px;
}
.sortlist-container .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 30px 35px;
}
.sortlist-container .caption p 
{
	
	font-size: 1.1em;
	font-weight: 400;
	color: #fff;
	line-height: 1.4em;
	padding-bottom: 20px;
	text-shadow: 2px 4px 2px #000;
	text-transform:uppercase;
}
.sg-button-sm {
	font-size: 17px;
	line-height: 17px;
	padding: 13px 35px;
	border-width: 3px;
}
.back-door {
	background-color: #000;
	float: left;
	height: 100%;
	position: relative;
	width: 376px;
	text-align: center;
}
.back-door .head-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 30px 0;
}
.back-door .head-block h5 {
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	line-height: 30px;
	padding-bottom: 24px;
}
.back-door .head-block h6 {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	line-height: 20px;
}
.back-door .social-door {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 30px 30px;
}
.back-door .social-door p {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	line-height: 20px;
	padding-bottom: 10px;
}
.back-door .social-door a {
	display: inline-block;
	margin: 0 5px;
}
.sgContainer .fc {
	background: #000 url(/SG50/images/PG/fc.png) no-repeat;
}
.sgContainer .tw {
	background: #000 url(/SG50/images/PG/twitter.png) no-repeat;
}
.sgContainer .fc, .sgContainer .tw {
	height: 37px;
	width: 37px;
}
.sgContainer .fc:hover, .sgContainer .tw:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.slider-container .carousel-inner > .item > img {
	max-width: 100%;
	display:inline-block;min-height:100%;
}
.slider-container .carousel-inner > .item .slide-caption p img { max-width:100%;}
.slider-container .carousel-inner > .item {
	height: 740px;
	min-height:200px;
	text-align:center;
}
.slider-container .slide-caption {
	position: absolute;
	width: 100%;
	bottom: 118px;
	left: 0;
}
.slider-container .slide-caption p {
	color: #fff;
	font-size: 68px;
	font-weight: 600;
	line-height: 68px;
	padding-bottom: 20px;
}
.slider-container .slide-caption .sg-button {
	font-size: 22px;
}
.slider-container .slide-para {
	color: #fff;
 font-size: 13px;
 font-weight: 400;
 line-height: 20px;
 padding-bottom: 20px;
 position: absolute;
 left: 11%;
 top: -262%;
 width: 270px;
 text-align:left;
	
}
.slider-container .carousel-control {
	width: 10%;
	height: 50px;
	margin-top: -25px;
	top: 50%;
	background-image: inherit !important;
	z-index:100;
}
.slider-container .carousel-indicators li {
	background-color: #fff;
	box-shadow: 1px 1px 0px transparent;
	border-radius: 100%;
	width: 13px;
	height: 13px;
}
.slider-container .carousel-indicators .active {
	background-color: #fe0000;
	border: 0px;
	box-shadow: 1px 1px 0px #fff;
	position: relative;
	width: 13px;
	height: 13px;
	margin:1px;
	
}
.slider-container .carousel-control .glyphicon-chevron-left {
	background: url("/SG50/images/PG/controls.png") no-repeat 0 0px;
	width: 30px;
	height: 46px;
}
.slider-container .carousel-control .glyphicon-chevron-left:before, .slider-container .carousel-control .glyphicon-chevron-right:before {
	content: initial;
}
.slider-container .carousel-control .glyphicon-chevron-right {
	background: url("/SG50/images/PG/controls.png") no-repeat -47px 0px;
	width: 30px;
	height: 46px;
}
/*Details page*/	
.pioneer-content {
	padding: 40px 0 0 0;
	width:100%;
	display:inline-block;
	background-color:#f2f2f2;
}
.pioneer-content p {
	color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 0 28px;
	
}
.pics-section {
	background-color: #000;
	text-align: center;
	width: 100%;
	margin: 50px 0 0;
	float:left;
}
.pics-container {
	margin: 0 auto;
	max-width: 1280px;
}
.pics-gallery {
	list-style: none;
	width: 100%;
	margin: 0;
	padding:0px;
	display:table;
	float:left;
	line-height:0;
	text-align:center;
}
.pics-gallery li {
	list-style: none;
	display:inline-block;
	margin: 0px;
    padding: 0;
    position: relative;
    width:33.3%;
    line-height:0;

}

.pics-gallery li.single { display:inline-block; width:auto;}
.pics-gallery li.single > img { margin:0;}
.pics-gallery li > img {
	max-width: 100%;
	width: 100%;
	margin:-1px 0 0 0;
}
.pics-gallery li span {
	position: absolute;
	right: 0;
	bottom: 20px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	padding: 13px 22px
}
.share-section {
	background-color: #333333;
	display: table;
    width: 100%;
	position:relative;
	margin:0 0 0px 0;
}
.backtohome { padding-right:320px;}
.nextStory { padding-right:150px;}
.share-section .backtohome-pos { right:150px; border-right:1px solid #bbb;}
.share-list {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0 0px 0 0;
	text-align: center
}
.share-list li {
	list-style: none;
	display: table-cell;
	margin: 0 0px;
	padding: 0;
	position: relative;
	width: 50%;
	float: left;
}
.share-list li > img {
	max-width: 100%;
}
.share-list li span {
	color: #fff;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	padding: 0 0 0 0px
}
.share-list li p {
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	padding: 8px 0 0 0px;
	min-height:80px;
}
.next-story {
	background-color: #999;
	width: 150px;
	display: inline-block;
	height: 100%;
	position:absolute;
	right:0;
	padding:0 26px;
	cursor:pointer;
	text-transform:uppercase;
}
.next-story:hover {
	background-color: #c6171e;
}
.next-story span{
	color: #fff;
	font-size: 22px;
	line-height: 24px;
	font-weight: bolder;
	display:block;
	padding:10px 0 0 0;
}
.next-story > img {
    margin-top: 130%;
}
.story-link {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}
.share-block {
	width: 60%;
	margin: 0 auto;
	padding: 70px 0;
}
.share-icons > div {
	display: inline-block;
	margin:0 8px;
}
.share-icons > div > a {
	display: table-cell;
	width:74px;
	height:74px;
	background:#e9280b;
	vertical-align:middle;
	border-radius:100%;
	-webkit-border-radius:100%;
}

.share-icons > div > a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.border-left {
	border-left: 1px solid #828282;
	min-height: 260px;
}
.border-left p{min-height:29px !important;}
.pioneer-h5 {
	margin-top:30px;
	padding:0;
}
.details-slider .slide-caption {
		bottom:80px;
	}

/*shareQuote page*/
.shareQuote { height:auto;}
.shareQuote .carousel-inner > .item {height:auto; text-align:center}
.shareQuote .carousel-inner > .item img {
    width: auto;
	max-width:100%;
	display:inline-block
}
.shareQuote .slide-caption { bottom:20px;}
.photo-buttons .pioneer-container { width:614px;}
.photo-buttons { background:#000; margin-top:-7px;}
.photo-buttons .choose { display:block; padding:11px 0; margin:0 auto; }
.photo-buttons span { float:left; padding:11px 0;}
.photo-buttons span:nth-child(2) { float:right}
.photo-buttons span a, .photo-buttons .choose a { width:100%;}
.events-section { padding:100px 0;}
.events-block { float:left; width:100%;}
.events-block h3, .share-story-section h3 {
    color: #222;
    font-size: 68px;
    font-weight: bolder;
    line-height: 68px;
    padding-bottom: 30px;
	text-transform:uppercase
}
.events-block .events-img{ max-width:600px; float:left}
.events-block .events-img img { max-width:100%; width:100%}
.events-block .description{ width:44%; float:right; }
.events-block .description h5{ 
    color: #222;
    font-size: 30px;
    font-weight: bolder;
    line-height: 36px;
    padding-bottom: 30px;
	margin:0;
 }
.events-block .description p{ 
	color: #222;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    padding-bottom: 10px;
	min-height:263px;
}
.event-button{ 
	color: #fff;
    font-size: 20px;
    font-weight: bolder;
    line-height: 20px;
    padding: 10px 25px;
	text-transform:uppercase;
	background-color: #eb1a3a;
	transition: none 0s ease 0s;
	cursor:pointer;
}
.event-button:hover { color:#fff; }
.footer-section {background-color:#353334; color:#fff; padding:14px 0px; margin-top:1px;}
.footer-section .footer-nav, .footer-section .copy { display:inline-block;}
.footer-section .footer-nav a { 
	color: #fff;
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    padding:0;
	margin:0 5px 0 0;
	text-transform:uppercase;
}
.footer-section .footer-nav a:hover { color:#ccc; }
.footer-section .copy { 
	color: #fff;
    font-size: 9px;
    font-weight: normal;
    line-height: 12px;
    padding:4px 0 0 0;
	margin:0;
	float:right;
}
.quoteonly-slider .carousel-inner > .item {
    height: 411px;
    min-height: 200px;
    text-align: center;
}
.quoteonly-slider .slide-caption { bottom:35px;}
.home-caption {
    left: 0%;
    padding-bottom: 30px;
    right: 0%;
	position:absolute;
	text-align:center;
	bottom:20px;
}

.home-caption  .slide-caption p { text-align:center;}
.home-caption  .slide-caption img { width:auto; max-width:100%; min-width:inherit; display:inline-block;}
.sgContainer .social_nav div { float:none; display:table-cell; vertical-align:middle;}
.email-address {
    float: left;
    padding-top: 2px;
}
.email-block span { float:left;}
.share-story-section { padding:50px 0; color:#353333; display:inline-block; width:100%;}
.share-story-section p { font-size:22px; line-height:36px; padding-bottom:10px;}
.share-story-section .h5 { font-size:24px; line-height:24px; background:#e0e0e0; color:#ec1a3b; font-weight:bolder; border-top:1px solid #b5b5b5; padding:10px 20px; margin:20px 0 40px 0; position:relative; text-transform:uppercase;}
.fields-group { display:inline-block; width:100%; padding-bottom:20px;}
.share-story-section .questions-list { list-style:none; padding-bottom:10px; margin-top:-15px;}
.share-story-section .questions-list li { list-style:disc; font-size:14px; line-height:14px; padding:16px 0 10px 10px; margin-left:16px}

.share-story-section .fields-group label {font-size:14px; font-weight:bolder; display:block; padding-bottom:20px;}
.share-story-section .fields-group label sup {font-size:12px; color:#ed3850; font-style:normal; top: -0.2em; margin-right:2px;}
.share-story-section .form-textarea, .share-story-section .form-textinput, .share-story-section .form-select { height:39px; line-height:normal; 
	width:100%; padding:5px 13px; border:1px solid #b2b2b2;}
.share-story-section .form-textarea {height:111px; padding:13px; line-height:normal; }
.form-col2 { width:49%; float:left;}
.form-col2-right { width:48%; float:right;}
.sgContainer .hr { height:1px; width:100%; margin:10px 0; background:#bbb;}
 .form-chk { padding-top:18px;}
 .form-chk .chk-label {font-size:14px; font-weight:normal; display:table; padding-top:5px; padding-left:11px;}
 .form-chk .chk-label sup {font-size:12px; color:#ed3850; font-style:normal; top: -0.2em; margin-right:2px;} 
 .form-chk .chk-label a { color:#ec1a3b; } 
 .form-chk .chk-label a:hover, .form-chk .chk-label a:focus, .form-chk .chk-label a:active { text-decoration:none; outline:none; }
 
 .form-chk .form-checkbox { float:left;}
.form-submit .submit-button { border:0; background:#ec1a3b; color:#fff; font-size:20px; font-weight:bolder; min-width:210px; padding:11px 0; text-align:center; text-transform:uppercase;}	 
.form-submit { padding:20px 0;}	 
.submit-button:hover { background:#454545; }
.file-button { border:0; background:#494747; color:#fff; font-size:16px; font-weight:bolder; padding:12px 25px; text-align:center; height:39px; display:inline-block;}	 
.file-button:hover, .file-button:focus, .file-button:active { color:#fff; background:#ec1a3b; text-decoration:none;} 
.form-add-buuton { padding:0 0 16px 0; width:100%; display:inline-block;}
.form-add-buuton a { padding:2px 0 3px 30px; background:url(/SG50/images/PG/add.png) no-repeat left center; font-size:14px; color:#353333; font-weight:bolder;}	 
	 
	 .form-remove-buuton1 { padding:13px 0 0 18px; float:left; width:10%; display:inline-block;}
.form-remove-buuton1 a { padding:2px 0 3px 30px; background:url(/SG50/images/PG/minus.png) no-repeat left center; font-size:14px; color:#353333; font-weight:bolder;} 
	 
.form-remove-buuton2 { padding:13px 0 0 18px; float:left; width:10%; display:inline-block;}
.form-remove-buuton2 a { padding:2px 0 3px 30px; background:url(/SG50/images/PG/minus.png) no-repeat left center; font-size:14px; color:#353333; font-weight:bolder;} 
	 
.form-remove-buuton3 { padding:13px 0 0 18px; float:left; width:10%; display:inline-block;}
.form-remove-buuton3 a { padding:2px 0 3px 30px; background:url(/SG50/images/PG/minus.png) no-repeat left center; font-size:14px; color:#353333; font-weight:bolder;} 

 
.share-story-section .h5:after {
    bottom: -14px;
    content: "";
    height: 0px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #e0e0e0;
}	 
.form-select { background:#fff;}	
.browse-group .form-select[type="file"] { opacity:0; filter:alpha(opacity=0;); position:absolute;}

.shareQuote .carousel-indicators { display:none;}


/* Thank you page*/
.thankyou-section { background:#000 url(/SG50/images/PG/thnkyou-bg.jpg) no-repeat left top; height:560px; width:100%; display:table; float:left; background-size:cover;}
.thankyou-section .custom-container {width:560px; margin:0 auto; height:100%; display:table; text-align:center}
.thankyou { display:table-cell; vertical-align:middle;color:#fff; }
.thankyou span{ font-size:72px; font-weight:bolder; text-transform:uppercase; padding-bottom:20px; display:block;}
.thankyou p{ font-size:20px; line-height:30px;}	 
/* new CSS for dynamic content */

	 
#backgroundPopup {
    background: none repeat scroll 0 0 red;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.sort-block span {
	font-size: 19px;
	font-weight: 400;
	color: #fff;
	line-height: 19px;
	display: inline-block;
	padding: 0 12px 14px;
	border-bottom: 8px solid #000
}

.sortlist-bg0 {
	background: #000 url(/SG50/images/PG/sort-bg.jpg) no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	padding: 70px 0 0 0;
}


.sortlist-bg1 {
	background: #000 url(/SG50/images/PG/sort-bg.jpg) no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	padding:  0;
}

.sortlist-bg2 {
	background: #000 url(/SG50/images/PG/sort-bg2.jpg) no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	padding: 0
}
.sortlist-bg3 {
	background: #000 url(/SG50/images/PG/sort-bg.jpg) no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	padding: 0
}
.sortlist-bg4 {
	background: #000 url(/SG50/images/PG/sort-bg2.jpg) no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	padding: 0
}
.sortlist-bg5 {
	background: #000 url(/SG50/images/PG/sort-bg.jpg) no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	padding: 0
}
.lazy-components {
	display:none;
	text-align: center;
	font-weight: bolder;
	font-size: 25px;
	color: #C6171E;
	padding: 25px;
}
.loading-lazy {position:relative; left:0; right:0; margin:0 auto; width:100px; text-align:center; z-index:12;}
#pg_lazyload { position:relative;}
.loading-bg { position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(255,255,255,0.5); z-index:11;}
.loading { position:absolute; left:0; right:0; margin:0 auto; top:200px; width:100px; text-align:center; z-index:12;}
 
 .categories-list { display:inline-block;}
 .categories-list:hover { border-bottom:0px;}
 .slide-p-sm { display:none;}
 
 .home-slider .Video-section { height:730px;}
 
 .link-categores { color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    outline: medium none;
    padding: 0 32px 14px;
    text-decoration: none;
	background:#000 url(/SG50/images/PG/arrow-down.png) no-repeat right 6px;
	outline:none;
	text-transform:uppercase;
 } 
.link-categores:hover, .link-categores:focus { color:#fff;text-decoration: none;outline:none;} 
.categories-options { position:absolute; left:18px; padding:10px 0 0 0; top:50px; background:#000; width:260px; z-index:50; display:none;}
.categories-options a { width:100%; padding:15px; background:#000; display:inline-block; color:#fff; outline:none;}
.categories-options a:hover, .categories-options a:focus, .categories-options a:active { background:#111;color:#fff; text-decoration:none;}
.categories-list { position:relative; padding-top:25px; display:none;}
.categories-list:hover .categories-options{ display:inline-block;}
 
 
 
.email-address {position:relative;}
.email-address label{  background: none repeat scroll 0 0 #ea003c;
    color: #fff;
    font-size: 16px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 20;
}
.email-address label:before{
	top: -9px;
    content: "";
    height: 0px;
    left: 20px;
    margin: 0;
    position: absolute;
    width: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ea003c;	
}


input.address:-ms-input-placeholder {
    color: #999;
  }
::-webkit-input-placeholder {
   color: #999;
}
:-moz-placeholder {  
   color: #999;  
}
::-moz-placeholder { 
   color: #999;  
}
:-ms-input-placeholder {  
   color: #999; 
}
input[placeholder] {  
   color: #999; 
}

.img-croping img { width:100%; height:100%;}
.crop-file-name { width:100%; height:39px;border:1px solid #bbb; color:#000; background:#fff; padding:8px 15px 0 15px;}
.img-croping {width:128px; height: 128px; margin-top:15px; float:left; overflow:hidden; background:transparent;}
.crop-lg { float:left;}
.crop-sm { display:none;}
.cropfile-valid { color:#ec1a3b; width:100%; padding:10px 0; font-size:16px; } 
 
.customBrowse { position:absolute; opacity:0; cursor:pointer; filter:alpha(opacity='0'); height:100%; width:100%;} 
.customBrowse-group { position:relative; overflow:hidden; 
    height: auto;
    overflow: hidden;
    position: relative;
    width: 118px;
    float:left;}
 .customBrowse-group a:hover { background:#ec1a3b; }
 
 .browse-option1 { display:none;}
 .browse-option2 { display:none;}
 .browse-option3 { display:none;}
.form-add-buuton a:hover, form-add-buuton a:focus, form-add-buuton a:active { text-decoration:none; outline:none;} 
 
 
 
 
 /* cropping */
 
 #area div p { display: block; width: 300px; }
#area div p span { display: block; padding: 2px 0; width: 0; background: #193; text-align: center; }
#area b, #area img { display: block; }
#area img { margin: 10px 0; width: 300px; }
#area input { visibility: hidden; height: 0; }
#area u { display: block; padding:3px 15px; line-height:39px; height:39px text-align: center; background: #494747; text-align:center; color:#fff; font-size:20px; font-weight:bolder; text-decoration:none; cursor:pointer; text-transform:uppercase;}
#area u:hover { background:#ec1a3b; }

.form-select option {
    box-sizing: border-box;
    padding: 2px 15px !important;
} 
.sharehiswords{min-height:134px !important;}
.recommend{color:#929191; font-size:14px;}
.deleteicon{ margin-left:5px;margin-top:126px;display:none; cursor:pointer}
.paddingbtm0{padding-bottom:0px;}
 .format{color:#929191; font-size:14px;}
.cropmobile{display:none}
.MobileImgDel{left:382px; position:absolute; margin-top:-26px; display:none; cursor:pointer}

.slider-container .left.carousel-control, .slider-container .right.carousel-control, .slider-container .carousel-indicators{ display:none !important}
.pics-gallery li img{height:400px;}

.video{ position: absolute;
    left: 0; right: 0;
    margin-top: -10%;
    overflow: hidden;}
    
.bx-clone{display:none !important}   

input.show-sm{
		font-size: 20px;
	font-weight: 400;
	color: #fff;
	line-height: 60px;
	height:60px;
	display: inline-block;
	background: #ea003c;
	padding: 0 32px;
	margin-left: 1px;
	border: none;
	cursor: pointer;
	width:164px !important;
	text-align:center;
	padding-right:32px !important;
	position:absolute !important;
	right:0;
	}
	
	.slider-container .detailsbanner > .item{ min-height:10px; max-height:740px;}
	.detailsbanner .slide-caption p{font-size:28px; line-height:normal; bottom:0; text-align:center !important; text-shadow: 2px 4px 2px #000; }
	.detailsbanner .slide-caption{ bottom:0; }
	.slider-container .detailsbanner > .item img{width:inherit !important}
	
	.social_nav {
    position: absolute;
    right: 50px;
    top: 5px;
    z-index: 9999999;
}
.social_nav div {
    float: left;
    padding: 10px 8px 0;
}

.pioneer-container strong{
	font-weight:700;
}
.sortlist-container .caption p span, .slide-caption p span{
	display:block;
	padding:5px 0 0;
	font-size:0.7em;
	color:#fff;
	text-transform:none;
	text-align:right;
	line-height: 0.9em;
}
.slide-caption p span{
	padding:5px 43%;
 font-size:14px;
 text-align:center
	
}
.detailsbanner .slide-caption span {
  	padding: 5px 0;
}














#FontTitle p {
text-align: right;
float: right;
font-size: 0.750em;
margin-right: 15px;
}
.faqBlock, .ackContents, .houseRulesContents{
	background:url(/SG50/images/PG/imgdot.png) repeat-x
	}
.FontTitleHR p{font-size: 0.750em;
margin-right: 15px;}

.pioneer-content #divDescription 
{	color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;}
    
.contentstg, .pioneer-content #divDescription strong{font-weight:bold;}

singleimg li{width:100%;}
.singleimg > li > img, .secondimg > li > img{  width:auto;}
.secondimg li{ width:50%;}
.secondimg li:first-child{text-align:right;}
.secondimg li:last-child{text-align:left;}    