﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SGCaresAjax.aspx.cs" Inherits="SGCaresAjax" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="font-family: Calibri; font-weight: normal; color: red; font-size: large; text-align: center">
            Hi, Welcome to SGCares Ajax Page Thank you
        </div>
    </form>
</body>
</html>
