.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 200px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 1810px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#u776
{
	z-index: 2;
	width: 1280px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 107px;
	left: 0px;
	background: #FFFFFF url("../images/sky_planes.jpg") no-repeat left top;
}

#u783-8
{
	z-index: 3;
	width: 727px;
	min-height: 197px;
	letter-spacing: 2px;
	color: #FFFFFF;
	font-size: 64px;
	line-height: 59px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 303px;
	left: 100px;
}

#u979-6
{
	z-index: 11;
	width: 847px;
	min-height: 200px;
	letter-spacing: 1px;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 27px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 300px;
	left: 100px;
}

#u462
{
	z-index: 17;
	width: 1280px;
	height: 541px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 887px;
	left: 0px;
}

#u813-16
{
	z-index: 18;
	width: 868px;
	min-height: 166px;
	letter-spacing: 1px;
	color: #333333;
	font-size: 64px;
	line-height: 59px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 996px;
	left: 100px;
}

#u813,#u813-3,#u813-5,#u813-8,#u813-10,#u813-12
{
	letter-spacing: 0px;
}

#u821-6
{
	z-index: 34;
	width: 823px;
	min-height: 220px;
	letter-spacing: 1px;
	line-height: 34px;
	color: #333333;
	font-size: 27px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 1144px;
	left: 100px;
}

#u822
{
	z-index: 40;
	width: 237px;
	position: fixed;
	top: 1186px;
	left: 969px;
}

#u730
{
	z-index: 42;
	width: 1280px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 1428px;
	left: 0px;
	background: #FFFFFF url("../images/winning-image-with-red-gradient.jpg") no-repeat left top;
}

#u852-16
{
	z-index: 49;
	width: 757px;
	min-height: 224px;
	position: fixed;
	top: 1531px;
	left: 97px;
}

#u852-6
{
	font-size: 27px;
	line-height: 19px;
	text-indent: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u852-8
{
	font-size: 27px;
	line-height: 49px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u852-10
{
	font-size: 27px;
	line-height: 27px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u852-12
{
	font-size: 27px;
	line-height: 24px;
	text-indent: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u852-2,#u852-4,#u852-13
{
	font-size: 27px;
	line-height: 34px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.js #u979-6.pre_init,.js #u852-16.pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u846-6
{
	z-index: 43;
	width: 702px;
	min-height: 187px;
	line-height: 59px;
	color: #FFFFFF;
	font-size: 64px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 1535px;
	left: 100px;
}

.js #u783-8.pre_init,.js #u846-6.pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u598
{
	z-index: 65;
	width: 840px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	/*padding: 79px 343px 224px 97px;*/
	min-height:100px;
}

#u980-4
{
	z-index: 68;
	width: 827px;
	min-height: 72px;
	letter-spacing: 1px;
	color: #333333;
	font-size: 27px;
	line-height: 59px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	    margin:0 0 0 60px;
}

#u981-12
{
	z-index: 72;
	width: 836px;
	min-height: 40px;
	letter-spacing: 1px;
	line-height: 34px;
	color: #333333;
	font-size: 27px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 4px;
	margin-top: 10px;
	position: relative;
}

#u981-4
{
	text-decoration: none;
	color: #EF2C2E;
}

#u855
{
	z-index: 66;
	width: 252px;
	position: fixed;
	top: 2191px;
	left: 968px;
}

body
{
	padding-bottom: 0px;
}

#page .verticalspacer
{
	clear: both;
}

#btn_download_form
{
	margin-left: 0px;

}

#btn_faq
{
	margin-right: 100px;
	margin-left: 370px;
	margin-top: -55px;
}
#btn_download_form_img
{
	margin-left: 0px;
	margin-top: 40px;

}

