﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>MainLayout</title>
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("Header")
        @Html.Sitecore().Placeholder("Content")
        @Html.Sitecore().Placeholder("Footer")
    </div>
</body>
</html>
