﻿@charset "utf-8";
/* CSS Document */



/* campaign site styles here */
em, i {
    font-style: italic;
}

.relative {
    position: relative;
}

.category_container p {
    line-height: normal;
}

.BannerCampaign {
    margin: auto;
    width: 100%;
    display: inline-block;
    float: left;
}

.ShowOnMobile {
    display: none;
}

.ShowOnDesktop {
    display: block;
}


.campaignDesc {
    margin: auto;
    width: 100%;
    /*background: url(/SG50/images/Capsule/grunge_bg.png) repeat-y #ec1a3b;*/
    background: #ec1a3b;
    display: block;
    float: left;
    color: #fff;
    padding: 22px 0px 21px 0px;
    font-family: Helvetica, sans-serif;
}

.category_container {
    margin: auto;
    max-width: 960px;
}

.campaignDescLeft {
    margin: auto;
    width: 75%;
    float: left;
    display: block;
}

    .campaignDescLeft p {
        line-height: 25px;
        padding-bottom: 0px;
        font-size: 14px;
    }

.campaignDescRight {
    margin: auto;
    width: 25%;
    float: right;
    display: block;
    text-align: right;
}

    .campaignDescRight .shareTxt {
        width: auto;
        display: inline-block;
        vertical-align: top;
    }

        .campaignDescRight .shareTxt h4 {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0.5px;
            line-height: 30px;
            margin-top: 8px;
            border-bottom: 2px dashed #fff;
            display:inline-block;
        }

    .campaignDescRight ul.socioShare {
        margin: auto;
        width: 68px;
        list-style: none;
        margin-top: 10px;
        display: inline-block;
    }

        .campaignDescRight ul.socioShare li {
            float: left;
            padding: 0px 5px;
        }

.facebookShare {
    margin: auto;
    background: url(/SG50/images/Capsule/facebook.png) no-repeat;
    display: block;
    width: 26px;
    height: 26px;
}

.twitterShare {
    margin: auto;
    background: url(/SG50/images/Capsule/twitter.png) no-repeat;
    display: block;
    width: 26px;
    height: 26px;
}

.campaignDescRight ul.socioShare li:last-child {
    padding-right: 0px;
}

.arrowDown {
    text-align: center;
}

.shortDesc {
    margin: auto;
    width: 100%;
    padding: 10px 15px 15px 15px;
    display: inline-block;
}

.arrowDown {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
}

.howitworks {
    margin: auto;
    margin-top: 34px;
    text-align: center;
    display: block;
}

    .howitworks img {
        margin-bottom: 35px;
    }

    .howitworks p {
        color: #a4a3a4;
        line-height: 23px;
    }





.level2 {
    margin: auto;
    width: 100%;
    display: inline-block;
    margin-top: 25px;
    font-family: Helvetica, sans-serif;
}

.level2_one {
    margin-bottom: 25px;
}

.filterSection {
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.category_container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #a4a3a4;
    font-weight: bold;
    font-size: 18px;
}

.filterSection li {
    margin: auto;
    float: left;
    display: inline-block;
    /*margin: 0px 14.8px 0px 0px;*//*--------for 6 items-----*/
}

    .filterSection li:last-child {
        margin-right: 0px !important;
    }

    .filterSection li a {
        /*padding: 12px 27px;*//*--------for 6 items-----*/
        background: #dcd6d6;
        border-radius: 7px;
        text-decoration: none;
        color: #a4a3a4;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 18px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }



        .filterSection li a.current {
            background: #ed1a3b;
            color: #fff;
        }

.listItems, .listItemsExtra, .listItems_one {
    margin: auto;
    display: inline;
}

    .listItems ul {
        list-style: none;
    }

        .listItems ul li, .listItems_one ul li {
            margin: auto;
            float: left;
            width: 25%;
            margin-top: 25px;
            padding: 0 10px;
            box-sizing: border-box;
        }

            .listItems ul li div.boxcontainer, .listItemsExtra ul li div.boxcontainer, .listItems_one ul li div.boxcontainer , .listItems ul li div.boxcontainer_new{
                border: 1px solid #dcd6d6;
                text-align: center;
                cursor: pointer;
            }

                .listItems ul li div.boxcontainer .caption {
                    font-size: 11px;
                    color: #a4a3a4;
                    padding: 0 10px 10px;
                    min-height: 42px;
                    height:64px;overflow:hidden;
                }

            .listItems ul li.borderAll {
                border: 1px solid #dcd6d6;
            }
            /*.listItems ul li .Icon{margin:auto;width:100%;margin-top:30px;}*/
            .listItems ul li .thumbIcon {
                padding: 34px;
                padding-bottom: 0;
            }

            .listItems ul li .suggestIcon {
                padding: 34px 21px 0 21px;
            }

                .listItems ul li .thumbIcon img, .listItems ul li .suggestIcon img {
                    max-width: 100%;
                }

            .listItems ul li h4 {
                color: #a4a4a4;
                padding: 20px 10px 5px 10px;
                line-height: none;
                min-height: 30px;
            }

                .listItems ul li h4.suggestIcon, .listItems_one ul li h4.suggestIcon {
                    color: #a4a4a4;
                    padding: 8px 10px 112px 10px;
                    line-height: 24px;
                }

            .listItems ul li .Icon .iconSuggest {
                background: url(/SG50/images/Capsule/circle.png) no-repeat;
                margin-top: 61px;
            }

                .listItems ul li .Icon .iconSuggest a {
                    margin-top: 60px;
                    margin-bottom: 58px;
                    display: inline-block;
                }

            .listItems ul li .Icon h4 span {
                clear: both;
                display: block;
                @ padding-top: 8px;
            }


.votesblock {
    margin: auto;
    width: 100%;
    min-height: 40px;
    border-bottom: none;
    background: #dcd6d6; /*display:inline-table;*/
}

    .votesblock .votes {
        margin: auto;
        width: 50%;
        float: left;
        display: inline-block;
        background: #dcd6d6;
    }

        .votesblock .votes a {
            background: url(/SG50/images/Capsule/vote.png) no-repeat;
            width: 21px;
            height: 21px;
            display: inline-block;
            width: 29px;
            margin-top: 9px;
        }

        .votesblock .votes .votecount {
            margin: auto;
            width: auto;
            display: inline-block;
            margin-top: 13px;
            font-size: 12px;
            color: #ffffff;
        }

    .votesblock .grabItem {
        margin: auto;
        width: 50%;
        float: left;
        display: inline-block;
    }

        .votesblock .grabItem a {
            margin: auto;
            display: block;
            background: #c91530;
            text-align: center;
            line-height: 20px;
            color: #fff;
            text-decoration: none;
            padding: 14.8px 10px;
            font-size: 12px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

            .votesblock .grabItem a:hover {
                background: #222;
            }

.MarTop25 {
    margin-top: 15%!important;
    margin-bottom: 13%!important;
}

.loadMoreBox {
    margin: auto;
    width: 100%;
    display: block;
    float: left;
    margin: 25px 0px;
}

    /*.loadMoreBox .LoadMoreBtn {
        margin: auto;
        width: 130px;
        border: 1px solid #000;
        text-align: center;
        padding: 10px 20px;
        color: #fff;
        display: block;
        text-decoration: none;
        /*font-weight: bold;
        background: #ED1A3B;
    }*/


    .loadMoreBox .LoadMoreBtn {
        margin: auto;
        width: 130px;
        color: #fff;
        text-align: center;
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        background: #c91530;
        border: none;
    }



/* mobile filter */
.filterHolderNew {
    position: relative;
}

.mobileFilter {
    margin: auto;
    width: 100%;
    min-height: 50px;
    display: none;
}

    .mobileFilter a {
        text-decoration: none;
        color: #ed1a3b;
        height: 53px !important;
    }

.viewcategories {
    width: 48%;
    display: inline-block;
    height: 53px;
}

.viewcate {
    margin: auto;
    width: 100%;
    float: left;
    border: 3px solid #ed1a3b;
    box-sizing: border-box;
}

    .viewcate span {
        background: url(/SG50/images/Capsule/dropdown_arrow.png) no-repeat top 45% right 5%;
        padding: 10% 18% 10% 5%;
        display: block;
    }

.suggestfilter {
    width: 48%;
    display: inline-block;
    float: right;
    height: 53px;
}

.suggestcate {
    margin: auto;
    width: 100%;
    float: right;
    border: 3px solid #ed1a3b;
    box-sizing: border-box;
}

    .suggestcate span {
        background: url(/SG50/images/Capsule/dropdown_arrow.png) no-repeat top 45% right 5%;
        padding: 10% 18% 10% 5%;
        display: block;
    }

    .suggestcate .txt {
        background: url(/SG50/images/Capsule/suggest_item.png) no-repeat;
        display: inline-block;
        width: 80%;
        height: 100%;
    }

    .suggestcate .arrow {
        background: url(/SG50/images/Capsule/dropdown_arrow.png) no-repeat;
        display: inline-block;
        width: 20%;
        height: 100%;
    }

.activeCate {
    background-image: url(/SG50/images/Capsule/grungebg_filters.png);
    background-color: #ed1a3b;
}

    .activeCate span {
        background-image: url(/SG50/images/Capsule/dropdown_arrow_active.png);
        border: 1px solid #ed1a3b;
    }

.filterSection {
    box-sizing: border-box;
}

.active2 {
    display: none;
}

.activeCate .nonactive {
    display: none;
}

.activeCate .active2 {
    display: block;
}



/* suggest an item popup */

.suggestAnItem {
    margin: auto; /*width:100%*/
    left: 0px;
    right: 0px;
    background: #fff;
    position: absolute;
    min-height: 500px;
    top: 0;
    opacity: 0;
    display: none;
}

.suggest-wrapper {
    margin: 0 auto;
    color: #5e5e5e;
    max-width: 620px; /* width: 100%;background:#f2f2f2;*/
    min-height: 400px;
    color: #a4a3a4;
}

    .suggest-wrapper h2 {
        text-align: center;
        padding: 59px 0px 20px 0px;
    }

.formBlock {
    margin: auto;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 50px;
    display: inline-block;
}

    .formBlock .formLeft {
        float: left;
        width: 47%;
        text-align: left;
    }

        .formBlock .formLeft h3 {
            font-weight: bold;
            margin-bottom: 21px;
        }

        .formBlock .formLeft ul , .formBlock .formLeft ol{
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

            .formBlock .formLeft ul li , .formBlock .formLeft ol li{
                padding-bottom: 11px;
                font-size: 16px;
                color: #a4a3a4;
                line-height: normal;
            }
            .formBlock .formLeft ol
            {
                list-style-type:decimal;
                list-style-position: outside;
                margin-left: 24px;
            }

#HideSuggestOnMobile, #HideSuggestOnMobileExtra {
    display: block;
}







.formBlock .formRight {
    /*float: right;*/
    width: 48.5%;
    margin: 0 auto;
}

    .formBlock .formRight form {
        margin: 0 auto;
    }

        .formBlock .formRight form .formItem {
            width: 100%;
            position: relative;
            margin-bottom: 10px;
        }

            .formBlock .formRight form .formItem input {
                border: 1px solid #c0c0c0;
                width: 93.8%;
                padding: 7px;
                min-height: 22px;
                font-style: italic;
                font-size: 16px;
                color: #a4a3a4;
            }

                .formBlock .formRight form .formItem input.error {
                    border: 2px solid #ff0000;
                }

            .formBlock .formRight form .formItem .errortxt {
                color: #ff0000;
                font-size: 12px;
                font-style: italic;
                margin-bottom: 4px;
                display: block;
                font-weight: 600;
                display: none;
                padding-left: 10px;
            }

            .formBlock .formRight form .formItem strong {
                font-weight: 600;
                margin-top: 25px;
                display: block;
                font-size: 16px;
                color: #a4a3a4;
                margin-bottom: 15px;
                text-align: left;
            }

            .formBlock .formRight form .formItem textarea {
                border: 1px solid #c0c0c0;
                width: 93.8%;
                padding: 7px;
                min-height: 20px;
                font-style: italic;
                font-size: 16px;
                color: #a4a3a4;
                resize: none;
                min-height: 144px;
                margin-bottom: 5px;
                font-family: Helvetica,sans-serif;
            }

            .formBlock .formRight form .formItem .char {
                padding: 5px 5px 0px 10px;
                display: block;
                font-size: 12px;
                font-style: italic;
                text-align: left;
            }

            .formBlock .formRight form .formItem .submitBtn {
                margin: auto;
                background: #ed1a3b;
                width: auto;
                padding: 8px 30px 8px 26px;
                color: #fff;
                border: none;
                float: right;
                cursor: pointer;
                margin-right: 3px;
                margin-top: 6px;
                font-size: 18px;
            }

                .formBlock .formRight form .formItem .submitBtn:hover {
                    background: #000;
                }

.clostBtn {
    margin: auto;
    top: 26px;
    right: 31px;
    position: absolute;
    cursor: pointer;
}


/* Thank you suggest */
.thankyouHolder {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 155px;
}

    .thankyouHolder p {
        padding-top: 53px;
        line-height: 25px;
        font-size: 20px;
        color: #a4a3a4;
    }

.sharecapsule {
    margin: auto;
    width: 100%;
    display: inline-block;
    padding-bottom: 70px;
}

    .sharecapsule .sharecapsuletitle {
        padding-top: 105px;
        color: #ed1a3b;
        font-size: 24px;
        font-weight: normal;
        font-style: italic;
    }

    .sharecapsule ul {
        margin: auto;
        display: block;
        width: 100%;
        max-width: 164px;
    }

        .sharecapsule ul li {
            margin: 21px 14px;
            float: left;
        }

/* vote for item */
#voteforitem h2 {
    margin: auto;
    padding-top: 44px;
    padding-bottom: 4px;
}

.ribbon {
    margin-bottom: 22px;
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
    display: block;
}

.ribbon .left {
    width: 21px;
    background: url(/SG50/images/Capsule/ribbon_left.png) no-repeat;
    height: 44px;
    position: absolute;
    left: -21px;
}

.ribbon .middle {
    background: #ed1a3b;
    min-height: 44px;
    padding: 0px 15px;
    display: inline-block;
    line-height: 44px;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    position: relative;
}

.ribbon .right {
    width: 21px;
    background: url(/SG50/images/Capsule/ribbon_right.png) no-repeat;
    height: 44px;
    position: absolute;
    right: -21px;
    top: 0;
}

#voteforitem .formBlock {
    margin-top: 20px;
    padding-bottom: 30px;
}

    #voteforitem .formBlock .formRight .formItem textarea {
        border: 1px solid #c0c0c0;
        color: #a4a3a4;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 5px;
        min-height: 113px;
        padding: 10px 0;
        resize: none;
        width: 98.5%;
    }

/* Thank you vote */
.thankyouHolder2 {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 63px;
}

    .thankyouHolder2 p {
        padding-top: 23px;
        line-height: 25px;
        font-size: 20px;
        color: #a4a3a4;
    }

    .thankyouHolder2 .clearfix {
        height: 9px;
        clear: both;
        display: block;
        float: none;
    }

    .thankyouHolder2 .ribbon {
        margin-bottom: 22px;
        text-align: center;
    }

        .thankyouHolder2 .ribbon .left {
            width: 21px;
            background: url(/SG50/images/Capsule/ribbon_left_vote_thankyou.png) no-repeat;
            height: 40px;
            position: absolute;
            left: -21px;
        }

         .thankyouHolder2 .ribbon .middle {
            background: url(/SG50/images/Capsule/ribbon_middle_vote_thankyou.png) repeat-x;
            min-height: 40px;
            padding: 0px 15px;
            display: inline-block;
            line-height: 40px;
            color: #fff;
            font-weight: bold;
            font-size: 23px;
            text-align: center;
            position: relative;
            min-width: 175px;
            font-style: none;
        }

        .thankyouHolder2 .ribbon .right {
            width: 21px;
            background: url(/SG50/images/Capsule/ribbon_right_vote_thankyou.png) no-repeat;
            height: 40px;
            position: absolute;
            right: -21px;
        }

    .thankyouHolder2 .sharecapsule {
        display: inline-block;
        margin: auto;
        padding-bottom: 0px;
        width: 100%;
    }

        .thankyouHolder2 .sharecapsule .sharecapsuletitle {
            color: #ed1a3b;
            font-size: 24px;
            font-style: italic;
            font-weight: normal;
            padding-top: 35px;
        }

.formItem input#btnSuggestNewItem {
    background: #ED1A3B url("/SG50/images/Capsule/submit_btn.png") no-repeat left bottom;
    min-width: 69px;
    height: 39px;
    color: transparent;
    width: 121px;
    padding: 0;
}

    .formItem input#btnSuggestNewItem:hover {
        background: url(/SG50/images/Capsule/submit_btn.png) no-repeat #000;
    }

#ShowSuggestAnItem { /*display:inline-block*/
}


.productactive {
   /* animation: suggestanimation ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards; 
    -webkit-animation: suggestanimation ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: suggestanimation ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards; 
    -o-animation: suggestanimation ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards; 
    -ms-animation: suggestanimation ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards; */
    display: block;
    z-index: 100;
    opacity:1;
}


@keyframes suggestanimation {
    0% {
        opacity: 0;
        transform: translate(0px,1500px);
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes suggestanimation {
    0% {
        opacity: 0;
        -moz-transform: translate(0px, 1500px);
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
        -moz-transform: translate(0px,0px);
    }
}

@-webkit-keyframes suggestanimation {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, 1500px);
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px,0px);
    }
}

@-o-keyframes suggestanimation {
    0%;

{
    opacity: 0;
    -o-transform: translate(0px, 1500px);
    animation-delay: 1.5s;
}

100% {
    opacity: 1;
    -o-transform: translate(0px, 0px);
}

}

@-ms-keyframes suggestanimation {
    0% {
        opacity: 0;
        -ms-transform: translate(0px, 1500px);
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0px, 0px);
    }
}




.thankyouactive {
    /*animation: Thankyouanimation ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards; 
    -webkit-animation: Thankyouanimation ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation: Thankyouanimation ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards; 
    -o-animation: Thankyouanimation ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards; 
    -ms-animation: Thankyouanimation ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards; */
    display: block;
    z-index: 100;
    opacity:1;
}

@keyframes Thankyouanimation {
    0% {
        opacity: 0;
        transform: translate(0px,0px);
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes Thankyouanimation {
    0% {
        opacity: 0;
        -moz-transform: translate(0px, 0px);
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
        -moz-transform: translate(0px,0px);
    }
}

@-webkit-keyframes Thankyouanimation {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, 0px);
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px,0px);
    }
}

@-o-keyframes Thankyouanimation {
    0%;

{
    opacity: 0;
    -o-transform: translate(0px, 0px);
    animation-delay: 1.5s;
}

100% {
    opacity: 1;
    -o-transform: translate(0px, 0px);
}

}

@-ms-keyframes Thankyouanimation {
    0% {
        opacity: 0;
        -ms-transform: translate(0px, 0px);
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0px, 0px);
    }
}




/* Form Error lables */

.error {
    color: #FF0000;
    padding-top: 5px;
    display: inline-block;
}

.formItem label.error {
    color: #ff0000;
    display: none;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 4px;
    padding-left: 10px;
}

.formBlock .formRight form .formItem textarea.error {
    border: 2px solid #ff0000;
}

.animation_image {
    display: block;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px !important;
    min-height: 52px;
    overflow: hidden;
    padding: 5px 0;
    width: 95px;
}

    .animation_image > img {
        margin-top: 35px;
    }

.overlaybg {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
/*18 August 2015 Praksh
.formItem a {  background: #ed1a3b; display: flex;float: right;height: 39px;line-height: 0;margin: 0;overflow: hidden; padding: 0;max-width: 120px;}
.formItem a:hover {background:#000;}*/

.formItem .submitBtn2 {
    cursor: pointer;
    background: #ed1a3b url("/SG50/images/Capsule/submit_btn.png") no-repeat;
    border: medium none !important;
    box-shadow: none;
    display: flex;
    float: right;
    height: 39px;
    line-height: 0;
    margin: 0;
    max-width: 120px;
    overflow: hidden;
    padding: 0 !important;
}

    .formItem .submitBtn2:hover {
        background: #000 url("/SG50/images/Capsule/submit_btn.png") no-repeat;
    }

.VoteForItem_popup h2 {
    padding-top: 46px;
    margin-bottom: 3px;
    padding-bottom: 0px;
}

.VoteForItem_popup .formBlock .formRight form .formItem textarea {
    min-height: 120px;
}

.VoteForItem_popup .formBlock {
    margin-top: 16px;
    margin: 0px;
    padding-bottom: 35px;
}

/*New CSS given by prakesh 24-082015*/

@keyframes suggestanimation {
    0% {
        opacity: 0;
        animation-delay: 1.5s;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes suggestanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes suggestanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes suggestanimation {
    0%;

{
    opacity: 0;
}

100% {
    opacity: 1;
}

}

@-ms-keyframes suggestanimation {
    0% {
        opacity: 0;
        s;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Thankyouanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes Thankyouanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes Thankyouanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes Thankyouanimation {
    0%;

{
    opacity: 0;
}

100% {
    opacity: 1;
}

}

@-ms-keyframes Thankyouanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.formBlock .formRight form .formItem input:focus {
    outline: none;
}

.formBlock .formRight form .formItem textarea:focus {
    outline: none;
}

.SelectedItemTxt {
    color: #555;
    font-weight: 500;
    line-height: 20px;
    margin: auto;
    padding-top: 15px;
    text-align: center;
    width: 41%;
    color: #a4a3a4;
}
.SelectedItemTxt_one
{
    width: 60%;
    padding: 0px 0;
    color: #a4a3a4;
    margin-top: -10px;
}

/* responsive styles for campaign */
@media only screen and (max-width:1000px) {
    .category_container { /*width:100%;*/
        padding: 0 20px;
        box-sizing: border-box;
    }

    #Li1 {
        display: none !important;
    }

    #load_more_button {
        display: none !important;
    }

    .listItems ul li h4.suggestIcon {
        padding-bottom: 35%;
    }

    .votesblock .votes a {
        width: 16px;
        height: 16px;
        background-size: contain;
        margin-right: 8px;
    }

    .votesblock .votes .votecount, .votesblock .grabItem a {
        font-size: 11px;
    }

    .suggest-wrapper h2 {
        text-align: center;
        padding: 55px 0% 4% 0%;
    }

    .category_container p {
        line-height: normal;
    }

    .formBlock {
        margin-top: 20px;
    }

        .formBlock .formRight {
            margin-top: 15px;
        }
}

@media only screen and (max-width:840px) {
    .listItems ul li {
        width: 50%;
        margin-top: 20px;
    }

        .listItems ul li h4.suggestIcon {
            padding-bottom: 16%;
        }

    .campaignDescLeft, .campaignDescRight, .campaignDescRight .shareTxt, {
        width: 100%;
        text-align: center;
    }

    .arrowDown {
        display: none;
    }

    .campaignDesc {
        margin-bottom: 44px;
    }

    .suggest-wrapper { /*width:90%;*/
        padding: 0px 60px 30px 60px;
    }

    .howitworks {
        margin-top: 0px;
    }

    .votesblock .votes .votecount, .votesblock .grabItem a {
        font-size: 13px;
    }

    .suggestAnItem {
        background: none;
    }

    .suggest-wrapper {
        background: #fff;
    }
}

@media only screen and (min-width:767px) {
    .filterSection li a:hover {
        background: #ed1a3b;
        color: #fff;
    }
}

@media only screen and (max-width:767px) {
    .campaignDescLeft {
        width: 90%;
        float: none;
        text-align: center;
    }

    .campaignDescRight {
        width: 90%;
        float: none;
        text-align: center;
    }

        .campaignDescRight .shareTxt {
            display: block;
        }

        .campaignDescRight ul.socioShare {
            display: block;
            width: 90px;
        }

    .facebookShare {
        margin: auto;
        background: url(/SG50/images/Capsule/facebook_mobile.png) no-repeat;
        display: block;
        width: 37px;
        height: 36px;
    }

    .twitterShare {
        margin: auto;
        background: url(/SG50/images/Capsule/twitter_mobile.png) no-repeat;
        display: block;
        width: 36px;
        height: 36px;
    }

    .campaignDesc {
        background: #ec1a3b;
        padding: 30px 0px;
    }

    .campaignDescRight .shareTxt h4 {
        margin-top: 20px;
    }
}


@media only screen and (max-width:640px) {
    .formBlock .formLeft {
        width: 100%;
        display: block;
    }

    .SelectedItemTxt {
        width: 50%;
    }


    .formBlock .formRight {
        width: 100%;
        display: block;
        float: left;
        margin-top: 26px;
    }

    .suggest-wrapper {
        border: 1px solid #ddd;
    }

    .clostBtn {
        right: 9%;
        top: 31px;
    }

    .suggest-wrapper h2 {
        padding-top: 80px;
    }

    #voteforitem h2 {
        padding-top: 80px;
    }

    #voteforitem .formBlock {
        padding-bottom: 10px;
    }

    .thankyouHolder2 {
        margin-top: 98px;
    }

        .thankyouHolder2 p {
            padding-top: 13px;
            width: 80%;
            margin: auto;
            line-height: 27px;
        }

        .thankyouHolder2 .sharecapsule .sharecapsuletitle {
            padding-top: 45px;
        }

    .thankyouHolder {
        margin-top: 95px;
    }

        .thankyouHolder .sharecapsule {
            padding-bottom: 0px;
        }

            .thankyouHolder .sharecapsule .sharecapsuletitle {
                padding-top: 35px;
            }

    .filterSection {
        position: absolute;
        background: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        width: 100%;
        margin-left: 0px;
        display: none;
    }

    .filterHolderNew h2 {
        display: none;
    }

    .mobileFilter {
        display: block;
    }

    #HideSuggestOnMobile {
        display: none;
    }

    .listItems {
        margin-left: -10px;
        margin-right: -10px;
    }

    .suggest-wrapper { /*width:93%;*/
        /*margin: 0px 20px;*/
    }

    .mobileFilter {
        min-height: 10px;
    }
}

@media only screen and (max-width:480px) {
    .listItems ul li {
        width: 100%;
        margin-top: 10px;
    }

    .SelectedItemTxt {
        width: 55%;
    }
    
    .listItems ul li div.boxcontainer .caption {height:auto!important;}

    .suggest-wrapper { /*width:89%;*/
        border: 1px solid #ddd;
        padding: 0px 20px 30px 20px;
    }

    .filterSection li a {
        font-size: 4vw;
        padding: 12px 16px;
    }

    .listItems ul li {
        padding: 0px;
    }

    .listItems {
        margin-left: 0px;
        margin-right: 0px;
    }

    .ShowOnDesktop {
        display: none;
    }

    .ShowOnMobile {
        display: block;
    }

    .ribbon .middle {
        font-size: 4vw;
    }
}
