/*** Overall MovingBoxes Slider ***/
.mb-wrapper {
	margin: 0 auto;
	position: relative;
	left: 0;
	top: 0;
	/*background:#efefef;*/
	
}
span.mb-links {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#slider { width:100%; padding:0 !important; background:none !important; }
#slider li { width: 277px; transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; }

#slider-two { width: 985px; transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease }
#slider-two > div { width: 217px; }

/* Panel Wrapper */
.mb-slider, .mb-scroll {
	width: 100%;
	height: 305px !important;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;
	transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease

	/***(>'-')> Control Panel Font size here <('-'<)***/
	font-size: 18px;
}

/* active slider border highlight */
.mb-active-slider {
	border-color: #333;
}

/*** Slider panel ***/
.mb-slider .mb-panel {   margin: 0;padding: 35px 13px 35px 0;      display: block;    cursor: pointer; float: left;list-style: none; }

/* Cursor to arrow over active panel, pointer for all others,
change .active class name using plugin option, activePanel : 'active' */
.mb-slider .mb-panel.active {
  cursor: auto;
  margin-top: -25px;
}

/*** Inside the panel ***/
/*.mb-inside {
	padding: 10px;
	border: 1px solid #999;
}*/

.mb-inside * {
	max-width: 100%;
}

/*** Left & Right Navigation Arrows ***/
a.mb-scrollButtons {
	display: none;
	width: 45px;
	height: 58px;
	background: transparent url('/SG50/images/Home Page/arrows.png') no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -29px; /* if you change the arrow images, you may have to adjust this (1/2 height of arrow image) */
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	border: 0;
}
a.mb-scrollButtons.mb-left {
	background-position: left top;
	left: -45px;
}
a.mb-scrollButtons.mb-right {
	background-position: right top;
	right: -45px;
}
a.mb-scrollButtons.mb-left:hover {
	background-position: left bottom;
}
a.mb-scrollButtons.mb-right:hover {
	background-position: right bottom;
}
a.mb-scrollButtons.disabled {
	display: none;
}

/*** Controls added below the panels ***/
.mb-controls {   margin:0px;text-align: center;background:url('/SG50/images/Home Page/line.jpg') repeat-x 0px 9px;position: relative;z-index: 100;}
.mb-controls a {  border: 3px solid #3a3b3f;  border-radius: 13px;  -webkit-border-radius: 13px;  -moz-border-radius: 13px;  background: #fff;  display: inline-block;  height: 8px;  margin: 2px 100px 0 0;  width: 8px;  color:#fff;  line-height:10px;  text-indent:-9999px;}
.mb-controls a:last-child{
	margin-right:-3px;
}
.mb-controls a:hover {
	/*color: black;*/
}
.mb-controls a.active {  background:url('/SG50/images/Home Page/cal-active.png') no-repeat;  width:29px;  height:29px;  border:0;  position:relative;  top:-10px;  left:-2px;}
.mb-active-slider .mb-controls {
	/*background: #333;*/
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
.mb-controls a.active {
  line-height: 9px;
}

/* Safari only override */
::i-block-chrome,.mb-controls a.active {
  line-height: 8px;
}
}