﻿@charset "utf-8";

.mod-header .responsiveMenu, .bx-controls-direction
{
    display: none;
}

@media only screen and (max-width:1279px)
{
    /*.footer .footer_nav{  float:none;   margin:0 auto;   max-width:780px;   padding-top:20px}*/
    #cpDesktop
    {
        display: block;
        margin-right: 0;
        text-align: center;
        width: 100%;
        padding-top: 30px;
        padding-right: 0;
    }

    .footer
    {
        height: auto;
        float: left;
    }
    /*.mod-footer  .footer_nav a span{font-size:0.8em; line-height:16px; margin:0 10px}
.section .txt-pan{  padding:43px 143px 40px}*/
    .mod-header .menu_nav div
    {
        padding: 16px 13px 13px;
        margin-left: 5px;
        top: -11px;
    }

    .featured-pan .ft-news p
    {
        min-height: 110px;
    }

    .bx-wrapper ul li img
    {
        margin-left: 0;
    }

    .fix-arws
    {
        display: none;
    }

    .menu_nav a span
    {
        /*font-size: 14px;*/
        font-size: 16px;
    }
    /*.footer.mod-footer{  height:90px}*/
}

@media only screen and (max-width:1023px)
{
    .news-right .feeds.tweet
    {
        max-width: calc(100% - 112px);
        box-sizing: border-box;
    }

    .news-right .feeds
    {
        width: 100%;
    }

    .mod-header .SG50Logo
    {
        margin-left: 3px;
        top: -11px;
    }

    .social_nav
    {
        right: 10px;
    }

    .menu_nav
    {
        width: 88%;
    }

        .menu_nav a span
        {
            font-size: 12px;
        }

    .mod-header .menu_nav div
    {
        padding: 16px 6px 14px;
        margin-left: 0;
    }

    .pad
    {
        padding: 3% 6% 1%;
    }

    .featured-pan .ft-news
    {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .featured-pan .img-pan
    {
        background-position: center 0;
        height: 226px;
        max-width: 310px;
        float: left;
    }

    .featured-pan .ft-news p
    {
        min-height: 196px;
        width: 49.6%;
        float: left;
        font-size: 24px;
        line-height: 26px;
    }

    .mod-header .menu_nav div.SG50, .mod-header .menu_nav div.SG50Logo
    {
        margin-left: 10px;
        padding-left: 0px;
    }

    .social_nav div
    {
        padding: 15px 6px 0;
    }

    .event-pan
    {
        margin: 0 3% 25px 0;
        max-width: 100%;
    }

    #slider li
    {
        float: left;
        margin-right: 2%;
        max-width: 100%;
        width: 49% !important;
    }

        #slider li:nth-child(2n)
        {
            margin-right: 0;
        }

    .event-in
    {
        padding: 25px;
    }

        .event-in span, .event-in em
        {
            font-size: 20px;
            line-height: 22px;
        }

        .event-in span
        {
            padding: 5px 8px 4px;
        }

        .event-in p
        {
            font-size: 25px;
            line-height: 27px;
            height: auto;
        }
    /*.bx-wrapper ul li img{  margin-left:-20%}*/
    /*.footer.mod-footer{  height:110px}
.mod-footer .footer_nav a span{ font-size:12px;   line-height:16px; margin:0 14px}*/
    #slider
    {
        height: auto !important;
    }

    .event-in:hover
    {
        background: #ec1a3b;
        color: #fff;
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

        .event-in:hover span
        {
            background: #fff;
            color: #e7000c;
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
        }

    .news-left
    {
        max-width: 339px;
    }

    news-logo-left
    {
        padding: 5px 9px;
        width: 95px;
    }

    .news-logo-right
    {
        font-size: 11px;
        line-height: 16px;
        max-width: calc(100% - 116px);
        padding: 9px 14px 8px;
        box-sizing: border-box;
        min-height: 93px;
        width: 100%;
    }

    .news-right .tweet .feeds-mid p
    {
        font-size: 11px;
        line-height: 11px;
        height: 35px;
    }

    .news-logo-right ul
    {
        padding: 6px 0 0;
    }

    .news-logo-right li
    {
        padding: 0 10px;
    }

    .news-right
    {
        max-width: calc(100% - 324px); /*width: 100%; width: -webkit-calc(100% - 337px);  width: -moz-calc(100% - 337px);  width: calc(100% - 337px);*/
    }

        .news-right .insta
        {
            max-width: 112px;
        }

            .news-right .insta li
            {
                width: 112px;
                height: auto;
            }

        .news-right .feed-pan
        {
            max-width: calc(100% - 113px);
            box-sizing: border-box;
            min-height: 112px;
        }

        .news-right .feeds-mid p
        {
            line-height: 11px;
            font-size: 11px;
            overflow: hidden;
            height: 34px;
        }

        .news-right .feeds-mid
        {
            padding-bottom: 0px;
        }

        .news-right .feeds-top
        {
            padding-bottom: 5px;
        }

        .news-right .feeds-bottom p
        {
            width: 50%;
        }

        .news-right .feeds
        {
            box-sizing: border-box;
            padding: 11px 7px 0;
        }

        .news-right .fb-img
        {
            padding-bottom: 2px;
        }

    .feeds .feeds-bottom ul li img
    {
        width: 75%;
    }

    .tweet .feeds-bottom ul li img
    {
        width: auto;
    }

    .fb-img img
    {
        height: 100px;
    }

    .news-right .tweet
    {
        height: 112px;
        padding: 10px 4px 10px;
        box-sizing: border-box;
    }

    .insta img
    {
        height: auto;
    }

    .socail-feed li:first-child
    {
        width: 49.7%;
    }

    .socail-feed li
    {
        width: 24.8%;
    }

        .socail-feed li img, .socail-feed li:first-child img
        {
            width: 100%;
        }

    .news-left .youtube iframe
    {
        height: 205px;
    }

    .news-right .fb-img img
    {
        height: 110px;
    }

    .insta span img
    {
        height: auto;
    }

    .news-left .news-right
    {
        width: 100%;
    }

    .instagram04, .instagram05
    {
        width: 111px;
        height: auto;
        line-height: 0;
        margin-top: 2px;
    }

    .instagram01
    {
        width: 112px;
        height: auto;
        line-height: 0;
    }

    .news-logo-left > img
    {
        width: 80%;
    }
}

@media only screen and (min-width:769px)
{
    .rew .menu
    {
        display: block !important;
    }
}

@media only screen and (max-width:768px)
{
    .news-right .tweet
    {
        min-height: 100px !important;
    }

    .news-right .feeds
    { /*min-height:207px;*/
        box-sizing: border-box;
    }

    .insta img
    {
        height: auto;
        width: 148px !important;
    }

    .news-logo-left
    {
        width: 114px !important;
        box-sizing: border-box;
    }

    .news-right .insta
    {
        width: 148px;
    }


    .mod-header .responsiveMenu
    {
        display: block;
    }

    .mod-header .mob-nav
    {
        margin: 14px 0 0 23px;
        font-size: 24px;
    }

    .mod-header .menuBtn
    {
        height: 63px;
    }

    .mob-nav > img
    {
        vertical-align: middle;
        margin-right: 17px;
    }

    .mod-header .menu_nav div.SG50, .mod-header .menu_nav div.SG50Logo
    {
        margin-left: 0;
    }
    /*.footer.mod-footer{  height:240px}*/
    .event-pan
    {
        margin: 0 3% 18px 0;
    }
    /*.mod-footer .footer_nav a span{ font-size:24px}*/
    .section .txt-pan
    {
        padding: 43px 95px 40px;
    }

    .instagram04, .instagram05
    {
        width: 110px;
    }
}

@media only screen and (max-width:767px)
{
    .news-right .tweet .feeds-mid p
    {
        font-size: 12px;
        line-height: 13px;
    }

    .container#homePage .m-nav-icon
    {
        font-size: 24px;
    }

    .bx-wrapper .bx-controls-direction a
    {
        top: 106px !important;
    }

    .bx-wrapper ul li img
    {
        width: 100%;
    }

    .mod-header .SG50Logo
    {
        top: -6px;
    }

    .menu, .social_nav, .menu_nav .SG50Logo
    {
        display: none;
    }

    .mod-header .responsiveMenu, .bx-controls-direction
    {
        display: block;
    }

    .menuBtn
    {
        background-color: #353334;
        height: 60px;
        width: 100%;
    }
    /*.mod-header .responsiveMenu a{color:#fff; cursor:pointer; float:left; font-size:24px; margin-left:10px; margin-top:16px; text-decoration:none}
.youtubeMobile{float:right; margin-left:5px; margin-right:3%}
.twitterMobile{float:right; margin-left:5px}
.facebookMobile{float:right; margin-left:8%}*/
    #nav
    {
        background-color: #353334;
        float: left;
        height: auto;
        margin: 0;
        min-height: 100px;
        position: absolute;
        width: 100%;
        z-index: 99999;
    }

        #nav div
        {
            border-top: 1px solid #f5f5f5;
            float: left;
            padding: 0;
            width: 100%;
        }

            #nav div a
            {
                display: block;
                padding: 10px;
            }

    .menu_nav a span
    {
        font-size: 16px;
    }

    div#nav div div.mediumMenu
    {
        border-radius: 0;
        float: left;
        height: auto;
        margin-top: 0;
        position: relative;
        width: 100%;
        text-align: left;
    }

    div#nav div div a span
    {
        padding-left: 10px;
        padding-right: 10px;
    }

    div#nav div div.mediumMenu .innerMenuBg
    {
        margin-left: 0;
    }

    .pad
    {
        padding: 45px 45px 20px;
    }

    .section .txt-pan
    {
        padding: 50px 43px 45px;
    }
        /*.footer_nav #divider{  display:none}
.mod-footer{height:auto !important}
.footer{  height:auto;   float:left;   background:#353333 url(../images/ft-shadow.jpg) repeat-x top}
.footer .footer_nav{padding-top:30px}
.footer_nav a{display:block; width:97%; text-align:center; padding:10px 0; font-size:24px}
.footer p{margin-bottom:40px}*/
        .section .txt-pan p
        {
            font-size: 24px;
            line-height: 26px;
        }

        .section .txt-pan .readmore
        {
            font-size: 27px;
            padding: 25px;
        }

    .featured-pan .ft-news p
    {
        font-size: 24px;
        line-height: 26px;
    }

    .pad h3
    {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 32px;
    }

    #banner .bx-wrapper .bx-pager
    {
        display: none;
    }

    #cpDesktop
    {
        font-size: 18px;
        line-height: 22px;
        padding-top: 25px;
    }
        /*.footer_nav a span{font-size:24px; line-height:26px}*/
        #cpDesktop span
        {
            display: block;
        }

    .featured-pan .img-pan
    {
        max-width: 224px;
    }

    .menuBtn
    {
        height: 60px;
    }

    .SG50Logo
    {
        margin-left: 29px;
    }

    .mob-nav
    {
        margin: 0 !important;
        padding: 14px 0 12px 23px;
    }

        .mob-nav img
        {
            vertical-align: middle;
            margin-right: 17px;
        }
    /*.youtubeMobile{margin:0px 39px 0 0}
.twitterMobile{margin:0px 10px 0 0}
.facebookMobile{margin:0px 10px 0 0}*/
    .event-pan
    {
        margin: 0 0 13px;
        max-width: 100%;
    }

    .event-pan
    {
        margin: 0 3% 25px 0; /*max-width:48.5%*/
    }

        .event-pan:nth-child(2n)
        {
            margin-right: 0;
        }

    .event-in
    {
        padding: 25px;
    }

        .event-in span, .event-in em
        {
            font-size: 20px;
            line-height: 22px;
        }

        .event-in span
        {
            padding: 5px 8px 4px;
        }

        .event-in p
        {
            font-size: 25px;
            line-height: 27px;
        }
    /*.mod-footer .footer_nav a span{font-size:24px; line-height:26px}*/
    .event-pan
    {
        margin: 0 3% 18px 0;
    }

    div#nav div div.mediumMenu
    {
        top: 0px;
    }

    .bx-wrapper, .bx-wrapper ul li
    {
        min-height: 570px;
    }

    #slider
    {
        height: auto !important;
    }

    .news-left, .news-left .youtube, .news-right
    {
        max-width: 100%;
        border: 0;
    }

    .news-logo-left
    {
        padding: 9px 10px;
        width: 29%;
        background: #efefef;
    }

    .news-left
    {
        width: 100%;
    }

    .news-logo-right
    {
        max-width: calc(100% - 149px);
        box-sizing: border-box;
        padding: 26px 25px;
        font-size: 16px;
        line-height: 24px;
        display: table;
    }

    .news-right .insta
    {
        max-width: 162px;
    }

    .news-right .feed-pan
    {
        max-width: calc(100% - 162px);
        box-sizing: border-box;
        min-height: 148px;
    }

    .news-right .feeds-mid p
    {
        font-size: 12px;
        height: 57px;
    }

    .news-right .insta li
    {
        width: 100%;
        height: auto;
    }

    .news-logo-right ul
    {
        padding: 12px 0 0;
    }

    .news-right .feeds-top img
    {
        width: 35px;
    }

    .youtube img, .insta img, .news-right; .news-right .fb-img
    {
        padding: 0 15px 7px;
    }

    .fb-img img
    {
        width: auto;
    }

    .news-right .feeds
    {
        width: 100%;
    }

    .news-left .youtube iframe
    {
        height: 360px;
    }

    .ds-play
    {
        display: none;
    }

    .news-logo-left
    {
        width: 149px !important;
    }

    .news-right .tweet
    {
        min-height: 162px !important;
    }

    .news-right .fb-img img
    {
        height: 149px;
    }

    .instagram01
    {
        width: 162px;
    }

    .news-right .tweet
    {
        max-width: calc(100% - 162px);
        box-sizing: border-box;
    }

    .news-left .news-right
    {
        max-width: 100%;
        width: 100%;
    }

    .news-right .feeds.tweet
    {
        max-width: calc(100% - 162px);
    }

    .instagram04, .instagram05
    {
        width: 148px;
    }

    .news-logo-left > img
    {
        width: 100%;
    }
}

@media only screen and (max-width:640px)
{
    .container#homePage .footer
    {
        height: 260px !important;
    }

    .bx-wrapper, .bx-wrapper ul li
    {
        min-height: 460px;
    }
        /*.bx-wrapper
{
margin:0 auto !important;
}*/

        .bx-wrapper .bx-controls-direction a
        {
            top: 23% !important;
        }

    .event-pan
    {
        margin: 0 0 25px;
        max-width: 100%;
    }

    .event-in
    {
        padding: 25px;
    }

        .event-in span, .event-in em
        {
            font-size: 26px;
            line-height: 28px;
        }

        .event-in span
        {
            padding: 5px 8px 4px;
        }

        .event-in p
        {
            font-size: 30px;
            line-height: 32px;
        }

    .section .txt-pan h1
    {
        font-size: 30px;
        line-height: 32px;
    }

    .section .txt-pan p
    {
        font-size: 22px;
        line-height: 24px;
    }

    .section .txt-pan .readmore
    {
        font-size: 20px;
        padding: 15px 20px;
    }

    #slider li
    {
        width: 100% !important;
        margin: 0;
    }

    .news-left, .news-left .youtube, .news-right
    {
        max-width: 100%;
        border: 0;
    }

    .news-logo-left
    {
        padding: 9px 10px;
        width: 123px !important;
    }

    .news-logo-right
    {
        max-width: calc(100% - 123px);
        box-sizing: border-box;
        padding: 15px 25px;
        font-size: 18px;
        line-height: 22px;
    }

    .news-right .insta
    {
        max-width: 35%;
    }

    .news-right .feed-pan
    {
        max-width: calc(100% -148px);
    }

    .news-right .feeds-mid p
    {
        font-size: 12px;
        height: 57px;
    }

    .news-right .insta li
    {
        width: 100%;
        height: auto;
    }

    .news-logo-right ul
    {
        padding: 12px 0 0;
    }

    .news-right .feeds-top img
    {
        width: 35px;
    }

    .news-left .youtube iframe
    {
        height: 305px;
    }
}

@media only screen and (max-width:639px)
{
    .featured-pan .ft-news p
    {
        max-width: 46%;
    }

    .news-right .insta
    {
        max-width: 33%;
    }

    .news-right .feed-pan
    {
        max-width: 100%;
    }

    .news-right .feeds-mid p
    {
        font-size: 12px;
        height: 45px;
    }

    .instagram01, .instagram04, .instagram05
    {
        height: auto;
        width: 100%;
    }

    .news-right .tweet
    {
        max-width: 100% !important;
    }

    .news-left, .news-right
    {
        width: 100% !important;
    }

    .insta img
    {
        height: auto !important;
        width: auto !important;
    }

    .news-right .insta
    {
        max-width: 100%;
        width: 100% !important;
    }

    .news-right
    {
        max-width: 100% !important;
    }

    .insta img, .instagram01 img, .instagram04 img, .instagram05 img
    {
        width: 100% !important;
        height: 100% !important;
    }
}

@media only screen and (max-width:600px)
{
    .section .txt-pan
    {
        padding: 30px 15px 45px;
    }

        .section .txt-pan h1
        {
            font-size: 24px;
            line-height: 26px;
        }

        .section .txt-pan p
        {
            font-size: 20px;
            line-height: 22px;
        }

        .section .txt-pan .readmore
        {
            font-size: 20px;
            padding: 15px 20px;
        }

    .featured-pan .ft-news p, .event-in p, .event-in span
    {
        font-size: 18px;
        line-height: 21px;
    }

        .featured-pan .ft-news p em, .event-in em
        {
            font-size: 13px;
            padding-bottom: 5px;
        }
    /*.mod-footer .footer_nav a span { font-size: 20px; line-height: 22px;}*/
    .bx-wrapper .bx-controls-direction a
    {
        top: 25% !important;
    }
}

@media only screen and (max-width:560px)
{
    .container#homePage .m-nav-icon
    {
        font-size: 24px;
    }

    .bx-wrapper .bx-controls-direction a
    {
        top: 20% !important;
    }

    .featured-pan, .featured-pan
    {
        text-align: center;
    }

        .featured-pan .ft-news p
        {
            max-width: 100%;
            width: 93%;
        }

        .featured-pan .img-pan
        {
            max-width: 100%;
            overflow: hidden;
            height: auto;
        }

            .featured-pan .img-pan img
            {
                height: auto;
            }

    .pad h3
    {
        text-align: left;
    }

    .featured-pan .ft-news
    {
        float: none;
        margin: 0 auto 15px;
        max-width: 100%;
        display: inline-block;
    }

        .featured-pan .ft-news p
        {
            min-height: 110px;
            text-align: left;
        }

    .section .txt-pan h1
    {
        font-size: 24px;
        line-height: 26px;
    }

    .section .txt-pan p
    {
        font-size: 20px;
        line-height: 22px;
    }

    .section .txt-pan .readmore
    {
        font-size: 20px;
        padding: 15px 20px;
    }

    .pad h3
    {
        font-size: 24px;
        line-height: 26px;
    }

    .event-pan .event-in
    {
        text-align: left;
    }

    .news-left, .news-left .youtube, .news-right
    {
        max-width: 100%;
    }

    .news-logo-left
    {
        padding: 9px;
        max-width: 141px;
        box-sizing: border-box;
    }

    .news-logo-right
    {
        padding: 25px 18px;
        font-size: 14px;
        line-height: 20px;
    }

    .news-right .insta
    {
        max-width: 100%;
        width: 100% !important;
        clear: both;
    }

    .news-right .feed-pan
    {
        max-width: 100%;
    }

    .news-right .insta li
    {
        width: 100%;
        height: auto;
    }

    .news-right .feeds-mid p
    {
        font-size: 11px;
        height: 35px;
    }

    .news-right .feeds
    {
        min-height: 128px !important;
        box-sizing: border-box;
    }

    .news-left .youtube iframe
    {
        height: 245px;
    }
}

@media only screen and (max-width:480px)
{
    .news-logo-right img
    {
        width: 70%;
    }

    .news-logo-left
    {
        max-width: 89px;
        height: auto;
        padding: 9px !important;
    }
    /*.container#homePage .m-nav-icon{font-size:14px}*/
    .facebookMobile
    {
        float: right;
        margin-left: 0% !important;
    }

    .bx-wrapper .bx-controls-direction a
    {
        top: 21% !important;
    }

    .featured-pan .ft-news p
    {
        max-width: 100%;
        width: 88%;
    }

    .menuBtn
    {
        /*height: 78px;*/
        height: 60px;
    }

    .SG50Logo
    {
        margin-left: 19px;
    }

        .SG50Logo img
        {
            width: 59px;
        }

    .mob-nav
    {
        padding: 16px 0 16px 17px;
    }

        .mob-nav img
        {
            margin-right: 10px;
            width: 30px;
        }
    /*.youtubeMobile{margin:2px 30px 0 0}
.youtubeMobile img, .twitterMobile img{height:21px}
.twitterMobile{margin:2px 6px 0 0}
.facebookMobile{margin:2px 6px 0 0}
.facebookMobile img{height:24px}*/
    #banner
    {
        margin-top: -2px;
    }

    .event-pan
    {
        margin: 0 0 15px;
    }

    .section .txt-pan h1
    {
        font-size: 18px;
        line-height: 20px;
    }

    .section .txt-pan p
    {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 20px;
    }

    .section .txt-pan .readmore
    {
        font-size: 20px;
        padding: 15px 20px;
    }

    .pad h3
    {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .featured-pan .ft-news p, .event-in p, .event-in span
    {
        font-size: 16px;
        line-height: 19px;
    }

        .featured-pan .ft-news p em, .event-in em
        {
            font-size: 13px;
            padding-bottom: 5px;
        }

    .mod-footer .footer_nav a span
    {
        font-size: 20px;
        line-height: 22px;
    }

    .news-left, .news-right, .news-right .feed-pan
    {
        max-width: 100%;
        border: 0;
    }

    .news-logo-right
    {
        max-width: calc(100% - 89px);
        box-sizing: border-box;
        padding: 12px 18px;
        font-size: 12px;
    }

    .news-right .feeds
    {
        padding-bottom: 5px;
    }

    .news-right .tweet
    {
        padding: 15px 6px 10px;
        width: 100% !important;
        box-sizing: border-box;
    }

    .news-logo-left
    {
        width: 100%;
        border-right: 0;
        text-align: center;
        padding: 9px 0;
    }

    .news-logo-right li
    {
        padding: 0 2px;
    }

    .news-right .insta li
    {
        width: 100%;
        height: auto;
    }

    .news-right .insta
    {
        border: 0 none;
        max-width: 100%;
        text-align: center;
        width: 100% !important;
    }

    .news-right .feeds
    {
        width: 97%;
    }

    .news-right .insta li img
    {
        width: 100% !important;
        height: 100%;
    }

    .news-left .youtube iframe
    {
        height: 215px;
    }
}

@media only screen and (max-width:380px)
{
    .section .txt-pan h1
    {
        font-size: 18px;
        line-height: 20px;
    }

    .section .txt-pan p
    {
        font-size: 16px;
        line-height: 18px;
    }

    .bx-wrapper, .bx-wrapper ul li
    {
        min-height: 460px;
    }

    .section .txt-pan
    {
        padding: 20px 15px 45px;
    }

        .section .txt-pan .readmore
        {
            font-size: 20px;
            padding: 22px;
        }

    .bx-wrapper .bx-controls-direction a
    {
        top: 15% !important;
    }

    .menuBtn
    {
        height: 60px;
    }

    .SG50Logo
    {
        margin-left: 5px;
    }

        .SG50Logo img
        {
            width: 38px;
        }

    .mob-nav
    {
        padding: 24px 0 20px 17px;
        font-size: 14px !important;
    }

        .mob-nav img
        {
            margin-right: 6px;
            width: 20px;
        }
    /*.youtubeMobile{margin:3px 20px 0 0}
.youtubeMobile img, .twitterMobile img{height:14px}
.twitterMobile{margin:3px 6px 0 0}
.facebookMobile{margin:3px 6px 0 0}
.facebookMobile img{height:16px}*/
    .featured-pan .img-pan img
    {
        height: auto;
    }

    .pad
    {
        padding: 45px 30px 20px;
    }

    .event-in span
    {
        font-size: 12px;
        line-height: 14px;
    }

    .event-in em
    {
        font-size: 14px;
        line-height: 16px;
    }

    .event-in p
    {
        font-size: 16px;
        line-height: 18px;
    }

    .section .txt-pan .readmore
    {
        font-size: 16px;
        padding: 10px 20px;
    }

    .pad h3
    {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .featured-pan .ft-news p
    {
        font-size: 18px;
        line-height: 22px;
    }

        .featured-pan .ft-news p em
        {
            font-size: 12px;
            padding-bottom: 0;
        }

    .mod-footer .footer_nav a span
    {
        font-size: 17px;
        line-height: 18px;
    }
    /*.footer p { padding: 0 15px;  width: 90% !important;}*/
    .news-right .feeds
    {
        width: 96%;
    }

    .news-left .youtube iframe
    {
        height: 180px;
    }

    .news-right .tweet .feeds-mid p
    {
        height: 45px;
    }
}

@media only screen and (max-width:320px)
{
    .bx-wrapper .bx-controls-direction a
    {
        top: 20% !important;
    }

    .bx-wrapper, .bx-wrapper ul li
    {
        min-height: 360px;
    }

    .section .txt-pan h1
    {
        font-size: 16px;
        line-height: 18px;
    }

    .section .txt-pan p
    {
        font-size: 14px;
        line-height: 16px;
    }

    .news-right .feeds
    {
        width: 95.4%;
    }

    .news-left .youtube iframe
    {
        height: 150px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 360px) and (-webkit-device-pixel-ratio: 2)
{
    .section .txt-pan h1
    {
        font-size: 10px;
        line-height: 12px;
    }

    .section .txt-pan p
    {
        font-size: 8px;
        line-height: 10px;
        padding-bottom: 10px;
    }
}
