/** References from  https://www.singapore50.sg/SG50/include/css/skin.css **/
body
{
    font-family: helvetica, gotham book, Arial;
}

p
{
    font-family: helvetica;
    font-size: 16px;
}

.sg50grc-image
{
    display: block;
    border: none;
}

.sg50grc-responsive-image
{
    width: 100%;
    display: block;
    border: none;
}

.sg50grc-clear
{
    clear: both;
}

#sg50grc-main
{
    margin-top: 0px;
    padding-top: 10px;
}

.sg50grc-container
{
    max-width: 1170px;
    margin: 0 auto;
}

.sg50grc-wrapper
{
    position: relative;
}

.sg50grc-map
{
    background: url(/SG50/images/Sg50GRC/top/map-color.png) no-repeat top right;
    width: 100%;
    height: 710px;
}

.sg50grc-map > .sg50grc-marker
{
    position: relative;
}

.sg50grc-map > .sg50grc-marker > img
{
    position: absolute;
    right: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition
{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.sg50grc-map > .sg50grc-marker > .flag-0
{
    width: 100px;
    right: 385px;
    top: 115px;
}

.sg50grc-map > .sg50grc-marker > .flag-1
{
    width: 50px;
    right: 653px;
    top: 170px;
}

.sg50grc-map > .sg50grc-marker > .flag-2
{
    width: 80px;
    right: 470px;
    top: 365px;
}

.sg50grc-map > .sg50grc-marker > .flag-3
{
    width: 70px;
    right: 200px;
    top: 160px;
}

.sg50grc-map > .sg50grc-marker > .flag-4
{
    width: 60px;
    right: 735px;
    top: 170px;
}

.sg50grc-map > .sg50grc-marker > .flag-5
{
    width: 50px;
    right: 290px;
    top: 40px;
}

.sg50grc-map > .sg50grc-marker > .flag-6
{
    width: 65px;
    right: 325px;
    top: 350px;
}

.sg50grc-map > .sg50grc-marker > .flag-7
{
    width: 60px;
    right: 650px;
    top: 470px;
}

.sg50grc-map > .sg50grc-marker > .flag-8
{
    width: 70px;
    right: 345px;
    top: 205px;
}

.sg50grc-map > .sg50grc-marker > .flag-9
{
    width: 65px;
    right: 725px;
    top: 425px;
}

.sg50grc-map > .sg50grc-marker > .flag-10
{
    width: 95px;
    right: 711px;
    top: 320px;
}

.sg50grc-map > .sg50grc-marker > .flag-11
{
    width: 65px;
    right: 112px;
    top: 70px;
}

.sg50grc-map > .sg50grc-marker > .flag-12
{
    width: 100px;
    right: 820px;
    top: 310px;
}

.sg50grc-map > .sg50grc-marker > .flag-13
{
    width: 100px;
    width: 80px;
    right: 585px;
    top: 360px;
}

.sg50grc-map > .sg50grc-marker > .flag-14
{
    width: 100px;
    right: 508px;
    top: 107px;
}

.sg50grc-map > .sg50grc-wrapper
{
    width: 212px;
}

.sg50grc-map > .sg50grc-wrapper > p
{
    font-size: 12px;
    line-height: 18px;
    color: #353334;
    margin: 10px 0px;
}

.sg50grc-wrapper > .sg50grc-dropdown
{
    background: url(/SG50/images/Sg50GRC/dropdown/explore.png) no-repeat center center;
    background-size: 100%;
    width: 457px;
    height: 47px;
    margin: 15px auto;
    cursor: pointer;
}

.sg50grc-wrapper > .sg50grc-marker
{
    background: url(/SG50/images/Sg50GRC/dropdown/marker.png) no-repeat center center;
    width: 25px;
    height: 44px;
    margin: 0 auto;
}

.sg50grc-dropdown-value
{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #353334;
    margin: 15px 0px;
}

.sg50grc-dropdown-value-list
{
    font-size: 14px;
    list-style: none;
    width: 457px;
    background: #353334;
    color: #ffffff;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    top: 47px;
    left: 0px;
    right: 0px;
    z-index: 1;
    display: none;
}

.sg50grc-dropdown-value-list > li
{
    padding: 15px 20px;
    cursor: pointer;
}

.sg50grc-dropdown-value-list > li:hover
{
    background: #e10830;
}

.sg50grc-toggle-location
{
    display: none;
}

.sg50grc-row-location-0
{
    display: block;
}

.sg50grc-description
{
    width: 100%;
    background: #e10830;
}

.sg50grc-description > p
{
    width: 90%;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    padding: 15px 0px;
    margin: 0 auto;
}

.sg50grc-description > p > em
{
    font-style: italic;
}

.sg50grc-description > p > em > strong, .sg50grc-description > p > strong
{
    font-weight: bold;
}

.sg50grc-coming-soon > i
{
    color: #e10830;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

.sg50grc-row-location-3,
.sg50grc-row-location-6,
.sg50grc-row-location-14
{
    margin: 35px 0px;
}

.gutter-sizer
{
    width: 10px;
}

.grid-item
{
    width: 285px;
    margin-bottom: 10px;
    float: left;
}

.visible-mobile
{
    display: none;
}

.sg50grc-row-location-3 #flag-12 
{
    right: 0;
    margin: auto;
}

/** Tablets **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .sg50grc-container
    {
        max-width: 580px;
        margin: 0 auto;
    }

    .sg50grc-map
    {
        background: url(/SG50/images/Sg50GRC/top/map-mobile.png) no-repeat top center;
        padding-bottom: 145px;
    }

    .sg50grc-map > .sg50grc-wrapper, .sg50grc-map > .sg50grc-marker
    {
        display: none;
    }

    .sg50grc-description
    {
        width: 100%;
        background: #e10830;
    }

    .sg50grc-description > p
    {
        width: 90%;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
        padding: 15px 0px;
        margin: 0 auto;
    }

    .sg50grc-wrapper > .sg50grc-dropdown
    {
        width: 539px;
        height: 69px;
    }

    .sg50grc-dropdown-value-list
    {
        width: 539px;
        top: 69px;
    }
}

/** Mobile **/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .visible-mobile
    {
        display: block;
    }

    .sg50grc-container
    {
        max-width: 90%;
        margin: 0 auto;
    }

    .sg50grc-map
    {
        background: none;
        height: auto;
    }

    .sg50grc-map > .sg50grc-masthead
    {
        width: 100%;
    }

    .sg50grc-map > .sg50grc-wrapper, .sg50grc-map > .sg50grc-marker, .gutter-sizer
    {
        display: none;
    }

    .grid-item, .sg50grc-image, .sg50grc-description
    {
        width: 100%;
    }

    .sg50grc-description > p
    {
        width: 90%;
        padding: 15px 0px;
        margin: 0 auto;
    }

    .sg50grc-wrapper > .sg50grc-dropdown
    {
        width: 100%;
        background: none;
    }

    .sg50grc-dropdown-value-list
    {
        width: 100%;
        top: 35px;
    }
}