﻿@charset "utf-8";

Body {
    padding: 0px;
    margin: 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #2c2c2c;
    line-height: 14px;
    background: none !important;
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
    padding: 0px;
    margin: 0px;
}

img {
    border: 0px;
    max-width: 100%;
    height: auto;
}

.clear {
    clear: both;
}

p {
    padding-bottom: 16px;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

div#nav div div.mediumMenu {
    top: 36px;
}

.rew {
    max-width: 1280px;
    width: 100% !important;
    margin: 0 auto;
}

    .rew .menu {
        max-width: 1280px;
        width: 100%;
        background: #353333;
        float: left;
    }

.header .header, .header {
    position: relative;
    z-index: 11;
}

#banner {
    float: left;
    margin-top: 0px;
    width: 100%;
}

    #banner .bx-wrapper, #banner .bxslider {
        display: block;
        margin-bottom: 0;
    }

        #banner .bx-wrapper .bx-pager {
            background: none repeat scroll 0 0 #fff;
            border-radius: 8px 8px 0 0;
            height: 20px;
            left: 47.3%;
            padding: 3px 8px 5px;
            top: 375px;
            width: auto;
        }

            #banner .bx-wrapper .bx-pager.bx-default-pager a {
                width: 6px;
                height: 6px;
                background: #030303;
                margin: 0 3px;
                line-height: 0;
            }

                #banner .bx-wrapper .bx-pager.bx-default-pager a:hover, #banner .bx-wrapper .bx-pager.bx-default-pager a.active {
                    background: #ec1a3b;
                }

.section .txt-pan {
    padding: 43px 200px 40px;
    text-align: center;
}

    .section .txt-pan h1 {
        font-size: 36px;
        color: #030303;
        line-height: 38px;
        padding-bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
        position: inherit;
    }

    .section .txt-pan p {
        font-size: 20px;
        line-height: 22px;
        color: #000;
        padding-bottom: 31px;
        position: inherit;
    }

.txt-pan .readmore {
    display: inline-block;
    padding: 15px 21px;
    background: #ec1a3b;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

    .txt-pan .readmore:hover {
        background: #353333;
    }

.pad {
    padding: 41px 0 45px;
}

    .pad h3 {
        font-size: 24px;
        line-height: 26px;
        color: #030303;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        background: url('/SG50/images/About/h-bg.jpg') repeat-x center 83%;
    }

.featured-pan, .featured-pan span {
    background: #efefef;
}

    .featured-pan span {
        padding-right: 2px;
    }

    .featured-pan .ft-news {
        max-width: 326px;
        width: 100%;
        float: left;
        margin: 0 1px 15px 0;
        background: #fff;
    }

    .featured-pan .img-pan {
        max-width: 326px;
        width: 100%;
        height: 226px;
        overflow: hidden;
    }

    .featured-pan .ft-news p {
        background: #fff;
        min-height: 100px;
        font-size: 18px;
        color: #030303;
        line-height: 20px;
        padding: 15px;
    }

    .featured-pan .img-pan img {
        height: 250px;
    }

    .featured-pan .ft-news p em {
        display: block;
        font-size: 14px;
        padding-bottom: 10px;
        font-style: italic;
    }

.featured-in {
    max-width: 981px;
    margin: 0 auto;
}

.news-feed {
    background: #fff;
}

    .news-feed span, .socail-feed span {
        background: #fff;
        padding-right: 3px;
    }

.event-pan {
    max-width: 235px;
    float: left;
    width: 100%;
    margin: 0;
}

    .event-pan:nth-child(4n) {
        margin-right: 0;
    }

.event-img {
    line-height: 0;
}

.event-in {
    background: #e0e0e0;
    padding: 10px 5px 20px 11px;
    color: #000;
    font-size: 12px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

    .event-in span {
        display: inline-block;
        background: #ec1a3b;
        color: #fff;
        font-weight: bold;
        padding: 3px 6px;
        margin-bottom: 6px;
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
    }

    .event-in em {
        display: block;
        padding-bottom: 5px;
        font-style: italic;
    }

    .event-in p {
        padding-bottom: 0;
        font-size: 14px;
        height: 45px;
    }

.mb-slider .mb-panel.active .event-in {
    background: #ec1a3b;
    color: #fff;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding: 10px 15px 30px 11px;
}

    .mb-slider .mb-panel.active .event-in span {
        background: #fff;
        color: #e7000c;
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

.footer {
    background-color: #353334;
    clear: both;
    color: #fff;
    height: 50px;
    width: 100%;
}

.footer_nav a {
    text-decoration: none;
}

    .footer_nav a span {
        color: #fff;
        font-size: 15px;
        margin-left: 15px;
        margin-right: 17px;
        text-decoration: none;
    }

.fix-arws {
    right: 50%;
    margin-right: -550px;
    position: fixed;
    top: 470px;
    width: 32px;
    z-index: 999;
}

.bx-wrapper, .bx-wrapper ul li { /*min-height:640px;*/
    overflow: hidden;
}

    .bx-wrapper ul li img {
        width: 1280px;
    }

    .bx-wrapper img {
        max-width: inherit !important;
    }

    .bx-wrapper .bx-viewport {
        height: auto !important;
    }

.display {
    width: 31px;
    height: 30px;
    overflow: hidden;
    display: inline-block;
}

.mod-header .menu_nav {
    width: 80%;
}

.newsfeed {
    background: #efefef;
    width: 100%;
}

.news-left {
    float: left;
    max-width: 494px;
    border-right: 1px solid #b6b6b6;
}

    .news-left .youtube {
        border-bottom: 1px solid #b6b6b6;
        max-width: 494px;
        width: 100%;
        line-height: 0;
    }

        .news-left .youtube iframe {
            max-width: 100%;
            width: 100%;
            height: 297px;
        }

.news-logo-pan {
}

.news-logo-left {
    border-right: 1px solid #b6b6b6;
    float: left;
    width: 162px;
    text-align: center;
    padding: 8px 0;
}

.news-logo-right {
    background: #ec1a3b;
    float: left;
    max-width: 261px;
    padding: 29px 35px 30px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    color: #FFF;
}

    .news-logo-right ul {
        padding: 22px 0 0;
    }

    .news-logo-right li {
        list-style: none;
        display: inline-block;
        padding: 0 13px;
    }

.news-right {
    max-width: 485px;
    float: left;
    width: 100%;
}

    .news-right .insta {
        float: left;
        border-right: 1px solid #b6b6b6;
        max-width: 162px;
    }

        .news-right .insta ul {
        }

        .news-right .insta li {
            list-style: none;
            display: block;
            border-bottom: 1px solid #b6b6b6;
            position: relative;
            width: 162px;
            height: 148px;
            line-height: 0;
            overflow: hidden;
        }

            .news-right .insta li:last-child {
                border-bottom: 0;
            }

            .news-right .insta li span {
                position: absolute;
                right: 8px;
                top: 9px;
                width: 16px;
                height: 17px;
                background: none;
            }

    .news-right .feed-pan {
        max-width: 322px;
        float: left;
        width: 100%;
    }

    .news-right .feeds {
        padding: 15px 7px 0px;
        color: #000;
        font-size: 14px;
        position: relative;
        width: 96%;
        float: left;
    }

    .news-right .feeds-top {
        padding: 0 0 11px 6px;
        font-size: 15px;
        width: 100%;
        float: left;
    }

    .news-right .feeds-logo {
        position: absolute;
        top: 15px;
        right: 12px;
        width: 20px;
    }

    .news-right .feeds p {
        padding: 0 0 0 6px;
    }

    .news-right .feeds-top img {
        float: left;
        width: 30px;
    }

    .news-right .feeds-top p {
        float: left;
    }

    .news-right .feeds-top span {
        font-size: 12px;
        display: block;
        background: none;
        padding-top: 2px;
    }

    .news-right .feeds-mid {
        width: 100%;
        float: left;
        padding-bottom: 15px;
    }

        .news-right .feeds-mid p {
            font-size: 14px;
            height: 30px; /*text-overflow: ellipsis; -webkit-line-clamp: 3;  -webkit-box-orient: vertical; white-space:nowrap; overflow:hidden;*/
        }

    .news-right .feeds-bottom {
        padding-left: 6px;
    }

        .news-right .feeds-bottom p {
            float: left;
            padding: 0px;
            font-size: 12px;
        }

        .news-right .feeds-bottom ul {
            float: right;
        }

        .news-right .feeds-bottom li {
            list-style: none;
            display: inline-block;
            padding: 0 3px;
        }

    .news-right .tweet {
        background: #1ab2e8;
        color: #fff;
        padding: 15px 7px 10px;
    }

        .news-right .tweet .feeds-mid p {
            font-size: 14px;
            height: 50px;
            line-height: 16px;
        }

        .news-right .tweet .feeds-bottom p {
            padding-top: 3px;
        }

            .news-right .tweet .feeds-bottom p img {
                width: 18px;
                float: left;
                margin-right: 6px;
                vertical-align: middle;
            }

            .news-right .tweet .feeds-bottom p img {
                margin-top: 2px;
            }

    .news-right .fb-img {
        padding: 0 0 7px;
        text-align: center;
    }

        .news-right .fb-img img {
            height: 160px;
        }

.mb-panel.active .event-in p {
    font-size: 17px;
    line-height: 19.5px;
    height: 60px;
}

.socail-feed {
    padding-bottom: 0;
    overflow: hidden;
}

.news-feed.ds-play {
    padding-bottom: 0;
}

.socail-feed ul {
}

.socail-feed li {
    list-style: none;
    display: inline;
    float: left;
    line-height: 0;
    border-bottom: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
}

    .socail-feed li:last-child, .socail-feed li:nth-child(5), .socail-feed li:nth-child(9) {
        border-right: 0;
    }

    .socail-feed li:first-child img {
        width: 326px;
        height: 295px;
    }

    .socail-feed li img {
        width: 162.5px;
        height: 147px;
    }

.overlay {
    background: #CCC;
    position: relative;
    overflow: hidden;
}

.loading, .loadingsocial {
    left: 0;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.8);
    width: 980px;
    height: 444px;
    z-index: 99;
}

    .loading img, .loadingsocial img {
        position: absolute;
        left: 49%;
        top: 48%;
    }

/*********About us CSS*******/
.about-us {
    padding: 53px 0 70px;
}

.about-left {
    float: left;
    max-width: 100%;
    width: 100%;
    padding-top: 22px;
    position: relative;
}

.about-icon {
    width: 265px;
    position: absolute;
    right: 0;
    top: 0;
}

.about-left h1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 36px;
    padding-bottom: 20px;
    max-width: 630px;
    width: 100%;
}

.about-left p {
    font-size: 20px;
    color: #312f30;
    line-height: 22px;
    padding-bottom: 25px;
    max-width: 630px;
    width: 100%;
}

.about-left a {
    display: inline-block;
    background: #ec1a3b;
    padding: 15px 20px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

    .about-left a:hover {
        background: #353333;
    }

.way-to {
}

    .way-to h3 {
        margin-bottom: 23px;
    }

    .way-to p {
        padding-bottom: 30px;
        line-height: 22px;
        font-size: 20px;
        color: #312f30;
    }

    .way-to ul {
        padding: 10px 0 0;
    }

    .way-to li {
        list-style: none;
        display: inline;
        float: left;
        margin-right: 56.5px;
        width: 151px;
    }

        .way-to li:last-child {
            margin-right: 0;
        }

        .way-to li span {
            display: block;
            padding: 10px 0;
            text-align: center;
            font-size: 18px;
            color: #312f30;
            line-height: 22px;
        }

.meet-commitee {
    margin-bottom: 6px;
}

    .meet-commitee ul {
    }

    .meet-commitee li {
        list-style: none;
        display: inline-block;
        width: 135px;
        margin-right: 6px;
        min-height: 370px;
        float: left;
        background: #efefef;
    }

        .meet-commitee li:nth-child(7n) {
            margin-right: 0;
        }

        .meet-commitee li:nth-child(7) .meet-commitee-top {
            padding-top: 13px;
            min-height: 87px;
        }

.meet-commitee-top {
    min-height: 88px;
    padding-top: 12px;
    background: #ec1a3a;
    text-align: center;
}

    .meet-commitee-top h6 {
        padding-top: 13px;
        font-size: 13px;
        font-weight: bold;
        line-height: 17px;
        color: #fff;
    }

        .meet-commitee-top h6.ofc {
            padding-top: 22px;
        }

    .meet-commitee-top span {
        display: block;
        padding: 5px 0;
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
        color: #fff;
        background: none;
    }

.meet-commitee-bottom {
    background: #efefef;
    padding-top: 12px;
    min-height: 260px;
    text-align: center;
}

    .meet-commitee-bottom .candidate {
        min-height: 130px;
    }

        .meet-commitee-bottom .candidate span, .commitee-members li span {
            font-size: 10px;
            color: #2b2b2b;
            display: block;
            padding: 10px 0;
            background: none;
        }

            .meet-commitee-bottom .candidate span strong {
                font-weight: bold;
                display: block;
            }

    .meet-commitee-bottom .chairman {
        padding-top: 30px;
    }
/*.meet-commitee-bottom img, .commitee-members li img{ border-radius:100px; max-width:60px;}*/
.commitee-members {
    background: #efefef;
    display: table;
}

    .commitee-members h5 {
        font-size: 13px;
        font-weight: bold;
        padding: 15px 0;
        text-align: center;
        background: #ec1a3a;
        display: block;
        color: #FFF;
        text-transform: uppercase;
    }

    .commitee-members ul {
        padding: 0 5px;
    }

    .commitee-members li {
        list-style: none;
        display: inline-block;
        margin-left: -2px;
        float: left;
        text-align: center;
    }




/*intiatives section */
.intiatives-mobile {
    display: none;
}

.initiatives-pan {
    margin-bottom: 24px;
}

    .initiatives-pan, .initiatives-pan span {
        background: #fff;
    }

        .initiatives-pan span {
            padding-right: 2px;
        }

        .initiatives-pan .ft-news {
            max-width: 326px;
            width: 100%;
            float: left;
            margin: 0 1px 15px 0;
            background: #fff;
        }

        .initiatives-pan .img-pan {
            max-width: 326px;
            width: 100%;
            height: 226px;
            overflow: hidden;
        }

        .initiatives-pan .ft-news p {
            background: #fff;
            min-height: 100px;
            font-size: 18px;
            color: #030303;
            line-height: 20px;
            padding: 15px;
        }

        .initiatives-pan .img-pan img {
            height: 250px;
        }

        .initiatives-pan .ft-news p em {
            display: block;
            font-size: 14px;
            padding-bottom: 10px;
            font-style: italic;
        }

.ourintiatives {
    background: #efefef;
    overflow: hidden;
    padding: 0px !important;
}

    .ourintiatives.rightimg li .ourintiatives-cont p span, .ourintiatives.rightimg li .ourintiatives-cont h4 span {
        text-align: right;
    }

    .ourintiatives.leftimg li {
        width: 507px;
        background: #efefef;
        display: inline-block;
        float: left;
        margin-right: 0px;
        position: relative;
    }

        .ourintiatives.leftimg li + li {
            width: 474px;
        }

        .ourintiatives.leftimg li img {
            float: left;
        }

    .ourintiatives.rightimg li {
        width: 481px;
        background: #efefef;
        display: inline-block;
        float: left;
        margin-right: 0px;
        position: relative;
    }

        .ourintiatives.rightimg li + li {
            width: 500px;
        }

        .ourintiatives.rightimg li img {
            float: right;
        }

    .ourintiatives.rightimg .ourintiatives-cont {
        text-align: right;
    }

    .ourintiatives span.arrowleft {
        background: url(/SG50/images/about/arrowleft.png) no-repeat top;
        width: 13px;
        height: 100%;
        position: absolute;
        display: block;
        right: 0;
        top: 0;
    }

    .ourintiatives span.arrowright {
        background: url(/SG50/images/about/arrowright.png) no-repeat top;
        width: 13px;
        height: 100%;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
    }

.ourintiatives-cont {
    padding: 40px 23px;
}

    .ourintiatives-cont h4 > span {
        font-size: 24px;
        font-family: "Trebuchet MS", Verdana, sans-serif;
        line-height: 26px;
        color: #030303;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 24px;
        background: none;
        text-align: left;
        padding: 0 0 24px !important;
    }

    .ourintiatives-cont p > span {
        padding: 0px;
        margin: 0px;
        font-family: "Trebuchet MS", Verdana, sans-serif;
        font-size: 19px;
        font-weight: normal;
        color: #312f30;
        line-height: 26px;
        background: none;
        text-align: left;
        padding: 0 0 0px !important;
    }

    .ourintiatives-cont a {
        display: inline-block;
        background: #ec1a3b;
        padding: 12px 20px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        margin-top: 24px;
        border: 0;
        cursor: pointer;
    }

        .ourintiatives-cont a:hover {
            background: #353333;
        }

    .ourintiatives-cont p {
        padding: 0;
    }



    .ourintiatives
{
    background: #efefef;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px;
}

    .ourintiatives, .ourintiatives *
    {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

        .ourintiatives li
        {
            display: inline-block;
            float: left;
            position: relative;
            margin: 0px;
        }

            .ourintiatives li.img-box
            {
                width: 51.3% !important;
            }

            .ourintiatives li.text-box
            {
                width: 48.7% !important;
            }

            .ourintiatives li img
            {
                width: 100%;
                float: left;
            }

        .ourintiatives.leftimg li
        {
        }

        .ourintiatives.rightimg li.img-box
        {
            float: right;
        }

        .ourintiatives.rightimg .ourintiatives-cont
        {
            text-align: right;
        }

        .ourintiatives span.arrowleft, .ourintiatives span.arrowright
        {
            width: 13px;
            height: 100%;
            position: absolute;
            display: block;
            top: 0;
        }

        .ourintiatives span.arrowleft
        {
            background: url(/SG50/images/About/arrowleft.png) no-repeat top;
            right: 0;
        }

        .ourintiatives span.arrowright
        {
            background: url(/SG50/images/About/arrowright.png) no-repeat top;
            left: 0;
        }

.ourintiatives-cont
{
    padding: 48px 23px;
}

    /*.ourintiatives-cont h4
    {
        font-size: 24px;
        font-family: "Trebuchet MS", Verdana, sans-serif;
        line-height: 26px;
        color: #030303;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 24px;
    }*/

    .ourintiatives-cont p
    {
        padding: 0px;
        margin: 0px;
        font-family: "Trebuchet MS", Verdana, sans-serif;
        font-size: 19px;
        font-weight: normal;
        color: #312f30;
        line-height: 26px;
    }

    .ourintiatives-cont a
    {
        display: inline-block;
        background: #ec1a3b;
        padding: 12px 20px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        margin-top: 24px;
    }

        .ourintiatives-cont a:hover
        {
            background: #353333;
        }