/* Tiny Carousel */
#sliderIdea { height: 1%; overflow:hidden; padding: 0 0 10px; max-width:272px; margin:0 auto; }
#sliderIdea .viewport { float: left; width: 202px; height: 202px; overflow: hidden; position: relative; }
#sliderIdea .buttons {
    /*background: #C01313;
    border-radius: 35px;*/
    display: block;
    margin: 80px 0 0 0;
    float: left;
    width: 35px;
    height: 35px;
    position: relative;
    color: #000000;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 50px;
}
#sliderIdea .next {
    margin: 80px 0 0 0;
}
#sliderIdea .buttons:hover{
    color: #C01313;
}
#sliderIdea .disable { visibility: hidden; }
#sliderIdea .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0; top: 0; }
#sliderIdea .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 200px; width: 200px;}
