﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"  Inherits="Layouts.Pg_meta_tag_sublayout.Pg_meta_tag_sublayoutSublayout" CodeFile="~/SG50/layouts/PG/sublayouts/PG Meta Tag Sublayout.ascx.cs" %>
<asp:Literal ID="PGlitMetaTag"  runat="server" Mode="PassThrough"></asp:Literal>