
/* CSS Document */
img {
    max-width: 100%;
    border: none;
}

a {
    outline: none;
    text-decoration: none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix:after {
    clear: both;
    display: block;
    content: "";
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book_gdi.eot');
    src: url('../fonts/Gotham-Book_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book_gdi.woff') format('woff'), url('../fonts/Gotham-Book_gdi.ttf') format('truetype'), url('../fonts/Gotham-Book_gdi.otf') format('opentype'), url('../fonts/Gotham-Book_gdi.svg#Gotham-Book') format('svg');
    font-weight: 325;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold_gdi.eot');
    src: url('../fonts/Gotham-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold_gdi.woff') format('woff'), url('../fonts/Gotham-Bold_gdi.ttf') format('truetype'), url('../fonts/Gotham-Bold_gdi.otf') format('opentype'), url('../fonts/Gotham-Bold_gdi.svg#Gotham-Bold') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium_gdi.eot');
    src: url('../fonts/Gotham-Medium_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium_gdi.woff') format('woff'), url('../fonts/Gotham-Medium_gdi.ttf') format('truetype'), url('../fonts/Gotham-Medium_gdi.otf') format('opentype'), url('../fonts/Gotham-Medium_gdi.svg#Gotham-Medium') format('svg');
    font-weight: 350;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gotham-Book', Helvetica, sans-serif;
    font-size: 14px;
    color: #2c2c2c;
}

html, body {
    -webkit-text-size-adjust: none;
}

@-webkit-keyframes jump {
    50% {
        -webkit-transform: translateY(-5px);
    }
}

@-moz-keyframes jump {
    50% {
        -moz-transform: translateY(-5px);
    }
}

@-o-keyframes jump {
    50%;

{
    -moz-transform: translateY(-5px);
}

}

@-ms-keyframes jump {
    50% {
        -moz-transform: translateY(-5px);
    }
}


.pullLeft {
    float: left;
}

.pullRight {
    float: right;
}

.mobImg {
    display: none !important;
}

.mainWraper {
    max-width: 1024px;
    margin: 0px auto;
    position: relative;
}

header {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
    border-bottom: solid 1px #e1e1e1;
    padding: 16px 23px;
}

.menuIcon {
    margin: 5px 30px 0 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    .menuIcon img, .logo img {
        display: block;
        cursor: pointer;
    }

    .menuIcon .iconLine {
        width: 27px;
        height: 3px;
        margin: 5px 0;
        background: #ed1a3b;
        display: block;
        border-radius: 10px;
        position: relative;
    }

        .menuIcon .iconLine:before {
            content: "";
            position: absolute;
            display: block;
            background: #c7c7c7;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 10px;
            transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transition: ease all 0.7s;
            -moz-transition: ease all 0.7s;
            -webkit-transition: ease all 0.7s;
            -ms-transition: ease all 0.7s;
            -o-transition: ease all 0.7s;
        }

    .menuIcon.menuIconActive .iconLine:before {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transition: ease all 0.7s;
        -moz-transition: ease all 0.7s;
        -webkit-transition: ease all 0.7s;
        -ms-transition: ease all 0.7s;
        -o-transition: ease all 0.7s;
    }

    .menuIcon.menuIconActive .iconLine:nth-child(1):before {
        transition: ease all 0.1s;
        -moz-transition: ease all 0.1s;
        -webkit-transition: ease all 0.1s;
        -ms-transition: ease all 0.1s;
        -o-transition: ease all 0.1s;
    }

    .menuIcon.menuIconActive .iconLine:nth-child(2):before {
        transition: ease all 0.3s;
        -moz-transition: ease all 0.3s;
        -webkit-transition: ease all 0.3s;
        -ms-transition: ease all 0.3s;
        -o-transition: ease all 0.3s;
    }

    .menuIcon .iconLine:nth-child(1):before {
        transition: ease all 0.1s;
        -moz-transition: ease all 0.1s;
        -webkit-transition: ease all 0.1s;
        -ms-transition: ease all 0.1s;
        -o-transition: ease all 0.1s;
    }

    .menuIcon .iconLine:nth-child(2):before {
        transition: ease all 0.3s;
        -moz-transition: ease all 0.3s;
        -webkit-transition: ease all 0.3s;
        -ms-transition: ease all 0.3s;
        -o-transition: ease all 0.3s;
    }

    .menuIcon:hover .iconLine:before {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transition: ease all 0.7s;
        -moz-transition: ease all 0.7s;
        -webkit-transition: ease all 0.7s;
        -ms-transition: ease all 0.7s;
        -o-transition: ease all 0.7s;
    }

    .menuIcon:hover .iconLine:nth-child(1):before {
        transition: ease all 0.1s;
        -moz-transition: ease all 0.1s;
        -webkit-transition: ease all 0.1s;
        -ms-transition: ease all 0.1s;
        -o-transition: ease all 0.1s;
    }

    .menuIcon:hover .iconLine:nth-child(2):before {
        transition: ease all 0.3s;
        -moz-transition: ease all 0.3s;
        -webkit-transition: ease all 0.3s;
        -ms-transition: ease all 0.3s;
        -o-transition: ease all 0.3s;
    }

.guidelines {
    margin-right: 25px;
}

    .guidelines a {
        font: normal 11px Gotham-Book;
        color: #757575;
        margin: 12px 0 0 0;
        display: inline-block;
    }

        .guidelines a:hover {
            color: #ed1a3b;
        }

        .guidelines a img {
            margin: 0 0 0 7px;
        }

.menuMain {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 999999;
}

.menu {
    background: rgba(237, 26, 59,0.8);
    padding: 11px 0;
    text-align: center;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

    .menu ul li {
        display: inline-block;
        padding: 0 25px;
        background: url(../images/men-bar.jpg) right center no-repeat;
        transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: ease all 0.4s;
        -moz-transition: ease all 0.4s;
        -webkit-transition: ease all 0.4s;
        -ms-transition: ease all 0.4s;
        -o-transition: ease all 0.4s;
    }

    .menu.menuList ul li {
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

        .menu.menuList ul li:nth-child(2) {
            transition: ease all 0.6s;
            -moz-transition: ease all 0.6s;
            -webkit-transition: ease all 0.6s;
            -ms-transition: ease all 0.6s;
            -o-transition: ease all 0.6s;
        }

        .menu.menuList ul li:nth-child(3) {
            transition: ease all 0.8s;
            -moz-transition: ease all 0.8s;
            -webkit-transition: ease all 0.8s;
            -ms-transition: ease all 0.8s;
            -o-transition: ease all 0.9s;
        }

    .menu ul li:nth-child(2) {
        transition: ease all 0.6s;
        -moz-transition: ease all 0.6s;
        -webkit-transition: ease all 0.6s;
        -ms-transition: ease all 0.6s;
        -o-transition: ease all 0.6s;
    }

    .menu ul li:nth-child(3) {
        transition: ease all 0.8s;
        -moz-transition: ease all 0.8s;
        -webkit-transition: ease all 0.8s;
        -ms-transition: ease all 0.8s;
        -o-transition: ease all 0.8s;
    }

    .menu ul li a {
        font: normal 13px Gotham-Book;
        color: #fff;
    }

        .menu ul li a:hover {
            color: #000;
        }

    .menu ul li:nth-child(4), .menu ul li:last-child {
        /*background: none;*/
    }

    .menu ul li.guidelinesMob {
        display: none;
    }

.sgSpirit {
    /*background: #f5f5f5 url(../images/top-banner.jpg) no-repeat top center;*/
    margin: 70px 0 0 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f5f5f5;
}

    .sgSpirit .mainWraper {
        padding: 27px 0 17px 0;
        text-align: center;
        position: relative;
    }

    .sgSpirit h4 {
        font: normal 18px Gotham-Book;
        color: #2c2c2c;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .sgSpirit p {
        max-width: 410px;
        font: normal 13px Gotham-Book;
        color: #2c2c2c;
        line-height: 20px;
        margin: 12px auto 16px auto;
    }

    .sgSpirit a {
        font: normal 12px Gotham-Book;
        color: #474747;
        cursor: pointer;
    }

        .sgSpirit a:hover {
            color: #ed1a3b;
        }

.menu, .readMoreCon, .collapse {
    display: none;
}

.accordionSlide ul {
    max-height: 550px;
    overflow: hidden;
}

    .accordionSlide ul li {
        background: #000;
        float: left; /*display:inline-block; margin:0 -4px 0 0;*/
        position: relative;
        overflow: hidden;
        width: 16%;
        transition: all ease 1s;
        -moz-transition: all ease 1s;
        -webkit-transition: all ease 1s;
        -ms-transition: all ease 0.9s;
        -o-transition: all ease 1s;
        border-right: solid 1px #fff;
    }

        .accordionSlide ul li:last-child {
            border: none;
        }

        .accordionSlide ul li img {
            display: block;
            max-width: none;
            opacity: 0.5;
            transform: translateX(40%);
            -moz-transform: translateX(40%);
            -webkit-transform: translateX(40%);
            -ms-transform: translateX(40%);
            -o-transform: translateX(40%);
            transition: all ease 1s;
            -moz-transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
            float: right;
        }

        .accordionSlide ul li:hover {
            width: 68%;
            transition: all ease 1s;
            -moz-transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

            .accordionSlide ul li:hover img {
                opacity: 1;
                transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transition: all ease 1s;
                -moz-transition: all ease 1s;
                -webkit-transition: all ease 1s;
                -ms-transition: all ease 1s;
                -o-transition: all ease 1s;
            }

        .accordionSlide ul li.active {
            width: 68%;
            transition: all ease 1s;
            -moz-transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

            .accordionSlide ul li.active img {
                opacity: 1;
                transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transition: all ease 1s;
                -moz-transition: all ease 1s;
                -webkit-transition: all ease 1s;
                -ms-transition: all ease 1s;
                -o-transition: all ease 1s;
            }

.accordionSlide.accordionFour li {
    width: 10%;
}

    .accordionSlide.accordionFour li.active {
        width: 70%;
    }

.accordionSlide.accordionThree li {
    width: 16%;
}

    .accordionSlide.accordionThree li.active {
        width: 68%;
    }

.accordionSlide.accordionTwo li {
    width: 16%;
}

    .accordionSlide.accordionTwo li.active {
        width: 84%;
    }

.accordionCon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/accordion-shadow.png) repeat-x;
    padding: 20px;
    z-index: 9;
}

    .accordionCon h3 {
        font: normal 16px Gotham-Medium;
        color: #fff;
    }

    .accordionCon p {
        font: normal 14px Gotham-Book;
        color: #fff;
        margin: 5px 0;
        display: none;
        min-width: 320px;
    }

.accordionSlide ul li.active .accordionCon p {
    display: block;
}

.featuredStoriesSection h2 {
    font: normal 18px Gotham-Book;
    color: #2c2c2c;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    margin: 24px 0;
}
/*featuredStoriesSection P*/
.intro {
    font: normal 18px Gotham-Book;
    margin: auto;
    padding: 0 27px 20px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.storiesMain {
    background: #bfbfbf;
}

.storyRow img {
    display: block;
    max-width: 100%;
}

.storyCell {
    margin: 1px 0 0;
    position: relative;
}

.story50 {
    padding: 0 1px 0 0;
    float: left;
    width: 50%;
}

.story25 {
    padding: 0 1px 0 0;
    float: left;
    width: 25%;
}

    .story25.last {
        float: right;
    }

.seeMoreStories {
    display: block;
    font: normal 14px Gotham-Book;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    background: #ed1a3b;
    margin: 1px 0px;
}
/* Dots Loader */
.anim-loader {
    display: inline-block;
    width: 25px;
    height: 5px;
    position: relative;
    padding: 0px 0px 0px;
    margin: 0 0 0 10px;
}

    .anim-loader .circle {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        -moz-animation-name: none;
        -moz-animation-duration: 1s;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-name: none;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -o-animation-name: none;
        -o-animation-duration: 1s;
        -o-animation-iteration-count: infinite;
        -ms-animation-name: none;
        -ms-animation-duration: 1s;
        -ms-animation-iteration-count: infinite;
        float: left;
        margin: 0 3px 0 0;
    }

.seeMoreStories:hover .circle {
    -webkit-animation-name: jump;
    -moz-animation-name: jump;
    -o-animation-name: jump;
    -ms-animation-name: jump;
}

.anim-loader .circle:nth-of-type(1) {
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
}

.anim-loader .circle:nth-of-type(2) {
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
}

.anim-loader .circle:nth-of-type(3) {
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
}

.anim-loader .circle:nth-of-type(4) {
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
}


.storyCon {
    background: url(../images/story-con-bg.png) repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 14px 20px 50px 20px;
    transition: all ease 0.5s;
    min-height: 150px;
}

    .storyCon span.date {
        font: normal 12px Gotham-Book;
        color: #dfdfdf;
    }

    .storyCon h3 {
        font: normal 19px Gotham-Medium;
        color: #fff;
    }

    .storyCon a {
        background: #ed1a3b;
        font: normal 8px Gotham-Book;
        color: #dfdfdf;
        display: inline-block;
        padding: 4px 6px;
        margin: 6px 0 0 0;
        text-transform: uppercase;
    }

        .storyCon a:hover {
            background: #950219;
        }

.storyPlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
}

    .storyPlay img {
        display: inline-block;
        width: auto !important;
        margin: 0 0 15px 0;
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }

.storyCell:hover .storyPlay img {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.storyPlay h3 {
    font: normal 19px Gotham-Medium;
    color: #fff;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

.storyPlay a img {
    margin: 30px 0 0 0;
}

.storyInnerMain {
    background: rgba(203,8,11,0.78);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

.storyInnerCon {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

    .storyInnerCon p {
        max-width: 50%;
        margin: 0 auto;
        font: normal 16px Gotham-Book;
        color: #fff;
        margin-top: 40pox;
        transition: all ease 1s;
        -moz-transition: all ease 1s;
        -webkit-transition: all ease 1s;
        -ms-transition: all ease 1s;
        -o-transition: all ease 1s;
    }

    .storyInnerCon a {
        font: normal 13px Gotham-Book;
        color: #fff;
        display: inline-block;
        position: absolute;
        bottom: -100px;
        left: 0;
        right: 0;
        transition: all ease 1s;
        -moz-transition: all ease 1s;
        -webkit-transition: all ease 1s;
        -ms-transition: all ease 1s;
        -o-transition: all ease 1s;
    }

.storyCell {
    overflow: hidden;
}

    .storyCell img {
        width: 100%;
        transition: all ease 1.5s;
        -moz-transition: all ease 1.5s;
        -webkit-transition: all ease 1.5s;
        -ms-transition: all ease 1.5s;
        -o-transition: all ease 1.5s;
    }

    .storyCell:hover img {
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all ease 1.5s;
        -moz-transition: all ease 1.5s;
        -webkit-transition: all ease 1.5s;
        -ms-transition: all ease 1.5s;
        -o-transition: all ease 1.5s;
    }

    .storyCell:hover .storyInnerMain {
        opacity: 1;
        transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s;
        -ms-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        z-index: 1;
    }

    .storyCell:hover .storyInnerCon {
        opacity: 1;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        -ms-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        top: 40%;
    }

        .storyCell:hover .storyInnerCon p {
            margin-top: 0;
            transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
        }

        .storyCell:hover .storyInnerCon a {
            bottom: -40px;
            transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            transition-delay: 0.3s;
            -moz-transition-delay: 0.3s;
            -webkit-transition-delay: 0.3s;
            -ms-transition-delay: 0.3s;
            -o-transition-delay: 0.3s;
        }

    .storyCell:hover .storyCon {
        z-index: 999;
        transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
    }

        .storyCell:hover .storyCon a {
            background: #fff;
            color: #ed1a3b;
            transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
        }

        .storyCell:hover .storyCon .date {
            color: #fff;
        }

.storyInnerMain .storyInnerLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /*transform:scale(0);*/
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
}

.storyCell:hover .storyInnerMain .storyInnerLink {
    transform: scale(1);
    transform: scale(1); /*transition:ease all 2s; -moz-transition:ease all 2s; -webkit-transition:ease all 2s; -ms-transition:ease all 1s; -o-transition:ease all 1s;*/
}


.revisit {
    padding: 37px 0 32px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.revisitImg {
    /*background: #000 url(../images/revisit.jpg) no-repeat top center;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -9;
}

.revisit:hover .revisitImg {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: ease all 1s;
    -moz-transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -ms-transition: ease all 1s;
    -o-transition: ease all 1s;
}

.revisit h4 {
    font: normal 18px Gotham-Book;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.revisit p {
    font: normal 13px Gotham-Book;
    color: #fff;
    line-height: 20px;
    max-width: 220px;
    margin: 13px auto 22px auto;
}

.revisit a {
    font: normal 13px Gotham-Book;
    color: #000;
    display: inline-block;
    background: #fff;
    padding: 8px 23px;
    border-radius: 20px;
}

    .revisit a:hover {
        background: #ed1a3b;
        color: #fff;
    }

#footer {
    background: #b8b8b8;
    padding: 22px 0px 30px 0px;
    text-align: center;
    font: normal 13px Gotham-Book;
    color: #525252;
    margin: 0;
}

    #footer .footerCont ul {
        margin-top: 18px;
    }

        #footer .footerCont ul li {
            display: inline-block;
        }

            #footer .footerCont ul li a {
                font-size: 32px;
                color: #5c5c5c;
                margin: 0px 23px;
                transition: ease all 0.7s;
                -moz-transition: ease all 0.7s;
                -webkit-transition: ease all 0.7s;
                -ms-transition: ease all 0.7s;
                -o-transition: ease all 0.7s;
            }

                #footer .footerCont ul li a:hover {
                    color: #fff;
                    transition: ease all 0.7s;
                    -moz-transition: ease all 0.7s;
                    -webkit-transition: ease all 0.7s;
                    -ms-transition: ease all 0.7s;
                    -o-transition: ease all 0.7s;
                }

                #footer .footerCont ul li a.twitter {
                    font-size: 35px;
                }

    #footer .footerCont p span {
        font-size: 11px;
        margin-top: 10px;
        display: inline-block;
    }

    #footer .footerCont .footerLogo {
        margin: 30px 0px 10px 0px;
    }

/* Download Popup */
.downloadPopupWraper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999999;
    overflow: auto;
    display: none;
}

.downloadPopupContainer {
    max-width: 560px;
    margin: 0px auto;
    padding: 55px 0 30px 0;
}

.downloadHeader {
    text-align: center;
}

    .downloadHeader p a {
        font: normal 13px Gotham-Book;
        color: #5c5c5c;
        cursor: pointer;
        margin-bottom: 25px;
        display: inline-block;
    }

.downloadCon {
    margin: 20px 0 0 0;
}

    .downloadCon h1 {
        font: normal 25px Gotham-Book;
        color: #5c5c5c;
        text-align: center;
    }

    .downloadCon h5 {
        font: normal 16px Gotham-Book;
    }

    .downloadCon p {
        font: normal 13px Gotham-Book;
        color: #5c5c5c;
        margin: 25px 0;
    }

        .downloadCon p span {
            font: normal 13px Gotham-Medium;
        }
    .downloadCon ul li {
        background:url(../images/list-dot.png) no-repeat left 4px; padding:0 0 0 15px; margin:10px 0;
    }

.downloadBTN {
    text-align: center;
    margin: 30px 0 40px 0;
}

    .downloadBTN a {
        display: inline-block;
        padding: 7px 15px;
        border: solid 1px #ed1a3b;
        border-radius: 20px;
        font: normal 14px Gotham-Medium;
        color: #ed1a3b;
        box-shadow: 0 3px 0 #ed1a3b;
    }

.downloadFooter {
    text-align: center;
    padding: 25px 0 0 0;
    border-top: solid 1px #e9e9e9;
}

    .downloadFooter img {
        max-width: 44px;
        cursor: pointer;
    }

    .downloadFooter a {
        cursor: pointer;
    }

.hideScrool {
    position: relativee;
    overflow: hidden;
}

#articleVideo .downloadPopupContainer {
    max-width: 95%;
}

#articleVideo .downloadCon {
    position: relative;
    height: 0;
    padding-bottom: 53.5%;
    padding-top: 30px;
    overflow: hidden;
}

    #articleVideo .downloadCon iframe, #articleVideo .downloadCon object, #articleVideo .downloadCon embed {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

#articleVideo .downloadFooter {
    margin-top: 20px;
}

.maintenance {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    background: #f2dede;
    font: normal 13px Gotham-Book;
    color: #ba4e4c;
    z-index: 9;
}

    .maintenance span {
        display: block;
        max-width: 1024px;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }

    .maintenance i {
        color: #7f0000;
        margin: 2px 0 0 0;
        cursor: pointer;
        float: right;
    }

.OurSGwrapper {
    margin: auto;
    max-width: 1024px;
}

.articleBanner {
    position: relative;
    margin-top: 70px;
}

    .articleBanner > img {
        display: block;
        max-width: 100%;
        width: 100%;
        min-height: 440px;
    }

    .articleBanner a.playBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        cursor: pointer;
    }

.articleContainer {
    position: relative;
    max-width: 750px;
    margin: auto;
    display: block;
}

ul.shareIcon { /*position:absolute;*/
    position: absolute; /* z-index:1;top:34px;left:-87px;*/
    list-style: none;
    z-index: 100;
    top: 34px;
    left: -87px;
}

    ul.shareIcon li {
        margin: 0px 0px 5px 0px;
    }

ul.shareIconsFixed {
    position: fixed;
    top: 75px;
    left: inherit;
    margin-left: -87px;
}

.articleContent .titleBlock {
    padding-top: 19px;
    display: block;
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 8px;
    position: relative;
}

.titleBlock .dateTitle {
    margin: auto;
    display: inline-block;
    max-width: 550px;
    color: #2c2c2c;
}

    .titleBlock .dateTitle h2 {
        font-size: 32px;
        font-family: "Gotham-Medium", Helvetica, sans-serif;
        font-weight: normal;
        padding-top: 3px;
    }

    .titleBlock .dateTitle h4 {
        font-family: "Gotham-Medium", Helvetica, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
    }

.articleContent .mainContent {
    font-size: 13px;
    color: rgba(44, 44, 44, 0.6);
}

    .articleContent .mainContent p {
        padding: 8px 0px 13px 0px;
        line-height: 20px;
    }

        .articleContent .mainContent p.padTop25 {
            padding-top: 24px;
        }

.titleBlock .author {
    display: inline-block;
    text-align: right;
    float: right;
    color: rgba(44, 44, 44, 0.6);
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.articleCarousel {
    max-width: 100%;
    background: url(../images/article-banner-backgound.jpg) repeat-x center bottom;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 12px;
}

    .articleCarousel .caption {
        margin: auto;
        font: normal 11px Gotham-Book;
        color: #fff;
        padding: 0px;
        letter-spacing: 0.8px;
        margin-top: 35px;
        max-width: 690px;
    }

    .articleCarousel .articleContainer .bx-wrapper {
        background: none;
    }

.oppurtunity {
    background: #a9a9a9;
    max-width: 100%;
    margin-top: 7px;
}

    .oppurtunity .mainContent {
        margin: auto;
        max-width: 750px;
        text-align: center;
        padding: 38px 0px 32px 0px;
    }

        .oppurtunity .mainContent h2 {
            color: #fff;
            font-size: 25px;
            padding-bottom: 32px;
            line-height: 33px;
        }

        .oppurtunity .mainContent h4 {
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
        }

.newsSection {
    max-width: 100%;
    background: #d4d4d4;
}

    .newsSection h2 {
        text-align: center;
        padding: 21px 0px 15px 0px;
        font-size: 18px;
        letter-spacing: 4px;
        font-weight: normal;
    }

.latestNewsItem {
    position: relative;
    border: solid 1px #9d9d9d;
    overflow: hidden;
}

.latestNewsItemCon {
    position: absolute;
    background: url(../images/story-con-bg.png) repeat-x;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 20px;
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    min-height: 160px;
}

    .latestNewsItemCon span.date {
        display: block;
        font: normal 13px Gotham-Book;
        color: #dfdfdf;
    }

    .latestNewsItemCon h3 {
        display: block;
        font: normal 19px Gotham-Medium;
        color: #fff;
    }

    .latestNewsItemCon span.btn {
        font: normal 11px Gotham-Book;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        background: #ed1a3b;
        padding: 4px 6px;
        display: inline-block;
        margin-top: 5px;
    }

.latestNewsItem img {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: ease all 1.5s;
    -moz-transition: ease all 1.5s;
    -webkit-transition: ease all 1.5s;
    -o-transition: ease all 1.5s;
    -ms-transition: ease all 1.5s;
}

.latestNewsItem:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: ease all 1.5s;
    -moz-transition: ease all 1.5s;
    -webkit-transition: ease all 1.5s;
    -o-transition: ease all 1.5s;
    -ms-transition: ease all 1.5s;
}

.latestNewsItem a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: ease all 2s;
    -moz-transition: ease all 2s;
    -webkit-transition: ease all 2s;
    -ms-transition: ease all 1s;
    -o-transition: ease all 1s;
}

.latestNewsItem:hover a {
    transition: ease all .5s;
    -moz-transition: ease all .5s;
    -webkit-transition: ease all .5s;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
    z-index: 2;
}

.latestNewsItem:hover .latestNewsItemCon {
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: ease all 1s;
    -moz-transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -o-transition: ease all 1s;
    -ms-transition: ease all 1s;
}

.newsItemInnerCon {
    background: rgba(203, 8, 11, 0.78);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    z-index: -1;
}

.latestNewsItem:hover .newsItemInnerCon {
    opacity: 1;
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    z-index: 1;
}

.newsItemInnerConMain {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 15%;
    opacity: 0;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: ease all 1s;
    -moz-transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -o-transition: ease all 1s;
    -ms-transition: ease all 1s;
}

    .newsItemInnerConMain p {
        color: #fff;
        font: 16px Gotham-Book;
        margin: 0 auto;
    }

    .newsItemInnerConMain a {
        position: absolute;
        left: 0;
        right: 0;
        top: auto;
        bottom: -70px;
        display: inline-block;
        font: normal 13px Gotham-Book;
        color: #fff;
        transition: ease all .5s;
        -moz-transition: ease all .5s;
        -webkit-transition: ease all .5s;
        -ms-transition: ease all .5s;
        -o-transition: ease all .5s;
    }

.latestNewsItem:hover .newsItemInnerConMain {
    opacity: 1;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
}

    .latestNewsItem:hover .newsItemInnerConMain a {
        bottom: -35px;
        transition: ease all .5s;
        -moz-transition: ease all .5s;
        -webkit-transition: ease all .5s;
        -ms-transition: ease all .5s;
        -o-transition: ease all .5s;
        transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        -ms-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
    }

#footer {
    background: #b8b8b8;
    padding: 22px 0px 30px 0px;
    text-align: center;
    font-size: 13px;
    color: #000000;
}

    #footer .footerCont ul {
        margin-top: 18px;
    }

        #footer .footerCont ul li {
            display: inline-block;
        }

            #footer .footerCont ul li a {
                font-size: 32px;
                color: #5c5c5c;
                margin: 0px 23px;
            }

                #footer .footerCont ul li a.twitter {
                    font-size: 35px;
                }

    #footer .footerCont p span {
        font-size: 11px;
    }

    #footer .footerCont .footerLogo {
        margin: 40px 0px 10px 0px;
    }

.bx-wrapper .bx-next {
    background: url(../images/next-arrow.png) no-repeat right center;
    right: -38px;
}

.bx-wrapper .bx-prev {
    background: url(../images/prev-arrow.png) no-repeat left center;
    left: -38px;
}



.bxslider li p {
    margin-top: 35px;
    color: #fff;
    font-size: 11px;
    padding: 0px 25px 20px 25px;
}

.owl-item {
    padding: 0px;
    float: left;
}

    .owl-item div {
        display: block;
        width: 100%;
        float: left;
    }

        .owl-item div img {
            display: block;
            outline: none;
            border: 1px solid red;
            border-top: 0px;
            border-bottom: 0px;
            float: left;
            width: 100%;
        }

.newsBanner .bx-wrapper .bx-controls-direction .bx-next {
    right: 25px;
}

.newsBanner .bx-wrapper .bx-controls-direction .bx-prev {
    left: 25px;
}

.footerShare {
    display: none;
    text-align: center;
}

    .footerShare ul li {
        display: inline-block;
        margin: 8px 8px 5px 8px;
    }

/* Featured stories */
.featuredStories {
    background: #f5f5f5;
    padding: 37px 0px 35px 0px;
    text-align: center;
    position: relative;
    margin-top: 70px;
}

    .featuredStories p, .featuredStories h2 {
        margin: auto;
        max-width: 850px;
    }

    .featuredStories h2 {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 4px;
        margin-bottom: 13px;
    }

    .featuredStories p {
        color: rgba(44, 44, 44, 0.6);
        font-size: 13px;
        line-height: 20px;
    }

.storyGrid {
    margin: auto;
    background: #f5f5f5;
    overflow: hidden;
}

    .storyGrid ul li {
        display: inline-block;
        margin-right: -4px;
        width: 25%; /*margin-bottom:-2px; */
        padding: 1px;
        position: relative;
        overflow: hidden;
        vertical-align: top;
    }

        .storyGrid ul li img {
            display: block;
            width: 100%;
            transition: all ease 1s;
            -moz-transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

        .storyGrid ul li:hover img {
            transform: scale(1.1);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transition: all ease 1s;
            -moz-transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

        .storyGrid ul li .gridContent {
            position: absolute;
            top: 17px;
            left: 15px;
            padding-right: 35px;
            color: #fff;
            transition: all ease 1s;
            -moz-transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

            .storyGrid ul li .gridContent span {
                font-size: 12px;
                color: #dfdfdf;
            }

            .storyGrid ul li .gridContent h4 {
                font-size: 19px;
                font-family: "Gotham-Medium", Helvetica, sans-serif;
                font-weight: normal;
                margin-bottom: 3px;
            }

            .storyGrid ul li .gridContent .titles {
                background: #ed1a3b;
                display: inline-block;
                font-size: 8px;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                padding: 5px 4px 3px 4px;
                letter-spacing: 1px;
                margin: 0px 4px 4px 0;
            }

        .storyGrid ul li:hover .gridContent {
            transform: translateY(-130%);
            -moz-transform: translateY(-130%);
            -webkit-transform: translateY(-130%);
            -ms-transform: translateY(-130%);
            -o-transform: translateY(-130%);
            transition: all ease 1s;
            -moz-transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

.gridInnerCon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(203, 8, 11, 0.78);
    opacity: 0;
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    z-index: -1;
}

.storyGrid ul li:hover .gridInnerCon {
    opacity: 1;
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    z-index: 1;
}

.gridInnerConMain {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 10%;
    text-align: center;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
}

.storyGrid ul li:hover .gridInnerConMain {
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.gridInnerConMain p {
    color: #fff;
    font: 16px Gotham-Book;
    margin: 0 auto;
    opacity: 0;
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
}

.gridInnerConMain a {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -70px;
    opacity: 0;
    display: inline-block;
    font: normal 13px Gotham-Book;
    color: #fff;
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
}

.listTarget {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
}

.storyGrid ul li:hover .listTarget {
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    z-index: 2;
}

.storyGrid ul li:hover .gridInnerConMain a {
    bottom: -35px;
    opacity: 1;
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
}

.storyGrid ul li:hover .gridInnerConMain p {
    opacity: 1;
    transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
}

.gridBlock {
    position: relative;
    overflow: hidden;
}

.pagiNation {
    margin: auto;
    text-align: center;
    margin: 14px 0 16px 0;
}

    .pagiNation li {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin: 0 2px;
        vertical-align: top;
    }

        .pagiNation li a {
            cursor: pointer;
            display: inline-block; /*padding:8px 14px;*/
            width: 33px;
            height: 33px;
            line-height: 33px;
            background: #c0c0c0;
            color: #fff;
            text-decoration: none;
            border-radius: 100%;
            font-family: "Gotham-Bold", Helvetica, sans-serif;
            font-size: 14px;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
        }

            .pagiNation li a:hover {
                background: #ed1a3b;
            }

            .pagiNation li a.next {
                font-size: 10px;
                line-height: 33px;
            }

                .pagiNation li a.next span {
                    display: block;
                    line-height: 33px;
                }

            .pagiNation li a.active {
                background: #fff none repeat scroll 0 0;
                border: 1px solid #e0e0e0;
                color: red !important;
            }



.articleContainer {
    color: white;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    top: 99%!important;
    width: 100%;
}

.caption {
    display: none;
}


.div50 {
    width: 50%;
    position: relative;
}

    .div50 img {
        max-width: 100%;
        display: block;
    }

.div50Link {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: ease all 1s;
    -moz-transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -ms-transition: ease all 1s;
    -o-transition: ease all 1s;
    background: red;
    z-index: 99;
}

    .div50Link:hover {
        opacity: 1;
    }

.accordionSlide.accordionFour li {
    width: 16%;
}

    .accordionSlide.accordionFour li.active {
        width: 52%;
    }

.accordionSlide.accordionThree li {
    width: 16%;
}

    .accordionSlide.accordionThree li.active {
        width: 68%;
    }

.accordionSlide.accordionTwo li {
    width: 16%;
}

    .accordionSlide.accordionTwo li.active {
        width: 84%;
    }

@media (max-width:1024px) {
    ul.shareIcon {
        left: -60px;
    }

    ul.shareIconsFixed {
        left: inherit;
        margin-left: -60px;
    }

    .storyRow {
        margin: 0;
    }

    .story50 .storyRow {
        margin: 0 -1px;
    }

    .articleBanner > img {
        min-height: 100px;
    }

    .storyCon {
        background-position: bottom left;
        padding-bottom: 0;
    }

    .storyCell .storyCon:hover ~ .storyInnerMain {
        opacity: 1;
        z-index: 1;
    }
}

@media (max-width:991px) {
    .bx-wrapper .bx-next {
        right: -18px;
    }

    .bx-wrapper .bx-prev {
        left: -18px;
    }

    .articleContainer {
        max-width: 600px;
    }

    .featuredStories p, .featuredStories h2 {
        padding: 0 27px;
    }

    .accordionCon {
        padding: 10px 20px;
    }

    .storyInnerCon p {
        font-size: 16px;
    }

    .storyCon h3 {
        font-size: 14px;
    }

    .downloadCon iframe {
        min-height: 400px;
        max-height: 400px;
    }
}


@media (max-width:767px) {

    .accordionSlide.accordionFour li {
        width: 100%;
    }

        .accordionSlide.accordionFour li.active {
            width: 100%;
        }

    .accordionSlide.accordionThree li {
        width: 100%;
    }

        .accordionSlide.accordionThree li.active {
            width: 100%;
        }

    .accordionSlide.accordionTwo li {
        width: 100%;
    }

        .accordionSlide.accordionTwo li.active {
            width: 100%;
        }

    .deskImg {
        display: none !important;
    }

    .mobImg {
        display: block !important;
    }

    header {
        padding: 8px 20px;
    }

    .menuIcon {
        margin: 3px 17px 0 0;
    }

    .logo img {
        max-width: 34px;
    }

    .guidelines {
        display: none;
    }

    .menuMain {
        top: 50px;
    }

    .menu {
        padding: 0;
    }

        .menu ul li {
            display: block;
            background: none;
            border-bottom: solid 1px #fff;
            text-align: left;
            padding: 0;
        }

            .menu ul li a {
                font-size: 14px;
            }

            .menu ul li:nth-child(3) {
                border-bottom: solid 1px #fff;
            }

            .menu ul li:last-child {
                border: none;
            }

            .menu ul li.guidelinesMob {
                display: block;
            }

            .menu ul li a {
                display: block;
                padding: 15px 20px;
            }

    .sgSpirit {
        padding: 0px 25px 0px 25px;
        margin: 50px 0 0 0;
    }

        .sgSpirit .mainWraper {
            padding-bottom: 12px;
        }

        .sgSpirit h4 {
            font-size: 14px;
            letter-spacing: 3px;
        }

        .sgSpirit p {
            font-size: 12px;
            line-height: 19px;
            margin: 12px auto;
        }

        .sgSpirit a {
            font-size: 10px;
        }

    .accordionSlide ul {
        max-height: none;
        overflow: inherit;
    }

        .accordionSlide ul li {
            display: block;
            width: 100%;
            margin: 0 0 -1px 0;
            height: 100px;
            padding: 0;
            border: solid 1px #fff;
        }

            .accordionSlide ul li:last-child {
                border: solid 1px #fff;
            }

            .accordionSlide ul li img {
                transform: none;
                -moz-transform: none;
                -webkit-transform: none;
                -ms-transform: none;
                -o-transform: none;
                width: 100%;
            }

            .accordionSlide ul li:hover, .accordionSlide ul li.active {
                width: 100%;
                transform: none;
                -moz-transform: none;
                -webkit-transform: none;
                -ms-transform: none;
                -o-transform: none;
                /*height: auto;*/
            }

    .story50 {
        width: 100%;
    }

        .story50 .story50, .story25 {
            width: 50%;
        }

    .featuredStoriesSection h2 {
        font-size: 14px;
        margin: 15px 0;
    }

    .storyCon h3, .storyPlay h3 {
        font-size: 18px;
    }

    .storyPlay img {
        margin: 0px;
    }

    .storyPlay a img {
        margin: 5px 0 0 0;
    }

    .seeMoreStories {
        padding: 12px 0;
        margin-bottom: 1px;
    }

    .storyInnerCon p {
        max-width: 75%;
    }

    .storyInnerCon a {
        margin: 20px 0 0 0;
    }

    .storyCon span.date {
        font-size: 12px;
    }

    .revisitImg {
        /*background: url(../images/revisit-mob.jpg) no-repeat center;*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        padding: 39px 0;
    }

    .maintenance {
        padding: 15px 30px;
        font-size: 12px;
        line-height: 19px;
    }

        .maintenance i {
            top: 10px;
            right: 10px;
            margin-top: 2px;
            cursor: pointer;
        }

    .downloadPopupContainer {
        padding: 20px;
    }

    .downloadHeader p a {
        margin-bottom: 15px;
    }

    .downloadCon {
        margin: 15px 0 0 0;
    }

        .downloadCon p {
            margin: 20px 0;
        }

    .downloadBTN {
        margin: 20px 0;
    }

        .downloadBTN a {
            font-size: 13px;
        }

    .downloadFooter {
        padding: 15px 0 0 0;
    }

    .downloadCon iframe {
        min-height: 300px;
        max-height: 300px;
    }


    .articleBanner, .featuredStories {
        margin-top: 50px;
    }

    ul.shareIcon {
        display: none;
    }

    .articleContainer {
        max-width: 90%;
    }

    .footerShare {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255,255,255,0.9);
        border-top: solid 1px #e1e1e1;
    }

        .footerShare .shareIcon {
            display: block!important;
        }

    .featuredStories {
        padding: 40px 20px 20px 20px;
    }

        .featuredStories h2 {
            font-size: 14px;
        }

        .featuredStories p {
            font-size: 11px;
            line-height: 16px;
        }

    .storyGrid ul li .gridContent {
        top: 15px;
        left: 15px;
        padding-right: 10px;
    }

    .storyGrid ul li {
        width: 50%;
    }

        .storyGrid ul li .gridContent h4 {
            font-size: 14px;
            line-height: 20px;
        }

    #footer {
        margin-bottom: 51px;
    }

    .footerHome {
        margin: 0 !important;
    }

    .shareIconsFixed {
        display: none !important;
    }

    .latestNewsItemCon span.date, .storyGrid ul li .gridContent span {
        font-size: 12px;
    }

    .latestNewsItemCon h3, .storyGrid ul li .gridContent h4 {
        font-size: 16px;
    }
}

@media (max-width:640px) {
    .articleContent, .articleCarousel .articleContainer {
        padding: 0px 30px;
    }

    .titleBlock .dateTitle {
        max-width: 100%;
        text-align: center;
        width: 100%;
        float: none;
    }

    .titleBlock .author {
        position: relative;
        width: 100%;
        max-width: 100%;
        float: none;
        text-align: center;
        padding-top: 10px;
    }

    .articleContent .titleBlock {
        padding-bottom: 0px;
    }

    .playBtn img {
        max-width: 50px;
    }

    .downloadHeader p a img {
        max-width: 44px;
        display: inline-block;
        margin-bottom: -15px;
    }
}

@media (max-width:480px) {
    #footer .footerCont p span {
        display: block;
        margin: 5px 0 0 0;
    }

    .articleContainer {
        max-width: 100%;
    }

    .oppurtunity .mainContent h2 {
        font-size: 19px;
        line-height: 25px;
        font-weight: normal;
        padding-bottom: 22px;
    }

    .oppurtunity .mainContent h4 {
        font-size: 13px;
    }

    .oppurtunity .mainContent {
        padding: 28px 30px 14px 30px;
    }

    .newsSection h2 {
        font-size: 14px;
        padding: 15px 0 15px;
    }

    .articleContent .mainContent p.padTop25 {
        padding: inherit;
    }

    .titleBlock .dateTitle h2 {
        font-size: 25px;
        padding: 4px 0px;
    }

    .titleBlock .dateTitle h4 {
        font-size: 12px;
    }

    .articleContent .titleBlock {
        padding-top: 12px;
    }

    .accordionCon p {
        margin: 0px;
    }

    .downloadCon iframe {
        min-height: 250px;
        max-height: 250px;
    }

    .playBtn img {
        max-width: 40px;
    }

    .latestNewsItemCon {
        padding: 15px 20px 70px;
    }

        .latestNewsItemCon span.btn {
            font-size: 8px;
        }

        .latestNewsItemCon a {
            font-size: 7px;
        }

    .articleCarousel {
        max-width: 100%;
        background: url(../images/article-banner-backgound-mob.jpg) no-repeat;
        background-position: bottom center;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    .articleCarousel {
        max-width: 100%;
        background: url(../images/article-banner-backgound-mob2.jpg) repeat-x bottom left;
    }
}

@media (max-width:360px) {
    .newsBanner .bx-wrapper .bx-controls-direction .bx-next {
        right: 10px;
        width: 10px;
    }

    .newsBanner .bx-wrapper .bx-controls-direction .bx-prev {
        left: 10px;
        width: 10px;
    }

    #footer .footerCont ul li a {
        margin: 0px 11px;
    }

    #footer {
        padding: 22px 0 18px;
    }

        #footer .footerCont .footerLogo {
            margin: 30px 0 10px;
        }

    .footerShare ul li img {
        width: 34px;
    }

    .articleCarousel {
        padding-bottom: 10px;
    }

    .bx-wrapper .bx-pager {
        padding-top: 15px!important;
    }

        .bx-wrapper .bx-pager.bx-default-pager a {
            width: 8px!important;
            height: 8px!important;
            border: 1px solid #fff!important;
        }

            .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
                border: 1px solid #fff!important;
            }

    .revisit {
        padding: 35px 0px;
    }

    .downloadCon iframe {
        min-height: 200px;
        max-height: 200px;
    }

    .latestNewsItemCon span.btn {
        font-size: 8px;
    }

    .latestNewsItemCon span.date {
        font-size: 10px;
    }
}
