﻿@media (max-width:767px) {
    .section-calendar .wrap-calendar .block-event.month {
        display: none !important;
        cursor: pointer;
    }
     .section-calendar .wrap-calendar .block-event .wrap-info {
        height: 150px;
    }
    .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info {
        min-height:230px !important;
    }
    .wrap-tnc p{
        padding:0 5px;
    }
   
    .block-event.comming {
        height: 235.969px !important;
    }
     
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event.month {
        display: block;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /*.section-filter .list .item .btn {
        margin-top: 37px;
    }*/
}

img.gray-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: gray;
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .content .link {
    white-space:inherit !important;
} 


/*.nice-select .list:hover .option:first-child {
    background-color: #ed1a3b !important;
}*/

