.downloadPopupWraper {
    background: rgba(0,0,0,.5);
}

    .downloadPopupWraper .downloadPopupContainer {
        width: 920px;
        position: relative;
        max-width: 100%;
        padding: 0;
        background: url(../images/calendar/popup-bg.jpg) bottom #fff no-repeat;
        max-height: 90vh;
        top: 50%;
        transform: translateY(-50%);
        overflow: auto;
    }

        .downloadPopupWraper .downloadPopupContainer .inner {
            width: 700px;
            max-width: calc(100% - 50px);
            margin: 50px auto auto;
            text-align: center;
        }

@media (min-width:768px) {
    .downloadPopupWraper .downloadPopupContainer .inner {
        max-width: calc(100% - 20px);
        margin: auto;
    }
}

.downloadPopupWraper .downloadPopupContainer .inner p {
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    font-family: Gotham-Book,Arial,sans-serif;
}

.downloadPopupWraper .downloadPopupContainer .inner .note {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid hsla(0,0%,56%,.2);
}

@media (min-width:768px) {
    .downloadPopupWraper .downloadPopupContainer .inner .note {
        font-size: 16px;
        line-height: 24px;
    }
}

.downloadPopupWraper .downloadPopupContainer .downloadBTN {
    margin: 30px 0;
}

    .downloadPopupWraper .downloadPopupContainer .downloadBTN a {
        box-shadow: none;
        background: #ef4358;
        border: none;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        color: #fff;
        font-family: Gotham-Medium,Arial,sans-serif;
        font-size: 12px;
    }

.downloadPopupWraper .downloadPopupContainer .downloadHeader {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
}

    .downloadPopupWraper .downloadPopupContainer .downloadHeader a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }

        .downloadPopupWraper .downloadPopupContainer .downloadHeader a:hover:before {
            transform: rotate(45deg);
            transition: all .3s ease 0s;
        }

        .downloadPopupWraper .downloadPopupContainer .downloadHeader a:hover:after {
            transform: rotate(135deg);
            transition: all .3s ease 0s;
        }

        .downloadPopupWraper .downloadPopupContainer .downloadHeader a:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 3px;
            height: 100%;
            background: #ed1a3b;
            transform: rotate(-45deg);
        }

        .downloadPopupWraper .downloadPopupContainer .downloadHeader a:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 3px;
            height: 100%;
            background: #ed1a3b;
            transform: rotate(45deg);
        }

.downloadPopupWraper .downloadPopupContainer .downloadCon h1 {
    text-transform: capitalize;
}

.submitEventPopupWraper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    overflow: auto;
    display: none;
    background: rgba(0,0,0,.5);
}

    .submitEventPopupWraper .submitEventPopupContainer {
        margin: 30px auto;
        width: 920px;
        position: relative;
        max-width: 100%;
        padding: 20px 0;
        background: #fff;
        border-bottom: 7px solid #ed1f3e;
    }

        .submitEventPopupWraper .submitEventPopupContainer .inner {
            width: 600px;
            max-width: calc(100% - 60px);
            margin: 50px auto auto;
            text-align: center;
        }

@media (min-width:768px) {
    .submitEventPopupWraper .submitEventPopupContainer .inner {
        max-width: calc(100% - 20px);
        margin: auto;
    }
}

.submitEventPopupWraper .submitEventPopupContainer .inner .note {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    font-family: Gotham-Book,Arial,sans-serif;
    color: #4e4d4c;
    padding-bottom: 20px;
}

.submitEventPopupWraper .submitEventPopupContainer .inner ul {
    text-align: left;
    max-width: 360px;
    margin: auto;
    font-family: Gotham-Medium,Arial,sans-serif;
    font-size: 12px;
}

    .submitEventPopupWraper .submitEventPopupContainer .inner ul li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 10px;
    }

        .submitEventPopupWraper .submitEventPopupContainer .inner ul li:before {
            content: "";
            position: absolute;
            right: 100%;
            top: 6px;
            width: 4px;
            height: 4px;
            background: #ed1f3e;
            border-radius: 50%;
        }

.submitEventPopupWraper .submitEventPopupContainer .submitEventCon {
    margin: 20px 0 0;
}

    .submitEventPopupWraper .submitEventPopupContainer .submitEventCon h1 {
        font-family: Gotham-Book,Arial,sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #000;
        text-align: center;
        text-transform: uppercase;
    }

.submitEventPopupWraper .submitEventPopupContainer .submitEventBTN {
    margin: 30px 0;
}

    .submitEventPopupWraper .submitEventPopupContainer .submitEventBTN a {
        box-shadow: none;
        background: #ef4358;
        border: none;
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        color: #fff;
        font-family: Gotham-Medium,Arial,sans-serif;
        font-size: 13px;
        border-radius: 20px;
        display: inline-block;
    }

.submitEventPopupWraper .submitEventPopupContainer .submitEventHeader {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
}

    .submitEventPopupWraper .submitEventPopupContainer .submitEventHeader a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }

        .submitEventPopupWraper .submitEventPopupContainer .submitEventHeader a:hover:before {
            transform: rotate(45deg);
            transition: all .3s ease 0s;
        }

        .submitEventPopupWraper .submitEventPopupContainer .submitEventHeader a:hover:after {
            transform: rotate(135deg);
            transition: all .3s ease 0s;
        }

        .submitEventPopupWraper .submitEventPopupContainer .submitEventHeader a:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 3px;
            height: 100%;
            background: #ed1a3b;
            transform: rotate(-45deg);
        }

        .submitEventPopupWraper .submitEventPopupContainer .submitEventHeader a:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 3px;
            height: 100%;
            background: #ed1a3b;
            transform: rotate(45deg);
        }

.eventDetailPopupWraper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    overflow: auto;
    display: none;
    background: rgba(0,0,0,.5);
}

    .eventDetailPopupWraper .eventDetailPopupContainer {
        margin: 0 auto;
        width: 920px;
        position: relative;
        max-width: 100%;
        background: #fff;
        border-bottom: 7px solid #ed1f3e;
    }

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer {
        margin: 30px auto;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer.disable .eventDetailCon .wrap-info .date .dom, .eventDetailPopupWraper .eventDetailPopupContainer.disable .eventDetailCon .wrap-info .date .dow, .eventDetailPopupWraper .eventDetailPopupContainer.disable .eventDetailCon .wrap-info .date .year, .eventDetailPopupWraper .eventDetailPopupContainer.disable .eventDetailCon .wrap-info .wrap-title .event-type {
    color: #929292;
}

.eventDetailPopupWraper .eventDetailPopupContainer.disable .eventDetailCon .wrap-info .wrap-title .event-title {
    color: #545454;
}

.eventDetailPopupWraper .eventDetailPopupContainer.disable .eventDetailCon .wrap-info .wrap-location .time:before {
    background: url(../images/calendar/icon-timer-disable.png) 50% no-repeat;
    background-size: cover;
}

.eventDetailPopupWraper .eventDetailPopupContainer.disable .eventDetailCon .wrap-info .wrap-location .place:before {
    background: url(../images/calendar/icon-pin-disable.png) 50% no-repeat;
    background-size: cover;
}

.eventDetailPopupWraper .eventDetailPopupContainer .inner .note {
    font-size: 16px;
    line-height: 24px;
    font-family: Gotham-Medium,Arial,sans-serif;
    color: #595959;
}

.eventDetailPopupWraper .eventDetailPopupContainer .inner .desc {
    font-size: 14px;
    line-height: 20px;
    font-family: Gotham-Book,Arial,sans-serif;
    color: #595959;
}

    .eventDetailPopupWraper .eventDetailPopupContainer .inner .desc .link {
        color: #ef4358;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
    }

.eventDetailPopupWraper .eventDetailPopupContainer .inner .link {
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 10px;
    text-decoration: underline;
    color: #595959;
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon {
    *zoom: 1;
}

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon:after, .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon:before {
        content: " ";
        display: table;
    }

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon:after {
        clear: both;
    }

@media (max-width:767px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon {
        margin-top: 40px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-thumb {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 52%;
}

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-thumb .thumb {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        transition: all 1s ease 0s;
    }

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-thumb .tag {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #fff;
        background: #ef4358;
        padding: 10px 20px;
        font-family: Gotham-Book,Arial,sans-serif;
        font-size: 13px;
    }

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-thumb .tag {
        font-size: 18px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info {
    padding: 20px 10px;
    overflow: hidden;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info {
        padding: 20px 65px 30px 10px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .left {
    float: left;
    width: 65px;
    margin-right: 10px;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .left {
        width: 126px;
        margin-right: 40px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .right {
    float: right;
    width: calc(100% - 75px);
    *zoom: 1;
}

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .right:after, .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .right:before {
        content: " ";
        display: table;
    }

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .right:after {
        clear: both;
    }

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .right {
        border-bottom: 1px solid #424242;
        width: calc(100% - 166px);
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .mobile-clear {
    display: none;
}

@media (max-width:767px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .mobile-clear {
        display: block;
        clear: both;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .content {
    margin: 20px 0;
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .4px;
    text-align: justify;
    color: #565656;
}

@media (max-width:767px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .content {
        border-top: 1px solid #424242;
        padding: 20px 10px 10px;
        text-align: left;
        margin: 10px 0 0;
    }
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .content {
        float: right;
        width: calc(100% - 166px);
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .content .link {
    display: inline-block;
    color: #ed1a3b;
    font-size: 12px;
    font-family: Gotham-Medium,Arial,sans-serif;
    white-space: nowrap;
    text-decoration: none;
    margin: 10px 0 0;
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date {
    text-align: center;
    text-transform: uppercase;
    color: #ed1a3b;
}

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date.to-date {
        margin-top: 60px;
        position: relative;
    }

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date.to-date {
        margin-top: 100px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date.to-date:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin: 5px auto;
    width: 1px;
    height: 50px;
    background: #c6c6c6;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date.to-date:before {
        height: 90px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date .dow {
    font-family: Gotham-Medium,Arial,sans-serif;
    font-size: 15px;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date .dow {
        font-size: 24px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date .dom {
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 36px;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date .dom {
        font-size: 58px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date .year {
    font-family: Gotham-Medium,Arial,sans-serif;
    font-size: 11px;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .date .year {
        font-size: 16px;
    }
}

@media (max-width:767px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-title {
        margin-bottom: 30px;
    }
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-title {
        float: left;
        width: 50%;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-title .event-type {
    color: #ed1a3b;
    font-size: 11px;
    font-family: Gotham-Book,Arial,sans-serif;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-title .event-type {
        font-size: 16px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-title .event-title {
    font-size: 20px;
    font-family: Gotham-Bold,Arial,sans-serif;
    letter-spacing: 1px;
    color: #000;
    margin: 10px 0;
    font-weight: 400;
    overflow: hidden;
}

@media (max-width:767px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-title .event-title {
        min-height: 80px;
    }
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-title .event-title {
        font-size: 24px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location {
    color: #8e8e8e;
    font-size: 11px;
    letter-spacing: .4px;
    font-family: Gotham-Medium,Arial,sans-serif;
    margin-bottom: 10px;
    line-height: 20px;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location {
        float: right;
        width: 35%;
        font-size: 12px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .time {
    margin-bottom: 10px;
}

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .time:before {
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        background: url(../images/calendar/icon-timer.png) 50% no-repeat;
        background-size: cover;
        margin-right: 10px;
        vertical-align: middle;
    }

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .time:before {
        width: 15px;
        height: 15px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .place {
    position: relative;
    margin-bottom: 5px;
    padding-left: 20px;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .place {
        padding-left: 24px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .place:before {
    position: absolute;
    left: 0;
    content: "";
    width: 10px;
    height: 12px;
    display: inline-block;
    background: url(../images/calendar/icon-pin.png) 50% no-repeat;
    background-size: cover;
    margin-right: 5px;
    vertical-align: middle;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .place:before {
        width: 15px;
        height: 18px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .place .link {
    color: #ed1a3b;
    font-size: 11px;
    font-family: Gotham-Medium,Arial,sans-serif;
    white-space: nowrap;
    text-decoration: none;
    display: block;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .wrap-location .place .link {
        font-size: 12px;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .desc {
    font-family: Gotham-Medium,Arial,sans-serif;
    font-size: 13px;
    margin-bottom: 4px;
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .month-large {
    letter-spacing: 2px;
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .month-large, .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-info .year-large {
    text-transform: uppercase;
    font-size: 54px;
    line-height: 50px;
    font-family: Gotham-Medium,Arial,sans-serif;
    font-weight: 400;
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-social {
    float: right;
    width: calc(100% - 166px);
}

@media (max-width:767px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-social {
        display: none;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-social .list .item {
    display: inline-block;
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-tnc {
    clear: both;
    text-align: center;
}

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailCon .wrap-tnc {
        padding-top: 10px;
        width: calc(100% + 45px);
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile {
    background: #3d3d3d;
    padding: 4px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    *zoom: 1;
}

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile:after, .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile:before {
        content: " ";
        display: table;
    }

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile:after {
        clear: both;
    }

@media (min-width:768px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile {
        display: none;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile .wrap-social {
    float: right;
    width: calc(100% - 50px);
}

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile .wrap-social .list {
        white-space: nowrap;
        text-align: right;
    }

        .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile .wrap-social .list .item {
            display: inline-block;
        }

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeaderMobile .close {
    display: inline-block;
    width: 40px;
    color: #fff;
    font-size: 30px;
    line-height: 32px;
    text-align: left;
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeader {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    z-index: 1;
}

@media (max-width:767px) {
    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeader {
        display: none;
    }
}

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeader a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeader a:hover:before {
        transform: rotate(45deg);
        transition: all .3s ease 0s;
    }

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeader a:hover:after {
        transform: rotate(135deg);
        transition: all .3s ease 0s;
    }

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeader a:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 3px;
        height: 100%;
        background: #ed1a3b;
        transform: rotate(-45deg);
    }

    .eventDetailPopupWraper .eventDetailPopupContainer .eventDetailHeader a:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 3px;
        height: 100%;
        background: #ed1a3b;
        transform: rotate(45deg);
    }

.eventDetailPopupWraper .eventDetailPopupContainer .eventDetailFooter {
    padding: 20px 0;
    background: #ededed;
    text-align: center;
}

@keyframes flash-animate {
    0% {
        left: -65%;
    }

    to {
        left: 120%;
    }
}

header .menuIcon {
    display: block;
}

@media (min-width:992px) {
    header .menuIcon {
        display: none;
    }
}

header .logo {
    position: relative;
    z-index: 1;
}

header .wrap-new-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    transform-origin: 50% 0;
    transition: all .3s ease;
    max-height: calc(100vh - 50px);
    overflow: auto;
    *zoom: 1;
}

    header .wrap-new-menu:after, header .wrap-new-menu:before {
        content: " ";
        display: table;
    }

    header .wrap-new-menu:after {
        clear: both;
    }

    header .wrap-new-menu.show {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }

@media (max-width:991px) {
    header .wrap-new-menu {
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0);
    }
}

@media (min-width:992px) {
    header .wrap-new-menu {
        padding-top: 15px;
        position: relative;
        width: auto;
    }
}

header .wrap-new-menu .new-menu {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

    header .wrap-new-menu .new-menu.menu-first {
        background: rgba(237,26,59,.9);
    }

@media (min-width:992px) {
    header .wrap-new-menu .new-menu.menu-first {
        float: left;
        margin-left: 20px;
        background: none;
    }
}

@media (max-width:991px) {
    header .wrap-new-menu .new-menu.menu-first li:last-child {
        display: none;
    }
}

header .wrap-new-menu .new-menu.menu-first a {
    color: #fff;
}

@media (min-width:992px) {
    header .wrap-new-menu .new-menu.menu-first a {
        color: #ed1a3b;
    }

        header .wrap-new-menu .new-menu.menu-first a.active, header .wrap-new-menu .new-menu.menu-first a:hover {
            font-weight: 600;
        }
}

header .wrap-new-menu .new-menu.menu-first a i {
    margin: 0 15px;
}

header .wrap-new-menu .new-menu.menu-last {
    background: hsla(0,0%,40%,.9);
}

@media (min-width:992px) {
    header .wrap-new-menu .new-menu.menu-last {
        float: right;
        background: none;
    }
}

header .wrap-new-menu .new-menu.menu-last a {
    color: #fff;
}

@media (min-width:992px) {
    header .wrap-new-menu .new-menu.menu-last a {
        color: #666;
    }

        header .wrap-new-menu .new-menu.menu-last a.active, header .wrap-new-menu .new-menu.menu-last a:hover {
            color: #000;
            font-weight: 600;
        }
}

header .wrap-new-menu .new-menu.hide {
    opacity: 0;
    visibility: hidden;
}

header .wrap-new-menu .new-menu li {
    margin: 0;
    padding: 10px;
}

@media (max-width:991px) {
    header .wrap-new-menu .new-menu li {
        border-bottom: 1px solid #fff;
        line-height: 40px;
    }
}

@media (min-width:992px) {
    header .wrap-new-menu .new-menu li {
        margin: 0 10px;
        padding: 0;
        display: inline-block;
    }
}

header .wrap-new-menu .new-menu li a {
    display: block;
}

header .wrap-search {
    background: #fff;
}

@media (max-width:991px) {
    header .wrap-search {
        border-top: 1px solid #b8b8b8;
    }
}

@media (min-width:992px) {
    header .wrap-search {
        position: absolute;
        top: 0;
        margin-top: 5px;
        left: 80px;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: all .3s ease;
    }

        header .wrap-search.show {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            transform: scale(1);
        }
}

header .wrap-search .input-text {
    position: relative;
    display: block;
    line-height: 48px;
    border-bottom: 1px solid #b8b8b8;
    white-space: nowrap;
    min-width: 280px;
}

@media (min-width:992px) {
    header .wrap-search .input-text {
        line-height: 32px;
    }
}

header .wrap-search .input-text input {
    border: none;
    outline: none;
    display: inline-block;
    padding: 0;
    width: calc(100% - 90px);
    color: #666;
    font-size: 14px;
}

@media (max-width:991px) {
    header .wrap-search .input-text input {
        padding-left: 20px;
    }
}

header .wrap-search .input-text input::-webkit-input-placeholder {
    color: #aaa;
    font-size: 14px;
}

header .wrap-search .input-text input:-ms-input-placeholder {
    color: #aaa;
    font-size: 14px;
}

header .wrap-search .input-text input::placeholder {
    color: #aaa;
    font-size: 14px;
}

header .wrap-search .input-text button {
    display: block;
    border: none;
    outline: none;
    background: none;
    width: 40px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #b8b8b8;
}

@media (max-width:991px) {
    header .wrap-search .input-text button {
        position: absolute;
        right: 10px;
        height: 48px;
    }
}

@media (min-width:992px) {
    header .wrap-search .input-text button {
        display: inline-block;
    }
}

header .wrap-search .input-text a {
    display: none;
}

@media (min-width:992px) {
    header .wrap-search .input-text a {
        color: #b8b8b8;
        width: 40px;
        font-size: 16px;
        text-align: center;
        display: inline-block;
    }
}

.section-calendar {
    max-width: 100%;
    margin: auto;
    background-color: #fff;
}

@media (min-width:992px) {
    .section-calendar {
        max-width: calc(100% - 100px);
    }
}

.section-calendar + .section-end {
    border: none;
    height: 1px;
    background: #dcdcdc;
    margin: 30px 0;
}

.section-calendar .section-heading {
    font-family: Gotham-Book,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2c2c2c;
    letter-spacing: 4px;
    text-align: center;
    margin: 24px 0 16px;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .section-calendar .section-heading {
        font-size: 18px;
        margin: 24px 0;
    }
}

.section-calendar .section-desc {
    font-family: Gotham-Book,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #2c2c2c;
    text-align: center;
    margin: auto;
    padding: 0 25px 20px;
}

@media (min-width:768px) {
    .section-calendar .section-desc {
        font-size: 13px;
        line-height: 20px;
    }
}

.section-calendar .bx-wrapper {
    max-width: 100%!important;
    margin-bottom: 50px;
}

    .section-calendar .bx-wrapper .bx-viewport .wrap-calendar {
        margin-left: 20px;
    }

    .section-calendar .bx-wrapper .bx-pager .bx-pager-link {
        margin: 0 2px;
        width: 11px!important;
        height: 11px!important;
        border-radius: 50%;
        background: #d3d3d3;
        border: none;
    }

        .section-calendar .bx-wrapper .bx-pager .bx-pager-link.active, .section-calendar .bx-wrapper .bx-pager .bx-pager-link:hover {
            background: #ed1a3b;
            border: none;
        }

    .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-thumb .tag {
        font-size: 11px;
    }

    .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info {
        min-height: 150px;
        height: auto;
        padding: 10px 5px 0;
    }

        .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .left {
            width: 56px;
            margin-right: 10px;
        }

        .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .right {
            width: calc(100% - 66px);
        }

        .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .date {
            text-align: center;
            text-transform: uppercase;
            color: #ed1a3b;
        }

            .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .date.to-date {
                margin-top: 55px;
                margin-bottom: 10px;
            }

                .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .date.to-date:before {
                    height: 50px;
                }

            .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .date .dow {
                font-size: 16px;
            }

            .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .date .dom {
                font-size: 36px;
            }

            .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .date .year {
                font-size: 11px;
            }

        .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .wrap-title .event-type {
            font-size: 10px;
        }

        .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .wrap-title .event-title {
            font-size: 15px;
            height: 90px;
        }

        .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .wrap-location {
            margin-top: 25px;
        }

            .section-calendar .bx-wrapper .wrap-calendar .block-event .wrap-info .wrap-location .time {
                margin-bottom: 10px;
            }

.section-calendar .wrap-mobile-month {
    background: url(../images/calendar/mobile-month-bg.jpg) 50% no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 5px 0;
    *zoom: 1;
}

    .section-calendar .wrap-mobile-month:after, .section-calendar .wrap-mobile-month:before {
        content: " ";
        display: table;
    }

    .section-calendar .wrap-mobile-month:after {
        clear: both;
    }

    .section-calendar .wrap-mobile-month.sticky {
        position: fixed;
        top: 50px;
        z-index: 2;
    }

@media (min-width:768px) {
    .section-calendar .wrap-mobile-month {
        display: none;
    }
}

.section-calendar .wrap-mobile-month .bx-wrapper .bx-viewport {
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.section-calendar .wrap-mobile-month .bx-wrapper .bx-controls-direction a {
    margin-top: -12px;
    background: none;
    font-size: 20px;
    text-indent: 0;
    color: #fff;
}

.section-calendar .wrap-mobile-month .bx-wrapper .bx-controls-direction .bx-prev {
    left: 10px;
}

.section-calendar .wrap-mobile-month .bx-wrapper .bx-controls-direction .bx-next {
    right: 10px;
}

.section-calendar .wrap-mobile-month .list {
    white-space: nowrap;
}

    .section-calendar .wrap-mobile-month .list .item {
        display: inline-block;
    }

        .section-calendar .wrap-mobile-month .list .item a {
            color: #704045;
            font-size: 14px;
            font-family: Gotham-Medium,Arial,sans-serif;
            text-transform: uppercase;
            display: block;
            padding: 10px;
            text-align: center;
            transition: all .3s ease 0s;
        }

            .section-calendar .wrap-mobile-month .list .item a.active {
                color: #fff;
            }

.section-calendar .wrap-calendar {
    *zoom: 1;
}

    .section-calendar .wrap-calendar:after, .section-calendar .wrap-calendar:before {
        content: " ";
        display: table;
    }

    .section-calendar .wrap-calendar:after {
        clear: both;
    }

    .section-calendar .wrap-calendar .block-event {
        float: left;
        width: 50%;
        padding: 5px;
    }

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event {
        padding: 10px;
        width: 25%;
    }
}

.section-calendar .wrap-calendar .block-event:hover .wrap-thumb .thumb {
    transform: scale(1.05);
}

.section-calendar .wrap-calendar .block-event.disable .inner {
    background: #f0f0f0;
}

.section-calendar .wrap-calendar .block-event.disable .wrap-info .date .dom, .section-calendar .wrap-calendar .block-event.disable .wrap-info .date .dow, .section-calendar .wrap-calendar .block-event.disable .wrap-info .date .year {
    color: #929292;
}

.section-calendar .wrap-calendar .block-event.disable .wrap-info .wrap-title .event-type {
    color: #8e8e8e;
}

.section-calendar .wrap-calendar .block-event.disable .wrap-info .wrap-title .event-title {
    color: #585858;
}

.section-calendar .wrap-calendar .block-event.disable .wrap-info .wrap-location .time:before {
    background: url(../images/calendar/icon-timer-disable.png) 50% no-repeat;
    background-size: cover;
}

.section-calendar .wrap-calendar .block-event.disable .wrap-info .wrap-location .place:before {
    background: url(../images/calendar/icon-pin-disable.png) 50% no-repeat;
    background-size: cover;
}

.section-calendar .wrap-calendar .block-event.comming {
    overflow: hidden;
}

    .section-calendar .wrap-calendar .block-event.comming .flash {
        position: absolute;
        left: -65%;
        top: 0;
        width: 65%;
        height: 100%;
        opacity: .8;
        z-index: 1;
        background: #fff;
        background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.45),hsla(0,0%,100%,0));
        animation: flash-animate 2s linear 0s infinite;
    }

.section-calendar .wrap-calendar .block-event.month {
    display: none;
    cursor: pointer;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event.month {
        display: block;
    }
}

.section-calendar .wrap-calendar .block-event.month .wrap-info {
    position: absolute;
    top: 50%;
    max-width: 65%;
    height: auto;
    transform: translateY(-50%);
    color: #fff;
}

@media (max-width:767px) {
    .section-calendar .wrap-calendar .block-event.block-more .inner {
        height: 100%;
    }
    header .wrap-search .input-text {
        display:flex;
        height:48px;
    }
}

@media (max-width:767px) {
    .section-calendar .wrap-calendar .block-event.block-more .bg {
        position: absolute;
    }
}

.section-calendar .wrap-calendar .block-event.block-more .link-more {
    color: #000;
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

    .section-calendar .wrap-calendar .block-event.block-more .link-more:hover .anim-loader .circle {
        animation-name: jump;
    }

    .section-calendar .wrap-calendar .block-event.block-more .link-more span {
        display: block;
    }

    .section-calendar .wrap-calendar .block-event.block-more .link-more .content {
        display: table-cell;
        vertical-align: middle;
    }

    .section-calendar .wrap-calendar .block-event.block-more .link-more .anim-loader {
        margin: 15px 0 0;
        width: 50px;
    }

        .section-calendar .wrap-calendar .block-event.block-more .link-more .anim-loader .circle {
            background: #ed1a3b;
            width: 8px;
            height: 8px;
            margin: 0 1px;
            border-radius: 100%;
            display: inline-block;
            float: none;
        }

.section-calendar .wrap-calendar .block-event .inner {
    display: block;
    border: 1px solid #eaeaea;
    height: calc(150px + 50%);
    max-height: 100%;
    position: relative;
    *zoom: 1;
}

    .section-calendar .wrap-calendar .block-event .inner:after, .section-calendar .wrap-calendar .block-event .inner:before {
        content: " ";
        display: table;
    }

    .section-calendar .wrap-calendar .block-event .inner:after {
        clear: both;
    }

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .inner {
        min-height: 324px;
        height: 100%;
    }
}

.section-calendar .wrap-calendar .block-event .inner .bg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .inner .bg {
        position: absolute;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-thumb {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 45%;
    overflow: hidden;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-thumb {
        padding-bottom: 60%;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-thumb .thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .5s ease 0s;
}

@media (min-width:992px) {
    .section-calendar .wrap-calendar .block-event .wrap-thumb .thumb {
        transition: all 1s ease 0s;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-thumb .tag {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    background: #ed1a3b;
    padding: 4px 6px;
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 9px;
}

.section-calendar .wrap-calendar .block-event .wrap-info {
    height: 145px;
    padding: 10px 5px;
    overflow: hidden;
    *zoom: 1;
}

    .section-calendar .wrap-calendar .block-event .wrap-info:after, .section-calendar .wrap-calendar .block-event .wrap-info:before {
        content: " ";
        display: table;
    }

    .section-calendar .wrap-calendar .block-event .wrap-info:after {
        clear: both;
    }

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info {
        padding: 10px;
        height: 220px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .left {
    float: left;
    width: 32px;
    margin-right: 10px;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .left {
        width: 56px;
        margin-right: 10px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .right {
    float: right;
    width: calc(100% - 44px);
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .right {
        width: calc(100% - 66px);
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .date {
    text-align: center;
    text-transform: uppercase;
    color: #ed1a3b;
}

    .section-calendar .wrap-calendar .block-event .wrap-info .date.to-date {
        margin-top: 35px;
        position: relative;
    }

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .date.to-date {
        margin-top: 45px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .date.to-date:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin: 2px auto;
    width: 1px;
    height: 30px;
    background: #c6c6c6;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .date.to-date:before {
        height: 40px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .date .dow {
    font-family: Gotham-Medium,Arial,sans-serif;
    font-size: 9px;
    max-width: 40px;
    overflow: hidden;
    margin: auto;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .date .dow {
        font-size: 16px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .date .dom {
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 22px;
    max-width: 50px;
    overflow: hidden;
    margin: auto;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .date .dom {
        font-size: 36px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .date .year {
    font-family: Gotham-Medium,Arial,sans-serif;
    font-size: 8px;
    max-width: 46px;
    overflow: hidden;
    margin: auto;
    white-space: nowrap;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .date .year {
        font-size: 11px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .wrap-title .event-type {
    color: #ed1a3b;
    font-size: 8px;
    font-family: Gotham-Book,Arial,sans-serif;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .wrap-title .event-type {
        font-size: 9px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .wrap-title .event-title {
    font-size: 13px;
    font-family: Gotham-Bold,Arial,sans-serif;
    letter-spacing: 1px;
    color: #000;
    margin: 4px 0;
    overflow: hidden;
    font-weight: 400;
}

@media (max-width:767px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .wrap-title .event-title {
        max-width: 80%;
        height: 64px;
        line-height: 16px;
    }
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .wrap-title .event-title {
        font-size: 14px;
        line-height: 16px;
        height: 80px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .wrap-location {
    position: relative;
    margin-top: 20px;
    color: #8e8e8e;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: .2px;
    font-family: Gotham-Medium,Arial,sans-serif;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .wrap-location {
        margin-top: 25px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .wrap-location .time {
    margin-bottom: 8px;
    white-space: nowrap;
}

    .section-calendar .wrap-calendar .block-event .wrap-info .wrap-location .time:before {
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        background: url(../images/calendar/icon-timer.png) 50% no-repeat;
        background-size: cover;
        margin-right: 6px;
        vertical-align: middle;
    }

.section-calendar .wrap-calendar .block-event .wrap-info .wrap-location .place {
    position: absolute;
    top: 28px;
    margin-bottom: 10px;
    padding-left: 16px;
    max-height: 46px;
    overflow: hidden;
}

    .section-calendar .wrap-calendar .block-event .wrap-info .wrap-location .place:before {
        position: absolute;
        left: 0;
        top: 4px;
        content: "";
        width: 10px;
        height: 12px;
        display: inline-block;
        background: url(../images/calendar/icon-pin.png) 50% no-repeat;
        background-size: cover;
        margin-right: 5px;
        vertical-align: middle;
    }

.section-calendar .wrap-calendar .block-event .wrap-info .desc {
    font-family: Gotham-Medium,Arial,sans-serif;
    font-size: 13px;
    margin-bottom: 4px;
}

.section-calendar .wrap-calendar .block-event .wrap-info .month-large {
    text-transform: uppercase;
    font-size: 34px;
    line-height: 30px;
    font-family: Gotham-Medium,Arial,sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
}

@media (min-width:992px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .month-large {
        font-size: 54px;
        line-height: 50px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-info .year-large {
    text-transform: uppercase;
    font-size: 34px;
    line-height: 30px;
    font-family: Gotham-Medium,Arial,sans-serif;
    font-weight: 400;
}

@media (min-width:992px) {
    .section-calendar .wrap-calendar .block-event .wrap-info .year-large {
        font-size: 54px;
        line-height: 50px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-action {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

    .section-calendar .wrap-calendar .block-event .wrap-action .btn-action {
        color: #fff;
        font-family: Gotham-Book,Arial,sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        white-space: nowrap;
    }

        .section-calendar .wrap-calendar .block-event .wrap-action .btn-action:hover .icon:before {
            transform: rotate(90deg);
            transition: all .3s ease 0s;
        }

        .section-calendar .wrap-calendar .block-event .wrap-action .btn-action:hover .icon:after {
            transform: rotate(180deg);
            transition: all .3s ease 0s;
        }

        .section-calendar .wrap-calendar .block-event .wrap-action .btn-action.collapsed .icon:before {
            transform: rotate(90deg);
            transition: all .3s ease 0s;
        }

        .section-calendar .wrap-calendar .block-event .wrap-action .btn-action.collapsed .icon:after {
            transform: rotate(270deg);
            transition: all .3s ease 0s;
        }

        .section-calendar .wrap-calendar .block-event .wrap-action .btn-action .text {
            vertical-align: middle;
            margin-right: 6px;
        }

        .section-calendar .wrap-calendar .block-event .wrap-action .btn-action .icon {
            vertical-align: middle;
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px;
            border: 2px solid #fff;
            border-radius: 50%;
        }

            .section-calendar .wrap-calendar .block-event .wrap-action .btn-action .icon:after, .section-calendar .wrap-calendar .block-event .wrap-action .btn-action .icon:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 8px;
                margin: auto;
                width: 2px;
                height: 20px;
                background: #fff;
            }

            .section-calendar .wrap-calendar .block-event .wrap-action .btn-action .icon:after {
                transform: rotate(90deg);
            }

.section-calendar .wrap-calendar .block-event .wrap-add {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-add {
        margin-bottom: 30px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-add .wrap-add-info {
    position: absolute;
    bottom: 0;
}

.section-calendar .wrap-calendar .block-event .wrap-add .btn-add {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    margin-top: -40px;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-add .btn-add {
        width: 60px;
        height: 60px;
        margin-top: -40px;
    }
}

@media (min-width:992px) {
    .section-calendar .wrap-calendar .block-event .wrap-add .btn-add {
        width: 90px;
        height: 90px;
        margin-top: -60px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-add .btn-add:hover:before {
    transform: rotate(90deg);
    transition: all .3s ease 0s;
}

.section-calendar .wrap-calendar .block-event .wrap-add .btn-add:hover:after {
    transform: rotate(180deg);
    transition: all .3s ease 0s;
}

.section-calendar .wrap-calendar .block-event .wrap-add .btn-add:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    margin: auto;
    width: 6px;
    height: 100%;
    background: #fff;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-add .btn-add:before {
        width: 8px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-add .btn-add:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    margin: auto;
    width: 6px;
    height: 100%;
    background: #fff;
    transform: rotate(90deg);
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-add .btn-add:after {
        width: 8px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-add .desc {
    margin: 0 10px 10px;
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 11px;
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event .wrap-add .desc {
        margin: 0 30px 20px;
        font-size: 13px;
    }
}

.section-calendar .wrap-calendar .block-event .wrap-add .link {
    font-size: 9px;
    font-family: Gotham-Book,Arial,sans-serif;
    color: #fff;
    text-decoration: underline;
}

.section-calendar .wrap-calendar .hidden {
    display: none;
}

@media (max-width:767px) {
    .filter-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: -1;
        opacity: 0;
        transition: all .3s ease 0s;
    }

        .filter-bg.active {
            opacity: 1;
            z-index: 8;
        }
}

@media (min-width:768px) {
    .filter-bg {
        display: none;
    }
}

.section-filter {
    margin: 20px auto 30px;
    max-width: 1024px;
}

@media (max-width:767px) {
    .section-filter {
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9;
        background: #eaeaea;
        transform: translateY(100%);
        transition: all .3s ease 0s;
    }

        .section-filter.active, .section-filter.active .wrap-func {
            transform: translateY(0);
        }
}

.section-filter .wrap-func {
    margin-bottom: 10px;
    background: #eaeaea;
    border-top: 2px solid #ed1a3b;
    padding: 15px 10px;
    transform: translateY(-100%);
    transition: all .3s ease 0s;
}

@media (min-width:768px) {
    .section-filter .wrap-func {
        display: none;
    }
}

.section-filter .wrap-func .btn-filter {
    color: #ed1a3b;
    text-transform: uppercase;
    font-family: Gotham-Bold,Arial,sans-serif;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
}

    .section-filter .wrap-func .btn-filter .fa {
        font-size: 16px;
        vertical-align: middle;
        margin-left: 5px;
    }

.section-filter .wrap-func .btn-reset {
    float: right;
    display: inline-block;
    color: #595959;
    padding: 0 12px;
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.section-filter .nice-select {
    float: none;
    width: 180px;
    margin: 0 auto;
    border-radius: 0;
    border-color: #ed1a3b;
    font-size: 13px;
    text-transform: uppercase;
    color: #ed1a3b;
    font-family: Gotham-Medium,Arial,sans-serif;
    height: 30px;
    line-height: 28px;
}

    .section-filter .nice-select:after {
        border: 0;
        width: auto;
        height: auto;
        content: "\f107";
        font-family: FontAwesome;
        transform: translateY(-50%);
        transform-origin: center center;
        margin-top: 0;
        font-size: 20px;
    }

    .section-filter .nice-select.active {
        background: #ed1a3b;
        color: #fff;
    }

    .section-filter .nice-select.open:after {
        transform: translateY(-50%) rotate(-180deg);
    }

    .section-filter .nice-select.open .list {
        transform: scaleY(1);
    }

    .section-filter .nice-select .current {
        display: block;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section-filter .nice-select .list {
        width: 100%;
        margin-top: 1px;
        border-radius: 0;
        box-shadow: 0 0 0 1px #df452f;
        transform: scaleY(0);
        transform-origin: 50% 0;
        padding: 0;
    }

        .section-filter .nice-select .list .option {
            text-align: center;
            border-top: 1px solid #ed1a3b;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ed1a3b;
            background-color: #fff;
        }

            .section-filter .nice-select .list .option:first-child {
                border-top: 0;
            }

            .section-filter .nice-select .list .option.selected, .section-filter .nice-select .list .option:hover {
                color: #fff;
                font-weight: 400;
                background-color: #ed1a3b!important;
            }

                .section-filter .nice-select .list .option.selected .month, .section-filter .nice-select .list .option:hover .month {
                    color: #fff;
                }

            .section-filter .nice-select .list .option .year {
                font-size: 24px;
                float: left;
            }

                .section-filter .nice-select .list .option .year.opt-hide {
                    display: none;
                }

            .section-filter .nice-select .list .option .month {
                color: #6a6a6a;
                float: right;
            }

.section-filter .list {
    text-align: center;
    padding: 0 10px 10px;
}

@media (max-width:767px) {
    .section-filter .list .item {
        margin: 0 -10px;
        padding: 10px;
        border-bottom: 1px solid #cacaca;
        *zoom: 1;
    }

        .section-filter .list .item:after, .section-filter .list .item:before {
            content: " ";
            display: table;
        }

        .section-filter .list .item:after {
            clear: both;
        }
}

@media (min-width:768px) {
    .section-filter .list .item {
        display: inline-block;
        margin-bottom: 10px;
    }
}

.section-filter .list .item:last-child {
    vertical-align: middle;
    height: 40px;
    white-space: nowrap;
}

@media (max-width:767px) {
    .section-filter .list .item:last-child {
        border-bottom: none;
        margin-bottom: 30px;
    }
}

.section-filter .list .item.select-period .nice-select {
    width: 200px;
}

.section-filter .list .item label {
    display: block;
    color: #747474;
    font-size: 13px;
    font-family: Gotham-Book,Arial,sans-serif;
    margin-bottom: 6px;
}

@media (max-width:767px) {
    .section-filter .list .item label {
        float: left;
    }
}

.section-filter .list .item label + .fa {
    float: right;
    color: #ed1a3b;
    margin-right: 10px;
    pointer-events: none;
}

@media (min-width:768px) {
    .section-filter .list .item label + .fa {
        display: none;
    }
}

.section-filter .list .item select {
    direction: rtl;
    float: right;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: right;
    outline: none;
    color: #ed1a3b;
    font-family: Gotham-Book,Arial,sans-serif;
    padding-right: 10px;
}

@media (max-width:767px) {
    .section-filter .list .item select {
        max-width: 200px;
    }
}

@media (max-width:767px) {
    .section-filter .list .item select.hidden-xs {
        display: none;
    }
}

.section-filter .list .item select.visible-xs {
    display: none;
}

@media (max-width:767px) {
    .section-filter .list .item select.visible-xs {
        display: block!important;
    }
}

.section-filter .list .item .btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding: 0 12px;
    font-family: Gotham-Book,Arial,sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    transition: all .3s ease 0s;
}

    .section-filter .list .item .btn:hover {
        opacity: .8;
    }

    .section-filter .list .item .btn.btn-apply {
        background: #ed1a3b;
    }

@media (max-width:767px) {
    .section-filter .list .item .btn.btn-apply {
        font-size: 15px;
        padding: 0 50px;
        margin: 10px 0;
        height: 40px;
        line-height: 40px;
    }
}

.section-filter .list .item .btn.btn-reset {
    background: #6a6a6a;
}

@media (max-width:767px) {
    .section-filter .list .item .btn.btn-reset {
        display: none;
    }
}

@media (max-width:767px) {
    .page-event-listing + #footer {
        padding: 22px 0 65px;
    }
}

.page-event-listing .section-head {
    padding-top: 50px;
    background: #f5f5f5;
}

@media (min-width:768px) {
    .page-event-listing .section-head {
        padding-top: 70px;
    }
}

.page-event-listing .section-head .section-heading {
    font-family: Gotham-Book,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2c2c2c;
    letter-spacing: 4px;
    text-align: center;
    margin: 16px 0;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .page-event-listing .section-head .section-heading {
        margin: 32px 0 16px;
        font-size: 18px;
    }
}

.page-event-listing .section-head .section-desc {
    font-family: Gotham-Book,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #2c2c2c;
    text-align: center;
    margin: auto;
    padding: 0 25px 20px;
    max-width: 540px;
}

@media (min-width:768px) {
    .page-event-listing .section-head .section-desc {
        font-size: 13px;
        line-height: 20px;
    }
}

.page-event-listing .section-head .section-desc .link {
    color: #ed1a3b;
    white-space: nowrap;
}

.page-event-listing .section-calendar {
    padding-bottom: 5px;
}

    .page-event-listing .section-calendar .wrap-calendar.anchor {
        margin-top: 46px;
    }

    .page-event-listing .section-calendar .wrap-calendar .block-event.block-more {
        display: none;
    }

@media (min-width:768px) {
    .page-event-listing .section-calendar .wrap-calendar .block-event.block-more {
        display: block;
    }
}

@media (max-width:767px) {
    .page-event-listing .section-calendar .wrap-calendar .block-event .wrap-info .wrap-title .event-title {
        max-width: 100%;
        height: 80px;
    }
}

.page-event-listing .section-calendar .wrap-calendar .block-event .wrap-info .wrap-location .place {
    display: none;
}

@media (min-width:768px) {
    .page-event-listing .section-calendar .wrap-calendar .block-event .wrap-info .wrap-location .place {
        display: block;
    }
}

.page-event-listing .section-calendar .wrap-tnc {
    max-width: 1024px;
    margin: 15px auto;
    text-align: center;
    font-size: 12px;
}

    .page-event-listing .section-calendar .wrap-tnc .link {
        color: #ed1a3b;
        white-space: nowrap;
    }

.wrap-404 {
    position: relative;
    height: 0;
    padding-bottom: 180%;
    padding-bottom: 180vmin;
    background: url(../images/background-404.jpg) 50% no-repeat;
    background-size: cover;
}

@media (min-width:768px) {
    .wrap-404 {
        padding-bottom: 65%;
    }
}

@media (min-width:992px) {
    .wrap-404 {
        padding-bottom: 40%;
    }
}

.wrap-404 .wrap-content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
}

    .wrap-404 .wrap-content .inner {
        width: 750px;
        max-width: 100%;
        margin: auto;
        padding: 30px;
        *zoom: 1;
    }

        .wrap-404 .wrap-content .inner:after, .wrap-404 .wrap-content .inner:before {
            content: " ";
            display: table;
        }

        .wrap-404 .wrap-content .inner:after {
            clear: both;
        }

        .wrap-404 .wrap-content .inner .wrap-icon {
            margin: 30px;
            text-align: center;
        }

@media (min-width:768px) {
    .wrap-404 .wrap-content .inner .wrap-icon {
        margin: 15px 60px 15px 0;
        float: left;
    }
}

@media (max-width:767px) {
    .wrap-404 .wrap-content .inner .wrap-icon img {
        max-width: 80px;
    }
}

.wrap-404 .wrap-content .inner .wrap-message .heading {
    font-size: 40px;
    margin: 0 0 15px;
    font-weight: 400;
}

@media (min-width:768px) {
    .wrap-404 .wrap-content .inner .wrap-message .heading {
        font-size: 52px;
    }
}

.wrap-404 .wrap-content .inner .wrap-message .title {
    color: #444;
    font-size: 20px;
    font-weight: 400;
    opacity: .6;
    margin-bottom: 15px;
}

@media (min-width:768px) {
    .wrap-404 .wrap-content .inner .wrap-message .title {
        font-size: 28px;
    }
}

.wrap-404 .wrap-content .inner .wrap-message .desc {
    color: #444;
    opacity: .6;
}

.wrap-search-result {
    padding-top: 50px;
}

@media (min-width:768px) {
    .wrap-search-result {
        padding-top: 70px;
    }
}

.wrap-search-result .wrap-search-header {
    background: url(/assets/sgcalendar/images/background-404.jpg) top no-repeat;
    background-size: 100% auto;
    padding-top: 50px;
}

    .wrap-search-result .wrap-search-header .inner {
        padding-bottom: 0;
    }

.wrap-search-result .inner {
    max-width: 750px;
    padding: 15px;
    margin: 0 auto;
}

.wrap-search-result .heading {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid #9d9d9d;
}

    .wrap-search-result .heading b, .wrap-search-result .title {
        font-family: Gotham-Medium,Arial,sans-serif;
    }

.wrap-search-result .title {
    font-size: 16px;
    color: #444;
    margin: 10px 0;
    font-weight: 400;
    text-transform: capitalize;
}

.wrap-search-result .desc {
    opacity: .6;
    color: #444;
    font-size: 14px;
    margin-bottom: 15px;
}

.wrap-search-result .search-result-list {
    margin-bottom: 50px;
}

    .wrap-search-result .search-result-list li {
        margin-bottom: 45px;
    }

    .wrap-search-result .search-result-list a {
        color: #0035f1;
        opacity: .6;
    }

        .wrap-search-result .search-result-list a.active, .wrap-search-result .search-result-list a:hover {
            opacity: 1;
        }

.maintenance {
    z-index: 99;
}

.show-small {
    display: none;
}

@media (max-width:767px) {
    .show-small {
        display: block;
    }
}

.hide-small {
    display: block;
}

@media (max-width:767px) {
    .hide-small {
        display: none;
    }
}
