img {
    max-width: 100%;
    border: none;
}

a {
    outline: none;
    text-decoration: none;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix:after {
    clear: both;
    display: block;
    content: "";
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/Gotham-Book_gdi.eot);
    src: url(../fonts/Gotham-Book_gdi.eot?#iefix) format("embedded-opentype"),url(../fonts/Gotham-Book_gdi.woff) format("woff"),url(../fonts/Gotham-Book_gdi.ttf) format("truetype"),url(../fonts/Gotham-Book_gdi.otf) format("opentype"),url(../fonts/Gotham-Book_gdi.svg#Gotham-Book) format("svg");
    font-weight: 325;
    font-style: normal;
    font-stretch: normal;
    unicode-range: u+0020-2212;
}

@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold_gdi.eot);
    src: url(../fonts/Gotham-Bold_gdi.eot?#iefix) format("embedded-opentype"),url(../fonts/Gotham-Bold_gdi.woff) format("woff"),url(../fonts/Gotham-Bold_gdi.ttf) format("truetype"),url(../fonts/Gotham-Bold_gdi.otf) format("opentype"),url(../fonts/Gotham-Bold_gdi.svg#Gotham-Bold) format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: u+0020-2212;
}

@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham-Medium_gdi.eot);
    src: url(../fonts/Gotham-Medium_gdi.eot?#iefix) format("embedded-opentype"),url(../fonts/Gotham-Medium_gdi.woff) format("woff"),url(../fonts/Gotham-Medium_gdi.ttf) format("truetype"),url(../fonts/Gotham-Medium_gdi.otf) format("opentype"),url(../fonts/Gotham-Medium_gdi.svg#Gotham-Medium) format("svg");
    font-weight: 350;
    font-style: normal;
    font-stretch: normal;
    unicode-range: u+0020-2212;
}

body {
    margin: 0;
    padding: 0;
    font-family: Gotham-Book,Helvetica,sans-serif;
    font-size: 14px;
    color: #2c2c2c;
}

body, html {
    -webkit-text-size-adjust: none;
}

.pullLeft {
    float: left;
}

.pullRight {
    float: right;
}

.mobImg {
    display: none!important;
}

.mainWraper {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

header {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
    border-bottom: 1px solid #e1e1e1;
    padding: 16px 23px;
}

.menuIcon {
    margin: 5px 30px 0 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    .logo img, .menuIcon img {
        display: block;
        cursor: pointer;
    }

    .menuIcon .iconLine {
        width: 27px;
        height: 3px;
        margin: 5px 0;
        background: #ed1a3b;
        display: block;
        border-radius: 10px;
        position: relative;
    }

        .menuIcon .iconLine:before {
            content: "";
            position: absolute;
            display: block;
            background: #c7c7c7;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 10px;
            transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
        }

        .menuIcon .iconLine:before, .menuIcon.menuIconActive .iconLine:before {
            transition: all .7s ease;
            -moz-transition: ease all .7s;
            -webkit-transition: all .7s ease;
            -ms-transition: ease all .7s;
            -o-transition: ease all .7s;
        }

    .menuIcon.menuIconActive .iconLine:before {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .menuIcon.menuIconActive .iconLine:first-child:before {
        transition: all .1s ease;
        -moz-transition: ease all .1s;
        -webkit-transition: all .1s ease;
        -ms-transition: ease all .1s;
        -o-transition: ease all .1s;
    }

    .menuIcon.menuIconActive .iconLine:nth-child(2):before {
        transition: all .3s ease;
        -moz-transition: ease all .3s;
        -webkit-transition: all .3s ease;
        -ms-transition: ease all .3s;
        -o-transition: ease all .3s;
    }

    .menuIcon .iconLine:first-child:before {
        transition: all .1s ease;
        -moz-transition: ease all .1s;
        -webkit-transition: all .1s ease;
        -ms-transition: ease all .1s;
        -o-transition: ease all .1s;
    }

    .menuIcon .iconLine:nth-child(2):before {
        transition: all .3s ease;
        -moz-transition: ease all .3s;
        -webkit-transition: all .3s ease;
        -ms-transition: ease all .3s;
        -o-transition: ease all .3s;
    }

    .menuIcon:hover .iconLine:before {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transition: all .7s ease;
        -moz-transition: ease all .7s;
        -webkit-transition: all .7s ease;
        -ms-transition: ease all .7s;
        -o-transition: ease all .7s;
    }

    .menuIcon:hover .iconLine:first-child:before {
        transition: all .1s ease;
        -moz-transition: ease all .1s;
        -webkit-transition: all .1s ease;
        -ms-transition: ease all .1s;
        -o-transition: ease all .1s;
    }

    .menuIcon:hover .iconLine:nth-child(2):before {
        transition: all .3s ease;
        -moz-transition: ease all .3s;
        -webkit-transition: all .3s ease;
        -ms-transition: ease all .3s;
        -o-transition: ease all .3s;
    }

.guidelines {
    margin-right: 25px;
}

    .guidelines a {
        font: normal 11px Gotham-Book;
        color: #757575;
        margin: 12px 0 0;
        display: inline-block;
    }

        .guidelines a:hover {
            color: #ed1a3b;
        }

        .guidelines a img {
            margin: 0 0 0 7px;
        }

.menuMain {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 999999;
}

.menu {
    background: rgba(237,26,59,.8);
    padding: 11px 0;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

    .menu ul li {
        display: inline-block;
        padding: 0 25px;
        background: url(../images/men-bar.jpg) 100% no-repeat;
        transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all .4s ease;
        -moz-transition: ease all .4s;
        -webkit-transition: all .4s ease;
        -ms-transition: ease all .4s;
        -o-transition: ease all .4s;
    }

    .menu.menuList ul li {
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

        .menu.menuList ul li:nth-child(2) {
            transition: all .6s ease;
            -moz-transition: ease all .6s;
            -webkit-transition: all .6s ease;
            -ms-transition: ease all .6s;
            -o-transition: ease all .6s;
        }

        .menu.menuList ul li:nth-child(3) {
            transition: all .8s ease;
            -moz-transition: ease all .8s;
            -webkit-transition: all .8s ease;
            -ms-transition: ease all .8s;
            -o-transition: ease all .9s;
        }

    .menu ul li:nth-child(2) {
        transition: all .6s ease;
        -moz-transition: ease all .6s;
        -webkit-transition: all .6s ease;
        -ms-transition: ease all .6s;
        -o-transition: ease all .6s;
    }

    .menu ul li:nth-child(3) {
        transition: all .8s ease;
        -moz-transition: ease all .8s;
        -webkit-transition: all .8s ease;
        -ms-transition: ease all .8s;
        -o-transition: ease all .8s;
    }

    .menu ul li a {
        font: normal 13px Gotham-Book;
        color: #fff;
    }

        .menu ul li a:hover {
            color: #000;
        }

    .menu ul li.guidelinesMob {
        display: none;
    }

.sgSpirit {
    margin: 70px 0 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #f5f5f5;
}

    .sgSpirit .mainWraper {
        padding: 27px 0 17px;
        text-align: center;
        position: relative;
    }

    .sgSpirit h4 {
        font: normal 18px Gotham-Book;
        color: #2c2c2c;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .sgSpirit p {
        max-width: 410px;
        font: normal 13px Gotham-Book;
        color: #2c2c2c;
        line-height: 20px;
        margin: 12px auto 16px;
    }

    .sgSpirit a {
        font: normal 12px Gotham-Book;
        color: #474747;
        cursor: pointer;
    }

        .sgSpirit a:hover {
            color: #ed1a3b;
        }

.collapse, .menu, .readMoreCon {
    display: none;
}

.accordionSlide ul, .accordionSlide ul li {
    max-height: 430px;
    overflow: hidden;
}

    .accordionSlide ul li {
        background: #000;
        float: left;
        position: relative;
        width: 16%;
        transition: all 1s ease;
        -moz-transition: all ease 1s;
        -webkit-transition: all 1s ease;
        -ms-transition: all ease .9s;
        -o-transition: all ease 1s;
        border-right: 1px solid #fff;
    }

        .accordionSlide ul li:last-child {
            border: none;
        }

        .accordionSlide ul li img {
            display: block;
            max-width: none;
            opacity: .5;
            transform: translateX(40%);
            -moz-transform: translateX(40%);
            -webkit-transform: translateX(40%);
            -ms-transform: translateX(40%);
            -o-transform: translateX(40%);
            float: right;
        }

        .accordionSlide ul li:hover, .accordionSlide ul li img {
            transition: all 1s ease;
            -moz-transition: all ease 1s;
            -webkit-transition: all 1s ease;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

        .accordionSlide ul li:hover {
            width: 68%;
        }

            .accordionSlide ul li:hover img {
                opacity: 1;
                transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
            }

            .accordionSlide ul li.active, .accordionSlide ul li:hover img {
                transition: all 1s ease;
                -moz-transition: all ease 1s;
                -webkit-transition: all 1s ease;
                -ms-transition: all ease 1s;
                -o-transition: all ease 1s;
            }

        .accordionSlide ul li.active {
            width: 68%;
        }

            .accordionSlide ul li.active img {
                opacity: 1;
                transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transition: all 1s ease;
                -moz-transition: all ease 1s;
                -webkit-transition: all 1s ease;
                -ms-transition: all ease 1s;
                -o-transition: all ease 1s;
            }

.accordionSlide.accordionFour li {
    width: 10%;
}

    .accordionSlide.accordionFour li.active {
        width: 70%;
    }

.accordionCon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/accordion-shadow.png) repeat-x;
    padding: 20px;
    z-index: 9;
}

    .accordionCon h3 {
        font: normal 16px Gotham-Medium;
        color: #fff;
    }

    .accordionCon p {
        font: normal 14px Gotham-Book;
        color: #fff;
        margin: 5px 0;
        display: none;
        min-width: 320px;
    }

.accordionSlide ul li.active .accordionCon p {
    display: block;
}

.featuredStoriesSection h2 {
    color: #2c2c2c;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 24px 0;
}

.featuredStoriesSection h2, .intro {
    font: normal 18px Gotham-Book;
    text-align: center;
}

.intro {
    margin: auto;
    padding: 0 27px 20px;
    font-size: 13px;
    line-height: 20px;
}

.storiesMain {
    background: #bfbfbf;
}

.storyRow img {
    display: block;
    max-width: 100%;
}

.storyCell {
    margin: 1px 0 0;
    position: relative;
}

.story50 {
    width: 50%;
}

.story25, .story50 {
    padding: 0 1px 0 0;
    float: left;
}

.story25 {
    width: 25%;
}

    .story25.last {
        float: right;
    }

.seeMoreStories {
    display: block;
    font: normal 14px Gotham-Book;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    background: #ed1a3b;
    margin: 1px 0;
}

.anim-loader {
    display: inline-block;
    width: 25px;
    height: 5px;
    position: relative;
    padding: 0;
    margin: 0 0 0 10px;
}

    .anim-loader .circle {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        -moz-animation-name: none;
        -moz-animation-duration: 1s;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-name: none;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -o-animation-name: none;
        -o-animation-duration: 1s;
        -o-animation-iteration-count: infinite;
        -ms-animation-name: none;
        -ms-animation-duration: 1s;
        -ms-animation-iteration-count: infinite;
        float: left;
        margin: 0 3px 0 0;
    }

.seeMoreStories:hover .circle {
    -webkit-animation-name: jump;
    -moz-animation-name: jump;
    -o-animation-name: jump;
    -ms-animation-name: jump;
}

.anim-loader .circle:first-of-type {
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -o-animation-delay: .2s;
    -ms-animation-delay: .2s;
}

.anim-loader .circle:nth-of-type(2) {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -o-animation-delay: .4s;
    -ms-animation-delay: .4s;
}

.anim-loader .circle:nth-of-type(3) {
    -moz-animation-delay: .6s;
    -webkit-animation-delay: .6s;
    -o-animation-delay: .6s;
    -ms-animation-delay: .6s;
}

.anim-loader .circle:nth-of-type(4) {
    -moz-animation-delay: .8s;
    -webkit-animation-delay: .8s;
    -o-animation-delay: .8s;
    -ms-animation-delay: .8s;
}

.storyCon {
    background: url(../images/story-con-bg.png) repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 14px 20px 50px;
    transition: all .5s ease;
    min-height: 150px;
}

    .storyCon span.date {
        font: normal 12px Gotham-Book;
        color: #dfdfdf;
    }

    .storyCon h3 {
        font: normal 19px Gotham-Medium;
        color: #fff;
    }

    .storyCon a {
        background: #ed1a3b;
        font: normal 8px Gotham-Book;
        color: #dfdfdf;
        display: inline-block;
        padding: 4px 6px;
        margin: 6px 0 0;
        text-transform: uppercase;
    }

        .storyCon a:hover {
            background: #950219;
        }

.storyPlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
}

    .storyPlay img {
        display: inline-block;
        width: auto!important;
        margin: 0 0 15px;
    }

    .storyCell:hover .storyPlay img, .storyPlay img {
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }

    .storyPlay h3 {
        font: normal 19px Gotham-Medium;
        color: #fff;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    .storyPlay a img {
        margin: 30px 0 0;
    }

.storyInnerMain {
    background: rgba(203,8,11,.78);
    top: 0;
    bottom: 0;
    transition: all .5s ease;
    -moz-transition: all ease .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    overflow: hidden;
    z-index: -1;
}

.storyInnerCon, .storyInnerMain {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0;
}

.storyInnerCon {
    top: 50%;
    transform: translateY(50%);
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    text-align: center;
    transition: all .2s ease;
    -moz-transition: all ease .2s;
    -webkit-transition: all .2s ease;
    -ms-transition: all ease .2s;
    -o-transition: all ease .2s;
}

    .storyInnerCon p {
        max-width: 50%;
        margin: 0 auto;
        font: normal 16px Gotham-Book;
        margin-top: 40pox;
    }

    .storyInnerCon a, .storyInnerCon p {
        color: #fff;
        transition: all 1s ease;
        -moz-transition: all ease 1s;
        -webkit-transition: all 1s ease;
        -ms-transition: all ease 1s;
        -o-transition: all ease 1s;
    }

    .storyInnerCon a {
        font: normal 13px Gotham-Book;
        display: inline-block;
        position: absolute;
        bottom: -100px;
        left: 0;
        right: 0;
    }

.storyCell {
    overflow: hidden;
}

    .storyCell img {
        width: 100%;
    }

    .storyCell:hover img, .storyCell img {
        transition: all 1.5s ease;
        -moz-transition: all ease 1.5s;
        -webkit-transition: all 1.5s ease;
        -ms-transition: all ease 1.5s;
        -o-transition: all ease 1.5s;
    }

    .storyCell:hover img {
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .storyCell:hover .storyInnerMain {
        opacity: 1;
        transition: all .5s ease;
        -moz-transition: all ease .5s;
        -webkit-transition: all .5s ease;
        -ms-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition-delay: .2s;
        -moz-transition-delay: .2s;
        -webkit-transition-delay: .2s;
        -ms-transition-delay: .2s;
        -o-transition-delay: .2s;
        z-index: 1;
    }

    .storyCell:hover .storyInnerCon {
        opacity: 1;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transition: all .3s ease;
        -moz-transition: all ease .3s;
        -webkit-transition: all .3s ease;
        -ms-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition-delay: .3s;
        -moz-transition-delay: .3s;
        -webkit-transition-delay: .3s;
        -ms-transition-delay: .3s;
        -o-transition-delay: .3s;
        top: 40%;
    }

        .storyCell:hover .storyInnerCon p {
            margin-top: 0;
        }

        .storyCell:hover .storyInnerCon a, .storyCell:hover .storyInnerCon p {
            transition: all .5s ease;
            -moz-transition: all ease .5s;
            -webkit-transition: all .5s ease;
            -ms-transition: all ease .5s;
            -o-transition: all ease .5s;
        }

        .storyCell:hover .storyInnerCon a {
            bottom: -40px;
            transition-delay: .3s;
            -moz-transition-delay: .3s;
            -webkit-transition-delay: .3s;
            -ms-transition-delay: .3s;
            -o-transition-delay: .3s;
        }

    .storyCell:hover .storyCon {
        z-index: 999;
        transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

        .storyCell:hover .storyCon, .storyCell:hover .storyCon a {
            transition: all .5s ease;
            -moz-transition: all ease .5s;
            -webkit-transition: all .5s ease;
            -ms-transition: all ease .5s;
            -o-transition: all ease .5s;
        }

            .storyCell:hover .storyCon a {
                background: #fff;
                color: #ed1a3b;
            }

            .storyCell:hover .storyCon .date {
                color: #fff;
            }

.storyInnerMain .storyInnerLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
}

.storyCell:hover .storyInnerMain .storyInnerLink {
    transform: scale(1);
}

.revisit {
    padding: 37px 0 32px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.revisitImg {
    background-position: top;
    background-repeat: no-repeat;
    background-color: #000;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -9;
}

.revisit:hover .revisitImg {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 1s ease;
    -moz-transition: ease all 1s;
    -webkit-transition: all 1s ease;
    -ms-transition: ease all 1s;
    -o-transition: ease all 1s;
}

.revisit h4 {
    font: normal 18px Gotham-Book;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.revisit p {
    color: #fff;
    line-height: 20px;
    max-width: 220px;
    margin: 13px auto 22px;
}

.revisit a, .revisit p {
    font: normal 13px Gotham-Book;
}

.revisit a {
    color: #000;
    display: inline-block;
    background: #fff;
    padding: 8px 23px;
    border-radius: 20px;
}

    .revisit a:hover {
        background: #ed1a3b;
        color: #fff;
    }

#footer {
    font: normal 13px Gotham-Book;
    color: #525252;
    margin: 0;
}

    #footer .footerCont ul li a, #footer .footerCont ul li a:hover {
        transition: all .7s ease;
        -moz-transition: ease all .7s;
        -webkit-transition: all .7s ease;
        -ms-transition: ease all .7s;
        -o-transition: ease all .7s;
    }

        #footer .footerCont ul li a:hover {
            color: #fff;
        }

    #footer .footerCont p span {
        margin-top: 10px;
        display: inline-block;
    }

    #footer .footerCont .footerLogo {
        margin: 30px 0 10px;
    }

.downloadPopupWraper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999999;
    overflow: auto;
    display: none;
}

.downloadPopupContainer {
    max-width: 560px;
    margin: 0 auto;
    padding: 55px 0 30px;
}

.downloadHeader {
    text-align: center;
}

    .downloadHeader p a {
        font: normal 13px Gotham-Book;
        color: #5c5c5c;
        cursor: pointer;
        margin-bottom: 25px;
        display: inline-block;
    }

.downloadCon {
    margin: 20px 0 0;
}

    .downloadCon h1 {
        font: normal 25px Gotham-Book;
        color: #5c5c5c;
        text-align: center;
    }

    .downloadCon h5 {
        font: normal 16px Gotham-Book;
    }

    .downloadCon p {
        font: normal 13px Gotham-Book;
        color: #5c5c5c;
        margin: 25px 0;
    }

        .downloadCon p span {
            font: normal 13px Gotham-Medium;
        }

    .downloadCon ul li {
        background: url(../images/list-dot.png) no-repeat left 4px;
        padding: 0 0 0 15px;
        margin: 10px 0;
    }

.downloadBTN {
    text-align: center;
    margin: 30px 0 40px;
}

    .downloadBTN a {
        display: inline-block;
        padding: 7px 15px;
        border: 1px solid #ed1a3b;
        border-radius: 20px;
        font: normal 14px Gotham-Medium;
        color: #ed1a3b;
        box-shadow: 0 3px 0 #ed1a3b;
    }

.downloadFooter {
    text-align: center;
    padding: 25px 0 0;
    border-top: 1px solid #e9e9e9;
}

    .downloadFooter img {
        max-width: 44px;
        cursor: pointer;
    }

    .downloadFooter a {
        cursor: pointer;
    }

.hideScrool {
    position: relativee;
    overflow: hidden;
}

#articleVideo .downloadPopupContainer {
    max-width: 95%;
}

#articleVideo .downloadCon {
    position: relative;
    height: 0;
    padding-bottom: 53.5%;
    padding-top: 30px;
    overflow: hidden;
}

    #articleVideo .downloadCon embed, #articleVideo .downloadCon iframe, #articleVideo .downloadCon object {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

#articleVideo .downloadFooter {
    margin-top: 20px;
}

.videoPopupWraper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999999;
    overflow: auto;
    display: none;
}

.videoPopupContainer {
    max-width: 560px;
    margin: 0 auto;
    padding: 55px 0 30px;
}

.videoHeader {
    text-align: center;
}

    .videoHeader p a {
        font: normal 13px Gotham-Book;
        color: #5c5c5c;
        cursor: pointer;
        margin-bottom: 25px;
        display: inline-block;
    }

.videoCon {
    margin: 20px 0 0;
}

    .videoCon h1 {
        font: normal 25px Gotham-Book;
        color: #5c5c5c;
        text-align: center;
    }

    .videoCon h5 {
        font: normal 16px Gotham-Book;
    }

    .videoCon p {
        font: normal 13px Gotham-Book;
        color: #5c5c5c;
        margin: 25px 0;
    }

        .videoCon p span {
            font: normal 13px Gotham-Medium;
        }

    .videoCon ul li {
        background: url(../images/list-dot.png) no-repeat left 4px;
        padding: 0 0 0 15px;
        margin: 10px 0;
    }

.videoBTN {
    text-align: center;
    margin: 30px 0 40px;
}

    .videoBTN a {
        display: inline-block;
        padding: 7px 15px;
        border: 1px solid #ed1a3b;
        border-radius: 20px;
        font: normal 14px Gotham-Medium;
        color: #ed1a3b;
        box-shadow: 0 3px 0 #ed1a3b;
    }

.videoFooter {
    text-align: center;
    padding: 25px 0 0;
    border-top: 1px solid #e9e9e9;
}

    .videoFooter img {
        max-width: 44px;
        cursor: pointer;
    }

    .videoFooter a {
        cursor: pointer;
    }

#articleVideo .videoPopupContainer {
    max-width: 95%;
}

#articleVideo .videoCon {
    position: relative;
    height: 0;
    padding-bottom: 53.5%;
    padding-top: 30px;
    overflow: hidden;
}

    #articleVideo .videoCon embed, #articleVideo .videoCon iframe, #articleVideo .videoCon object {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

#articleVideo .videoFooter {
    margin-top: 20px;
}

.maintenance {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    background: #f2dede;
    font: normal 13px Gotham-Book;
    color: #ba4e4c;
    z-index: 9;
}

    .maintenance span {
        display: block;
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    .maintenance i {
        color: #7f0000;
        margin: 2px 0 0;
        cursor: pointer;
        float: right;
    }

.OurSGwrapper {
    margin: auto;
    max-width: 1024px;
}

.articleBanner {
    position: relative;
    margin-top: 70px;
}

    .articleBanner > img {
        display: block;
        max-width: 100%;
        width: 100%;
        min-height: 440px;
    }

    .articleBanner a.playBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        cursor: pointer;
    }

.articleContainer {
    position: relative;
    max-width: 750px;
    margin: auto;
    display: block;
}

    .articleContainer li img {
        height: 0;
        padding-bottom: 52.4%;
    }

        .articleContainer li img.loaded, .articleContainer li img.loading {
            height: auto;
            padding-bottom: 0;
        }

ul.shareIcon {
    position: absolute;
    list-style: none;
    z-index: 100;
    top: 34px;
    left: -87px;
}

    ul.shareIcon li {
        margin: 0 0 5px;
    }

ul.shareIconsFixed {
    position: fixed;
    top: 75px;
    left: inherit;
    margin-left: -87px;
}

.articleContent .titleBlock {
    padding-top: 19px;
    display: block;
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 8px;
    position: relative;
}

.titleBlock .dateTitle {
    margin: auto;
    display: inline-block;
    max-width: 550px;
    color: #2c2c2c;
}

    .titleBlock .dateTitle h2 {
        font-size: 32px;
        padding-top: 3px;
    }

    .titleBlock .dateTitle h2, .titleBlock .dateTitle h4 {
        font-family: Gotham-Medium,Helvetica,sans-serif;
        font-weight: 400;
    }

    .titleBlock .dateTitle h4 {
        text-transform: uppercase;
    }

.articleContent .mainContent {
    font-size: 13px;
    color: rgba(44,44,44,.6);
}

    .articleContent .mainContent p {
        padding: 8px 0 13px;
        line-height: 20px;
    }

        .articleContent .mainContent p.padTop25 {
            padding-top: 24px;
        }

.titleBlock .author {
    display: inline-block;
    text-align: right;
    float: right;
    color: rgba(44,44,44,.6);
    position: absolute;
    bottom: 10px;
    right: 0;
}

.articleCarousel {
    max-width: 100%;
    background: url(../images/article-banner-backgound.jpg) repeat-x bottom;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 12px;
}

    .articleCarousel .caption {
        margin: auto;
        font: normal 11px Gotham-Book;
        color: #fff;
        padding: 0;
        letter-spacing: .8px;
        margin-top: 35px;
        max-width: 690px;
    }

    .articleCarousel .articleContainer .bx-wrapper {
        background: none;
    }

.oppurtunity {
    background: #a9a9a9;
    max-width: 100%;
    margin-top: 7px;
}

    .oppurtunity .mainContent {
        margin: auto;
        max-width: 750px;
        text-align: center;
        padding: 38px 0 32px;
    }

        .oppurtunity .mainContent h2 {
            color: #fff;
            font-size: 25px;
            padding-bottom: 32px;
            line-height: 33px;
        }

        .oppurtunity .mainContent h4 {
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
        }

.newsSection {
    max-width: 100%;
    background: #d4d4d4;
}

    .newsSection h2 {
        text-align: center;
        padding: 21px 0 15px;
        font-size: 18px;
        letter-spacing: 4px;
        font-weight: 400;
    }

.latestNewsItem {
    position: relative;
    border: 1px solid #9d9d9d;
    overflow: hidden;
}

.latestNewsItemCon {
    position: absolute;
    background: url(../images/story-con-bg.png) repeat-x;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 20px;
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -o-transition: ease all .5s;
    -ms-transition: ease all .5s;
    min-height: 160px;
}

    .latestNewsItemCon span.date {
        display: block;
        font: normal 13px Gotham-Book;
        color: #dfdfdf;
    }

    .latestNewsItemCon h3 {
        display: block;
        font: normal 19px Gotham-Medium;
        color: #fff;
    }

    .latestNewsItemCon span.btn {
        font: normal 11px Gotham-Book;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        background: #ed1a3b;
        padding: 4px 6px;
        display: inline-block;
        margin-top: 5px;
    }

.latestNewsItem img {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.latestNewsItem:hover img, .latestNewsItem img {
    transition: all 1.5s ease;
    -moz-transition: ease all 1.5s;
    -webkit-transition: all 1.5s ease;
    -o-transition: ease all 1.5s;
    -ms-transition: ease all 1.5s;
}

.latestNewsItem:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.latestNewsItem a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 2s ease;
    -moz-transition: ease all 2s;
    -webkit-transition: all 2s ease;
    -ms-transition: ease all 1s;
    -o-transition: ease all 1s;
}

.latestNewsItem:hover a {
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
    z-index: 2;
}

.latestNewsItem:hover .latestNewsItemCon {
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: all 1s ease;
    -moz-transition: ease all 1s;
    -webkit-transition: all 1s ease;
    -o-transition: ease all 1s;
    -ms-transition: ease all 1s;
}

.newsItemInnerCon {
    background: rgba(203,8,11,.78);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.latestNewsItem:hover .newsItemInnerCon, .newsItemInnerCon {
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -o-transition: ease all .5s;
    -ms-transition: ease all .5s;
    transition-delay: .2s;
    -moz-transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
}

.latestNewsItem:hover .newsItemInnerCon {
    opacity: 1;
    z-index: 1;
}

.newsItemInnerConMain {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 15%;
    opacity: 0;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all 1s ease;
    -moz-transition: ease all 1s;
    -webkit-transition: all 1s ease;
    -o-transition: ease all 1s;
    -ms-transition: ease all 1s;
}

    .newsItemInnerConMain p {
        color: #fff;
        font: 16px Gotham-Book;
        margin: 0 auto;
    }

    .newsItemInnerConMain a {
        position: absolute;
        left: 0;
        right: 0;
        top: auto;
        bottom: -70px;
        display: inline-block;
        font: normal 13px Gotham-Book;
        color: #fff;
    }

    .latestNewsItem:hover .newsItemInnerConMain, .newsItemInnerConMain a {
        transition: all .5s ease;
        -moz-transition: ease all .5s;
        -webkit-transition: all .5s ease;
        -ms-transition: ease all .5s;
        -o-transition: ease all .5s;
    }

.latestNewsItem:hover .newsItemInnerConMain {
    opacity: 1;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition-delay: .5s;
    -moz-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
}

    .latestNewsItem:hover .newsItemInnerConMain a {
        bottom: -35px;
        transition: all .5s ease;
        -moz-transition: ease all .5s;
        -webkit-transition: all .5s ease;
        -ms-transition: ease all .5s;
        -o-transition: ease all .5s;
        transition-delay: .5s;
        -moz-transition-delay: .5s;
        -webkit-transition-delay: .5s;
        -ms-transition-delay: .5s;
        -o-transition-delay: .5s;
    }

#footer {
    background: #b8b8b8;
    padding: 22px 0 30px;
    text-align: center;
    font-size: 13px;
    color: #000;
}

    #footer .footerCont ul {
        margin-top: 18px;
    }

        #footer .footerCont ul li {
            display: inline-block;
        }

            #footer .footerCont ul li a {
                font-size: 32px;
                color: #5c5c5c;
                margin: 0 23px;
            }

                #footer .footerCont ul li a.twitter {
                    font-size: 35px;
                }

    #footer .footerCont p span {
        font-size: 11px;
    }

    #footer .footerCont .footerLogo {
        margin: 40px 0 10px;
    }

.bx-wrapper .bx-next {
    background: url(../images/next-arrow.png) no-repeat 100%;
    right: -38px;
}

.bx-wrapper .bx-prev {
    background: url(../images/prev-arrow.png) no-repeat 0;
    left: -38px;
}

.bxslider li p {
    margin-top: 35px;
    color: #fff;
    font-size: 11px;
    padding: 0 25px 20px;
}

.owl-item {
    padding: 0;
    float: left;
}

    .owl-item div, .owl-item div img {
        display: block;
        width: 100%;
        float: left;
    }

        .owl-item div img {
            outline: none;
            border: 1px solid red;
            border-top: 0;
            border-bottom: 0;
        }

.newsBanner .bx-wrapper .bx-controls-direction .bx-next {
    right: 25px;
}

.newsBanner .bx-wrapper .bx-controls-direction .bx-prev {
    left: 25px;
}

.footerShare {
    display: none;
    text-align: center;
}

    .footerShare ul li {
        display: inline-block;
        margin: 8px 8px 5px;
    }

.featuredStories {
    background: #f5f5f5;
    padding: 37px 0 35px;
    text-align: center;
    position: relative;
    margin-top: 70px;
}

    .featuredStories h2, .featuredStories p {
        margin: auto;
        max-width: 850px;
    }

    .featuredStories h2 {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 4px;
        margin-bottom: 13px;
    }

    .featuredStories p {
        color: rgba(44,44,44,.6);
        font-size: 13px;
        line-height: 20px;
    }

.storyGrid {
    margin: auto;
    background: #f5f5f5;
    overflow: hidden;
}

    .storyGrid ul li {
        display: inline-block;
        margin-right: -4px;
        width: 25%;
        padding: 1px;
        position: relative;
        overflow: hidden;
        vertical-align: top;
    }

        .storyGrid ul li img {
            display: block;
            width: 100%;
        }

        .storyGrid ul li:hover img, .storyGrid ul li img {
            transition: all 1s ease;
            -moz-transition: all ease 1s;
            -webkit-transition: all 1s ease;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

        .storyGrid ul li:hover img {
            transform: scale(1.1);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        .storyGrid ul li .gridContent {
            position: absolute;
            top: 17px;
            left: 15px;
            padding-right: 35px;
            color: #fff;
            transition: all 1s ease;
            -moz-transition: all ease 1s;
            -webkit-transition: all 1s ease;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

            .storyGrid ul li .gridContent span {
                font-size: 12px;
                color: #dfdfdf;
            }

            .storyGrid ul li .gridContent h4 {
                font-size: 19px;
                font-family: Gotham-Medium,Helvetica,sans-serif;
                font-weight: 400;
                margin-bottom: 3px;
            }

            .storyGrid ul li .gridContent .titles {
                background: #ed1a3b;
                display: inline-block;
                font-size: 8px;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                padding: 5px 4px 3px;
                letter-spacing: 1px;
                margin: 0 4px 4px 0;
            }

        .storyGrid ul li:hover .gridContent {
            transform: translateY(-130%);
            -moz-transform: translateY(-130%);
            -webkit-transform: translateY(-130%);
            -ms-transform: translateY(-130%);
            -o-transform: translateY(-130%);
            transition: all 1s ease;
            -moz-transition: all ease 1s;
            -webkit-transition: all 1s ease;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }

.gridInnerCon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(203,8,11,.78);
    opacity: 0;
    z-index: -1;
}

.gridInnerCon, .storyGrid ul li:hover .gridInnerCon {
    transition: all 1s ease;
    -moz-transition: all ease 1s;
    -webkit-transition: all 1s ease;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition-delay: .2s;
    -moz-transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
}

.storyGrid ul li:hover .gridInnerCon {
    opacity: 1;
    z-index: 1;
}

.gridInnerConMain {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 10%;
    text-align: center;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all .8s ease;
    -moz-transition: all ease .8s;
    -webkit-transition: all .8s ease;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition-delay: .4s;
    -moz-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
}

.storyGrid ul li:hover .gridInnerConMain {
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.gridInnerConMain p {
    color: #fff;
    font: 16px Gotham-Book;
    margin: 0 auto;
    opacity: 0;
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
}

.gridInnerConMain a {
    top: auto;
    bottom: -70px;
    opacity: 0;
    display: inline-block;
    font: normal 13px Gotham-Book;
    color: #fff;
}

.gridInnerConMain a, .listTarget {
    position: absolute;
    left: 0;
    right: 0;
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
}

.listTarget {
    top: 0;
    bottom: 0;
}

.storyGrid ul li:hover .listTarget {
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
    z-index: 2;
}

.storyGrid ul li:hover .gridInnerConMain a {
    bottom: -35px;
    opacity: 1;
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
    transition-delay: .4s;
    -moz-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
}

.storyGrid ul li:hover .gridInnerConMain p {
    opacity: 1;
    transition: all .5s ease;
    -moz-transition: ease all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
}

.gridBlock {
    position: relative;
    overflow: hidden;
}

.pagiNation {
    margin: auto;
    text-align: center;
    margin: 14px 0 16px;
}

    .pagiNation li {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin: 0 2px;
        vertical-align: top;
    }

        .pagiNation li a {
            cursor: pointer;
            display: inline-block;
            width: 33px;
            height: 33px;
            line-height: 33px;
            background: silver;
            color: #fff;
            text-decoration: none;
            border-radius: 100%;
            font-family: Gotham-Bold,Helvetica,sans-serif;
            font-size: 14px;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
        }

            .pagiNation li a:hover {
                background: #ed1a3b;
            }

            .pagiNation li a.next {
                font-size: 10px;
                line-height: 33px;
            }

                .pagiNation li a.next span {
                    display: block;
                    line-height: 33px;
                }

            .pagiNation li a.active {
                background: #fff none repeat scroll 0 0;
                border: 1px solid #e0e0e0;
                color: red!important;
            }

.articleContainer {
    color: #fff;
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    top: 99%!important;
}

.caption {
    display: none;
}

.div50 {
    width: 50%;
    position: relative;
}

    .div50 img {
        max-width: 100%;
        display: block;
    }

.div50Link {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 1s ease;
    -moz-transition: ease all 1s;
    -webkit-transition: all 1s ease;
    -ms-transition: ease all 1s;
    -o-transition: ease all 1s;
    background: red;
    z-index: 99;
}

    .div50Link:hover {
        opacity: 1;
    }

.accordionSlide.accordionFour li {
    width: 16%;
}

    .accordionSlide.accordionFour li.active {
        width: 52%;
    }

.accordionSlide.accordionThree li {
    width: 16%;
}

    .accordionSlide.accordionThree li.active {
        width: 68%;
    }

.accordionSlide.accordionTwo li {
    width: 16%;
}

    .accordionSlide.accordionTwo li.active {
        width: 84%;
    }

@media (max-width:1024px) {
    ul.shareIcon {
        left: -60px;
    }

    ul.shareIconsFixed {
        left: inherit;
        margin-left: -60px;
    }

    .storyRow {
        margin: 0;
    }

    .story50 .storyRow {
        margin: 0 -1px;
    }

    .articleBanner > img {
        min-height: 100px;
    }

    .storyCon {
        background-position: 0 100%;
        padding-bottom: 0;
    }

    .storyCell .storyCon:hover ~ .storyInnerMain {
        opacity: 1;
        z-index: 1;
    }
}

@media (max-width:991px) {
    .bx-wrapper .bx-next {
        right: -18px;
    }

    .bx-wrapper .bx-prev {
        left: -18px;
    }

    .articleContainer {
        max-width: 600px;
    }

    .featuredStories h2, .featuredStories p {
        padding: 0 27px;
    }

    .accordionCon {
        padding: 10px 20px;
    }

    .storyInnerCon p {
        font-size: 16px;
    }

    .storyCon h3 {
        font-size: 14px;
    }

    .downloadCon iframe {
        min-height: 400px;
        max-height: 400px;
    }
}

@media (max-width:767px) {
    .accordionSlide.accordionFour li, .accordionSlide.accordionFour li.active, .accordionSlide.accordionThree li, .accordionSlide.accordionThree li.active, .accordionSlide.accordionTwo li, .accordionSlide.accordionTwo li.active {
        width: 100%;
    }

    .deskImg {
        display: none!important;
    }

    .mobImg {
        display: block!important;
    }

    header {
        padding: 8px 20px;
    }

    .menuIcon {
        margin: 3px 17px 0 0;
    }

    .logo img {
        max-width: 34px;
    }

    .guidelines {
        display: none;
    }

    .menuMain {
        top: 50px;
    }

    .menu {
        padding: 0;
    }

        .menu ul li {
            display: block;
            background: none;
            border-bottom: 1px solid #fff;
            text-align: left;
            padding: 0;
        }

            .menu ul li a {
                font-size: 14px;
            }

            .menu ul li:nth-child(3) {
                border-bottom: 1px solid #fff;
            }

            .menu ul li:last-child {
                border: none;
            }

            .menu ul li.guidelinesMob {
                display: block;
            }

            .menu ul li a {
                display: block;
                padding: 15px 20px;
            }

    .sgSpirit {
        padding: 0 25px;
        margin: 50px 0 0;
    }

        .sgSpirit .mainWraper {
            padding-bottom: 12px;
        }

        .sgSpirit h4 {
            font-size: 14px;
            letter-spacing: 3px;
        }

        .sgSpirit p {
            font-size: 12px;
            line-height: 19px;
            margin: 12px auto;
        }

        .sgSpirit a {
            font-size: 10px;
        }

    .accordionSlide ul {
        max-height: none;
        overflow: inherit;
    }

        .accordionSlide ul li {
            display: block;
            width: 100%;
            margin: 0 0 -1px;
            height: 100px;
            padding: 0;
            border: 1px solid #fff;
        }

            .accordionSlide ul li:last-child {
                border: 1px solid #fff;
            }

            .accordionSlide ul li.active, .accordionSlide ul li:hover, .accordionSlide ul li img {
                transform: none;
                -moz-transform: none;
                -webkit-transform: none;
                -ms-transform: none;
                -o-transform: none;
                width: 100%;
            }

    .story50 {
        width: 100%;
    }

        .story25, .story50 .story50 {
            width: 50%;
        }

    .featuredStoriesSection h2 {
        font-size: 14px;
        margin: 15px 0;
    }

    .storyCon h3, .storyPlay h3 {
        font-size: 18px;
    }

    .storyPlay img {
        margin: 0;
    }

    .storyPlay a img {
        margin: 5px 0 0;
    }

    .seeMoreStories {
        padding: 12px 0;
        margin-bottom: 1px;
    }

    .storyInnerCon p {
        max-width: 75%;
    }

    .storyInnerCon a {
        margin: 20px 0 0;
    }

    .storyCon span.date {
        font-size: 12px;
    }

    .revisitImg {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100%;
        padding: 39px 0;
    }

    .maintenance {
        padding: 15px 30px;
        font-size: 12px;
        line-height: 19px;
    }

        .maintenance i {
            top: 10px;
            right: 10px;
            margin-top: 2px;
            cursor: pointer;
        }

    .downloadPopupContainer {
        padding: 20px;
    }

    .downloadHeader p a {
        margin-bottom: 15px;
    }

    .downloadCon {
        margin: 15px 0 0;
    }

        .downloadBTN, .downloadCon p {
            margin: 20px 0;
        }

            .downloadBTN a {
                font-size: 13px;
            }

    .downloadFooter {
        padding: 15px 0 0;
    }

    .downloadCon iframe {
        min-height: 300px;
        max-height: 300px;
    }

    .articleBanner, .featuredStories {
        margin-top: 50px;
    }

    ul.shareIcon {
        display: none;
    }

    .articleContainer {
        max-width: 90%;
    }

    .footerShare {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: hsla(0,0%,100%,.9);
        border-top: 1px solid #e1e1e1;
    }

        .footerShare .shareIcon {
            display: block!important;
        }

    .featuredStories {
        padding: 40px 20px 20px;
    }

        .featuredStories h2 {
            font-size: 14px;
        }

        .featuredStories p {
            font-size: 11px;
            line-height: 16px;
        }

    .storyGrid ul li .gridContent {
        top: 15px;
        left: 15px;
        padding-right: 10px;
    }

    .storyGrid ul li {
        width: 50%;
    }

        .storyGrid ul li .gridContent h4 {
            font-size: 14px;
            line-height: 20px;
        }

    #footer {
        margin-bottom: 51px;
    }

    .footerHome {
        margin: 0!important;
    }

    .shareIconsFixed {
        display: none!important;
    }

    .latestNewsItemCon span.date, .storyGrid ul li .gridContent span {
        font-size: 12px;
    }

    .latestNewsItemCon h3, .storyGrid ul li .gridContent h4 {
        font-size: 16px;
    }
}

@media (max-width:640px) {
    .articleCarousel .articleContainer, .articleContent {
        padding: 0 30px;
    }

    .titleBlock .author, .titleBlock .dateTitle {
        max-width: 100%;
        text-align: center;
        width: 100%;
        float: none;
    }

    .titleBlock .author {
        position: relative;
        padding-top: 10px;
    }

    .articleContent .titleBlock {
        padding-bottom: 0;
    }

    .playBtn img {
        max-width: 50px;
    }

    .downloadHeader p a img {
        max-width: 44px;
        display: inline-block;
        margin-bottom: -15px;
    }
}

@media (max-width:480px) {
    #footer .footerCont p span {
        display: block;
        margin: 5px 0 0;
    }

    .articleContainer {
        max-width: 100%;
    }

    .oppurtunity .mainContent h2 {
        font-size: 19px;
        line-height: 25px;
        font-weight: 400;
        padding-bottom: 22px;
    }

    .oppurtunity .mainContent h4 {
        font-size: 13px;
    }

    .oppurtunity .mainContent {
        padding: 28px 30px 14px;
    }

    .newsSection h2 {
        font-size: 14px;
        padding: 15px 0;
    }

    .articleContent .mainContent p.padTop25 {
        padding: inherit;
    }

    .titleBlock .dateTitle h2 {
        font-size: 25px;
        padding: 4px 0;
    }

    .titleBlock .dateTitle h4 {
        font-size: 12px;
    }

    .articleContent .titleBlock {
        padding-top: 12px;
    }

    .accordionCon p {
        margin: 0;
    }

    .downloadCon iframe {
        min-height: 250px;
        max-height: 250px;
    }

    .playBtn img {
        max-width: 40px;
    }

    .latestNewsItemCon {
        padding: 15px 20px 70px;
    }

        .latestNewsItemCon span.btn {
            font-size: 8px;
        }

        .latestNewsItemCon a {
            font-size: 7px;
        }

    .articleCarousel {
        max-width: 100%;
        background: url(../images/article-banner-backgound-mob.jpg) no-repeat;
        background-position: bottom;
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:landscape) {
    .articleCarousel {
        max-width: 100%;
        background: url(../images/article-banner-backgound-mob2.jpg) repeat-x 0 100%;
    }
}

@media (max-width:360px) {
    .newsBanner .bx-wrapper .bx-controls-direction .bx-next {
        right: 10px;
        width: 10px;
    }

    .newsBanner .bx-wrapper .bx-controls-direction .bx-prev {
        left: 10px;
        width: 10px;
    }

    #footer .footerCont ul li a {
        margin: 0 11px;
    }

    #footer {
        padding: 22px 0 18px;
    }

        #footer .footerCont .footerLogo {
            margin: 30px 0 10px;
        }

    .footerShare ul li img {
        width: 34px;
    }

    .articleCarousel {
        padding-bottom: 10px;
    }

    .bx-wrapper .bx-pager {
        padding-top: 15px!important;
    }

        .bx-wrapper .bx-pager.bx-default-pager a {
            width: 8px!important;
            height: 8px!important;
            border: 1px solid #fff!important;
        }

            .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover {
                border: 1px solid #fff!important;
            }

    .revisit {
        padding: 35px 0;
    }

    .downloadCon iframe {
        min-height: 200px;
        max-height: 200px;
    }

    .latestNewsItemCon span.btn {
        font-size: 8px;
    }

    .latestNewsItemCon span.date {
        font-size: 10px;
    }
}
/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */ @font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot);
    src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff2) format("woff2"),url(../fonts/fontawesome-webfont.woff) format("woff"),url(../fonts/fontawesome-webfont.ttf) format("truetype"),url(../fonts/fontawesome-webfont.svg#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

    .fa-ul > li {
        position: relative;
    }

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center;
}

    .fa-li.fa-lg {
        left: -1.85714286em;
    }

.fa-border {
    padding: .2em .25em .15em;
    border: .08em solid #eee;
    border-radius: .1em;
}

.fa-pull-left {
    float: left;
}

.fa-pull-right {
    float: right;
}

.fa.fa-pull-left {
    margin-right: .3em;
}

.fa.fa-pull-right {
    margin-left: .3em;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fa.pull-left {
    margin-right: .3em;
}

.fa.pull-right {
    margin-left: .3em;
}

.fa-spin {
    animation: fa-spin 2s infinite linear;
}

.fa-pulse {
    animation: fa-spin 1s infinite steps(8);
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    transform: rotate(90deg);
}

.fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}

.fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(270deg);
}

.fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);
    transform: scaleX(-1);
}

.fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2,mirror=1);
    transform: scaleY(-1);
}

:root .fa-flip-horizontal, :root .fa-flip-vertical, :root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270 {
    -webkit-filter: none;
    filter: none;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-inverse {
    color: #fff;
}

.fa-glass:before {
    content: "\f000";
}

.fa-music:before {
    content: "\f001";
}

.fa-search:before {
    content: "\f002";
}

.fa-envelope-o:before {
    content: "\f003";
}

.fa-heart:before {
    content: "\f004";
}

.fa-star:before {
    content: "\f005";
}

.fa-star-o:before {
    content: "\f006";
}

.fa-user:before {
    content: "\f007";
}

.fa-film:before {
    content: "\f008";
}

.fa-th-large:before {
    content: "\f009";
}

.fa-th:before {
    content: "\f00a";
}

.fa-th-list:before {
    content: "\f00b";
}

.fa-check:before {
    content: "\f00c";
}

.fa-close:before, .fa-remove:before, .fa-times:before {
    content: "\f00d";
}

.fa-search-plus:before {
    content: "\f00e";
}

.fa-search-minus:before {
    content: "\f010";
}

.fa-power-off:before {
    content: "\f011";
}

.fa-signal:before {
    content: "\f012";
}

.fa-cog:before, .fa-gear:before {
    content: "\f013";
}

.fa-trash-o:before {
    content: "\f014";
}

.fa-home:before {
    content: "\f015";
}

.fa-file-o:before {
    content: "\f016";
}

.fa-clock-o:before {
    content: "\f017";
}

.fa-road:before {
    content: "\f018";
}

.fa-download:before {
    content: "\f019";
}

.fa-arrow-circle-o-down:before {
    content: "\f01a";
}

.fa-arrow-circle-o-up:before {
    content: "\f01b";
}

.fa-inbox:before {
    content: "\f01c";
}

.fa-play-circle-o:before {
    content: "\f01d";
}

.fa-repeat:before, .fa-rotate-right:before {
    content: "\f01e";
}

.fa-refresh:before {
    content: "\f021";
}

.fa-list-alt:before {
    content: "\f022";
}

.fa-lock:before {
    content: "\f023";
}

.fa-flag:before {
    content: "\f024";
}

.fa-headphones:before {
    content: "\f025";
}

.fa-volume-off:before {
    content: "\f026";
}

.fa-volume-down:before {
    content: "\f027";
}

.fa-volume-up:before {
    content: "\f028";
}

.fa-qrcode:before {
    content: "\f029";
}

.fa-barcode:before {
    content: "\f02a";
}

.fa-tag:before {
    content: "\f02b";
}

.fa-tags:before {
    content: "\f02c";
}

.fa-book:before {
    content: "\f02d";
}

.fa-bookmark:before {
    content: "\f02e";
}

.fa-print:before {
    content: "\f02f";
}

.fa-camera:before {
    content: "\f030";
}

.fa-font:before {
    content: "\f031";
}

.fa-bold:before {
    content: "\f032";
}

.fa-italic:before {
    content: "\f033";
}

.fa-text-height:before {
    content: "\f034";
}

.fa-text-width:before {
    content: "\f035";
}

.fa-align-left:before {
    content: "\f036";
}

.fa-align-center:before {
    content: "\f037";
}

.fa-align-right:before {
    content: "\f038";
}

.fa-align-justify:before {
    content: "\f039";
}

.fa-list:before {
    content: "\f03a";
}

.fa-dedent:before, .fa-outdent:before {
    content: "\f03b";
}

.fa-indent:before {
    content: "\f03c";
}

.fa-video-camera:before {
    content: "\f03d";
}

.fa-image:before, .fa-photo:before, .fa-picture-o:before {
    content: "\f03e";
}

.fa-pencil:before {
    content: "\f040";
}

.fa-map-marker:before {
    content: "\f041";
}

.fa-adjust:before {
    content: "\f042";
}

.fa-tint:before {
    content: "\f043";
}

.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044";
}

.fa-share-square-o:before {
    content: "\f045";
}

.fa-check-square-o:before {
    content: "\f046";
}

.fa-arrows:before {
    content: "\f047";
}

.fa-step-backward:before {
    content: "\f048";
}

.fa-fast-backward:before {
    content: "\f049";
}

.fa-backward:before {
    content: "\f04a";
}

.fa-play:before {
    content: "\f04b";
}

.fa-pause:before {
    content: "\f04c";
}

.fa-stop:before {
    content: "\f04d";
}

.fa-forward:before {
    content: "\f04e";
}

.fa-fast-forward:before {
    content: "\f050";
}

.fa-step-forward:before {
    content: "\f051";
}

.fa-eject:before {
    content: "\f052";
}

.fa-chevron-left:before {
    content: "\f053";
}

.fa-chevron-right:before {
    content: "\f054";
}

.fa-plus-circle:before {
    content: "\f055";
}

.fa-minus-circle:before {
    content: "\f056";
}

.fa-times-circle:before {
    content: "\f057";
}

.fa-check-circle:before {
    content: "\f058";
}

.fa-question-circle:before {
    content: "\f059";
}

.fa-info-circle:before {
    content: "\f05a";
}

.fa-crosshairs:before {
    content: "\f05b";
}

.fa-times-circle-o:before {
    content: "\f05c";
}

.fa-check-circle-o:before {
    content: "\f05d";
}

.fa-ban:before {
    content: "\f05e";
}

.fa-arrow-left:before {
    content: "\f060";
}

.fa-arrow-right:before {
    content: "\f061";
}

.fa-arrow-up:before {
    content: "\f062";
}

.fa-arrow-down:before {
    content: "\f063";
}

.fa-mail-forward:before, .fa-share:before {
    content: "\f064";
}

.fa-expand:before {
    content: "\f065";
}

.fa-compress:before {
    content: "\f066";
}

.fa-plus:before {
    content: "\f067";
}

.fa-minus:before {
    content: "\f068";
}

.fa-asterisk:before {
    content: "\f069";
}

.fa-exclamation-circle:before {
    content: "\f06a";
}

.fa-gift:before {
    content: "\f06b";
}

.fa-leaf:before {
    content: "\f06c";
}

.fa-fire:before {
    content: "\f06d";
}

.fa-eye:before {
    content: "\f06e";
}

.fa-eye-slash:before {
    content: "\f070";
}

.fa-exclamation-triangle:before, .fa-warning:before {
    content: "\f071";
}

.fa-plane:before {
    content: "\f072";
}

.fa-calendar:before {
    content: "\f073";
}

.fa-random:before {
    content: "\f074";
}

.fa-comment:before {
    content: "\f075";
}

.fa-magnet:before {
    content: "\f076";
}

.fa-chevron-up:before {
    content: "\f077";
}

.fa-chevron-down:before {
    content: "\f078";
}

.fa-retweet:before {
    content: "\f079";
}

.fa-shopping-cart:before {
    content: "\f07a";
}

.fa-folder:before {
    content: "\f07b";
}

.fa-folder-open:before {
    content: "\f07c";
}

.fa-arrows-v:before {
    content: "\f07d";
}

.fa-arrows-h:before {
    content: "\f07e";
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: "\f080";
}

.fa-twitter-square:before {
    content: "\f081";
}

.fa-facebook-square:before {
    content: "\f082";
}

.fa-camera-retro:before {
    content: "\f083";
}

.fa-key:before {
    content: "\f084";
}

.fa-cogs:before, .fa-gears:before {
    content: "\f085";
}

.fa-comments:before {
    content: "\f086";
}

.fa-thumbs-o-up:before {
    content: "\f087";
}

.fa-thumbs-o-down:before {
    content: "\f088";
}

.fa-star-half:before {
    content: "\f089";
}

.fa-heart-o:before {
    content: "\f08a";
}

.fa-sign-out:before {
    content: "\f08b";
}

.fa-linkedin-square:before {
    content: "\f08c";
}

.fa-thumb-tack:before {
    content: "\f08d";
}

.fa-external-link:before {
    content: "\f08e";
}

.fa-sign-in:before {
    content: "\f090";
}

.fa-trophy:before {
    content: "\f091";
}

.fa-github-square:before {
    content: "\f092";
}

.fa-upload:before {
    content: "\f093";
}

.fa-lemon-o:before {
    content: "\f094";
}

.fa-phone:before {
    content: "\f095";
}

.fa-square-o:before {
    content: "\f096";
}

.fa-bookmark-o:before {
    content: "\f097";
}

.fa-phone-square:before {
    content: "\f098";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}

.fa-github:before {
    content: "\f09b";
}

.fa-unlock:before {
    content: "\f09c";
}

.fa-credit-card:before {
    content: "\f09d";
}

.fa-feed:before, .fa-rss:before {
    content: "\f09e";
}

.fa-hdd-o:before {
    content: "\f0a0";
}

.fa-bullhorn:before {
    content: "\f0a1";
}

.fa-bell:before {
    content: "\f0f3";
}

.fa-certificate:before {
    content: "\f0a3";
}

.fa-hand-o-right:before {
    content: "\f0a4";
}

.fa-hand-o-left:before {
    content: "\f0a5";
}

.fa-hand-o-up:before {
    content: "\f0a6";
}

.fa-hand-o-down:before {
    content: "\f0a7";
}

.fa-arrow-circle-left:before {
    content: "\f0a8";
}

.fa-arrow-circle-right:before {
    content: "\f0a9";
}

.fa-arrow-circle-up:before {
    content: "\f0aa";
}

.fa-arrow-circle-down:before {
    content: "\f0ab";
}

.fa-globe:before {
    content: "\f0ac";
}

.fa-wrench:before {
    content: "\f0ad";
}

.fa-tasks:before {
    content: "\f0ae";
}

.fa-filter:before {
    content: "\f0b0";
}

.fa-briefcase:before {
    content: "\f0b1";
}

.fa-arrows-alt:before {
    content: "\f0b2";
}

.fa-group:before, .fa-users:before {
    content: "\f0c0";
}

.fa-chain:before, .fa-link:before {
    content: "\f0c1";
}

.fa-cloud:before {
    content: "\f0c2";
}

.fa-flask:before {
    content: "\f0c3";
}

.fa-cut:before, .fa-scissors:before {
    content: "\f0c4";
}

.fa-copy:before, .fa-files-o:before {
    content: "\f0c5";
}

.fa-paperclip:before {
    content: "\f0c6";
}

.fa-floppy-o:before, .fa-save:before {
    content: "\f0c7";
}

.fa-square:before {
    content: "\f0c8";
}

.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
    content: "\f0c9";
}

.fa-list-ul:before {
    content: "\f0ca";
}

.fa-list-ol:before {
    content: "\f0cb";
}

.fa-strikethrough:before {
    content: "\f0cc";
}

.fa-underline:before {
    content: "\f0cd";
}

.fa-table:before {
    content: "\f0ce";
}

.fa-magic:before {
    content: "\f0d0";
}

.fa-truck:before {
    content: "\f0d1";
}

.fa-pinterest:before {
    content: "\f0d2";
}

.fa-pinterest-square:before {
    content: "\f0d3";
}

.fa-google-plus-square:before {
    content: "\f0d4";
}

.fa-google-plus:before {
    content: "\f0d5";
}

.fa-money:before {
    content: "\f0d6";
}

.fa-caret-down:before {
    content: "\f0d7";
}

.fa-caret-up:before {
    content: "\f0d8";
}

.fa-caret-left:before {
    content: "\f0d9";
}

.fa-caret-right:before {
    content: "\f0da";
}

.fa-columns:before {
    content: "\f0db";
}

.fa-sort:before, .fa-unsorted:before {
    content: "\f0dc";
}

.fa-sort-desc:before, .fa-sort-down:before {
    content: "\f0dd";
}

.fa-sort-asc:before, .fa-sort-up:before {
    content: "\f0de";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-rotate-left:before, .fa-undo:before {
    content: "\f0e2";
}

.fa-gavel:before, .fa-legal:before {
    content: "\f0e3";
}

.fa-dashboard:before, .fa-tachometer:before {
    content: "\f0e4";
}

.fa-comment-o:before {
    content: "\f0e5";
}

.fa-comments-o:before {
    content: "\f0e6";
}

.fa-bolt:before, .fa-flash:before {
    content: "\f0e7";
}

.fa-sitemap:before {
    content: "\f0e8";
}

.fa-umbrella:before {
    content: "\f0e9";
}

.fa-clipboard:before, .fa-paste:before {
    content: "\f0ea";
}

.fa-lightbulb-o:before {
    content: "\f0eb";
}

.fa-exchange:before {
    content: "\f0ec";
}

.fa-cloud-download:before {
    content: "\f0ed";
}

.fa-cloud-upload:before {
    content: "\f0ee";
}

.fa-user-md:before {
    content: "\f0f0";
}

.fa-stethoscope:before {
    content: "\f0f1";
}

.fa-suitcase:before {
    content: "\f0f2";
}

.fa-bell-o:before {
    content: "\f0a2";
}

.fa-coffee:before {
    content: "\f0f4";
}

.fa-cutlery:before {
    content: "\f0f5";
}

.fa-file-text-o:before {
    content: "\f0f6";
}

.fa-building-o:before {
    content: "\f0f7";
}

.fa-hospital-o:before {
    content: "\f0f8";
}

.fa-ambulance:before {
    content: "\f0f9";
}

.fa-medkit:before {
    content: "\f0fa";
}

.fa-fighter-jet:before {
    content: "\f0fb";
}

.fa-beer:before {
    content: "\f0fc";
}

.fa-h-square:before {
    content: "\f0fd";
}

.fa-plus-square:before {
    content: "\f0fe";
}

.fa-angle-double-left:before {
    content: "\f100";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-angle-double-up:before {
    content: "\f102";
}

.fa-angle-double-down:before {
    content: "\f103";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-down:before {
    content: "\f107";
}

.fa-desktop:before {
    content: "\f108";
}

.fa-laptop:before {
    content: "\f109";
}

.fa-tablet:before {
    content: "\f10a";
}

.fa-mobile-phone:before, .fa-mobile:before {
    content: "\f10b";
}

.fa-circle-o:before {
    content: "\f10c";
}

.fa-quote-left:before {
    content: "\f10d";
}

.fa-quote-right:before {
    content: "\f10e";
}

.fa-spinner:before {
    content: "\f110";
}

.fa-circle:before {
    content: "\f111";
}

.fa-mail-reply:before, .fa-reply:before {
    content: "\f112";
}

.fa-github-alt:before {
    content: "\f113";
}

.fa-folder-o:before {
    content: "\f114";
}

.fa-folder-open-o:before {
    content: "\f115";
}

.fa-smile-o:before {
    content: "\f118";
}

.fa-frown-o:before {
    content: "\f119";
}

.fa-meh-o:before {
    content: "\f11a";
}

.fa-gamepad:before {
    content: "\f11b";
}

.fa-keyboard-o:before {
    content: "\f11c";
}

.fa-flag-o:before {
    content: "\f11d";
}

.fa-flag-checkered:before {
    content: "\f11e";
}

.fa-terminal:before {
    content: "\f120";
}

.fa-code:before {
    content: "\f121";
}

.fa-mail-reply-all:before, .fa-reply-all:before {
    content: "\f122";
}

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
    content: "\f123";
}

.fa-location-arrow:before {
    content: "\f124";
}

.fa-crop:before {
    content: "\f125";
}

.fa-code-fork:before {
    content: "\f126";
}

.fa-chain-broken:before, .fa-unlink:before {
    content: "\f127";
}

.fa-question:before {
    content: "\f128";
}

.fa-info:before {
    content: "\f129";
}

.fa-exclamation:before {
    content: "\f12a";
}

.fa-superscript:before {
    content: "\f12b";
}

.fa-subscript:before {
    content: "\f12c";
}

.fa-eraser:before {
    content: "\f12d";
}

.fa-puzzle-piece:before {
    content: "\f12e";
}

.fa-microphone:before {
    content: "\f130";
}

.fa-microphone-slash:before {
    content: "\f131";
}

.fa-shield:before {
    content: "\f132";
}

.fa-calendar-o:before {
    content: "\f133";
}

.fa-fire-extinguisher:before {
    content: "\f134";
}

.fa-rocket:before {
    content: "\f135";
}

.fa-maxcdn:before {
    content: "\f136";
}

.fa-chevron-circle-left:before {
    content: "\f137";
}

.fa-chevron-circle-right:before {
    content: "\f138";
}

.fa-chevron-circle-up:before {
    content: "\f139";
}

.fa-chevron-circle-down:before {
    content: "\f13a";
}

.fa-html5:before {
    content: "\f13b";
}

.fa-css3:before {
    content: "\f13c";
}

.fa-anchor:before {
    content: "\f13d";
}

.fa-unlock-alt:before {
    content: "\f13e";
}

.fa-bullseye:before {
    content: "\f140";
}

.fa-ellipsis-h:before {
    content: "\f141";
}

.fa-ellipsis-v:before {
    content: "\f142";
}

.fa-rss-square:before {
    content: "\f143";
}

.fa-play-circle:before {
    content: "\f144";
}

.fa-ticket:before {
    content: "\f145";
}

.fa-minus-square:before {
    content: "\f146";
}

.fa-minus-square-o:before {
    content: "\f147";
}

.fa-level-up:before {
    content: "\f148";
}

.fa-level-down:before {
    content: "\f149";
}

.fa-check-square:before {
    content: "\f14a";
}

.fa-pencil-square:before {
    content: "\f14b";
}

.fa-external-link-square:before {
    content: "\f14c";
}

.fa-share-square:before {
    content: "\f14d";
}

.fa-compass:before {
    content: "\f14e";
}

.fa-caret-square-o-down:before, .fa-toggle-down:before {
    content: "\f150";
}

.fa-caret-square-o-up:before, .fa-toggle-up:before {
    content: "\f151";
}

.fa-caret-square-o-right:before, .fa-toggle-right:before {
    content: "\f152";
}

.fa-eur:before, .fa-euro:before {
    content: "\f153";
}

.fa-gbp:before {
    content: "\f154";
}

.fa-dollar:before, .fa-usd:before {
    content: "\f155";
}

.fa-inr:before, .fa-rupee:before {
    content: "\f156";
}

.fa-cny:before, .fa-jpy:before, .fa-rmb:before, .fa-yen:before {
    content: "\f157";
}

.fa-rouble:before, .fa-rub:before, .fa-ruble:before {
    content: "\f158";
}

.fa-krw:before, .fa-won:before {
    content: "\f159";
}

.fa-bitcoin:before, .fa-btc:before {
    content: "\f15a";
}

.fa-file:before {
    content: "\f15b";
}

.fa-file-text:before {
    content: "\f15c";
}

.fa-sort-alpha-asc:before {
    content: "\f15d";
}

.fa-sort-alpha-desc:before {
    content: "\f15e";
}

.fa-sort-amount-asc:before {
    content: "\f160";
}

.fa-sort-amount-desc:before {
    content: "\f161";
}

.fa-sort-numeric-asc:before {
    content: "\f162";
}

.fa-sort-numeric-desc:before {
    content: "\f163";
}

.fa-thumbs-up:before {
    content: "\f164";
}

.fa-thumbs-down:before {
    content: "\f165";
}

.fa-youtube-square:before {
    content: "\f166";
}

.fa-youtube:before {
    content: "\f167";
}

.fa-xing:before {
    content: "\f168";
}

.fa-xing-square:before {
    content: "\f169";
}

.fa-youtube-play:before {
    content: "\f16a";
}

.fa-dropbox:before {
    content: "\f16b";
}

.fa-stack-overflow:before {
    content: "\f16c";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-flickr:before {
    content: "\f16e";
}

.fa-adn:before {
    content: "\f170";
}

.fa-bitbucket:before {
    content: "\f171";
}

.fa-bitbucket-square:before {
    content: "\f172";
}

.fa-tumblr:before {
    content: "\f173";
}

.fa-tumblr-square:before {
    content: "\f174";
}

.fa-long-arrow-down:before {
    content: "\f175";
}

.fa-long-arrow-up:before {
    content: "\f176";
}

.fa-long-arrow-left:before {
    content: "\f177";
}

.fa-long-arrow-right:before {
    content: "\f178";
}

.fa-apple:before {
    content: "\f179";
}

.fa-windows:before {
    content: "\f17a";
}

.fa-android:before {
    content: "\f17b";
}

.fa-linux:before {
    content: "\f17c";
}

.fa-dribbble:before {
    content: "\f17d";
}

.fa-skype:before {
    content: "\f17e";
}

.fa-foursquare:before {
    content: "\f180";
}

.fa-trello:before {
    content: "\f181";
}

.fa-female:before {
    content: "\f182";
}

.fa-male:before {
    content: "\f183";
}

.fa-gittip:before, .fa-gratipay:before {
    content: "\f184";
}

.fa-sun-o:before {
    content: "\f185";
}

.fa-moon-o:before {
    content: "\f186";
}

.fa-archive:before {
    content: "\f187";
}

.fa-bug:before {
    content: "\f188";
}

.fa-vk:before {
    content: "\f189";
}

.fa-weibo:before {
    content: "\f18a";
}

.fa-renren:before {
    content: "\f18b";
}

.fa-pagelines:before {
    content: "\f18c";
}

.fa-stack-exchange:before {
    content: "\f18d";
}

.fa-arrow-circle-o-right:before {
    content: "\f18e";
}

.fa-arrow-circle-o-left:before {
    content: "\f190";
}

.fa-caret-square-o-left:before, .fa-toggle-left:before {
    content: "\f191";
}

.fa-dot-circle-o:before {
    content: "\f192";
}

.fa-wheelchair:before {
    content: "\f193";
}

.fa-vimeo-square:before {
    content: "\f194";
}

.fa-try:before, .fa-turkish-lira:before {
    content: "\f195";
}

.fa-plus-square-o:before {
    content: "\f196";
}

.fa-space-shuttle:before {
    content: "\f197";
}

.fa-slack:before {
    content: "\f198";
}

.fa-envelope-square:before {
    content: "\f199";
}

.fa-wordpress:before {
    content: "\f19a";
}

.fa-openid:before {
    content: "\f19b";
}

.fa-bank:before, .fa-institution:before, .fa-university:before {
    content: "\f19c";
}

.fa-graduation-cap:before, .fa-mortar-board:before {
    content: "\f19d";
}

.fa-yahoo:before {
    content: "\f19e";
}

.fa-google:before {
    content: "\f1a0";
}

.fa-reddit:before {
    content: "\f1a1";
}

.fa-reddit-square:before {
    content: "\f1a2";
}

.fa-stumbleupon-circle:before {
    content: "\f1a3";
}

.fa-stumbleupon:before {
    content: "\f1a4";
}

.fa-delicious:before {
    content: "\f1a5";
}

.fa-digg:before {
    content: "\f1a6";
}

.fa-pied-piper:before {
    content: "\f1a7";
}

.fa-pied-piper-alt:before {
    content: "\f1a8";
}

.fa-drupal:before {
    content: "\f1a9";
}

.fa-joomla:before {
    content: "\f1aa";
}

.fa-language:before {
    content: "\f1ab";
}

.fa-fax:before {
    content: "\f1ac";
}

.fa-building:before {
    content: "\f1ad";
}

.fa-child:before {
    content: "\f1ae";
}

.fa-paw:before {
    content: "\f1b0";
}

.fa-spoon:before {
    content: "\f1b1";
}

.fa-cube:before {
    content: "\f1b2";
}

.fa-cubes:before {
    content: "\f1b3";
}

.fa-behance:before {
    content: "\f1b4";
}

.fa-behance-square:before {
    content: "\f1b5";
}

.fa-steam:before {
    content: "\f1b6";
}

.fa-steam-square:before {
    content: "\f1b7";
}

.fa-recycle:before {
    content: "\f1b8";
}

.fa-automobile:before, .fa-car:before {
    content: "\f1b9";
}

.fa-cab:before, .fa-taxi:before {
    content: "\f1ba";
}

.fa-tree:before {
    content: "\f1bb";
}

.fa-spotify:before {
    content: "\f1bc";
}

.fa-deviantart:before {
    content: "\f1bd";
}

.fa-soundcloud:before {
    content: "\f1be";
}

.fa-database:before {
    content: "\f1c0";
}

.fa-file-pdf-o:before {
    content: "\f1c1";
}

.fa-file-word-o:before {
    content: "\f1c2";
}

.fa-file-excel-o:before {
    content: "\f1c3";
}

.fa-file-powerpoint-o:before {
    content: "\f1c4";
}

.fa-file-image-o:before, .fa-file-photo-o:before, .fa-file-picture-o:before {
    content: "\f1c5";
}

.fa-file-archive-o:before, .fa-file-zip-o:before {
    content: "\f1c6";
}

.fa-file-audio-o:before, .fa-file-sound-o:before {
    content: "\f1c7";
}

.fa-file-movie-o:before, .fa-file-video-o:before {
    content: "\f1c8";
}

.fa-file-code-o:before {
    content: "\f1c9";
}

.fa-vine:before {
    content: "\f1ca";
}

.fa-codepen:before {
    content: "\f1cb";
}

.fa-jsfiddle:before {
    content: "\f1cc";
}

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-ring:before, .fa-life-saver:before, .fa-support:before {
    content: "\f1cd";
}

.fa-circle-o-notch:before {
    content: "\f1ce";
}

.fa-ra:before, .fa-rebel:before {
    content: "\f1d0";
}

.fa-empire:before, .fa-ge:before {
    content: "\f1d1";
}

.fa-git-square:before {
    content: "\f1d2";
}

.fa-git:before {
    content: "\f1d3";
}

.fa-hacker-news:before, .fa-y-combinator-square:before, .fa-yc-square:before {
    content: "\f1d4";
}

.fa-tencent-weibo:before {
    content: "\f1d5";
}

.fa-qq:before {
    content: "\f1d6";
}

.fa-wechat:before, .fa-weixin:before {
    content: "\f1d7";
}

.fa-paper-plane:before, .fa-send:before {
    content: "\f1d8";
}

.fa-paper-plane-o:before, .fa-send-o:before {
    content: "\f1d9";
}

.fa-history:before {
    content: "\f1da";
}

.fa-circle-thin:before {
    content: "\f1db";
}

.fa-header:before {
    content: "\f1dc";
}

.fa-paragraph:before {
    content: "\f1dd";
}

.fa-sliders:before {
    content: "\f1de";
}

.fa-share-alt:before {
    content: "\f1e0";
}

.fa-share-alt-square:before {
    content: "\f1e1";
}

.fa-bomb:before {
    content: "\f1e2";
}

.fa-futbol-o:before, .fa-soccer-ball-o:before {
    content: "\f1e3";
}

.fa-tty:before {
    content: "\f1e4";
}

.fa-binoculars:before {
    content: "\f1e5";
}

.fa-plug:before {
    content: "\f1e6";
}

.fa-slideshare:before {
    content: "\f1e7";
}

.fa-twitch:before {
    content: "\f1e8";
}

.fa-yelp:before {
    content: "\f1e9";
}

.fa-newspaper-o:before {
    content: "\f1ea";
}

.fa-wifi:before {
    content: "\f1eb";
}

.fa-calculator:before {
    content: "\f1ec";
}

.fa-paypal:before {
    content: "\f1ed";
}

.fa-google-wallet:before {
    content: "\f1ee";
}

.fa-cc-visa:before {
    content: "\f1f0";
}

.fa-cc-mastercard:before {
    content: "\f1f1";
}

.fa-cc-discover:before {
    content: "\f1f2";
}

.fa-cc-amex:before {
    content: "\f1f3";
}

.fa-cc-paypal:before {
    content: "\f1f4";
}

.fa-cc-stripe:before {
    content: "\f1f5";
}

.fa-bell-slash:before {
    content: "\f1f6";
}

.fa-bell-slash-o:before {
    content: "\f1f7";
}

.fa-trash:before {
    content: "\f1f8";
}

.fa-copyright:before {
    content: "\f1f9";
}

.fa-at:before {
    content: "\f1fa";
}

.fa-eyedropper:before {
    content: "\f1fb";
}

.fa-paint-brush:before {
    content: "\f1fc";
}

.fa-birthday-cake:before {
    content: "\f1fd";
}

.fa-area-chart:before {
    content: "\f1fe";
}

.fa-pie-chart:before {
    content: "\f200";
}

.fa-line-chart:before {
    content: "\f201";
}

.fa-lastfm:before {
    content: "\f202";
}

.fa-lastfm-square:before {
    content: "\f203";
}

.fa-toggle-off:before {
    content: "\f204";
}

.fa-toggle-on:before {
    content: "\f205";
}

.fa-bicycle:before {
    content: "\f206";
}

.fa-bus:before {
    content: "\f207";
}

.fa-ioxhost:before {
    content: "\f208";
}

.fa-angellist:before {
    content: "\f209";
}

.fa-cc:before {
    content: "\f20a";
}

.fa-ils:before, .fa-shekel:before, .fa-sheqel:before {
    content: "\f20b";
}

.fa-meanpath:before {
    content: "\f20c";
}

.fa-buysellads:before {
    content: "\f20d";
}

.fa-connectdevelop:before {
    content: "\f20e";
}

.fa-dashcube:before {
    content: "\f210";
}

.fa-forumbee:before {
    content: "\f211";
}

.fa-leanpub:before {
    content: "\f212";
}

.fa-sellsy:before {
    content: "\f213";
}

.fa-shirtsinbulk:before {
    content: "\f214";
}

.fa-simplybuilt:before {
    content: "\f215";
}

.fa-skyatlas:before {
    content: "\f216";
}

.fa-cart-plus:before {
    content: "\f217";
}

.fa-cart-arrow-down:before {
    content: "\f218";
}

.fa-diamond:before {
    content: "\f219";
}

.fa-ship:before {
    content: "\f21a";
}

.fa-user-secret:before {
    content: "\f21b";
}

.fa-motorcycle:before {
    content: "\f21c";
}

.fa-street-view:before {
    content: "\f21d";
}

.fa-heartbeat:before {
    content: "\f21e";
}

.fa-venus:before {
    content: "\f221";
}

.fa-mars:before {
    content: "\f222";
}

.fa-mercury:before {
    content: "\f223";
}

.fa-intersex:before, .fa-transgender:before {
    content: "\f224";
}

.fa-transgender-alt:before {
    content: "\f225";
}

.fa-venus-double:before {
    content: "\f226";
}

.fa-mars-double:before {
    content: "\f227";
}

.fa-venus-mars:before {
    content: "\f228";
}

.fa-mars-stroke:before {
    content: "\f229";
}

.fa-mars-stroke-v:before {
    content: "\f22a";
}

.fa-mars-stroke-h:before {
    content: "\f22b";
}

.fa-neuter:before {
    content: "\f22c";
}

.fa-genderless:before {
    content: "\f22d";
}

.fa-facebook-official:before {
    content: "\f230";
}

.fa-pinterest-p:before {
    content: "\f231";
}

.fa-whatsapp:before {
    content: "\f232";
}

.fa-server:before {
    content: "\f233";
}

.fa-user-plus:before {
    content: "\f234";
}

.fa-user-times:before {
    content: "\f235";
}

.fa-bed:before, .fa-hotel:before {
    content: "\f236";
}

.fa-viacoin:before {
    content: "\f237";
}

.fa-train:before {
    content: "\f238";
}

.fa-subway:before {
    content: "\f239";
}

.fa-medium:before {
    content: "\f23a";
}

.fa-y-combinator:before, .fa-yc:before {
    content: "\f23b";
}

.fa-optin-monster:before {
    content: "\f23c";
}

.fa-opencart:before {
    content: "\f23d";
}

.fa-expeditedssl:before {
    content: "\f23e";
}

.fa-battery-4:before, .fa-battery-full:before {
    content: "\f240";
}

.fa-battery-3:before, .fa-battery-three-quarters:before {
    content: "\f241";
}

.fa-battery-2:before, .fa-battery-half:before {
    content: "\f242";
}

.fa-battery-1:before, .fa-battery-quarter:before {
    content: "\f243";
}

.fa-battery-0:before, .fa-battery-empty:before {
    content: "\f244";
}

.fa-mouse-pointer:before {
    content: "\f245";
}

.fa-i-cursor:before {
    content: "\f246";
}

.fa-object-group:before {
    content: "\f247";
}

.fa-object-ungroup:before {
    content: "\f248";
}

.fa-sticky-note:before {
    content: "\f249";
}

.fa-sticky-note-o:before {
    content: "\f24a";
}

.fa-cc-jcb:before {
    content: "\f24b";
}

.fa-cc-diners-club:before {
    content: "\f24c";
}

.fa-clone:before {
    content: "\f24d";
}

.fa-balance-scale:before {
    content: "\f24e";
}

.fa-hourglass-o:before {
    content: "\f250";
}

.fa-hourglass-1:before, .fa-hourglass-start:before {
    content: "\f251";
}

.fa-hourglass-2:before, .fa-hourglass-half:before {
    content: "\f252";
}

.fa-hourglass-3:before, .fa-hourglass-end:before {
    content: "\f253";
}

.fa-hourglass:before {
    content: "\f254";
}

.fa-hand-grab-o:before, .fa-hand-rock-o:before {
    content: "\f255";
}

.fa-hand-paper-o:before, .fa-hand-stop-o:before {
    content: "\f256";
}

.fa-hand-scissors-o:before {
    content: "\f257";
}

.fa-hand-lizard-o:before {
    content: "\f258";
}

.fa-hand-spock-o:before {
    content: "\f259";
}

.fa-hand-pointer-o:before {
    content: "\f25a";
}

.fa-hand-peace-o:before {
    content: "\f25b";
}

.fa-trademark:before {
    content: "\f25c";
}

.fa-registered:before {
    content: "\f25d";
}

.fa-creative-commons:before {
    content: "\f25e";
}

.fa-gg:before {
    content: "\f260";
}

.fa-gg-circle:before {
    content: "\f261";
}

.fa-tripadvisor:before {
    content: "\f262";
}

.fa-odnoklassniki:before {
    content: "\f263";
}

.fa-odnoklassniki-square:before {
    content: "\f264";
}

.fa-get-pocket:before {
    content: "\f265";
}

.fa-wikipedia-w:before {
    content: "\f266";
}

.fa-safari:before {
    content: "\f267";
}

.fa-chrome:before {
    content: "\f268";
}

.fa-firefox:before {
    content: "\f269";
}

.fa-opera:before {
    content: "\f26a";
}

.fa-internet-explorer:before {
    content: "\f26b";
}

.fa-television:before, .fa-tv:before {
    content: "\f26c";
}

.fa-contao:before {
    content: "\f26d";
}

.fa-500px:before {
    content: "\f26e";
}

.fa-amazon:before {
    content: "\f270";
}

.fa-calendar-plus-o:before {
    content: "\f271";
}

.fa-calendar-minus-o:before {
    content: "\f272";
}

.fa-calendar-times-o:before {
    content: "\f273";
}

.fa-calendar-check-o:before {
    content: "\f274";
}

.fa-industry:before {
    content: "\f275";
}

.fa-map-pin:before {
    content: "\f276";
}

.fa-map-signs:before {
    content: "\f277";
}

.fa-map-o:before {
    content: "\f278";
}

.fa-map:before {
    content: "\f279";
}

.fa-commenting:before {
    content: "\f27a";
}

.fa-commenting-o:before {
    content: "\f27b";
}

.fa-houzz:before {
    content: "\f27c";
}

.fa-vimeo:before {
    content: "\f27d";
}

.fa-black-tie:before {
    content: "\f27e";
}

.fa-fonticons:before {
    content: "\f280";
}

.fa-reddit-alien:before {
    content: "\f281";
}

.fa-edge:before {
    content: "\f282";
}

.fa-credit-card-alt:before {
    content: "\f283";
}

.fa-codiepie:before {
    content: "\f284";
}

.fa-modx:before {
    content: "\f285";
}

.fa-fort-awesome:before {
    content: "\f286";
}

.fa-usb:before {
    content: "\f287";
}

.fa-product-hunt:before {
    content: "\f288";
}

.fa-mixcloud:before {
    content: "\f289";
}

.fa-scribd:before {
    content: "\f28a";
}

.fa-pause-circle:before {
    content: "\f28b";
}

.fa-pause-circle-o:before {
    content: "\f28c";
}

.fa-stop-circle:before {
    content: "\f28d";
}

.fa-stop-circle-o:before {
    content: "\f28e";
}

.fa-shopping-bag:before {
    content: "\f290";
}

.fa-shopping-basket:before {
    content: "\f291";
}

.fa-hashtag:before {
    content: "\f292";
}

.fa-bluetooth:before {
    content: "\f293";
}

.fa-bluetooth-b:before {
    content: "\f294";
}

.fa-percent:before {
    content: "\f295";
}

.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    *zoom: 1;
}

    .bx-wrapper img {
        max-width: 100%;
        display: block;
    }

    .bx-wrapper .bx-viewport {
        transform: translatez(0);
    }

    .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
        position: absolute;
        top: 80%;
        width: 100%;
    }

    .bx-wrapper .bx-loading {
        min-height: 50px;
        background: url(images/bx_loader.gif) 50% no-repeat #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-family: Arial;
        font-weight: 700;
        color: #666;
        padding-top: 20px;
    }

        .bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager .bx-pager-item {
            display: inline-block;
            *zoom: 1;
            *display: inline;
        }

        .bx-wrapper .bx-pager.bx-default-pager a {
            background: #fff;
            border: 2px solid #fff;
            text-indent: -9999px;
            display: block;
            width: 11px;
            height: 11px;
            margin: 0 7px;
            outline: 0;
            border-radius: 5px;
        }

            .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover {
                background: none;
                border: 2px solid #fff;
            }

    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        outline: 0;
        width: 15px;
        height: 31px;
        text-indent: -9999px;
        z-index: 9999;
    }

        .bx-wrapper .bx-controls-direction a.disabled {
            display: none;
        }

    .bx-wrapper .bx-controls-auto {
        text-align: center;
    }

        .bx-wrapper .bx-controls-auto .bx-start {
            display: block;
            text-indent: -9999px;
            width: 10px;
            height: 11px;
            outline: 0;
            background: url(images/controls.png) -86px -11px no-repeat;
            margin: 0 3px;
        }

            .bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:hover {
                background-position: -86px 0;
            }

        .bx-wrapper .bx-controls-auto .bx-stop {
            display: block;
            text-indent: -9999px;
            width: 9px;
            height: 11px;
            outline: 0;
            background: url(images/controls.png) -86px -44px no-repeat;
            margin: 0 3px;
        }

            .bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:hover {
                background-position: -86px -33px;
            }

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        text-align: left;
        width: 80%;
    }

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
        right: 0;
        width: 35px;
    }

    .bx-wrapper .bx-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #666\9;
        background: rgba(80,80,80,.75);
        width: 100%;
    }

        .bx-wrapper .bx-caption span {
            color: #fff;
            font-family: Arial;
            display: block;
            font-size: .85em;
            padding: 10px;
        }

@media (max-width:480px) {
    .bx-wrapper .bx-controls-direction a {
        margin-top: -10px;
        width: 9px;
        height: 19px;
    }

    .bx-wrapper .bx-prev {
        left: -20px;
    }

    .bx-wrapper .bx-next {
        right: -20px;
    }
}
