﻿@model SGCare.Models.MetaContent
@{
    Layout = null;
}
<meta name="Title" content="@Model.MetaTitle" />
    <meta name="description" content="@Html.Raw(Model.MetaDescription)" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <title>@Model.MetaTitle</title>    

@if (!string.IsNullOrEmpty(Model.FBAppId))
{
    <meta property="fb:app_id" content="@Model.FBAppId"/>
}
@if (!string.IsNullOrEmpty(Model.OGTitle))
{
    <meta id="og-title" property="og:title" content="@Model.OGTitle" />
}
@if (!string.IsNullOrEmpty(Model.OGDec))
{
    <meta id="og-desc" property="og:description" content="@Model.OGDec" />
}
@if (!string.IsNullOrEmpty(Model.OGImage))
{
    <meta id="og-img" property="og:image" content="@Model.OGImage"/>
}

