﻿@media (max-width:767px) {
    .section-calendar .wrap-calendar .block-event.month {
        display: none !important;
        cursor: pointer;
    }
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event.month {
        display: block;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .section-filter .list .item .btn {
        margin-top: 37px;
    }
}

img.gray-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ 
    filter: gray;
}

#content_0_gvSearchResults {
    width: 100%;
}

#content_0_gvSearchResults > tbody > tr:last-child a {
    cursor: pointer;
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    background: silver;
    color: #fff;
    text-decoration: none;
    border-radius: 100%;
    font-family: Gotham-Bold,Helvetica,sans-serif;
    font-size: 14px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    text-align:center;
    float:left;
    margin:0 3px;
}

#content_0_gvSearchResults > tbody > tr:last-child a:hover {
        background: #ed1a3b;
}

#content_0_gvSearchResults > tbody > tr:last-child span {
    cursor: pointer;
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    background: silver;
    color: #fff;
    text-decoration: none;
    border-radius: 100%;
    font-family: Gotham-Bold,Helvetica,sans-serif;
    font-size: 14px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    text-align:center;
    float:left;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    color: red!important;
     margin:0 3px;
}

    #content_0_gvSearchResults > tbody > tr:last-child table {
        margin: 0 auto;
    }
/*.nice-select .list:hover .option:first-child {
    background-color: #ed1a3b !important;
}*/

.wrap-search-result {
    min-height: 420px;
    overflow: hidden;
}

