﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FooterSublayout.ascx.cs" Inherits="sgfuture.SGFuture_Revamp.sublayouts.FooterSublayout" %>
<footer id="page-footer">
    <sc:Text ID="txtfooter" runat="server" Field="Footer Data" DataSource="{12BAFE5B-E786-456D-B4D2-E4CF98A81ACB}" />
</footer>