﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MetaTagsSublayout.ascx.cs" Inherits="sgfuture.SGFuture_Revamp.sublayouts.MetaTagsSublayout" %>
<asp:Literal ID="SGFuturelitMetaTag"  runat="server" Mode="PassThrough"></asp:Literal>