﻿@media (max-width:767px) {
    .section-calendar .wrap-calendar .block-event.month {
        display: none !important;
        cursor: pointer;
    }
}

@media (min-width:768px) {
    .section-calendar .wrap-calendar .block-event.month {
        display: block;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .section-filter .list .item .btn {
        margin-top: 37px;
    }
}

img.gray-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: gray;
}



/*.nice-select .list:hover .option:first-child {
    background-color: #ed1a3b !important;
}*/

