@model SGEventsCalendar.Models.Story
@{
    Layout = null;
    ViewBag.Title = "FuturedStoriesDetails";
}

@using Sitecore.Links;
@using SGEventsCalendar.Models;

<script src="/assets/sgcalendar/js/slick.js"></script>
<script src="/assets/sgcalendar/scripts/calendar.js"></script>


<div class="articleBanner clearfix">
    <img class="deskImg" src="@Model.DeskBanner" alt="@Model.DeskBannerAlt" title="" border="0" />
    <img class="mobImg" src="@Model.MobBanner" alt="@Model.MobBannerAlt" title="" border="0" />

    @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Youtube URL").ToString()))
    {
        <a class="playBtn">
            <img src="/assets/sgcalendar/images/play_icon.png" alt="Play Icon">
        </a>
    }

</div>
<!-- article banner ends here -->

<div class="OurSGwrapper">
    <div class="articleContainer">
        <ul class="shareIcon" id="shareIcon">
            <li>
                <a href="JavaScript:Facebook('@Model.SocTitle.ToString().Replace("'", "&#39;")','@Model.SocShareDesc.ToString().Replace("'", "&#39;")','@Model.SocShareImg','Articles','@Model.Title.ToString().Replace("'", "&#39;")')">
                    <img src="/assets/sgcalendar/images/facebook.png" alt="" title="" border="0" />
                </a>
            </li>
            <li>
                <a href="javascript:MailSend('@Model.SocTitle.ToString().Replace("'", "&#39;")','@Model.SocShareDesc.ToString().Replace("'", "&#39;")','Articles','@Model.Title.ToString().Replace("'", "&#39;")')">
                    <img src="/assets/sgcalendar/images/icon-email.png" alt="" title="" border="0" />
                </a>
            </li>
        </ul>

        <div class="articleContent">
            <div class="titleBlock">
                <div class="dateTitle">
                    @if (!Model.IsEventDateHide)
                    {
                        <h4>@Model.EventDate.ToString("dd MMM yyy")</h4>
                    }
                    <h2>@Html.Sitecore().Field("Title")</h2>

                </div>
                <div class="author">
                    <p></p>
                </div>
            </div>
            <div class="mainContent">
                @Html.Sitecore().Field("Top Description")
            </div>
        </div>
    </div>
</div>

@if (Model.CarouselItems.Count > 0)
{
    <div class="articleCarousel">
        <div class="articleContainer articleContainer-custom" id="articleCarousel">
            <ul class="bxslider">
                @foreach (var img in Model.CarouselItems)
                {
                    <li>
                        <img src="@img.ItemImage" alt="@img.ImgAltText" />
                    </li>
                }
            </ul>
            @foreach (var cap in Model.CarouselItems)
            {
                <div class="caption">
                    <p>@cap.ImgAltText</p>
                </div>
            }
        </div>
    </div>
}


<!--Bottom Description-->
<div class="OurSGwrapper">
    <div class="articleContainer">
        <div class="articleContent">
            <div class="mainContent">
                @Html.Sitecore().Field("Bottom Description")
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Html.Sitecore().Field("Quote Text").ToString()) || !string.IsNullOrEmpty(Html.Sitecore().Field("Quote Author").ToString()))
{
    <div class="oppurtunity">
        <div class="mainContent">
            <h2>@Html.Sitecore().Field("Quote Text") </h2>
            <h4>@Html.Sitecore().Field("Quote Author") </h4>
        </div>
    </div>
}


@if (ViewBag.LatestNews.Count > 0)
{
    <div class="newsSection">
        <h2>LATEST NEWS</h2>
        <div class="newsBanner">
            <ul class="latestNewsSlider">
                @if (Model != null)
                {
                    foreach (Story obj in (ViewBag.LatestNews))
                    {
                        string itemUrl, target, externalLink = string.Empty;

                        externalLink = Convert.ToString(obj.ExternalLink);

                        if (!string.IsNullOrEmpty(obj.ExternalLink))
                        {
                            itemUrl = externalLink; target = "_blank";
                        }
                        else
                        {
                            itemUrl = LinkManager.GetItemUrl(obj.item); target = "_self";
                        }

                        <li>
                            <div class="latestNewsItem">
                                <img src="@obj.ThumbImg" alt="@obj.ThumbImgAlt" title="" />
                                <div class="latestNewsItemCon">
                                    @if (!obj.IsEventDateHide)
                                    {
                                        <span class="date">@Convert.ToDateTime(obj.EventDate).ToString("dd MMM yyyy")</span>
                                    }
                                    <h3>@obj.Title</h3>
                                    @for (int index = 0; index < obj.Categories.Count; index++)
                                    {
                                        <span class="btn">@obj.Categories[index]</span>
                                    }
                                </div>
                                <div class="newsItemInnerCon">
                                    <div class="newsItemInnerConMain">
                                        <p>@obj.ShortDesc</p>
                                        <a target="@target" href="@itemUrl">@Html.Raw(obj.ReadMoreCTA) <i class="fa fa-angle-right"></i></a>
                                    </div>
                                    <a target="@target" href="@itemUrl"></a>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}


<!--Social Share for Mobile view-->
<div class="footerShare">
    <ul>
        <li>
            <a href="javaScript:Facebook('@Model.SocTitle.ToString().Replace("'", "&#39;")','@Model.SocShareDesc.ToString().Replace("'", "&#39;") ','@Model.SocShareImg','Articles','@Model.Title.ToString().Replace("'", "&#39;")')">
                <img src="/assets/sgcalendar/images/icon-facebook.png" alt="" title="" border="0" />
            </a>
        </li>
        <li>
            <a href="javascript:MailSend('@Model.SocTitle.ToString().Replace("'", "&#39;")','@Model.SocShareDesc.ToString().Replace("'", "&#39;")','Articles','@Model.Title.ToString().Replace("'", "&#39;")')">
                <img src="/assets/sgcalendar/images/icon-mail.png" alt="" title="" border="0" />
            </a>
        </li>
        <li>
            <a target="_blank" data-desktop-href="https://web.whatsapp.com/send?text=share_text" href="javascript:WhatsApp('@Model.SocShareDesc.ToString().Replace("'", "&#39;")','Articles','@Model.Title.ToString().Replace("'", "&#39;")')" data-action="share/whatsapp/share">
                <img src="/assets/sgcalendar/images/icon-whatsapp.png" alt="" title="" border="0" />
            </a>
        </li>
    </ul>
</div>

<!-- Video Popup -->
<div class="downloadPopupWraper" id="articleVideo">
    <div class="downloadPopupContainer">
        <div class="downloadHeader">
            <p>
                <a>
                    <img src="/assets/sgcalendar/images/popup-close.jpg" alt="Popup Close">
                </a>
            </p>
        </div>
        <div class="downloadCon">
            <iframe style="width:100%; height:100%" src="@Html.Sitecore().Field("Youtube URL")" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="downloadFooter"><a>Close</a></div>
    </div>
</div>

<!-- Video Popup -->


<script>

    $(window).on('load', function () {
        $('.bxslider li img').css({ 'height': 'auto' });
        $('#shareIcon li img').css({ 'height': 'auto', width: 'auto' });
    });

    $(function () {

        $('.bxslider').bxSlider({
            auto: true, onSliderLoad: function (currentIndex) {
                $("#articleCarousel .caption").eq(currentIndex).show();
            }, onSlideBefore: function ($slideElement, oldIndex, newIndex) {
                $('.caption').hide();
                $("#articleCarousel .caption").eq(newIndex).show();
            },// mode: 'fade',
        });

        // Latest News
        $('.latestNewsSlider').slick({
            dots: false, arrows: true, infinite: true, speed: 300, slidesToShow: 3, slidesToScroll: 1,
            responsive: [
              { breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 1, infinite: true, dots: false } }, { breakpoint: 768, settings: { slidesToShow: 2, slidesToScroll: 1 } },
              { breakpoint: 480, settings: { slidesToShow: 2, slidesToScroll: 1 } }
            ]
        });

        /* Hide BX-Slider Paging if there is one item */
        function HidePaging(ctrlId) {
            if ('@Model.CarouselItems.Count' <= 1) {
                $(ctrlId).hide();
            } else return false;
        }

        HidePaging('.bx-has-pager');

        $('.bxslider1').bxSlider({
            minSlides: 2, maxSlides: 3, slideWidth: 341, slideMargin: 1, moveSlides: 1, pager: false
        });

        /* Article Video */
        $("#articleVideo").hide();

        $(".articleBanner a.playBtn").click(function () {
            $("#articleVideo").fadeIn(300);
            $("body").addClass("hideScrool");
        });

        $("#articleVideo .downloadHeader p a, .downloadFooter img, .downloadFooter a").click(function () {
            $("#articleVideo").fadeOut(300);
            $("body").removeClass("hideScrool");
        });

        var socialHeight = $(".articleContainer").offset().top, newsHeight = $('.newsSection').offset().top;


        $(window).on('scroll', function () {
            if ($(window).scrollTop() >= socialHeight && $(window).scrollTop() < $('.newsSection').offset().top) {
                $('.shareIcon').addClass('shareIconsFixed');
            } else {
                $('.shareIcon').removeClass('shareIconsFixed');
            }
        })

    });



</script>

@*<div>
        <img style="padding-left: 143px;" src="/assets/sgcalendar/images/underdevelopment.jpg" />
    </div>*@


