﻿@model SGEventsCalendar.Models.Footer

@{
    Layout = null;
    ViewBag.Title = "Footer";
}

<footer id="footer" class="footerHome">
    <div class="footerCont">
        @Html.Raw(@Model.FooterContent)
    </div>
</footer>

<div class="downloadPopupWraper" id="downloadGuides">
    <div class="downloadPopupContainer">
        <div class="inner">
            <section class="modal-section js-section-scroll">
                <div class="downloadHeader">
                    <p>
                        <a href="javascript:void(0);"></a>
                    </p>
                </div>
                <div class="downloadCon">
                    <h1>@Model.GuideLines.Title</h1>
                    <br />
                    <br />
                    <img src="@Model.GuideLines.Logo" alt="">
                    <p class="note">
                        @Html.Raw(Model.GuideLines.ShortDesc)
                    </p>
                    @Html.Raw(Model.GuideLines.FullDesc)

                    @if (!string.IsNullOrEmpty(Model.GuideLines.CTAText) && Model.FilePath != "javascript:void(0)")
                    {
                        <div class="downloadBTN"><a href="@Model.FilePath ">@Model.GuideLines.CTAText</a></div>
                    }

                </div>
            </section>
        </div>
    </div>
</div>
<!-- Download Popup -->
<!-- Detail Event Popup -->
<div class="eventDetailPopupWraper" id="eventDetail">
    <div class="eventDetailPopupContainer">
        <div class="inner">
            <div class="eventDetailHeader">
                <a href="javascript:void(0);"></a>
            </div>

            <div class="eventDetailHeaderMobile">
                <a href="javascript:void(0);" class="close">
                    <i class="fa fa-angle-left"></i>
                </a>
                <div class="wrap-social">
                    <ul class="list">
                        <li class="item">
                            @*Need to delete the data-action*@
                            <a target="_blank" data-action="share/whatsapp/share" data-desktop-href="https://web.whatsapp.com/send?text=share_text"
                               href="https://web.whatsapp.com/send?text=share_text" class="whatsapp">
                                <img src="/assets/sgcalendar/images/calendar/icon-whatsapp.png" alt="Whatsapp" />
                            </a>
                        </li>
                        <li class="item">
                            <a href="javascript:void(0)" target="_blank" class="facebook">
                                <img src="/assets/sgcalendar/images/calendar/icon-facebook.png" alt="facebook" />
                            </a>
                        </li>
                        <li class="item">
                            <a href="javascript:void(0)" class="mail">
                                <img src="/assets/sgcalendar/images/calendar/icon-mail.png" alt="Mail" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="eventDetailCon">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/event-detail-large.jpg" alt="" />
                    <span class="tag"></span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow"></div>
                            <div class="dom"></div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow"></div>
                            <div class="dom"></div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type"></div>
                            <h3 class="event-title"></h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time"></div>
                            <div class="place">
                            </div>
                        </div>
                    </div>
                    <div class="mobile-clear"></div>
                    <div class="content">
                        <p></p>
                        <a href="javascript:void(0)" target="_blank" class="link"></a>
                    </div>
                    <div class="wrap-social">
                        <ul class="list">
                            <li class="item">
                                <a href="javascript:void(0)" class="facebook">
                                    <img src="/assets/sgcalendar/images/calendar/icon-facebook.png" alt="facebook" />
                                </a>
                            </li>
                            <li class="item">
                                <a href="javascript:void(0)" class="mail">
                                    <img src="/assets/sgcalendar/images/calendar/icon-mail.png" alt="Mail" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="wrap-tnc">
                        <a href="javascript:void(0)" class="link terms"></a>
                    </div>
                </div>
            </div>
            <div class="eventDetailFooter">
                <p class="note"></p>
                <p class="desc"></p>
            </div>
        </div>
    </div>
</div>
<!-- End Detail Event Popup -->
@Html.Hidden("hostname", Model.HostName, new { @class = "host-name" })
<script type="text/javascript">
    $(function () {

        /* Footer Logo click in OurSG */
        function FooterLogo(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).click(function () {
                    console.log("footerlogo");
                    ga('send', 'event', { eventCategory: 'SG Footer', eventAction: 'Click', eventLabel: 'SGlogo' });
                });
            } else { return false; }
        }

        FooterLogo('.footerLogo a');

        $(window).on('load', function () {
            function EditHtml(ctrlId, index) {
                if ($(ctrlId).length && index > 0) {
                    $('.modal-section:eq(1)').appendTo('#downloadGuides .inner');
                    $('.downloadCon .modal-section').appendTo('#downloadGuides .inner');
                }
            }
            EditHtml('.modal-section', 1); //EditHtml('.modal-section', 2);

        });

        /* Download Guides */
        $("#downloadGuides").hide();

        $(".about-us").click(function () {
            $("#downloadGuides").fadeIn(300);
            $("body").addClass("hideScrool");
            var secHeight = $('.downloadPopupContainer').height() - 20;
            var botLine = secHeight;
            var next, prev;
            var lastScrollTop = 0;
            $('.modal-section').css('min-height', secHeight + 'px');
            $('.modal-section').eq(0).addClass('active');
            next = $('.modal-section.active').next();
            $('#downloadGuides .downloadPopupContainer').on('scroll', function (e) {
                var st = $(this).scrollTop();
                if (st > lastScrollTop) {
                    if ($('.modal-section.active').offset().top + $('.modal-section.active').height() < botLine - 15) {
                        $('.modal-section.active').removeClass('active');
                        prev = next.addClass('active').prev();
                        next = $('.modal-section.active').next();
                        $('.downloadPopupContainer').stop().animate({
                            scrollTop: $(this).scrollTop() + $('.modal-section.active').offset().top - 45
                        }, 300);
                    }
                } else {
                    if ($('.modal-section.active').offset().top > 55) {
                        $('.modal-section.active').removeClass('active');
                        next = prev.addClass('active').next();
                        prev = $('.modal-section.active').prev();
                        $('.downloadPopupContainer').stop().animate({
                            scrollTop: $(this).scrollTop() + $('.modal-section.active').offset().top - 45
                        }, 300);
                    }
                }
                lastScrollTop = st;
            });
        });

        $(".downloadHeader p a, .downloadFooter img").click(function () {
            $("#downloadGuides").fadeOut(300);
            $("body").removeClass("hideScrool");
        });

        $("#downloadGuides").click(function (e) {
            if (e.target == this) {
                $("#downloadGuides").fadeOut(300);
                $("body").removeClass("hideScrool");
            }
        });

        /*Maintaining content length in featured news tiles */
        function MobContent(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).each(function () {
                    if ($(this).text() != "") { $(this).text($(this).text().toString().substr(0, 67) + '...'); }
                });
            } else { return false; }
        }

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            //MobContent('.gridInnerConMain p');
            MobContent('.gridInnerConMain p,.newsItemInnerConMain p');
        }

        /* GA Track for Social Channel Icons Click */
        function GATrackSocialChannel(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).click(function () {
                    var clsName = $(this).find('a').attr('class');
                    console.log(clsName);

                    switch (clsName) {
                        case 'facebook':
                            ga('send', 'event', { eventCategory: 'SG Footer', eventAction: 'Social Click', eventLabel: 'facebook' }); break;
                        case 'twitter':
                            ga('send', 'event', { eventCategory: 'SG Footer', eventAction: 'Social Click', eventLabel: 'twitter' }); break;
                        case 'youTube':
                            ga('send', 'event', { eventCategory: 'SG Footer', eventAction: 'Social Click', eventLabel: 'youTube' }); break;
                        case 'instagram':
                            ga('send', 'event', { eventCategory: 'SG Footer', eventAction: 'Social Click', eventLabel: 'instagram' }); break;
                    }
                });
            } else { return false; }
        }

        GATrackSocialChannel('.footerCont li');
    })

    var FBID = '@Model.FBAppId';

    window.fbAsyncInit = function () {
        FB.init({
            appId: FBID, status: true, cookie: true,
            version: 'v2.2'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    /* Share on Faceboook */
    function Facebook(Title, Description, Img, value, eventName) {
        try {
            var url = '';
            if (value == "popup") url = '@Model.HostName' + '/SG/events-calendar/' + eventName; else url = window.location.href;
            FB.ui({
                method: 'feed', name: Title.replace("&#39;", "'"), link: url, picture: fbimg = '@Model.HostName' + Img, description: Description,
            }, function (response) {
                if (response && !response.error_message) {
                    if (value == "popup") {
                        ga('send', 'event', { eventCategory: 'SG Event Detail', eventAction: 'Share Facebook', eventLabel: eventName.replace("&#39;", "'") });
                        ga('send', 'social', 'Facebook', 'share', eventName.replace("&#39;", "'"));
                    }
                } else
                    console.log('Error while posting.'); return false;
            });
        } catch (ex) { console.log('Error while posting.'); }
    }

    /* Mail to functionality */
    function MailSend(Title, Content, type, eventName) {

        var url = '';
        if (type == "popup") url = '@Model.HostName' + '/SG/events-calendar/' + eventName; else url = window.location.href;
        var email = '', subject = Title.replace(/&#39;/g, "'").replace(/&/g, '%26').replace(/"/g, '%22'), emailBody = Content.replace(/&#39;/g, "'").replace(/&/g, '%26') + '%0a' + encodeURIComponent(url) + '';



        document.location = "mailto:" + email + "?subject=" + subject + "&body=" + emailBody.replace(/%26quot;/g, '"');;
    }

    /* Whatsapp functionality */
    function WhatsApp(Content, type, eventName) {
        var url = '';
        if (type == "popup") url = '@Model.HostName' + '/SG/events-calendar/' + eventName; else url = window.location.href;
        var message = encodeURIComponent(Content.replace("&#39;", "'")) + ', ' + encodeURIComponent(url) + '';
        var whatsapp_url = "whatsapp://send?text=" + message;
        window.location.href = whatsapp_url;
    }

</script>

<style type="text/css">
    .container-report {
        position: absolute;
        right: 100px;
        bottom: 55px;
    }

    @@media only screen and (max-width : 767px) {
        .container-report {
            position: inherit;
             right: inherit;
             bottom: inherit;
		     margin-top: 15px;
        }
    }
</style>

