﻿@model SGEventsCalendar.Models.Home
@using Sitecore.Links;
@using SGEventsCalendar.Models;

@{
    Layout = null;
}


<section class="sgSpirit">

    @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Maintanence Message").ToString()))
{ 
    <div class="maintenance"><span><i class="fa fa-close"></i>@Html.Sitecore().Field("Maintanence Message").ToString()</span></div>
}

    @if (!string.IsNullOrEmpty(Model.PageShortDesc.ToString()) || !string.IsNullOrEmpty(Model.PageTitle.ToString()))
{
    <div class="mainWraper">
        <h4>@Model.PageTitle</h4>

        @if (!string.IsNullOrEmpty(Model.PageShortDesc.ToString()))
    {
        @Html.Raw(Model.PageShortDesc)

        <div class="readMore" onclick="ga('send', 'event', { eventCategory: 'SG Homepage', eventAction: 'Top Banner Click', eventLabel: 'read more / collapse'});"><a>Read more <i class="fa fa-angle-down"></i></a></div>
        <div class="collapse"><a>Collapse <i class="fa fa-angle-up"></i></a></div>
    }
    </div>
}
</section>

@{
    string accClas = Model.Banners.Count == 2 ? "accordionTwo" : (Model.Banners.Count == 4 ? "accordionFour" : "accordionThree");
}
<div class="accordionSlide clearfix @accClas">
    <ul class="Banners">
        @for (int index = 0; index < Model.Banners.Count(); index++)
{
    string active = index == 0 ? "active" : string.Empty;
            
    <li class="@active">
        <a href="@Model.Banners[index].Url" target="_blank">
            <img src="@Model.Banners[index].DeskImage" alt="@Model.Banners[index].DeskImageAlt" class="deskImg">
            <img id="firstMobimg" src="@Model.Banners[index].MobImage" alt="@Model.Banners[index].MobImageAlt" class="mobImg">
            <div class="accordionCon">
                <h3>@Html.Raw(Model.Banners[index].Title)</h3>
                <p>
                    @Html.Raw(Model.Banners[index].Description)
                </p>
            </div>
        </a>
    </li>
}
</ul>
</div>

<!-- Section calendar -->
@if (Model.Events.Count > 0)
{
    <div class="section section-calendar">
        <h2 class="section-heading">@Model.EventsTitle</h2>
        <p class="section-desc">@Model.EventsDesc</p>

        <div class="wrap-calendar">
            <!-- block event loop -->
            @foreach (SGEvent _ban in @Model.Events)
    { 
                <div class="block-event" data-img="@_ban.DetailLargeImg" data-alt="@_ban.DetailLargeImgAlt" data-page="landing">
                    <a class="inner" href="javascript:void(0);">
                        <figure class="wrap-thumb">
                            <img class="thumb" src="@_ban.ThumbImg" alt="@_ban.ThumbImgAlt" />
                            @if (!string.IsNullOrEmpty(_ban.EntryType))
    { 
        <span class="tag">@_ban.EntryType</span>
    }
    </figure>

                        @{
                            string[] names = System.Globalization.DateTimeFormatInfo.CurrentInfo.AbbreviatedDayNames;
                        }

    <div class="wrap-info">
        <div class="left">
            @if (@_ban.FromDate != new DateTime(0001, 1, 1))
    {
        <div class="date from-date">
            <div class="dow">@names[(int)@_ban.FromDate.DayOfWeek]</div>
            <div class="dom">@_ban.FromDate.ToString("dd")</div>
            <div class="year hide-small">@_ban.FromDate.ToString("MMM") '@_ban.FromDate.ToString("yy")</div>
            <div class="year show-small">@_ban.FromDate.ToString("MMM") '@_ban.FromDate.ToString("yy")</div>
        </div>
    }
                                @if (@_ban.ToDate != new DateTime(0001, 1, 1) && !_ban.AllDay && _ban.FromDate.Date != _ban.ToDate.Date)
    { 
        <div class="date to-date">
            <div class="dow">@names[(int)@_ban.ToDate.DayOfWeek]</div>
            <div class="dom">@_ban.ToDate.ToString("dd")</div>
            <div class="year hide-small">@_ban.ToDate.ToString("MMM") '@_ban.ToDate.ToString("yy")</div>
            <div class="year show-small">@_ban.ToDate.ToString("MMM") '@_ban.ToDate.ToString("yy")</div>
        </div>
    }
    </div>
    <div class="right">
        <div class="wrap-title">
            <div class="event-type">@_ban.Category</div>
            <h3 class="event-title">@_ban.Name</h3>
        </div>
        <div class="wrap-location">
            @if (_ban.AllDay)
    {
        <div class="time">All Day</div>
    }
                                    @if (_ban.FromDate.ToString("HH.mm") != "00.00" || _ban.FromDate.ToString("HH.mm") != "00.00")
    { 
        <div class="time">@_ban.FromDate.ToString("HH.mm") - @_ban.ToDate.ToString("HH.mm")</div>
    }
    <div class="place">@_ban.Location</div>
</div>
</div>

<div class="hide-event-info" style="display: none">

    @Html.Hidden("detail-desc", _ban.Description, new { @class = "detail-desc" })
    <br />
    @Html.Hidden("maps-link", _ban.GoogleMapLink, new { @class = "maps-link" })
    <br />
    @Html.Hidden("soc-share-title", _ban.SocShareTitle, new { @class = "soc-share-title" })
    @Html.Hidden("soc-share-img", _ban.SocShareImg, new { @class = "soc-share-img" })
    @Html.Hidden("soc-share-desc", _ban.SocShareDesc, new { @class = "soc-share-desc" })
    <br />
    @Html.Hidden("website-url", _ban.Url, new { @class = "website-url" })
    <br />
    @Html.Hidden("mail-to", _ban.EventDetailsMail, new { @class = "mail-to" })
    @Html.Hidden("note-title", _ban.NoteTitle, new { @class = "note-title" })
    @Html.Hidden("note-con", _ban.NoteContent, new { @class = "note-con" })
    @Html.Hidden("terms-title", _ban.TermsTitle, new { @class = "terms-title" })
    @Html.Hidden("terms-url", _ban.TermsCondExternalLink, new { @class = "terms-url" })
    @Html.Hidden("item-name", _ban.item.Name, new { @class = "item-name" })

    @Html.Hidden("cat-type", _ban.Category, new { @class = "cat-type" })
    @Html.Hidden("audi-type", _ban.AudienceType, new { @class = "audi-type" })
    @Html.Hidden("item-event-type", _ban.Type, new { @class = "item-event-type" })
    @Html.Hidden("item-period", _ban.FromDate.ToString("dd-MM-yyyy") + " to " + _ban.ToDate.ToString("dd-MM-yyyy"), new { @class = "item-period" })

</div>
</div>
</a>
</div>
}

            @if (Model.Events.Count > 0)
{ 
    <div class="block-event block-more">
        <div class="inner">
            <img class="bg" src="/assets/sgcalendar/images/calendar/block-event-more-bg.jpg" alt="More Events back ground image" />
            <a href="/SG/events-calendar" class="link-more" onclick="ga('send', 'event', { eventCategory: 'SG Homepage', eventAction: 'Calendar click', eventLabel: 'view more'});">
                <span class="content">
                    <span>View more</span>
                    <ul class="anim-loader">
                        <li class="circle"></li>
                        <li class="circle"></li>
                        <li class="circle"></li>
                    </ul>
                </span>
            </a>
        </div>
    </div>
}

<!-- end block event loop -->
</div>
</div>

<hr class="section-end" />
}
<!-- End Section calendar -->
@if (Model.Stories.Count > 0)
{
    <div class="featuredStoriesSection clearfix">
        <h2>Featured Stories</h2>

        <!-- Section calendar -->
        @if (Model != null && Model.Stories.Count > 0)
    {

        List<string> itemUrl, target, isDateHide;
        isDateHide = new List<string>(); itemUrl = new List<string>(); target = new List<string>();
        string externalLink = string.Empty;

        foreach (Story stos in Model.Stories)
    {
            externalLink = Convert.ToString(stos.ExternalLink);

        isDateHide.Add(stos.IsEventDateHide ? "none" : "block");

        if (!string.IsNullOrEmpty(stos.ExternalLink))
        {
            itemUrl.Add(externalLink); target.Add("_blank");
        }
        else
        {
            itemUrl.Add(LinkManager.GetItemUrl(stos.item));
            target.Add("_self");
        }
    }
        
    <div class="storiesMain clearfix">
        <div class="storyRow clearfix">
            <div class="story50">
                <div class="storyCell">
                    <img src="@Model.Stories[0].ThumbImg" alt="@Model.Stories[0].ThumbImgAlt">
                    <div class="storyCon">

                        <span style="display:@isDateHide[0]" class="date">@Model.Stories[0].EventDate.ToString("dd MMM yyyy")</span>

                        <h3>@Html.Raw(Model.Stories[0].Title)</h3>

    @foreach (string _cat in @Model.Stories[0].Categories)
    { 
        <a href="javascript:void(0)">@_cat</a>
}

</div>
<div class="storyInnerMain">
    <div class="storyInnerCon">
        <p>@Html.Raw(Model.Stories[0].ShortDesc)</p>
        <a target="@target[0]" href="@itemUrl[0]">@Model.Stories[0].ReadMoreCTA <i class="fa fa-angle-right"></i></a>
    </div>
    <a target="@target[0]" href="@itemUrl[0]" class="storyInnerLink"></a>
</div>
</div>
</div>
<div class="story50">
    <div class="storyRow clearfix">
        <div class="story50">
            <div class="storyCell">
                <img src="@Model.Stories[1].ThumbImg" alt="@Model.Stories[1].ThumbImgAlt">
                <div class="storyCon">
                    <span style="display:@isDateHide[1]" class="date">@Model.Stories[1].EventDate.ToString("dd MMM yyyy")</span>
                    <h3>@Html.Raw(Model.Stories[1].Title)</h3>

@foreach (string _cat in @Model.Stories[1].Categories)
{ 
    <a href="javascript:void(0)">@_cat</a>
}

                                    </div>
                                    <div class="storyInnerMain">
                                        <div class="storyInnerCon">
                                            <p>@Html.Raw(Model.Stories[1].ShortDesc)</p>
                                            <a target="@target[1]" href="@itemUrl[1]">@Model.Stories[1].ReadMoreCTA <i class="fa fa-angle-right"></i></a>
                                        </div>
                                        <a target="@target[1]" href="@itemUrl[1]" class="storyInnerLink"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="story50">
                                <div class="storyCell">
                                    <img src="@Model.Stories[2].ThumbImg" alt="@Model.Stories[2].ThumbImgAlt">
                                    <div class="storyCon">
                                        <span class="date" style="display:@isDateHide[2]">@Model.Stories[2].EventDate.ToString("dd MMM yyyy")</span>
                                        <h3></h3>
                                    </div>
                                    <div class="storyInnerMain">
                                        <div class="storyInnerCon">
                                            <p></p>
                                            <a href="@itemUrl[2]">@Model.Stories[2].ReadMoreCTA <i class="fa fa-angle-right"></i></a>
                                        </div>
                                        <a href="@itemUrl[2]" class="storyInnerLink" target="_blank"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="storyCell">
                            <img src="@Model.Stories[3].WideImage" alt="@Model.Stories[3].ThumbImgAlt">
                            <div class="storyCon">
                                <span style="display:@isDateHide[3]" class="date">@Model.Stories[3].EventDate.ToString("dd MMM yyyy")</span>
                                <h3>@Html.Raw(Model.Stories[3].Title)</h3>

@foreach (string _cat in @Model.Stories[3].Categories)
{ 
    <a href="javascript:void(0)">@_cat</a>
}

                            </div>
                            <div class="storyInnerMain">
                                <div class="storyInnerCon">
                                    <p>@Html.Raw(Model.Stories[3].ShortDesc)</p>
                                    <a target="@target[3]" href="@itemUrl[3]">@Model.Stories[3].ReadMoreCTA <i class="fa fa-angle-right"></i></a>
                                </div>
                                <a target="@target[3]" href="@itemUrl[3]" class="storyInnerLink"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="storyRow clearfix">
                    <div class="story25">
                        <div class="storyCell">
                            <img src="@Model.Stories[4].ThumbImg" alt="@Model.Stories[4].ThumbImgAlt">
                            <div class="storyCon">
                                <span style="display:@isDateHide[4]" class="date">@Model.Stories[4].EventDate.ToString("dd MMM yyyy")</span>
                                <h3>@Html.Raw(Model.Stories[4].Title)</h3>

@foreach (string _cat in @Model.Stories[4].Categories)
{ 
    <a href="javascript:void(0)">@_cat</a>
}

                            </div>
                            <div class="storyInnerMain">
                                <div class="storyInnerCon">
                                    <p>@Html.Raw(Model.Stories[4].ShortDesc)</p>
                                    <a target="@target[4]"  href="@itemUrl[4]">@Model.Stories[4].ReadMoreCTA <i class="fa fa-angle-right"></i></a>
                                </div>
                                <a target="@target[4]" href="@itemUrl[4]" class="storyInnerLink"></a>
                            </div>
                        </div>
                    </div>
                    <div class="story25 last">
                        <div class="storyCell">
                            <img src="@Model.Stories[5].ThumbImg" alt="@Model.Stories[5].ThumbImgAlt">
                            <div class="storyCon">
                                <span style="display:@isDateHide[5]" class="date">@Model.Stories[5].EventDate.ToString("dd MMM yyyy")</span>
                                <h3>@Html.Raw(Model.Stories[5].Title)</h3>

@foreach (string _cat in @Model.Stories[5].Categories)
{ 
    <a href="javascript:void(0)">@_cat</a>
}

                            </div>
                            <div class="storyInnerMain">
                                <div class="storyInnerCon">
                                    <p>@Html.Raw(Model.Stories[5].ShortDesc)</p>
                                    <a target="@target[5]" href="@itemUrl[5]">@Model.Stories[5].ReadMoreCTA <i class="fa fa-angle-right"></i></a>
                                </div>
                                <a  target="@target[5]"  href="@itemUrl[5]" class="storyInnerLink"></a>
                            </div>
                        </div>
                    </div>
                    <div class="story50">
                        <div class="storyCell">
                            <img src="@Model.Stories[6].WideImage" alt="@Model.Stories[6].ThumbImgAlt">
                            <div class="storyCon">
                                <span style="display:@isDateHide[6]" class="date">@Model.Stories[6].EventDate.ToString("dd MMM yyyy")</span>
                                <h3>@Html.Raw(Model.Stories[6].Title)</h3>

@foreach (string _cat in @Model.Stories[6].Categories)
{ 
    <a href="javascript:void(0)">@_cat</a>
}

                            </div>
                            <div class="storyInnerMain">
                                <div class="storyInnerCon">
                                    <p>@Html.Raw(Model.Stories[6].ShortDesc)</p>
                                    <a target="@target[6]" href="@itemUrl[6]">@Model.Stories[6].ReadMoreCTA <i class="fa fa-angle-right"></i></a>
                                </div>
                                <a target="@target[6]" href="@itemUrl[6]" class="storyInnerLink"></a>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="storyRow clearfix">
                @for (int index = 7; index <= 8; index++)
{ 
    <div class="story50">
        <div class="storyCell">
            <img src="@Model.Stories[index].WideImage" alt="">
            <div class="storyCon">
                <span style="display:@isDateHide[index]" class="date">@Model.Stories[index].EventDate.Value.ToString("dd MMM yyyy")</span>
                <h3>@Html.Raw(Model.Stories[index].Title)</h3>

    @foreach (string _cat in @Model.Stories[index].Categories)
    { 
        <a href="javascript:void(0)">@_cat</a>
}

</div>
<div class="storyInnerMain">
    <div class="storyInnerCon">
        <p>@Html.Raw(Model.Stories[index].ShortDesc)</p>
        <a target="@target[index]" href="@itemUrl[index]">@Model.Stories[index].ReadMoreCTA<i class="fa fa-angle-right"></i></a>
    </div>
    <a target="@target[index]" href="@itemUrl[index]" class="storyInnerLink"></a>
</div>
</div>
</div>
}
            </div>*@
            </div>
}

        <a onclick="ga('send', 'event', { eventCategory: 'SG Homepage', eventAction: 'SGPulse Click', eventLabel: 'find more stories' });" href="/SG/featured-stories" class="seeMoreStories">See more stories
		<ul class="anim-loader">
            <li class="circle"></li>
            <li class="circle"></li>
            <li class="circle"></li>
        </ul>
        </a>
    </div>
}


@if (Model.IsVisibleSG50)
{ 
    <div class="revisit">
        <div class="revisitImg"></div>
        <h4>@Model.RevisitTitle</h4>
        <p>@Model.RevisitDesc</p>

        @if (!string.IsNullOrEmpty(@Model.RevisitUrl))
    { 
        <a href="@Model.RevisitUrl" target="_blank">Find out more</a>
    }
    </div>
}

<script src="/assets/sgcalendar/scripts/calendar.js"></script>
<script type="text/javascript">

    $(function () {

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            SetBackGround('.revisitImg', 'M'); SetBackGround('.sgSpirit', 'D');
        } else { SetBackGround('.revisitImg', 'D'); SetBackGround('.sgSpirit', 'D'); }

        function SetBackGround(ctrlId, type) {
            if ($(ctrlId).length > 0) {
                var backImg = '';
                if (ctrlId == '.revisitImg') {
                    backImg = type == 'M' ? '@Model.RevisitMobImg' : '@Model.RevisitDeskImg';
                    $(ctrlId).css({ 'background': '#000 url(' + backImg + ') no-repeat top center' })
                } else {
                    backImg = '@Model.PageBackImage';
                    $(ctrlId).css({ 'background-image': 'url(' + backImg + ')' })
                }
            } else { return false; }
        }

        //*Maintaining content length in featured news tiles */
        function MobContent(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).each(function () {
                    if ($(this).text() != "" && $(this).text().length > 68) { $(this).text($(this).text().toString().substr(0, 67) + '...'); }
                });
            } else { return false; }
        }

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            MobContent('.storyInnerCon p');
        }



        /* function to GA Tracking for home page banners click  in OurSG Home page */
        function GATrack_Banners(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).click(function () {
                    var labelText = $(this).find('.accordionCon h3').text().trim();
                    console.log(labelText);
                    ga('send', 'event', { eventCategory: 'SG Homepage', eventAction: 'Top Banner Click', eventLabel: labelText });
                });
            } else { return false; }
        }

        GATrack_Banners('.Banners li');

        /* GA Tracking for Story List item click */
        function GATrack_StoryItems(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).click(function () {
                    console.log($(this).find('.storyCon h3').text().trim());
                    ga('send', 'event', { eventCategory: 'SG Homepage', eventAction: 'SGPulse Click', eventLabel: $(this).find('.storyCon h3').text().trim() });
                });
            } else { return false; }
        }

        GATrack_StoryItems('.storyCell');

        if ($(window).width() <= 767) {
            $(window).load(function () {
                $(".accordionSlide ul li:first-child").addClass("active").removeAttr("style").height($("img#firstMobimg").height());
            });
        }

    })
</script>
