﻿@model List<SGEventsCalendar.Models.SearchResults>


@*@model SGEventsCalendar.Models.SearchResults
*@

@{
    Layout = null;
    ViewBag.Title = "FuturedStoriesDetails";
}

@using Sitecore.Links;
@using SGEventsCalendar.Models;

@{
    ViewBag.Title = "SearchResults";
}
<div class="decoate" style="height: 200px">
    <h2>SearchResults</h2>

    <p>Welcome to Serach Page Results SG Events Calender</p>
  @*  <ul>
        <li data-title="@Model.Title.ToString()" data-name="@Model.Name.ToString()" data-count="@Model.ItemCount.ToString()" data-text="@Model.SearchText.ToString()" >@Model.Description.ToString()</li>
    </ul>*@

    <div>
    <ul>
        @foreach (SearchResults obj in Model)
        {
            <li data-title="@obj.Title.ToString()" data-name="@obj.Name.ToString()" data-count="@obj.ItemCount.ToString()" data-text="@obj.SearchText.ToString()" >@obj.Description.ToString()</li>
        }
    </ul>

</div>
</div>

<style type="text/css">
    .decoate {
        font-family: Calibri;
        font-size: medium;
        min-height: 1000px;
        margin-top: 600px;
    }
</style>
