﻿/*.page .section-news .news--grid .grid {
    display: table;
    width: 100%;
}*/

.wrap-paging .page-link.prev span, .wrap-paging .page-link.next span {
    top: 50%;
    margin-top: -8px;
}

.wrap-paging .page-link {
    margin: 0 2px;
}

.no-items {
    font-size: 17px;
    padding-top: 65px;
    min-height: 200px;
    background: #f2f2f2;
    text-align: center;
    /*color: #df452f;*/
}

.hide {
    display: none;
}



.page-landing .section-partners .content {
    text-align: center;
    margin: 40px 0 0 0;
    padding: 0 0 40px 0;
}

.wrap-hero {
    min-height: 250px;
}

@media (max-width:767px) {

    .page-landing .section-future .heading span {
        overflow:inherit;
        text-overflow:clip;
        width:255px;
        white-space:normal;        
    }

    .modal.style-video-2 .wrap-button .button__wrapper {
        margin: 5px 20px 5px;
    }

    .page .section-news .news--grid .grid-item {
        margin-bottom: 25px;
    }

    .page-article .section-main .article-content .title {
        font-size: 23px;
    }

    .side-bar .block-relate .items .item__info {
        padding: 16px;
    }
.mobile-list {
        padding-top:6px;
    }
    
}
