﻿@model SGCare.Models.ActofKindnessDTO
@using Sitecore.Links;
@{
    ViewBag.Title = "Singapore Cares :: Act of Kindness";
    Layout = null;
}
<main class="page page-landing">

            <!-- begin section hero -->
            <section class="section-hero">
                <div class="wrap-hero">
                    <img class="bg-thumb hidden-xs" src="@Model.DeskMastheadImg" />
                    <img class="bg-thumb visible-xs" src="@Model.MobMastHeadImg" />

                     @if (!string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("Header Description"))))
                     {
                         <div class="hero-text">@Html.Raw(Convert.ToString(Html.Sitecore().Field("Header Description")))</div>
                     }
                 </div>
            </section>
            <!-- end section hero -->

     @if (!string.IsNullOrEmpty(Model.IntroImg) && !string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("Short Description"))))
     {
            <div class="section-intro--3col section-intro-padding">
                <div class="intro-body">
                    @if (!string.IsNullOrEmpty(Model.IntroImg))
                    {
                    <div class="col-3"><img src="@Model.IntroImg" /></div>
                    }
                    <div class="col-6">@Html.Raw(Convert.ToString(Html.Sitecore().Field("Short Description")))
                    </div>

                      @if (!string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("CTA Text"))))
                      {
                    <div class="col-3 intro"><a href="@Model.CTAUrl" target="_blank" >@Html.Sitecore().Field("CTA Text")</a></div>
                      }
                </div>
            </div>
     }

            <!-- begin section news -->

    @if (Model.LandingTiles.Count > 0 || Model.AllExceptTiles.Count > 0)
    { 
            <div class="featuredStoriesSection clearfix" >
               @if (Model.LandingTiles.Count > 0)
               {
                <div class="storiesMain clearfix" data-page="1">
                    <div class="storyRow clearfix">
                        <div class="story50">
                            <div class="storyCell"> <img src="@Model.LandingTiles[0].TileforBox1_2" alt="">
                                <div class="storyCon">
                                    <h3>@Html.Raw(@Model.LandingTiles[0].Title)</h3>
                                </div>
                                <div class="storyInnerMain">
                                    <div class="storyInnerCon">
                                        <p>@Model.LandingTiles[0].ShortDesc</p>
                                        <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[0].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.LandingTiles[0].Item.Name'});">@Model.LandingTiles[0].Readmore <i class="fa fa-angle-right"></i></a>
                                        </div>
                                        <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[0].Item)" class="storyInnerLink" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.LandingTiles[0].Item.Name'});"></a>
                                </div>
                            </div>
                        </div>
                         @if (@Model.LandingTiles.Count >= 2)
                         {
                        <div class="story50">
                            <div class="storyRow clearfix">

                                  @for (int index = 1; index < 5; index++)
                                  {
                                      if (Model.LandingTiles.Count >= index + 1)
                                      {
                                <div class="story50">
                                    <div class="storyCell"> <img src="@Model.LandingTiles[index].TileforBox1_2" alt="">
                                        <div class="storyCon">
                                            <h3>@Html.Raw(@Model.LandingTiles[index].Title)</h3>
                                        </div>
                                        <div class="storyInnerMain">
                                            <div class="storyInnerCon">
                                                <p>@Model.LandingTiles[index].ShortDesc</p>
                                                <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[index].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.LandingTiles[index].Item.Name'});">@Model.LandingTiles[index].Readmore <i class="fa fa-angle-right"></i></a> </div>
                                                <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[index].Item)" class="storyInnerLink" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.LandingTiles[index].Item.Name'});"></a>
                                        </div>
                                    </div>
                                </div>
                                      }
                                  }
                                
                            </div>
                        </div>
                         }
                    </div>
                   @if (@Model.LandingTiles.Count > 5)
                   {
                    <div class="storyRow clearfix">
                        @if (@Model.LandingTiles.Count >= 6)
                        {
                        <div class="story25">
                            <div class="storyCell"> <img src="@Model.LandingTiles[5].TileforBox1_2" alt="">
                                <div class="storyCon">
                                    <h3>@Html.Raw(@Model.LandingTiles[5].Title)</h3>
                                </div>
                                <div class="storyInnerMain">
                                    <div class="storyInnerCon">
                                        <p>@Model.LandingTiles[5].ShortDesc</p>
                                        <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[5].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel:'@Model.LandingTiles[5].Item.Name'});">@Model.LandingTiles[5].Readmore <i class="fa fa-angle-right"></i></a> </div>
                                        <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[5].Item)" class="storyInnerLink" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel:'@Model.LandingTiles[5].Item.Name'});"></a>
                                </div>
                            </div>
                        </div>
                        }
                        @if (@Model.LandingTiles.Count >= 8)
                        {
                        <div class="story25 last">
                            <div class="storyCell"> <img src="@Model.LandingTiles[7].TileforBox1_2" alt="">
                                <div class="storyCon">
                                    <h3>@Html.Raw(@Model.LandingTiles[7].Title)</h3>
                                </div>
                                <div class="storyInnerMain">
                                    <div class="storyInnerCon">
                                        <p>@Model.LandingTiles[7].ShortDesc</p>
                                        <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[7].Item)"onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel:'@Model.LandingTiles[7].Item.Name'});">@Model.LandingTiles[7].Readmore <i class="fa fa-angle-right"></i></a> </div>
                                        <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[7].Item)" class="storyInnerLink" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel:'@Model.LandingTiles[7].Item.Name'});"></a>
                                </div>
                            </div>
                        </div>
                        }
                        @if (@Model.LandingTiles.Count >= 7)
                        {
                        <div class="story50">
                            <div class="storyCell"> <img src="@Model.LandingTiles[6].TileforBox3" alt="">
                                <div class="storyCon">
                                    <h3>@Html.Raw(Model.LandingTiles[6].Title)</h3>
                                </div>
                                <div class="storyInnerMain">
                                    <div class="storyInnerCon">
                                        <p>@Model.LandingTiles[6].ShortDesc</p>
                                        <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[6].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel:'@Model.LandingTiles[6].Item.Name'});">@Model.LandingTiles[6].Readmore <i class="fa fa-angle-right"></i></a> </div>
                                        <a href="@LinkManager.GetItemUrl(@Model.LandingTiles[6].Item)" class="storyInnerLink" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel:'@Model.LandingTiles[6].Item.Name'});"></a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                   }
                </div>
               }

 @{int pageIndex = 1;}

@if (Model != null && Model.AllExceptTiles.Count > 0)
{
    for (int index = 0; index < Model.AllExceptTiles.Count; index += 6)
    {
        pageIndex = pageIndex + 1;
        <div class="storiesMain clearfix" data-page="@pageIndex" style="display:none">
            <div class="storyRow clearfix">
                <div class="story50">
                    <div class="storyCell">
                        <img src="@Model.AllExceptTiles[index].TileforBox3" alt="">
                        <div class="storyCon">
                            <h3>@Html.Raw(@Model.AllExceptTiles[index].Title)</h3>
                        </div>
                        <div class="storyInnerMain">
                            <div class="storyInnerCon">
                                <p>@Model.AllExceptTiles[index].ShortDesc</p>
                                <a href="@LinkManager.GetItemUrl(Model.AllExceptTiles[index].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.AllExceptTiles[index].Item.Name'});">@Model.AllExceptTiles[index].Readmore <i class="fa fa-angle-right"></i></a>
                            </div>
                            <a href="@LinkManager.GetItemUrl(Model.AllExceptTiles[index].Item)" class="storyInnerLink" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.AllExceptTiles[index].Item.Name'});"></a>
                        </div>
                    </div>
                </div>
                
                @for (int subIndex = 1 + index; subIndex < 3 + index; subIndex++)
                {
                    if (Model.AllExceptTiles.Count > subIndex)
                    {
                        string clsLast = subIndex % 2 == 0 ? "last" : string.Empty;
                    
                    <div class="story25 @clsLast">
                        <div class="storyCell">
                            <img src="@Model.AllExceptTiles[subIndex].TileforBox1_2" alt="">
                            <div class="storyCon">
                                <h3>@Html.Raw(Model.AllExceptTiles[subIndex].Title)</h3>
                            </div>
                            <div class="storyInnerMain">
                                <div class="storyInnerCon">
                                    <p>@Model.AllExceptTiles[subIndex].ShortDesc</p>
                                    <a href="@LinkManager.GetItemUrl(Model.AllExceptTiles[subIndex].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.AllExceptTiles[subIndex].Item.Name'});">@Model.AllExceptTiles[subIndex].Readmore <i class="fa fa-angle-right"></i></a>
                                </div>
                                <a href="@LinkManager.GetItemUrl(Model.AllExceptTiles[subIndex].Item)" class="storyInnerLink" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.AllExceptTiles[subIndex].Item.Name'});"></a>
                            </div>
                        </div>
                     </div>
                    }
                }
            </div>
            <div class="storyRow clearfix">
                @if (Model.AllExceptTiles.Count > 3 + index)
                {    
                    <div class="story50">
                        <div class="storyCell">
                            <img src="@Model.AllExceptTiles[3 + index].TileforBox3" alt="">
                            <div class="storyCon">
                                <h3>@Html.Raw(Model.AllExceptTiles[3 + index].Title)</h3>
                            </div>
                            <div class="storyInnerMain">
                                <div class="storyInnerCon">
                                    <p>@Model.AllExceptTiles[3 + index].ShortDesc</p>
                                    <a href="@LinkManager.GetItemUrl(@Model.AllExceptTiles[3 + index].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.AllExceptTiles[3 + index].Item.Name'});">@Model.AllExceptTiles[3 + index].Readmore <i class="fa fa-angle-right"></i></a>
                                </div>
                                <a href="@LinkManager.GetItemUrl(Model.AllExceptTiles[3 + index].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel: '@Model.AllExceptTiles[3 + index].Item.Name'});" class="storyInnerLink"></a>
                            </div>
                        </div>
                    </div>
                }

                @for (int subIndex = 4 + index; subIndex < 6 + index; subIndex++)
                {
                    if (Model.AllExceptTiles.Count > subIndex)
                    {
                        string clsLast = subIndex % 2 == 1 ? "last" : string.Empty;
                    
                    <div class="story25 @clsLast">
                        <div class="storyCell">
                            <img src="@Model.AllExceptTiles[subIndex].TileforBox1_2" alt="">
                            <div class="storyCon">
                                <h3>@Html.Raw(Model.AllExceptTiles[subIndex].Title)</h3>
                            </div>
                            <div class="storyInnerMain">
                                <div class="storyInnerCon">
                                    <p>@Model.AllExceptTiles[subIndex].ShortDesc</p>
                                    <a href="@LinkManager.GetItemUrl(Model.AllExceptTiles[subIndex].Item)" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel:'@Model.AllExceptTiles[subIndex].Item.Name'});">@Model.AllExceptTiles[subIndex].Readmore <i class="fa fa-angle-right"></i></a>
                                </div>
                                <a href="@LinkManager.GetItemUrl(Model.AllExceptTiles[subIndex].Item)"  class="storyInnerLink" onclick="ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Read more', eventLabel:'@Model.AllExceptTiles[subIndex].Item.Name'});"></a>
                            </div>
                        </div>
                    </div>
                    }
                }

            </div>
        </div>
    }
}
<div class="pager-white-bg">
    @{
int page = 0;
if (Model.AllExceptTiles.Count == 0)
{
    page = 0;
}
else
{
    int remainder = ((Model.AllExceptTiles.Count) % 6);
    page = ((Model.AllExceptTiles.Count) / 6) + 1 + (remainder == 0 ? 0 : 1);
}
        }

                    <!--begin paging-->
                    <div class="wrap-paging">
                        @if (page > 5)
                        { 
                    	<a class="page-link prev" href="javascript:void(0);">
                    		<span>prev</span>
                    	</a>
                        }
                    	<div class="page-links">
                    		<div class="wrap-inner">
                                @for (int index = 0; index < page; index++)
                                {
                                    int count = @index + 1;
                                    string clsActive = index == 0 ? "active" : string.Empty;
                                    
                    			<a class="page-link @clsActive" data-page="new-page" data-pager="@count" href="javascript:void(0);">
                    				<span class="outer">
                    					<span class="innter">@count</span>
                    				</span>
                    			</a>
                                }
                    		</div>
                    	</div>
                         @if (page > 5)
                         { 
                    	<a class="page-link next" href="javascript:void(0);">
                    		<span>next</span>
                    	</a>
                         }
                    </div>
                    <!--end paging-->
                </div>
</div>
<!-- end section news -->
    }
<a class="btn-back-top" href="javascrip:;"></a>
        
    </main>
<script type="text/javascript">
    $(function () {
        $('.nav-item.first').addClass('active');

        $('.intro > a').click(function () {
            var url = '@Model.CTAUrl';
             url = url.replace(/^https?:\/\//, '');
             //var websiteName = url.substring(0, url.lastIndexOf("."))
             ga('send', 'event', { eventCategory: 'SGCares Kindness', eventAction: 'Visit website', eventLabel: url });
         });

        /* Maintaining content length in tiles */
        function MobContent(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).each(function () {
                    if ($(this).text() != "" && $(this).text().length > 68) { $(this).text($(this).text().toString().substr(0, 67) + '...'); }
                });
            } else { return false; }
        }

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            MobContent('.storyInnerCon p');
        }

        /* content below thumb image for only mobile devices*/
        function mobileContent(ctrlId) {
            if ($(ctrlId).length) {

                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
                    $(ctrlId).show();
                else
                    $(ctrlId).hide();
            }
        }
        mobileContent('.hero-text');

    })
</script>
