﻿@model SGCare.Models.ActofKindnessItem
@{
    ViewBag.Title = "Singapore Cares :: Act of Kindness Details";
}

@using SGCare.Models;
@using Sitecore.Links;

<style type="text/css">
    .block-social a {
        cursor:pointer;
    }
</style>
<main class="page page-article page-story-detail">
        <div class="container-fluid">
            <!-- begin section hero -->
            <section class="section-hero">
                <div class="wrap-hero">
                    <img class="bg-thumb hidden-xs" src="@Model.DeskBanner" />
                    <img class="bg-thumb visible-xs" src="@Model.MobileBanner" />

                    <h1 class="hero-text"><span>@Html.Raw(Convert.ToString(Html.Sitecore().Field("Page Title")))</span></h1>
                </div>
            </section>
            <!-- end section hero -->
            <!-- begin section main -->
            <section class="section-main">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-push-1 no-padding">

                            <div class="block-social">
                               <a class="icon icon-facebook facebook details" data-title="@Model.SocData.SocTitle" data-desc="@Model.SocData.SocDesc" data-img="@Model.SocData.SocImg">facebook</a>
                                 <a class="icon icon-mail outlook" data-title="@Model.SocData.SocTitle" data-desc="@Model.SocData.SocDesc" onclick="ga('send', 'event', { eventCategory: 'SGCares Story details', eventAction: 'Share', eventLabel: 'Email'});">mail</a>
                               <a class="icon icon-whatsapp whatsapp" data-title="@Model.SocData.SocTitle" data-desc="@Model.SocData.SocDesc"  data-action="share/whatsapp/share" onclick="ga('send', 'event', { eventCategory: 'SGCares Story details', eventAction: 'Share', eventLabel: 'Whatsapp'});">Share via Whatsapp</a>
                            </div>

                            <article class="article-content">

                                <h3 class="title">
                      <span>@Html.Raw(@Html.Sitecore().Field("Article Title").ToString())</span>
                                </h3>

                               @if (!string.IsNullOrEmpty(@Convert.ToString(Html.Sitecore().Field("Author"))))
                               { 
                                <p>By @Convert.ToString(Html.Sitecore().Field("Author"))</p>
                               }
                                <p>
                                  @Html.Raw(@Html.Sitecore().Field("Introduction").ToString())
                                </p>

                                @if (Model.CarouselItems.Count > 0)
                                { 
                                    
                                <ul class="list-img">
                                 @foreach (SGCare.Models.Carousel car in Model.CarouselItems)
                                 {
                                     if (car.ItemType == "Image")
                                     { 
                                    <li><img src="@car.ItemImage"></li>
                                     }
                                     else
                                     {
                                         <li>
                                              <div class="wrap-video">
                                            <img class="bg-thumb" src="@car.ItemImage">

                                            <div class="video-play-wrapper">
                                                <a href="#modalVideo2" title="Play" class="play" data-src="@car.Url"></a>
                                                <svg>
                                                    <rect class="outer" rx="20" ry="20" width="64" height="64"></rect>
                                                    <rect class="inner" x="7" y="7" rx="16" ry="16" width="50" height="50"></rect>
                                                    <path class="triangle" d="M24 20 L48 32 L24 44 L24 20 L48 32"></path>
                                                </svg>
                                            </div>
                                        </div>
                                         </li>
                                     }
                                 }
                                </ul>
                                }
                                    @Html.Raw(@Html.Sitecore().Field("Body copy").ToString())
                            </article>
                        </div>

                        <div class="side-bar col-xs-12 col-sm-4 col-sm-push-1">
                         @if (Model.RelatedStories.Count > 0)
                         {
                            <div class="block-relate">
                                <h3 class="title">Related Stories</h3>
                                <div class="items">
                                     @foreach (ActofKindnessItem story in Model.RelatedStories)
                                     {
                                        <div class="item__wrapper clearfix">
                                            <div class="item__img pull-left">
                                                <img src="@story.TileforBox3" alt="">
                                            </div>
                                            <div class="item__info pull-left">
                                                <a href="@LinkManager.GetItemUrl(@story.Item)" title="@story.Readmore" class="link">
                                                    <span>@Html.Raw(@story.Title)</span>
                                                </a>
                                            </div>
                                        </div>
                                     }
                                    
                                </div>
                            </div>
                         }
                            </div>
                     
                    </div>
                </div>
            </section>
            <!-- end section main -->
        </div>
    </main>

<!-- [begin modal]-->
<div class="wrap-modal">
    <div rol="dialog" id="modalVideo2" class="modal fade modal-fullscreen style-video-2 ">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-body">
                    <iframe width="560" height="315" data-src="" src="" frameborder="0" allowfullscreen></iframe>
                    <!-- <a data-dismiss="modal" href="javascript:void(0);" class="close-button" aria-label="Close"></a> -->
                    <br />
                    <div class="wrap-button">

                        <div class="button__wrapper">
                            <a class="button" data-dismiss="modal" href="javascript:void(0);" title="close">CLOSE</a>
                            <svg>
                                <rect class="outer" rx="12" ry="12" />
                                <rect class="inner" x="4" y="4" rx="10" ry="10" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [end modal]-->

<script type="text/javascript">

    $(function () {
        $('.nav-item.first').addClass('active');
    })

</script>
