﻿@model SGCare.Models.Programmes
@using Sitecore.Links;

@{
    Layout = null;
}

<main class="page page-programme">
     @*<div class="maintenance"><span><i class="fa fa-close"></i>Our website will undergo scheduled maintenance from 24 april 3pm - 25 april 3am. We apologise for any inconvenience caused.</span></div>*@
       
            <!-- begin section hero -->
            <section class="section-hero">
                <div class="wrap-hero">
                    <img class="bg-thumb hidden-xs" src="@Model.ListDeskImg" />
                    <img class="bg-thumb visible-xs" src="@Model.ListMobImg" />
                      @if (!string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("Header Description").ToString())))
                      {
                    <div class="hero-text">@Html.Raw(Convert.ToString(Html.Sitecore().Field("Header Description")))</div>
                      }
                </div>
            </section>
            <!-- end section hero -->
     <div class="container-fluid">
            <!-- begin section news -->
            <section class="section-news">
                <div class="news news--grid">

                    @* <div class="section-intro--3col">
                        <div class="intro-body">
                            <div class="col-3"><img src="/assets/SGcares/images/logo_giving-sg.jpg" /></div>
                            <div class="col-6">Everyone has a cause they can be passionate about. Explore the causes available and volunteer for one where youâ€™d like to make a difference. To explore more volunteering opportunities, visit giving.sg to find out more.
                            </div>
                            <div class="col-3"><a href="#" target="_blank">Visit Giving.Sg</a></div>
                        </div>
                    </div>
                    <div class="section-intro--3col">
                        <div class="intro-body">
                            <div class="col-3"><img src="/assets/SGcares/images/logo_giving-sg.jpg" /></div>
                            <div class="col-6">Everyone has a cause they can be passionate about. Explore the causes available and volunteer for one where youâ€™d like to make a difference. To explore more volunteering opportunities, visit giving.sg to find out more.
                            </div>
                            <div class="col-3"><a href="#" target="_blank">Visit Giving.Sg</a></div>
                        </div>
                    </div>*@

                    @if (!string.IsNullOrEmpty(Convert.ToString(@Model.Logo1)) && !string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("DescriptionFirst"))))
                    { 
                    <div class="section-intro--3col">
                        <div class="intro-body">
                            <div class="col-3"><img src="@Model.Logo1" /></div>
                            <div class="col-6">@Html.Sitecore().Field("DescriptionFirst")
                                
                            </div>
                             @if (!string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("CTAFirst Text"))))
                             {
                            <div class="col-3 intro1"><a href="@Model.CTAUrl1" target="_blank" >@Html.Sitecore().Field("CTAFirst Text")</a></div>
                             }

                        </div>
                    </div>
                    }

                      @if (!string.IsNullOrEmpty(Convert.ToString(@Model.Logo2)) && !string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("DescriptionSecond"))))
                      { 
                    <div class="section-intro--3col">
                        <div class="intro-body">
                            <div class="col-3"><img src="@Model.Logo2" /></div>
                            <div class="col-6">@Html.Sitecore().Field("DescriptionSecond")
                            </div>

                             @if (!string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("CTASecond text"))))
                             {
                            <div class="col-3 intro2"><a href="@Model.CTAUrl2" target="_blank">@Html.Sitecore().Field("CTASecond text")</a></div>
                             }
                        </div>
                    </div>
                      }

                      <div class="block-filter body-text text-center">
                        <a href="#"><span><img src="/assets/SGCares/images/icon_filter.png" /></span> Filter by</a>
                          </div>
                      
                    <div class="block-filter-wrapper">
                        <div class="block-filter-body body-text">
                            <a href="#"><img src="/assets/SGCares/images/btn-close.png" /></a>
                            <div class="filter-options">
                                <div class="filter-type">
                                    <h6>Type</h6>
                                    @for (int i = 0; i < Model.ListType.Count; i++)
                                    {
                                        var countType = "a_" + (@i + 1);                                        
                                        <input type="checkbox" data-value="@Model.ListType[i].TypeItem.Name.Trim()" id="@countType" class="css-checkbox" /> <label for="@countType" class="css-label">@Model.ListType[i].Text.Trim()</label>
                                    }                                  
                                </div>
                                <div class="filter-cause">
                                    <h6>Cause</h6>
                                    @for (int index = 0; index < Model.ListCategories.Count; index++)
                                    {
                                        var count = @index + 1;
                                    <input type="checkbox" data-value="@Model.ListCategories[index].CatItem.Name.Trim()" id="@count" class="css-checkbox" /> <label for="@count" class="css-label">@Model.ListCategories[index].Text.Trim()</label>
                                    }                                  
                                </div>
                                <div class="filter-time">
                                    <h6>Time</h6>
                                    @for (int i = 0; i < Model.ListTime.Count; i++)
                                    {
                                        var countTime = "c_" + (i + 1);
                                        <input type="checkbox" data-value="@Model.ListTime[i].TimeItem.Name.Trim()" id="@countTime" class="css-checkbox" /> <label for="@countTime" class="css-label">@Model.ListTime[i].Text.Trim()</label>
                                    }                                    
                                </div>
                            </div>

                            <div class="button--wrapper">
                                <button type="submit" class="button submit">Submit</button>
                                <button type="reset" class="button reset">Reset</button>
                              </div>
                        </div>
                    </div>
                    
                    <div class="content grid">
                        <div class="grid-sizer"></div>
                        @if (Model != null)
                        {
                            foreach (var prog in Model.ListProgrammes)
                            {
                                <div class="grid-item">
                            <div class="inner">
                                <a href="@prog.ItemPath">
                                    <div class="wrap-img">
                                        <img src="@prog.ThumbnailImage" alt="">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="@prog.ItemPath">
                                        <h3 class="title">
                                               <ul>
                                                  @if (!string.IsNullOrEmpty(@prog.Type))
                                                  {
                                                <li>@prog.Type</li>}
                                                  @if (!string.IsNullOrEmpty(@prog.Time))
                                                  {
                                                <li>@prog.Time</li>}
                                            
                                            </ul>
                                            <img src="@prog.CategoryIconPath" alt="">
                                            <span title="@prog.Title">@prog.Title</span>
                                        </h3>
                                        <div class="body_text">
                                            <p>@Html.Raw(prog.ShortDesc)</p>
                                        </div>
                                    </a>
                                    <div class="link__wrapper">
                                        <a href="@prog.ItemPath" title="@prog.CTA" class="link" onclick="ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: '@prog.CTA', eventLabel: '@prog.Item.Name'});">@prog.CTA</a>
                                    </div>
                                </div>
                                @{
                                                  string hide = string.Empty;
                                                  hide = prog.RelatedStory == string.Empty ? "hide" : string.Empty;
                                }
                                <div class="related @hide">
                                    <strong class="title">Featured Story</strong>
                                    <a class="related-link" href="@prog.RelatedStory" onclick="ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: 'Related story', eventLabel: '@prog.StoryName'});">
                                        <span title="@prog.StoryCat" class="name">@prog.StoryCat</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                            }
                        }
                       
                    </div>

                    <div class="no-items"  style=" display:none; margin:30px 0 20px 0"><img src="/assets/SGCares/images/files-ic.png"/><br/><br/>No Items found.</div>
                </div>
                <!--begin paging-->
                <div class="wrap-paging">
                    @if (Model.PageCount > 5)
                    { 
                	    <a class="page-link prev" href="javascript:void(0);">
                		    <span>prev</span>
                	    </a>
                    }
                	<div class="page-links">
                        <input type="hidden"  id="hdnPageCount" value="@Model.PageCount" />
                		<div class="wrap-inner">
                            @if (Model.PageCount > 0)
                            {
                                for (int index = 1; index <= Model.PageCount; index++)
                                {
                                    string active = index == 1 ? "active" : string.Empty;
                			    <a class="page-link @active" data-page="old-page" href="javascript:void(0);">
                				    <span class="outer">
                					    <span class="innter">@index</span>
                				    </span>
                			    </a>
                                }
                            }
                		</div>
                	</div>
                     @if (Model.PageCount > 5)
                     { 
                	    <a class="page-link next" href="javascript:void(0);">
                		    <span>next</span>
                	    </a>
                     }
                </div>
                <!--end paging-->

                  <div class="news news--three-col stories-grey-bg">
                    <h2 class="heading">@Html.Sitecore().Field("Stories Title")</h2>
                    <div class="body_text text-center">
                        <p>@Html.Sitecore().Field("Stories Short Description")</p>
                    </div>
                    <div class="content clearfix">
                        @if (Model != null && Model.Stories.Count > 0)
                        {
                            foreach (var story in Model.Stories)
                            {
                        <div class="content__wrapper">
                            <a href="@story.ItemPath" onclick=" ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: '@story.CTA', eventLabel: '@story.Title'})">
                                <div class="wrap-img">
                                    <img src="@story.ThumbnailImage" alt="">
                                </div>
                            </a>
                            <div class="info">
                                <a href="@story.ItemPath" onclick=" ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: '@story.CTA', eventLabel: '@story.Title'})">
                                    <h3 class="title">
                                        <img src="@story.CategoryIconPath" alt="">
                                        <span>@story.Title</span>
                                    </h3>
                                </a>
                                @if (!string.IsNullOrEmpty(story.CTA))
                                {
                                <div class="link__wrapper">
                                    <a href="@story.ItemPath" onclick=" ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: '@story.CTA', eventLabel: '@story.Title'})" title="@story.CTA" class="link">@story.CTA</a>
                                </div>
                                }
                            </div>
                        </div>
                            }
                        }                   
                    </div>
                </div>

            </section>
            <!-- end section news -->
        </div>
        <a class="btn-back-top" href="javascrip:;"></a>
    </main>

<div class="hidenProgram" style="display: none">
    <div class="grid-item">
        <div class="inner">
            <a href="#">
                <div class="wrap-img" style="height: 260px;">
                    <img src="#" alt="">
                </div>
            </a>
            <div class="info">
                <a href="#">
                    <h3 class="title">
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                        <img src="#" alt="">
                        <span></span>
                    </h3>
                    <div class="body_text">
                        <p></p>
                    </div>
                </a>
                <div class="link__wrapper">
                    <a href="#" title="" class="link"></a>
                </div>
            </div>
            <div class="related">
                <strong class="title">Related Story</strong>
                <a class="related-link" href="#">
                    <span class="name"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {

        $('.nav-item:eq(1)').addClass('active');

        $('.intro1 > a').click(function () {
            var url1 = '@Model.CTAUrl1';
            url1 = url1.replace(/^https?:\/\//, '');
            ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: 'Visit website', eventLabel: url1 });
            // alert(url1)
        });
        $('.intro2 > a').click(function () {
            var url2 = '@Model.CTAUrl2';
            url2 = url2.replace(/^https?:\/\//, '');
            ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: 'Visit website', eventLabel: url2 });
            // alert(url2)
        });

        var ajaxUrl = '/SGCare/SGCaresAjax.aspx/GetProgrames', position = $('.section-hero').height() + $('.section-intro--3col:eq(0)').height() + $('.section-intro--3col:eq(1)').height() + $('.block-filter').height(),
            type = '', causes = '', types = '', times = '', animHeight = '';

        /* Filter items in Checkbox Change Event */
        function FilterCause(ctrlItemID) {
            if ($(ctrlItemID).length) {
                $(ctrlItemID).find('input[type=checkbox]').change(function () {
                    type = '';
                    if ($(this).parent().attr('class') == 'filter-type') {
                        type = 'Type_' + $(this).data('value');
                    } else if ($(this).parent().attr('class') == 'filter-cause') {
                        type = 'Cause_' + $(this).data('value');
                    } else if ($(this).parent().attr('class') == 'filter-time') {
                        type = 'Time_' + $(this).data('value');
                    } else { }
                    ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: 'Filter', eventLabel: type });
                });
            } else { return false; }
        }

        /* Filter items in submit button click */
        $('.submit').click(function () {
            $('.block-filter-wrapper').hide();
            //if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
            //    animHeight = position + 680;
            //else animHeight = position + 420;

            causes = GetFilter('.filter-cause'), types = GetFilter('.filter-type'), times = GetFilter('.filter-time');

            Get_Programs(causes, types, times, 0);
            $('.wrap-inner').removeAttr('style');

           
        });

        /* Reset all filter checkboxes */
        function ResetCheckboxes(btnId) {
            if ($(btnId).length) {
                $(btnId).click(function () {
                    $('.filter-type,.filter-cause,.filter-time').find('input[type=checkbox]').attr('checked', false);
                });
            } else { return false; }
        }

        ResetCheckboxes('.reset');

        function GetFilter(ctrlId) {
            if ($(ctrlId).length) {
                var str = '';
                var checkedCBs = $(ctrlId).find('input[type=checkbox]:checked');
                checkedCBs.each(function () {
                    str += str == '' ? $(this).data('value') : ',' + $(this).data('value');
                }); return str;
            } else { return false; }
        }

        FilterCause('.filter-cause,.filter-type,.filter-time')

        /* GA Tracking for Open Menu */
        function OpenMenuGA(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).click(function () {
                    if ($(this).attr('class') == 'nice-select') {
                        ga('send', 'event', { eventCategory: 'SGCares Programmes', eventAction: 'Drop down menu', eventLabel: 'open menu' });
                    }
                });
            } else { return false; }
        }

        OpenMenuGA('.nice-select');

        /* Filter Programs in Drop down change event  */
        function FilterPrograms(ctrlId) {
            if ($(ctrlId).length > 0) {
                var allCat = 'All Categories';

                $(ctrlId).click(function () {
                    var value = $(this).data('value');
                    if (value != $('span.current').text().trim()) {
                        ga('send', 'event', { eventCategory: 'SGCares Programmes', eventAction: 'Drop down menu', eventLabel: $(this).text().trim() });
                        Get_Programs(value, 0);

                    } else { $('.nice-select').removeClass('open'); return false; }
                });
            } else { return false; }
        }

        FilterPrograms('.list li');

        /* Get Programs */
        function Get_Programs(catName, type, time, skipCount) {
            try {
                $.ajax({
                    type: "post", url: ajaxUrl, data: "{catName:'" + catName + "',type:'" + type + "',time:'" + time + "',skipNumber:'" + skipCount + "'}", dataType: "json", contentType: 'application/json; charset=utf-8', cache: false,
                    success: function (data) {
                        // comment those code to test if we posible to remove .grid-item, make sure that those code above are work
                        $('.content.grid').hide();

                        if (data.d.length > 0) {
                            $('.content.grid').show();
                            var msr = $('.content.grid').masonry();
                            msr.masonry('remove', $('.content.grid .grid-item'));

                            $('.no-items').hide(); msr.show();

                            for (var index = 0; index < data.d.length; index++) {
                                Bind_Program_Content('.hidenProgram', data.d[index], msr);

                                if (index == 0) {
                                    Set_Pagination(parseInt(data.d[index].PageCount), '.wrap-paging', '.wrap-inner');
                                }
                            }

                            setTimeout(function () {
                                msr.masonry('reloadItems').masonry('layout'); SetHeight('grid-item:visible');
                            }, 500);

                            Get_Programs_Paging('.wrap-inner a');

                        } else {
                            Set_Pagination(0, '.wrap-paging', '.wrap-inner');
                            $('.no-items').show(); $('.content.grid').hide();
                            return false;
                        }

                        $('.page-link').css({ 'margin-top': '0', 'margin-left': '2.6', 'margin-right': '1.2' });

                    }, error: function (err) { console.log(err); }, fail: function (fail) { console.log(err); }
                });
            } catch (ex) { throw ex; }
        }

        /* Get Programs in page click event */
        function Get_Programs_Paging(ctrlId) {
            $(ctrlId).click(function () {
                if ($(this).hasClass('active'))
                    return false;
                else {
                    var skipCnt = parseInt($(this).find('.innter').text().trim()) * 6 - (1 * 6),
                    causes = GetFilter('.filter-cause'), types = GetFilter('.filter-type'), times = GetFilter('.filter-time');
                    $.ajax({
                        type: "post", url: ajaxUrl, data: "{'catName':'" + causes + "',type:'" + types + "',time:'" + times + "','skipNumber':'" + skipCnt + "'}", dataType: "json", contentType: 'application/json; charset=utf-8', cache: false,
                        success: function (data) {
                            var msrPage = $('.content.grid').masonry();
                            msrPage.masonry('remove', $('.content.grid .grid-item'));

                            if (data.d.length > 0) {
                                for (var index = 0; index < data.d.length; index++) {
                                    Bind_Program_Content('.hidenProgram', data.d[index], msrPage);
                                }
                                setTimeout(function () {
                                    msrPage.masonry('reloadItems').masonry('layout'); SetHeight('grid-item:visible');
                                }, 500);
                            }

                        }, error: function (err) { console.log(err); }, fail: function (fail) { console.log(fail); }
                    });
                }
            });
        }

        /* Place data in controls and append to DOM */
        function Bind_Program_Content(ctrlId, item, msrObj) {
            if ($(ctrlId).length > 0 && item != null) {
                var mainDiv = $(ctrlId);
                var _media = mainDiv.find('.inner');

                _media.find('img').attr('src', item.ThumbnailImage);
                _media.find('a').attr('href', item.ItemPath);

                var _info = mainDiv.find('.info'), _related = '';
                _info.find('a').attr('href', item.ItemPath);

                _info.find('ul li:first').text(item.Type);
                _info.find('ul li:last').text(item.Time);

                _info.find('.title').find('img').attr('src', item.CategoryIconPath);
                _info.find('.title').find('span').text(item.Title);
                _info.find('.body_text p').html(item.ShortDesc);
                _info.find('.link__wrapper').find('a').attr({ 'href': item.ItemPath, 'title': item.CTA, 'onclick': "ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: '" + item.CTA + "', eventLabel: '" + item.ItemName + "'});" }).text(item.CTA)

                _related = mainDiv.find('.related ');

                if (item.RelatedStory != '') {
                    _related.show();
                    _related.find('a').html('<span class="name">' + item.StoryCat + '</span>').attr({ 'href': item.RelatedStory, 'onclick': "ga('send', 'event', { eventCategory: 'SGCares Volunteer', eventAction: 'Related story', eventLabel: '" + item.StoryName + "'});" })
                } else {
                    _related.hide();
                }

                msrObj.append($(mainDiv.html()));
            } else { return false; }
        }

        /* Set Paginaiton in Programs */
        function Set_Pagination(count, parentCtrl, childCtrl) {
            if ($(parentCtrl).length > 0 && $(childCtrl).length > 0) {
                if (count > 0) {
                    $(parentCtrl).show(); $(childCtrl).html('');

                    for (var page = 1; page <= count; page++) {
                        var cls = '';
                        cls = page == 1 ? 'active' : '';
                        var pageHtml = "<a class='page-link " + cls + "' data-page='old-page' href='javascript:void(0);'><span class='outer'><span class='innter'>" + page + "</span></span></a>";
                        $(childCtrl).append(pageHtml);
                    }
                    if (count > 5) { $('.prev,.next').show(); } else $('.prev,.next').hide();

                } else { $(parentCtrl).hide(); }
            } else { return false; }
        }

        Get_Programs_Paging('.wrap-inner a');

        function SetHeight(ctrlID) {
            if ($(ctrlID).length > 0) {
                $(ctrlID).each(function () {
                    $(this).find('.wrap-img').width($(this).find('.info').outerWidth());
                });
            } else { return false; }
        }

        /* content below thumb image for only mobile devices*/
        function mobileContent(ctrlId) {
            if ($(ctrlId).length) {

                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
                    $(ctrlId).show();
                else
                    $(ctrlId).hide();
            }
        }
        mobileContent('.hero-text');
    })
</script>

