﻿@{
    
}

<html>
<head>
    
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    @Html.Sitecore().Placeholder("Meta")
    <link href="/assets/SGCares/styles/vendor.css" rel="stylesheet" />
    <link href="/assets/SGCares/css/main.css" rel="stylesheet" />
    <link href="/assets/SGCares/styles/main.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
     <!--<script src="/assets/SGCares/scripts/vendor.js"></script>-->
	<script src="/assets/SGCares/scripts/jquery-3.4.0.js"></script>
    <script src="/assets/SGCares/scripts/plugins.js"></script>
    <script src="/assets/SGCares/scripts/main.js"></script>
    <script src="/assets/SGCares/scripts/SGCareCustom.js"></script>
    <link href="/assets/SGCares/styles/Custom.css" rel="stylesheet" />

    <script type="text/javascript">

        /* GA Analytics Code */
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-71697861-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6B92M"
            height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Google Tag Manager -->
    <script type="text/javascript">(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-T6B92M');</script>
    <!-- End Google Tag Manager -->
    
    @Html.Sitecore().Placeholder("Header")
    @Html.Sitecore().Placeholder("Content")
    @Html.Sitecore().Placeholder("Footer")
</body>
</html>
