@charset "utf-8";
/* CSS Document */


@media (max-width:480px){
	.grid-dropdown, .grid-search{
	float:left;
	margin-bottom:10px;
	width:100%;
	}
	.grid {
	width:100%;
	margin:0 0 20px 0;
	color:#353333;
	float:left;
	height:auto !important;
	}
	.project-title > a{
		
		margin:5px 0;
		}
		.top-btn{
	display:block;
	}
.bottom-btn
{
	float:left !important;
	display:none;
	}
	.project-title
	{
		margin-top:0;
		}
	#oneColumn div,#twoColumn div, #threColumn div, #fourColumn div, #fiveColumn div, #sixColumn div
	{
		float: none !important;
    margin: 0 0 10px !important;
    width: 100% !important;
		}
		
		.dropdown-container
	{
		float:none;
	}
}
@media (min-width:481px) and (max-width:768px){
		.title-tabs{
			width:100%;
			}
		.grid-dropdown, .grid-search{
	float:left;
	margin-bottom:10px;
	width:100%;
	}
	.grid {
		height:auto !important;
	}
	.dropdown-container
	{
		float:none;
	}

}

@media (max-width:320px){
		.social-contianer{
		width:260px;
		}
		
	}
