﻿@charset "utf-8";
/*.mod-header .responsiveMenu, .bx-controls-direction{display:none}*/
@media only screen and (max-width:1279px)
{
    /*.footer .footer_nav{  float:none;   margin:0 auto;   max-width:780px;   padding-top:20px}*/
    #cpDesktop
    {
        display: block;
        margin-right: 0;
        text-align: center;
        width: 100%;
        padding-top: 30px;
        padding-right: 0;
    }
    /*.footer{  height:85px}
.mod-footer  .footer_nav a span{font-size:0.8em; line-height:16px; margin:0 10px}*/
    .section .txt-pan
    {
        padding: 43px 143px 40px;
    }
    /*.mod-header .menu_nav div{  padding:16px 13px 13px; margin-left:5px; top:-11px}*/
    .featured-pan .ft-news p
    {
        min-height: 110px;
    }

    .bx-wrapper ul li img
    {
        margin-left: 0;
    }

    .fix-arws
    {
        display: none;
    }
    /*.menu_nav a span{  font-size:14px}*/
    /*.footer.mod-footer{  height:90px}*/
}

@media only screen and (max-width:1023px)
{
    .news-right .feeds
    {
        width: 100%;
    }

    .mod-header .SG50Logo
    {
        margin-left: 3px;
        top: -11px;
    }

    .social_nav
    {
        right: 10px;
    }
    /*.menu_nav{width:88%}
.menu_nav a span{  font-size:12px}
.mod-header .menu_nav div{  padding:16px 6px 14px;   margin-left:0}*/
    .pad
    {
        padding: 3% 6% 1%;
    }

    .featured-pan .ft-news
    {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .featured-pan .img-pan
    {
        background-position: center 0;
        height: 226px;
        max-width: 310px;
        float: left;
    }

    .featured-pan .ft-news p
    {
        min-height: 196px;
        width: 49.6%;
        float: left;
        font-size: 24px;
        line-height: 26px;
    }
    /*.mod-header .menu_nav div.SG50, .mod-header .menu_nav div.SG50Logo{margin-left:10px; padding-left:0px}*/
    .social_nav div
    {
        padding: 15px 6px 0;
    }

    .event-pan
    {
        margin: 0 3% 25px 0;
        max-width: 100%;
    }

    #slider li
    {
        float: left;
        margin-right: 2%;
        max-width: 100%;
        width: 49% !important;
    }

        #slider li:nth-child(2n)
        {
            margin-right: 0;
        }

    .event-in
    {
        padding: 25px;
    }

        .event-in span, .event-in em
        {
            font-size: 20px;
            line-height: 22px;
        }

        .event-in span
        {
            padding: 5px 8px 4px;
        }

        .event-in p
        {
            font-size: 25px;
            line-height: 27px;
            height: auto;
        }
    /*.footer.mod-footer{  height:110px}
.mod-footer .footer_nav a span{ font-size:12px;   line-height:16px; margin:0 14px}*/
    #slider
    {
        height: auto !important;
    }

    .event-in:hover
    {
        background: #ec1a3b;
        color: #fff;
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

        .event-in:hover span
        {
            background: #fff;
            color: #e7000c;
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
        }

    .news-left
    {
        max-width: 339px;
    }

    .news-logo-left
    {
        padding: 9px;
        width: 75px;
    }

    .news-logo-right
    {
        font-size: 11px;
        line-height: 16px;
        max-width: 199px;
        height: 59px;
        padding: 26px 15px;
    }

    .news-right .tweet .feeds-mid p
    {
        font-size: 11px;
        line-height: 11px;
        height: 35px;
    }

    .news-logo-right ul
    {
        padding: 6px 0 0;
    }

    .news-logo-right li
    {
        padding: 0 10px;
    }

    .news-right
    {
        max-width: calc(100% - 340px); /*width: 100%; width: -webkit-calc(100% - 337px);  width: -moz-calc(100% - 337px);  width: calc(100% - 337px);*/
    }

        .news-right .insta
        {
            max-width: 112px;
        }

            .news-right .insta li
            {
                width: 112px;
                height: 102px;
            }

        .news-right .feed-pan
        {
            max-width: calc(100% - 113px);
            box-sizing: border-box;
        }

        .news-right .feeds-mid p
        {
            line-height: 11px;
            font-size: 11px;
            overflow: hidden;
        }

        .news-right .feeds-mid
        {
            padding-bottom: 0px;
        }

        .news-right .feeds-top
        {
            padding-bottom: 5px;
        }

        .news-right .feeds-bottom p
        {
            width: 50%;
        }

        .news-right .feeds
        {
            box-sizing: border-box;
            padding: 11px 7px 0;
        }

        .news-right .fb-img
        {
            padding-bottom: 2px;
        }

    .feeds .feeds-bottom ul li img
    {
        width: 75%;
    }

    .tweet .feeds-bottom ul li img
    {
        width: auto;
    }

    .fb-img
    {
        text-align: left !important;
    }

        .fb-img img
        {
            height: 100px;
        }

    .news-right .tweet
    {
        height: 102px;
        padding: 10px 4px 10px;
        box-sizing: border-box;
    }

    .insta img
    {
        height: 120.4px;
    }

    .socail-feed li:first-child
    {
        width: 49.7%;
    }

    .socail-feed li
    {
        width: 24.8%;
    }

        .socail-feed li img, .socail-feed li:first-child img
        {
            width: 100%;
        }

    .news-left .youtube iframe
    {
        height: 205px;
    }

    .news-right .fb-img img
    {
        height: 110px;
    }

    .insta span img
    {
        height: auto;
    }

    /**********About us*******/
    .about-icon
    {
        padding-bottom: 28px;
        position: inherit;
        width: 215px;
    }

    .about-us
    {
        padding: 20px 30px 55px;
        text-align: center;
    }

    .about-left p, .about-left h1
    {
        max-width: 100%;
    }

    .meet-commitee
    {
        width: 101%;
    }

        .meet-commitee li
        {
            border-right: 6px solid #fff;
            box-sizing: border-box;
            margin-bottom: 6px;
            margin-right: 0;
            max-width: 100%;
            width: 20%;
        }

    .way-to li
    {
        margin-right: 33px;
        width: 16%;
    }
    /*.meet-commitee li:nth-child(5n) { border-right: 0 none;}*/
    .commitee-members h5
    {
        font-size: 25px;
        padding: 25px 0;
    }

    .commitee-members
    {
        margin-bottom: 35px;
    }

        .commitee-members li
        {
            width: 16%;
        }

    .about-left a
    {
        font-size: 27px;
    }

    .meet-commitee img
    {
        width: 100%;
    }




    /*intative */
    .intiatives-desktop
    {
        display: none;
    }

    .intiatives-mobile
    {
        display: block;
    }

        .intiatives-mobile .ourintiatives.leftimg li, .intiatives-mobile .ourintiatives.rightimg li
        {
            width: 100% !important;
            text-align: left !important;
        }

            .intiatives-mobile .ourintiatives.leftimg li img, .intiatives-mobile .ourintiatives.rightimg li img
            {
                width: 100% !important;
            }

            .intiatives-mobile .ourintiatives.leftimg li span, .intiatives-mobile .ourintiatives.rightimg li span
            {
                display: none;
            }

        .intiatives-mobile .ourintiatives-cont
        {
            padding: 40px;
            text-align: left !important;
        }

    .way-to .intiatives-mobile > li
    {
        min-height: auto!important;
    }

    .intiatives-mobile ul.ourintiatives.rightimg, .intiatives-mobile ul.ourintiatives.leftimg
    {
        margin-bottom: 40px;
    }
     /*intative */
    .intiatives-desktop
    {
        display: block !important;
    }

    .ourintiatives
    {
        margin-bottom: 40px;
    }

        .ourintiatives.leftimg li, .ourintiatives li, .ourintiatives li.img-box, .ourintiatives li.text-box
        {
            width: 100% !important;
            margin: 0px !important;
            min-height: inherit;
            float: left;
        }

        .ourintiatives span.arrowleft, .ourintiatives span.arrowright
        {
            display: none;
        }

        .ourintiatives.leftimg li img, .ourintiatives.rightimg li img
        {
            width: 100%;
        }

    .ourintiatives-cont
    {
        padding: 40px 30px;
    }

        .ourintiatives-cont h4, .ourintiatives-cont h4 span, .ourintiatives-cont p, .ourintiatives-cont p span .ourintiatives-cont, .ourintiatives.rightimg .ourintiatives-cont, .ourintiatives.rightimg li .ourintiatives-cont p span, .ourintiatives.rightimg li .ourintiatives-cont h4 span
        {
            text-align: left !important;
        }

    /*intative */
}
/*@media only screen and (max-width:960px){
.news-right { max-width: 59.9%;}
.news-right .feed-pan { max-width: 76%;}
.news-right .feeds{ width:98%;}
.news-right .fb-img { height: 104px; overflow: hidden; text-align:left;}
}*/
@media only screen and (min-width:769px)
{
    .rew .menu
    {
        display: block !important;
    }
}

@media only screen and (max-width:768px)
{
    .news-right .tweet
    {
        min-height: 100px !important;
    }

    .news-right .feeds
    {
        min-height: 207px;
        box-sizing: border-box;
    }

    .insta img
    {
        height: 148px;
        width: 148px !important;
    }

    .news-logo-left
    {
        width: 110px !important;
        box-sizing: border-box;
    }

    .news-right .insta
    {
        width: 148px !important;
    }

    /*.mod-header .responsiveMenu{  display:block}*/
    .mod-header .mob-nav
    {
        margin: 14px 0 0 23px;
        font-size: 24px;
    }
    /*.mod-header .menuBtn{  height:63px}*/
    .mob-nav > img
    {
        vertical-align: middle;
        margin-right: 17px;
    }
    /*.mod-header .menu_nav div.SG50, .mod-header .menu_nav div.SG50Logo{margin-left:0}*/
    /*.footer.mod-footer{  height:240px}*/
    .event-pan
    {
        margin: 0 3% 18px 0;
    }
    /*.mod-footer .footer_nav a span{ font-size:24px}*/
    .section .txt-pan
    {
        padding: 43px 95px 40px;
    }

    .meet-commitee li
    {
        width: 135px;
    }
}

@media only screen and (max-width:767px)
{
    .news-right .tweet .feeds-mid p
    {
        font-size: 12px;
        line-height: 13px;
    }

    .bx-wrapper .bx-controls-direction a
    {
        top: 106px !important;
    }

    .bx-wrapper ul li img
    {
        width: 100%;
    }

    .mod-header .SG50Logo
    {
        top: -6px;
    }
    /*.menu, .social_nav, .menu_nav .SG50Logo{display:none}*/
    /*.mod-header .responsiveMenu, .bx-controls-direction{display:block}*/
    /*.menuBtn{background-color:#353334; height:60px; width:100%}*/
    /*.mod-header .responsiveMenu a{color:#fff; cursor:pointer; float:left; font-size:24px; margin-left:10px; margin-top:16px; text-decoration:none}*/
    /*.youtubeMobile{float:right; margin-left:5px; margin-right:3%}
.twitterMobile{float:right; margin-left:5px}
.facebookMobile{float:right; margin-left:8%}*/
    #nav
    {
        background-color: #353334;
        float: left;
        height: auto;
        margin: 0;
        min-height: 100px;
        position: absolute;
        width: 100%;
        z-index: 99999;
    }

        #nav div
        {
            border-top: 1px solid #f5f5f5;
            float: left;
            padding: 0;
            width: 100%;
        }

            #nav div a
            {
                display: block;
                padding: 10px;
            }
    /*.menu_nav a span{  font-size:16px}*/
    div#nav div div.mediumMenu
    {
        border-radius: 0;
        float: left;
        height: auto;
        margin-top: 0;
        position: relative;
        width: 100%;
        text-align: left;
    }

    div#nav div div a span
    {
        padding-left: 10px;
        padding-right: 10px;
    }

    div#nav div div.mediumMenu .innerMenuBg
    {
        margin-left: 0;
    }

    .pad
    {
        padding: 45px 45px 20px;
    }

    .section .txt-pan
    {
        padding: 50px 43px 45px;
    }
        /*.footer_nav #divider{  display:none}
.mod-footer{height:auto !important}
.footer{  height:auto;   float:left;   background:#353333 url('/SG50/images/About/ft-shadow.jpg') repeat-x top}
.footer .footer_nav{padding-top:30px}
.footer_nav a{display:block; width:97%; text-align:center; padding:10px 0; font-size:24px}
.footer p{margin-bottom:40px}*/
        .section .txt-pan p
        {
            font-size: 24px;
            line-height: 26px;
        }

        .section .txt-pan .readmore
        {
            font-size: 27px;
            padding: 25px;
        }

    .featured-pan .ft-news p
    {
        font-size: 24px;
        line-height: 26px;
    }

    .pad h3
    {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 32px;
    }

    #banner .bx-wrapper .bx-pager
    {
        display: none;
    }

    #cpDesktop
    {
        font-size: 18px;
        line-height: 22px;
        padding-top: 25px;
    }
        /*.footer_nav a span{font-size:24px; line-height:26px}*/
        #cpDesktop span
        {
            display: block;
        }

    .featured-pan .img-pan
    {
        max-width: 224px;
    }
    /*.menuBtn{height:97px}*/
    .SG50Logo
    {
        margin-left: 29px;
    }

    .mob-nav
    {
        margin: 0 !important;
        padding: 14px 0 12px 23px;
    }

        .mob-nav img
        {
            vertical-align: middle;
            margin-right: 17px;
        }
    /*.youtubeMobile{margin:0px 39px 0 0}
.twitterMobile{margin:0px 10px 0 0}
.facebookMobile{margin:0px 10px 0 0}*/
    .event-pan
    {
        margin: 0 0 13px;
        max-width: 100%;
    }

    .event-pan
    {
        margin: 0 3% 25px 0; /*max-width:48.5%*/
    }

        .event-pan:nth-child(2n)
        {
            margin-right: 0;
        }

    .event-in
    {
        padding: 25px;
    }

        .event-in span, .event-in em
        {
            font-size: 20px;
            line-height: 22px;
        }

        .event-in span
        {
            padding: 5px 8px 4px;
        }

        .event-in p
        {
            font-size: 25px;
            line-height: 27px;
        }
    /*.mod-footer .footer_nav a span{font-size:24px; line-height:26px}*/
    .event-pan
    {
        margin: 0 3% 18px 0;
    }

    div#nav div div.mediumMenu
    {
        top: 0px;
    }

    .bx-wrapper, .bx-wrapper ul li
    {
        min-height: 570px;
    }

    #slider
    {
        height: auto !important;
    }

    .news-left, .news-left .youtube, .news-right
    {
        max-width: 100%;
        border: 0;
    }

    .news-logo-left
    {
        padding: 9px 10px;
        width: 29%;
        background: #efefef;
    }

    .news-left
    {
        background: #ec1a3b;
    }

    .news-logo-right
    {
        max-width: calc(100% - 148px);
        box-sizing: border-box;
        padding: 15px 25px;
        font-size: 16px;
        line-height: 24px;
    }

    .news-right .insta
    {
        max-width: 32%;
        width: 100%;
    }

    .news-right .feed-pan
    {
        max-width: calc( 100% - 149px);
        box-sizing: border-box;
    }

    .news-right .feeds-mid p
    {
        font-size: 12px;
        height: 57px;
    }

    .news-right .insta li
    {
        width: 100%;
        height: auto;
    }

    .news-logo-right ul
    {
        padding: 12px 0 0;
    }

    .news-right .feeds-top img
    {
        width: 35px;
    }

    .youtube img, .insta img, .news-right .fb-img img
    {
        width: 100%;
    }

    .news-right .fb-img
    {
        padding: 0 15px 7px;
    }

    .news-right .feeds
    {
        width: 100%;
    }

    .news-left .youtube iframe
    {
        height: 360px;
    }

    .ds-play
    {
        display: none;
    }

    .news-logo-left
    {
        width: 148px !important;
    }

    .news-right .tweet
    {
        min-height: 149px !important;
    }

    .news-right .fb-img img
    {
        height: 149px;
    }

    /**********About us*******/
    .way-to li
    {
        margin-right: 0px;
        width: 48%;
        text-align: center;
        min-height: 260px;
    }

        .way-to li:last-child
        {
            text-align: center;
            width: 100%;
        }

    .meet-commitee li
    {
        width: 25%;
    }
        /*.meet-commitee li:nth-child(4n) { border-right: 0 none;}*/
        .meet-commitee li:nth-child(5n)
        {
            margin-right: 0;
            border-right: 6px solid #fff;
            ;
        }

    .way-to li:nth-child(2n)
    {
        margin-right: 0;
    }

    .commitee-members li
    {
        width: 20%;
    }

    /*intative */
    .intiatives-desktop
    {
        display: none;
    }

    .intiatives-mobile
    {
        display: block;
    }

        .intiatives-mobile .ourintiatives.leftimg li, .intiatives-mobile .ourintiatives.rightimg li
        {
            width: 100% !important;
            text-align: left !important;
        }

            .intiatives-mobile .ourintiatives.leftimg li img, .intiatives-mobile .ourintiatives.rightimg li img
            {
                width: 100% !important;
            }

            .intiatives-mobile .ourintiatives.leftimg li span, .intiatives-mobile .ourintiatives.rightimg li span
            {
                display: none;
            }

    .ourintiatives-cont h4 > span
    {
        display: block !important;
    }

    .ourintiatives-cont p > span
    {
        display: block !important;
    }

    .ourintiatives li
    {
        min-height: 100px !important;
    }

    .intiatives-mobile .ourintiatives-cont
    {
        padding: 40px;
        text-align: left !important;
    }

    .way-to .intiatives-mobile > li
    {
        min-height: auto!important;
    }

    .intiatives-mobile ul.ourintiatives.rightimg, .intiatives-mobile ul.ourintiatives.leftimg
    {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:640px)
{
    .bx-wrapper, .bx-wrapper ul li
    {
        min-height: 460px;
    }

        .bx-wrapper .bx-controls-direction a
        {
            top: 23% !important;
        }

    .event-pan
    {
        margin: 0 0 25px;
        max-width: 100%;
    }

    .event-in
    {
        padding: 25px;
    }

        .event-in span, .event-in em
        {
            font-size: 26px;
            line-height: 28px;
        }

        .event-in span
        {
            padding: 5px 8px 4px;
        }

        .event-in p
        {
            font-size: 30px;
            line-height: 32px;
        }

    .section .txt-pan h1
    {
        font-size: 30px;
        line-height: 32px;
    }

    .section .txt-pan p
    {
        font-size: 22px;
        line-height: 24px;
    }

    .section .txt-pan .readmore
    {
        font-size: 20px;
        padding: 15px 20px;
    }

    #slider li
    {
        width: 100% !important;
        margin: 0;
    }

    .news-left, .news-left .youtube, .news-right
    {
        max-width: 100%;
        border: 0;
    }

    .news-logo-left
    {
        padding: 9px 10px;
        width: 29%;
    }

    .news-logo-right
    {
        max-width: calc(100% - 148px);
        box-sizing: border-box;
        padding: 14px 25px;
        font-size: 18px;
        line-height: 22px;
    }

    .news-right .insta
    {
        max-width: 35%;
    }

    .news-right .feed-pan
    {
        max-width: calc(100% -148px);
    }

    .news-right .feeds-mid p
    {
        font-size: 12px;
        height: 57px;
    }

    .news-right .insta li
    {
        width: 100%;
        height: auto;
    }

    .news-logo-right ul
    {
        padding: 12px 0 0;
    }

    .news-right .feeds-top img
    {
        width: 35px;
    }

    .news-left .youtube iframe
    {
        height: 305px;
    }

    /**********About us*******/
    .about-left h1
    {
        font-size: 41px;
        line-height: 43px;
        padding-bottom: 15px;
    }

    .about-left p, .way-to p
    {
        font-size: 24px;
        line-height: 26px;
    }

    .way-to ul
    {
        padding: 10px 25px 0;
    }

    .way-to li
    {
        width: 41.5%;
        text-align: center;
        margin-right: 70px;
    }

        .way-to li:nth-child(2n), .commitee-members li:nth-child(2n)
        {
            margin-right: 0;
        }

        .way-to li span
        {
            font-size: 23px;
            padding: 25px 0 30px;
        }

        .way-to li:last-child
        {
            width: 100%;
        }

    .meet-commitee li
    {
        max-width: 100%;
        width: 31.4%;
        margin: 0 13px 13px 0;
        border: 0;
    }

        .meet-commitee li:nth-child(5n)
        {
            margin-right: 13px;
        }

    .meet-commitee-top h6
    {
        font-size: 26px;
        line-height: 28px;
        padding-top: 30px;
    }

    .meet-commitee-top
    {
        min-height: 165px;
        padding-top: 30px;
    }

        .meet-commitee-top h6.ofc
        {
            padding-top: 50px;
        }

    .meet-commitee-bottom
    {
        min-height: 360px;
        padding: 25px 5px 0;
    }

        .meet-commitee-bottom .candidate span, .commitee-members li span
        {
            font-size: 20px;
            line-height: 24px;
            padding: 18px 0 15px;
        }

        .meet-commitee-bottom img, .commitee-members li img
        {
            width: 100%;
        }

    .meet-commitee-top span
    {
        font-size: 20px;
        line-height: 22px;
    }

    .meet-commitee-top img
    {
        max-height: 100%;
    }

    .meet-commitee-bottom .candidate
    {
        min-height: 250px;
    }

    .commitee-members ul
    {
        padding: 0 30px;
    }

    .commitee-members li
    {
        max-width: 47%;
        width: 100%;
        margin: 0 13px 13px 0;
    }

    .meet-commitee li:nth-child(5n)
    {
        border: 0;
    }

    .meet-commitee
    {
        width: 100%;
    }

        .meet-commitee li:nth-child(3n)
        {
            margin-right: 0px;
        }
}

@media only screen and (max-width:639px)
{
    .featured-pan .ft-news p
    {
        max-width: 46%;
    }

    .news-right .insta
    {
        max-width: 33%;
    }

    .news-right .feed-pan
    {
        max-width: calc(100% -148px);
    }

    .news-right .feeds-mid p
    {
        font-size: 12px;
        height: 45px;
    }

    .commitee-members li
    {
        max-width: 31%;
    }
}

@media only screen and (max-width:600px)
{
    .section .txt-pan
    {
        padding: 30px 15px 45px;
    }

        .section .txt-pan h1
        {
            font-size: 24px;
            line-height: 26px;
        }

        .section .txt-pan p
        {
            font-size: 20px;
            line-height: 22px;
        }

        .section .txt-pan .readmore
        {
            font-size: 20px;
            padding: 15px 20px;
        }

    .featured-pan .ft-news p, .event-in p, .event-in span
    {
        font-size: 18px;
        line-height: 21px;
    }

        .featured-pan .ft-news p em, .event-in em
        {
            font-size: 13px;
            padding-bottom: 5px;
        }
    /*.mod-footer .footer_nav a span { font-size: 20px; line-height: 22px;}*/
    .bx-wrapper .bx-controls-direction a
    {
        top: 25% !important;
    }

    /**********About us*******/

}

@media only screen and (max-width:560px)
{
    .bx-wrapper .bx-controls-direction a
    {
        top: 20% !important;
    }

    .featured-pan, .featured-pan
    {
        text-align: center;
    }

        .featured-pan .ft-news p
        {
            max-width: 100%;
            width: 93%;
        }

        .featured-pan .img-pan
        {
            max-width: 100%;
            overflow: hidden;
            height: auto;
        }

            .featured-pan .img-pan img
            {
                height: auto;
            }

    .pad h3
    {
        text-align: left;
    }

    .featured-pan .ft-news
    {
        float: none;
        margin: 0 auto 15px;
        max-width: 100%;
        display: inline-block;
    }

        .featured-pan .ft-news p
        {
            min-height: 110px;
            text-align: left;
        }

    .section .txt-pan h1
    {
        font-size: 24px;
        line-height: 26px;
    }

    .section .txt-pan p
    {
        font-size: 20px;
        line-height: 22px;
    }

    .section .txt-pan .readmore
    {
        font-size: 20px;
        padding: 15px 20px;
    }

    .pad h3
    {
        font-size: 24px;
        line-height: 26px;
    }

    .event-pan .event-in
    {
        text-align: left;
    }

    .news-left, .news-left .youtube, .news-right
    {
        max-width: 100%;
    }

    .news-logo-left
    {
        padding: 9px;
        max-width: 141px;
        box-sizing: border-box;
    }

    .news-logo-right
    {
        padding: 25px 18px;
        font-size: 14px;
        line-height: 20px;
    }

    .news-right .insta
    {
        max-width: 141px;
    }

    .news-right .feed-pan
    {
        max-width: calc(100% - 142px);
    }

    .news-right .insta li
    {
        width: 100%;
        height: auto;
    }

    .news-right .feeds-mid p
    {
        font-size: 11px;
        height: 35px;
    }

    .insta img
    {
        width: 141px;
        height: 128px;
    }

    .news-right .feeds
    {
        min-height: 128px !important;
        box-sizing: border-box;
    }

    .news-left .youtube iframe
    {
        height: 245px;
    }

    /**********About us*******/
    .way-to li
    {
        margin-right: 30px;
        width: 45%;
    }

    .meet-commitee li
    {
        width: 48.3%;
    }

        .meet-commitee li:nth-child(2n)
        {
            margin-right: 0;
        }

    .commitee-members li
    {
        max-width: 100%;
        width: 46%;
    }

    .way-to li:last-child img
    {
        max-width: 47%;
    }

    .about-icon
    {
        width: 180px;
    }

    .meet-commitee li:nth-child(3n)
    {
        margin-right: 13px;
    }

    .meet-commitee li:nth-child(6n)
    {
        margin-right: 0;
    }
}

@media only screen and (max-width:480px)
{
    .news-logo-right img
    {
        width: 70%;
    }

    .news-logo-left
    {
        max-width: 89px;
        height: 146px;
        padding: 9px !important;
    }

    .facebookMobile
    {
        float: right;
        margin-left: 0% !important;
    }

    .bx-wrapper .bx-controls-direction a
    {
        top: 21% !important;
    }

    .featured-pan .ft-news p
    {
        max-width: 100%;
        width: 88%;
    }
    /*.menuBtn{height:78px}*/
    .SG50Logo
    {
        margin-left: 19px;
    }

        .SG50Logo img
        {
            width: 59px;
        }

    .mob-nav
    {
        padding: 16px 0 16px 17px;
    }

        .mob-nav img
        {
            margin-right: 10px;
            width: 30px;
        }
    /*.youtubeMobile{margin:2px 30px 0 0}
.youtubeMobile img, .twitterMobile img{height:21px}
.twitterMobile{margin:2px 6px 0 0}
.facebookMobile{margin:2px 6px 0 0}
.facebookMobile img{height:24px}*/
    #banner
    {
        margin-top: -2px;
    }

    .event-pan
    {
        margin: 0 0 15px;
    }

    .section .txt-pan h1
    {
        font-size: 18px;
        line-height: 20px;
    }

    .section .txt-pan p
    {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 20px;
    }

    .section .txt-pan .readmore
    {
        font-size: 20px;
        padding: 15px 20px;
    }

    .pad h3
    {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .featured-pan .ft-news p, .event-in p, .event-in span
    {
        font-size: 16px;
        line-height: 19px;
    }

        .featured-pan .ft-news p em, .event-in em
        {
            font-size: 13px;
            padding-bottom: 5px;
        }
    /*.mod-footer .footer_nav a span { font-size: 20px; line-height: 22px;}*/
    .news-left, .news-right, .news-right .feed-pan
    {
        max-width: 100%;
        border: 0;
    }

    .news-logo-right
    {
        max-width: calc(100% - 89px);
        box-sizing: border-box;
        padding: 12px 18px;
        font-size: 12px;
    }

    .news-right .feeds
    {
        padding-bottom: 5px;
    }

    .news-right .tweet
    {
        padding: 15px 6px 10px;
        width: 100% !important;
        box-sizing: border-box;
    }

    .news-logo-left
    {
        width: 100%;
        border-right: 0;
        text-align: center;
        padding: 9px 0;
    }

    .news-logo-right li
    {
        padding: 0 2px;
    }

    .news-right .insta li
    {
        width: 100%;
        height: auto;
    }

    .news-right .insta
    {
        border: 0 none;
        max-width: 100%;
        text-align: center;
        width: 100% !important;
    }

    .news-right .feeds
    {
        width: 97%;
    }

    .news-right .insta li img
    {
        width: 100% !important;
        height: 100%;
    }

    .news-left .youtube iframe
    {
        height: 215px;
    }

    /**********About us*******/
    .about-us
    {
        padding: 10px 30px 47px;
    }

    .way-to ul
    {
        padding: 10px 0 0;
    }

    .way-to li
    {
        margin-right: 30px;
        width: 44%;
    }

    .about-left h1
    {
        font-size: 35px;
        line-height: 37px;
    }

    .about-left p, .way-to p
    {
        font-size: 20px;
        line-height: 22px;
    }

    .about-left a
    {
        font-size: 18px;
    }

    .meet-commitee li
    {
        max-width: 47.9%;
        border: 0;
    }

    .commitee-members li
    {
        max-width: 100%;
        width: 46%;
    }

    .meet-commitee-bottom .candidate
    {
        min-height: 300px;
    }

    .meet-commitee li:nth-child(5n)
    {
        margin-right: 13px;
    }

    .meet-commitee-top h6
    {
        font-size: 20px;
        line-height: 22px;
    }
}

@media only screen and (max-width:420px)
{
    .meet-commitee li, .commitee-members li
    {
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-width:380px)
{
    .section .txt-pan h1
    {
        font-size: 18px;
        line-height: 20px;
    }

    .section .txt-pan p
    {
        font-size: 16px;
        line-height: 18px;
    }

    .bx-wrapper, .bx-wrapper ul li
    {
        min-height: 460px;
    }

    .section .txt-pan
    {
        padding: 20px 15px 45px;
    }

        .section .txt-pan .readmore
        {
            font-size: 20px;
            padding: 22px;
        }

    .bx-wrapper .bx-controls-direction a
    {
        top: 15% !important;
    }
    /*.menuBtn{height:56px}*/
    .SG50Logo
    {
        margin-left: 5px;
    }

        .SG50Logo img
        {
            width: 38px;
        }

    .mob-nav
    {
        padding: 24px 0 20px 17px;
        font-size: 14px !important;
    }

        .mob-nav img
        {
            margin-right: 6px;
            width: 20px;
        }
    /*.youtubeMobile{margin:3px 20px 0 0}
.youtubeMobile img, .twitterMobile img{height:14px}
.twitterMobile{margin:3px 6px 0 0}
.facebookMobile{margin:3px 6px 0 0}
.facebookMobile img{height:16px}*/
    .featured-pan .img-pan img
    {
        height: auto;
    }

    .pad
    {
        padding: 45px 30px 20px;
    }

    .event-in span
    {
        font-size: 12px;
        line-height: 14px;
    }

    .event-in em
    {
        font-size: 14px;
        line-height: 16px;
    }

    .event-in p
    {
        font-size: 16px;
        line-height: 18px;
    }

    .section .txt-pan .readmore
    {
        font-size: 16px;
        padding: 10px 20px;
    }

    .pad h3
    {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .featured-pan .ft-news p
    {
        font-size: 18px;
        line-height: 22px;
    }

        .featured-pan .ft-news p em
        {
            font-size: 12px;
            padding-bottom: 0;
        }
    /*.mod-footer .footer_nav a span { font-size: 17px; line-height: 18px;}
.footer p { padding: 0 15px;  width: 90% !important;}*/
    .news-right .feeds
    {
        width: 96%;
    }

    .news-left .youtube iframe
    {
        height: 180px;
    }

    /**********About us*******/
    .about-us
    {
        padding: 10px 15px 47px;
    }

    .about-left h1
    {
        font-size: 30px;
        line-height: 32px;
    }

    .way-to li
    {
        float: none;
    }

    .way-to ul
    {
        padding: 10px 25px 0;
    }

    .meet-commitee li
    {
        margin-right: 0;
        max-width: 100%;
        width: 100%;
        border: 0;
    }

    .commitee-members li
    {
        width: 100%;
    }

    .way-to li:last-child img
    {
        max-width: 100%;
    }
}

@media only screen and (max-width:320px)
{
    .bx-wrapper .bx-controls-direction a
    {
        top: 20% !important;
    }

    .bx-wrapper, .bx-wrapper ul li
    {
        min-height: 360px;
    }

    .section .txt-pan h1
    {
        font-size: 16px;
        line-height: 18px;
    }

    .section .txt-pan p
    {
        font-size: 14px;
        line-height: 16px;
    }

    .news-right .feeds
    {
        width: 95.4%;
    }

    .news-left .youtube iframe
    {
        height: 150px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 360px) and (-webkit-device-pixel-ratio: 2)
{
    .section .txt-pan h1
    {
        font-size: 10px;
        line-height: 12px;
    }

    .section .txt-pan p
    {
        font-size: 8px;
        line-height: 10px;
        padding-bottom: 10px;
    }
}
