﻿@charset "utf-8";
/* CSS Document

@font-face {
	font-family: 'gothambold1';
	src: url('../Css/font/gothambold1.eot');
	src: local('gothambold1'), url('../Css/font/gothambold1.woff') format('woff'), url('../Css/font/gothambold1.ttf') format('truetype');
}

body{
	font-family: 'gothambold1';	
} */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: none repeat scroll 0 0 #f1f1f1;
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body,textarea {
    font-family: helvetica,gotham book,Arial;
}
a {
    text-decoration: none;
}
.clear{
	clear:both;
	}
.main-content{
	width:100%;
	background:#fff;
	display:table;
}
.grid-content{
	width:79%;
	margin:15px auto;
	display:table;
}
.grid-dropdown, .grid-search{
	float:left;
	width:240px;
	position:relative;
	background:white;
	border: 1px solid #b2b2b2;
	height:38px;
}
.grid-search{
	margin-bottom:15px;
	margin-right:20px;
}
.grid-dropdown{
	margin-right:20px;
}
.grid-dropdown select{
	width:100%;
	height:38px;
	padding:5px 10px;
	color:#494747;
	margin-right:20px;
	text-transform:uppercase;
	border:1px solid #b2b2b2;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display:none;
}
.grid-dropdown select:focus{
	background:lightyellow;
}
.grid-dropdown select option{

}
.grid-search input{
	width:93%;
	height:38px;
	color:#494747;
	/*background:right url(/SG50/Images/search.png) no-repeat;
	border:1px solid #b2b2b2;
	text-transform:uppercase;*/
	padding:0 0px 0 15px;
	cursor:pointer;
	display:block;
	-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing:content-box;
}
 .grid-search input[type=image]
                {
                	 border: medium none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    padding:0;
                	
}


.grid-search input:focus{
	/*background:right url(/SG50/Images/search.png) no-repeat lightyellow;*/
}
.head-title{
	color:#353333;
	padding: 15px 0;
	}
.head-title h1{
	font-size:43px;
	margin:0;padding:0;
	font-weight:bold;
	color:#353333;
	text-transform:uppercase; 
}
.head-title p{
	font-size:18px;
	margin:10px 0;padding:0;
    line-height:24px;
}
.head-title a, .grid a{
	color:#ec1a3b;
	text-decoration:none;
}
.grid-container{
	width:100%;
	margin: 0px 0 0;
	display:table;
	}
.grid {
	width:30%;
	margin:1% 2.5% 1% 0.5%;
	color:#333333;
	float:left;
}
.grid:hover{
	/*border: 1px solid #ccc;
box-shadow: 0 0 6px 2px #ccc;*/
}
/*.grid:nth-child(3n){
	margin-right:0;
	}
#dinUpcoming .grid:nth-child(3n){
	margin-right:0;
	}
*/
.grid h2{
	 font-size: 16px;
    line-height: 20px;
    margin: 12px 0;
    padding: 0 6px;
    text-transform: uppercase;
    font-weight:bold;
	}
.grid span{
	color:#0099ff;
	font-size:12px;
	padding:0 3px;
}
.grid p{
	font-size:13px;
	padding:0 6px;
	line-height:16px;
	margin: 10px 0;
	}
	
.grid img{
	width:100%;
	}
.grid ul{
	overflow:hidden;
	padding:0 6px;
	height:42px;
	}
.grid ul li{
	list-style-type:none;
	float:left;
	margin:2px 6px 2px 0;
	}
.grid ul li a{
	width:32px;
	height:32px;
	display:block;
}
/*.grid ul li a:hover{
	width:40px;
	height:40px;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
	}*/
.grid ul li a img{
	width:100%;
}
/*--------------whatson-------------------*/
ul.title-tabs{
	margin:0 0 15px 0;
	padding:0;
	width:auto;
	float:left;
	
}
.title-tabs li{
	list-style-type:none;
	float:left;
}
.title-tabs li a{
	display:block;
	padding:10px;
	color:#353333;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
}
.title-tabs li a.active{
	background:#ed1a3b;
	color:#fff;
}
/*-----------------------------fondproject---------------------------*/
.project-title{
	display: table;
    margin-top: 25px;
    width: 100%;
	}
.project-title > h1{
	float:left;
	text-transform:uppercase;
	}
.project-title > a{
	float: right;
	/*display: block;*/
	background: url(/SG50/Images/backlist-icon.png) no-repeat 9% #ed1a3b;
	color: #fff;
	padding: 10px 10px 10px 35px;
	text-transform: uppercase;
	font-size: 13px;
}
.project-title > a:hover{
	float: right;
	display: block;
	background: url(/SG50/Images/backlist-icon.png) no-repeat 9% #c21730;
	padding: 10px 10px 10px 35px;
	text-transform: uppercase;
	font-size: 13px;
	color:#fffffF;
}

/*-----------------video container--------------------*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*-----------------video container ends--------------------*/

.img-container{
	width:100%;
	overflow:hidden;
}
.img-container img{
	width:100%;
}
.img-container-left{
	width:65.5%;	
	float:left;
	margin-right: 3.5%;
}
.img-container-right{
	width:31%;
	float:left;	
}
.img-container-right img:first-child{
	margin-bottom: 8.5%;
	}
.caps-font{
	text-transform:uppercase;
}
.auth-name{
	color:#0099ff;
	}
.question-container ul{
	list-style-type:none;
	color:#353333;
	margin-left: 30px;
	}
.question-container ul li{
	margin-bottom:15px;
	}
.question-container ul li:nth-child(odd):before {
    content: "Q:"; /* en dash here */
    position: absolute;
    margin-left: -2.1em;
}

.question-container ul li:nth-child(even):before {
    content: "A:"; /* en dash here */
    position: absolute;
    margin-left: -2.1em;
}
.social-contianer ul{
	list-style-type:none;
	display:table;
	margin: 10px auto 15px;
	width: auto;
	padding:0;
}
.social-contianer ul li{
	float:left;
	margin:0 5px;
}
.social-contianer{
	width:280px;
	margin:40px auto 10px;
	text-align:center;
    display:table;
}
.social-contianer img:hover{
   /* border-radius: 15px;
    box-shadow: 0 0 5px 2px #ccc;*/
}
/*.social-contianer > div > a:first-child{
	float:left;
	background: url(../Images/prev-icon.png) no-repeat 8% #ed1a3b;
}
.social-contianer > div > a:first-child.deactive{
	float:left;
	background: url(../Images/prev-icon.png) no-repeat 8% #808285;
	color:#cccdce !important;
}
.social-contianer > div > a:first-child:hover{
	float:left;
	background: url(../Images/prev-icon.png) no-repeat 8% #c21730 !important;
	color:#fff !important;
}
.social-contianer > div > a{
	float: right;
	display: block;
	background: url(../Images/next-icon.png) no-repeat 78% #ed1a3b;
	color: #fff;
	padding: 10px 0px;
	text-transform: uppercase;
	font-size: 14px;
	width:120px;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
}
.social-contianer > div > a:hover{
color:#fff !important;
	background:url(../Images/next-icon.png) no-repeat 78% #c21730 !important;
}
.social-contianer > div > a.deactive{
	color:#cccdce;
	background:url(../Images/next-icon.png) no-repeat 78% #808285;
	}
    */
.social-contianer > div > input:first-child{
	float:left;
	background: url(/SG50/Images/prev-icon.png) no-repeat 8% #ed1a3b ;
}
.social-contianer > div > input:first-child.deactive{
	float:left;
	background: url(/SG50/Images/prev-icon.png) no-repeat 8% #808285 !important;
	color:#cccdce !important;
}
.social-contianer > div > input:first-child.deactive:hover{
	float:left;
	background: url(/SG50/Images/prev-icon.png) no-repeat 8% #808285!important;
	color:#cccdce !important;
}
.social-contianer > div > input:first-child:hover{
	float:left;
	background: url(/SG50/Images/prev-icon.png) no-repeat 8% #c21730 !important;
	color:#fff !important;
}
.social-contianer > div > input{
	float: right;
	display: block;
	background: url(/SG50/Images/next-icon.png) no-repeat 78% #ed1a3b;
	color: #fff;
	padding: 10px 0px;
	text-transform: uppercase;
	font-size: 14px;
	width:120px;
	text-transform:uppercase;
	text-decoration:none;
	cursor:pointer;
	text-align:center;
    border:none;
}
.social-contianer > div > input:hover{
color:#fff !important;
	background:url(/SG50/Images/next-icon.png) no-repeat 78% #c21730 !important;
}
.social-contianer > div > input.deactive{
	color:#cccdce !important;
	background:url(/SG50/Images/next-icon.png) no-repeat 78% #808285 !important;
	}
/*---------------sample test-----------------*/
.social-contianer ul li p{
	background:url(../Images/count.png) no-repeat;
	width:26px;
	height:21px;
	margin:5px 5px 0;
	color:#353333;
	font-size:12px;
	line-height:25px;
	
}
/*---------------------------------11-sep-14-------------------form Css-----------------------------*/
.form-container{
	width:1052px;
	margin:10px auto 50px;
	color:#353333;
	font-size:15px;
	background:#fff;

}
.form-banner img{
	width:100%;
}

.formprocess-nav ul{
	width:1052px;
	border:1px solid #b2b2b2;
	color:#989898;
	display:table;
	margin-bottom:50px;
}
.formprocess-nav ul > li{
	 border-right: 1px solid #b2b2b2;
    display: table;
    float: left;
    padding: 20px 0 20px 27px;
    width: 322px;
}
.formprocess-nav ul > li.active{
	background:#e0e0e0;
	color:#494747;

}
.formprocess-nav ul > li:last-child{
	border:none;
	width:325px;
	}
.formprocess-nav ul li div{
	float:left;
	}
.process-serial{
	border: 2px solid #b2b2b2;
    border-radius: 20px;
    height: 15px;
    padding: 8px;
    text-align: center;
    width: 15px;
	margin-right:10px;
	font-weight:bold;
	line-height: 15px;
}
.formprocess-nav ul > li.active .process-serial{
		border-color:#494747 !important;	
	}
.process-title H2{
	font-weight:bold;
	margin:4px 0;
	}
.process-title p{
	font-size:13px;
	}

.form-content h1{
	font-size: 18px;
    font-weight: 500;
    margin: 25px 0 15px;
	}
.check-box ul{
		 margin: 10px 0 0 20px;
	 counter-reset: list;
	 display:table;
  
}
.form-content ul{
		 margin: 10px 0 0 60px;
	 counter-reset: list;
  
}
.form-content ul li{
	  font-size: 15px;
	  list-style-type:none;
       margin: 15px 0;
	 padding-left : 5px;
	 position:relative;
}
.check-box  ul  li:before{
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}
.form-content > ul > li:before{
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}
.form-content ul > li > ul > li
{
	list-style-type:disc;
	}
.heading-box{
	position:relative;
	color:#ec1a3b;
	background:#e0e0e0;
	font-weight:bold;
	font-size:18px;
	padding:10px 20px;
	margin: 30px 0 ;
	text-transform:uppercase;
}
.heading-box span{
	color:#ec1a3b;
	font-size:15px;
	text-transform:none;
	font-weight:normal;
}
.heading-box img{
	position:absolute;
	left:50%;
	bottom:-11px;
}
.check-box{
	display:table;
	width:100%;
    margin:8px 0;
}
.check-box input[type=checkbox]{
		width:2%;
		float:left;
}
.check-box p{
	width:95%;
	font-size:15px;
		/*margin:0 0 0 15px;*/
		float:left;
		line-height:20px;
}
.form-option-box{
	width:1022px;
	display:table;
	margin:40px auto;
}
.form-options{
	width:456px;
	float:left;
	border:1px solid #b2b2b2;
	padding:40px 20px;
	height:517px;

}
.form-options img{
	padding: 0 0 35px 0;
	width:221px;
	margin:0 auto;
	display: block;
}
.form-options H1{
	text-transform:uppercase;
	margin-bottom:0;
	font-weight:bold;
	font-size:17px;
	}
.form-options p, .form-content > label{
	font-size: 15px;
margin: 10px 0 15px 0;
line-height: 18px;
font-weight: bold;
}
.apply-btn{
	display:block;
	text-align:center;
	}
.form-options input{
	text-align:center;
	background:#ec1a3b;
	color:#fff;
	text-transform:uppercase;
	padding:10px 25px;
	font-size:15px;
	display:block;
	width:340px;
    border:none;
	margin:0 auto;
	font-weight:bold;
	cursor:pointer;
}
.form-right > input[type=image] {float:left; margin:10px 5px;}
   
.form-option-box .form-options:first-child{
	margin-right:25px;
}
.mandatory{
	color:#ec1a3b;
	margin-right:1px;
}
ul.list-alpha{
	list-style-type:none;
	}
.form-content > p{
		font-size: 15px;
		margin: 15px 0;
		padding-left: 5px;
		line-height:18px;
	}
.form-content  label{
	 display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin: 10px 0 4px;
}
.form-content input[type=text], .form-content select{
	border: 1px solid #bababa;
	width: 415px;
	height: 35px;
	margin: 0 5px 5px 0;
	padding: 0 10px;
	font-size: 15px;
    float:left;
}

.form-content input[type=text]:focus, .form-content textarea:focus
{
	border: 1px solid #bababa !important;
	outline:none;
	box-shadow: none;
}
.form-content input[type=text]:focus.error, .form-content textarea:focus.error
{
	border: 1px solid #bababa  !important;
	outline:none;
	box-shadow: none;
	}


.form-content select {
    border: 1px solid #bababa;
	width: 437px;
	height: 35px;
	margin: 0 5px 5px 0;
	padding: 0 0 0 10px;
	font-size: 15px;
    float:left;
}


.form-content textarea{
	width:100%;
	height:100px;
	font-size:14px;
	 border: 1px solid #bababa;
	 
}
.form-content textarea:hover
{
	 border: 1px solid #bababa;
	}
.form-float{
	display:table;
	width:100%;
}
.form-float img{
	margin:0 5px ;
	}
.form-left, .form-right{
	float:left;
	width:50%
}
.form-left-left,.form-right-left,.form-right-right, .form-left-right{
	width:50%;
	float:left;
}
.form-left-left input[type=text],.form-right-left input[type=text],.form-right-right input[type=text], .form-left-right input[type=text]{
	width:185px !important;
	}

.form-left-left > select, .form-right-left > select, .form-right-right > select, .form-left-right > select {
	width:175px !important;
	}
.radio-btn{
	width: 100%;
	height: 30px;
		}
.radio-btn p{
	margin:0 15px 0 2px;
	float:left;
	}	
.radio-btn input[type=radio]{
	float:left;
	}
.form-content input[type=file]{
	 background: none repeat scroll 0 0 #fff;
    border: 1px solid #bababa;
    display: block;
    margin: 10px 0;
    width: 400px;
	}
.addfile{
	display:table;
	}
.addfile > a > img,.addfile > a > label{
	float:left;
	margin:15px 3px;
	cursor:pointer;
	color:#353333 !important;
}
.next-step{
	display:block;
	text-transform:uppercase;
	}
.next-step input{
	 background: none repeat scroll 0 0 #ec1a3b;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
   
    padding: 10px 35px;
}
.check-box-container{
	display:table;
	margin:25px 0 50px 0;
}
.capcha{
	margin: 10px 0 25px 0;
}
.capcha input{
	width:100px !important;
	}
/*--------------------------------celebration ideas------------------------*/
.celeb-grid{
	width: 32%;
	margin: 0.5% 0.1% 0% 0.5%;
	background:#ca0000;
	color:#fff !important;
}
.celeb-grid h2{
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	margin: 32px 0 12px 20px;
}
.celeb-grid p{
	font-size: 18px;
	line-height: 25px;
	margin: 10px 20px;
}
.celeb-grid span{
	font-size: 15px;
	color: #fff;
	margin: 25px 20px 20px; 
	display: table;
}
.celeb-head-title{
	font-size: 24px !important;
	margin: 10px 0;
	padding: 0;
	line-height: 28px !important;	
}
/*----------------------------sponser-----------------------------*/
.sponser-grid{
	width:22%;	
}
.sponser-grid p{
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}
/*-------------------------------webresource--------------------------*/
.web-resource-banner img{
	width:100%;
	}
.webresource-grid{
	width:49%;
	margin:0;
	position:relative;
}
.webresource-grid:nth-child(odd){
	margin:0 2% 3% 0;
}
.image-title{
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: #fff;
	
	}
.image-title p{
	padding:2.5%;
	margin:0;
	font-size:16px;
	text-transform:uppercase;
	}
	
.webresource-grid p{
	font-size:18px;
	font-weight:bold;
	line-height: 20px;
	}
.webresource-grid span{
	color: #353333;
	font-size: 16px;
	margin: 5px 0;
	display: table;
	margin: 16px 0 10px;
	
	}
	.webresource-grid ul{
		overflow: inherit !important;
		margin-left: 20px;
		display:table;
		}
.webresource-grid li{
	list-style-image:url(../Images/batch-4/list-type.jpg) !important;
	float:none;
	color:#353333;
	font-size:15px;
	font-weight:bold;
	margin: 3px 0 !important;
	line-height: 18px;
	}
.download-btn{
			color: #fff !important;
		background: #cc0033;
		text-transform: uppercase;
		padding: 10px 25px;
		display: table;
		margin: 10px 0 5px 9px;
		cursor:pointer;
	
	}
/*---------------------16-sep--------------*/
    
.form-float span {
    float:left;
     margin: 2px 0 15px;
}
.calender {
    background: url('/sg50/images/Images/batch-4/calender.png') no-repeat 95%;
    cursor:pointer;
}
/*-------18-sep-2014---------*/
.top-btn
{
	display:none;
	}
.bottom-btn
{
	display:block;
	}
	
	/*-------23-sep-2014---------*/
	.dropdown-container
	{
		float:right;
	}
	#content_0_refVideo > img
	{
		width:100% !important;
		height:auto;
		}
			
.big-font
{
	font-size:22px !important;
	}
.text-bold
{
	font-weight:bold !important;
	}
  .form-dropdown{
    	float: left !important;
    table-layout: fixed;
    width: 80% !important;
    	}
.form-dropdown ul li{
    	 	margin:0;
    	 	padding:0;
    	 	}
    	 	
    	 	.form-dropdown span
    	 	{
    	 		margin:2px 0 12px;
    	 	}
    
    /*-------23-march-2015---------*/
   div#content_0_DIVVideo {
  width: 79%;
  margin: 15px auto;
  display: table;
   }

   .head-title b {
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0;
    padding: 0;
    
   
}
.head-title i {
     font-style:italic;
}
.head-title strong {
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0;
    padding: 0;
}
.head-title em {
    font-style:italic;
}