﻿@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:1024px)
{
    .thepioneer
    { /*float:left; background:url(../images/thepioneer-spirit.jpg) no-repeat; background-size:contain; width:100%;*/
    }
}

@media only screen and (max-width:1023px)
{
    /* bx slider */
    .clanding .bx-wrapper
    {
        float: left;
    }

        .clanding .bx-wrapper .bx-controls-direction a
        {
            margin-top: 180px;
        }

    .clanding .count
    {
        position: relative;
        margin-left: 0;
        left: 0;
        width: 100%;
        top: 0;
    }

    .banner-content
    {
        font: 24px "Myriad Pro", Helvetica, Arial, sans-serif;
        color: #666666;
        padding: 40px 30px 30px;
        display: inline-block;
        text-align: center;
    }

    .clanding .count .time
    {
        color: #666;
        background: url(/SG50/images/CommunityCampaign/mobile/time-arrow.png) no-repeat left 3px;
        text-align: center;
        padding-right: 10px;
    }

    .clanding .count .views
    {
        color: #666;
        background: url(/SG50/images/CommunityCampaign/mobile/views-arrow.png) no-repeat left 5px;
        text-align: center;
        padding-left: 10px;
    }

    .clanding .main-viewstory
    {
        border: 0;
        color: #fff;
        display: block;
        font: 18px "Myriad Pro",Helvetica,Arial,sans-serif;
        margin: 0 30px;
        padding: 10px 37px;
        text-align: center;
        background: #ed1a3b;
    }

        .clanding .main-viewstory:hover
        {
            background: rgba(0,0,0,0.6);
        }

    .clanding .bx-wrapper .bx-prev
    {
        background: url(/SG50/images/CommunityCampaign/mobile/left_arrow.png) no-repeat;
        left: 10px;
    }

    .clanding .bx-wrapper .bx-next
    {
        background: url(/SG50/images/CommunityCampaign/mobile/right_arrow.png) no-repeat;
        right: 10px;
    }

    .clanding .bx-wrapper .bx-pager
    {
        background: none;
        padding-top: 0;
    }

    .clanding .bx-wrapper .bx-pager, .clanding .bx-wrapper .bx-controls-auto
    {
        bottom: 24%;
    }

        .clanding .bx-wrapper .bx-pager.bx-default-pager a:hover, .clanding .bx-wrapper .bx-pager.bx-default-pager a.active
        {
            background: #ed1a3b;
            border: 5px solid #fff;
        }

        .clanding .bx-wrapper .bx-pager.bx-default-pager a
        {
            background: #fff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 5px solid #fff;
            margin-right: 40px;
        }
}

@media only screen and (max-width:768px)
{
    .gallery
    {
        padding: 28px 30px 28px 30px;
    }

        .gallery ul li
        {
            display: block;
            width: 100%;
            margin-right: 0px;
        }

            .gallery ul li img
            {
                float: left;
            }
    /*.gtooltip{width:calc(100% - 278px); position:inherit; float:left; height:228px; background:#ec1738}	*/
    .gtooltip span
    {
        display: block;
    }

    .gtooltip a
    {
        display: block;
    }

    .loadmore
    {
        width: 100%;
        margin-left: auto;
        padding: 10px 0px;
    }

    .masthead
    {
        display: none;
    }
}

@media only screen and (max-width:640px)
{
    .gtooltip
    {
        width: calc(100% - 210px);
        height: 210px;
    }

    .clanding .bx-wrapper .bx-pager, .clanding .bx-wrapper .bx-controls-auto
    {
        bottom: 27%;
    }

    .clanding .bx-wrapper .bx-controls-direction a
    {
        margin-top: 100px;
    }
}

@media only screen and (max-width:480px)
{
    .gallery ul li img
    {
        height: 160px;
        width: 160px;
    }

    .gtooltip
    {
        height: 160px;
        width: calc(100% - 160px);
        padding: 10px;
    }

        .gtooltip span, .gtooltip .name, .gtooltip a
        {
            font-size: 14px;
        }

    .clanding .bx-wrapper .bx-pager, .clanding .bx-wrapper .bx-controls-auto
    {
        bottom: 48%;
    }

    /*.gallery ul li img{height:210px; }
	.gtooltip{width:calc(100% - 210px); padding:20px; height:210px;}
	.gtooltip span{margin-top:0px; font-size:14px;}
	.gtooltip a{font-size:14px;}*/

    .clanding .bx-wrapper .bx-pager, .clanding .bx-wrapper .bx-controls-auto
    {
        bottom: 35%;
    }

    .thepioneer
    { /*float:left; background:url(../images/mobile/thepioneer-spirit.jpg) no-repeat; background-size:contain; width:100%; height:373px;*/
    }

    .clanding .bx-wrapper .bx-controls-direction a
    {
        margin-top: 60px;
    }
}

@media only screen and (max-width:320px)
{
    .gtooltip span, .gtooltip .name, .gtooltip a
    {
        font-size: 11px;
    }
}
