﻿@model SGEventsCalendar.Models.AboutUs
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>

<div class="" id="downloadGuides">
    <div class="">
        <div class="">
            <div class="">
                <p>
                    <a href="javascript:void(0);"></a>
                </p>
            </div>
            <div class="">
                <h1>@Model.GuideLines.Title</h1>
                <br />
                <br />
                <img src="@Model.GuideLines.Logo" alt="">
                <p class="note">
                    @Html.Raw(Model.GuideLines.ShortDesc)
                </p>
                <p class="note">
                    @Html.Raw(Model.GuideLines.FullDesc)
                </p>


                @if (!string.IsNullOrEmpty(Model.GuideLines.CTAText) && Model.GuideLines.filePath != "javascript:void(0)")
                { 
                    <div class="downloadBTN"><a href="@Model.GuideLines.filePath">@Model.GuideLines.CTAText</a></div>
                }

            </div>
        </div>
    </div>

    @Html.Raw(Model.ContactInfo)
    @Html.Raw(Model.Feedback)
</div>



