﻿@model SGEventsCalendar.Models.Header
@{
    Layout = null;
    ViewBag.Title = "Header";
}

<header class="clearfix">
    <div class="menuIcon pullLeft">
        <span class="iconLine"></span>
        <span class="iconLine"></span>
        <span class="iconLine"></span>
    </div>
    <div class="logo pullLeft">
        <a onclick="ga('send', 'event', { eventCategory: 'SG Header', eventAction: 'Click', eventLabel: 'SGlogo'});" href="/">
            <img src="@Model.Logo" alt="@Model.LogoAlt"></a>
    </div>


    <div class="wrap-new-menu">
        <form class="wrap-search" action="">
            <div class="input-text">
                <button type="button" id="btnsubmit">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" id="txtSearch" placeholder="Search" />
                <a class="close js-close" href="javascript:void(0);">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </form>
        <ul class="new-menu menu-first">
            <li>
                <a class="about-us" href="javascript:void(0)">About</a>
            </li>
            @if (!string.IsNullOrEmpty(Model.Menu[0]))
            {
                <li><a href="/sg/events-calendar">@Model.Menu[0]</a></li>
            }
            @if (!string.IsNullOrEmpty(Model.Menu[1]))
            {
                <li><a href="/sg/featured-stories">@Model.Menu[1]</a></li>
            }
            <li>
                <a href="javascript:void(0);" class="js-toggle-search">|
                        <i class="fa fa-search"></i>
                </a>
            </li>
        </ul>
        <ul class="new-menu menu-last">
            @if (!string.IsNullOrEmpty(Model.Menu[2]))
            {
                <li><a target="_blank" href="/SingaporeCares">@Model.Menu[2]</a></li>
            }
            @if (!string.IsNullOrEmpty(Model.Menu[3]))
            {
                <li><a target="_blank" href="/sgfuture">@Model.Menu[3]</a></li>
            }
            @if (!string.IsNullOrEmpty(Model.Menu[4]))
            {
                <li><a target="_blank" href="/oursingaporefund">@Model.Menu[4]</a></li>
            }
            @if (!string.IsNullOrEmpty(Model.Menu[5]))
            {
                <li><a target="_blank" href="/sg50">@Model.Menu[5]</a></li>
            }

        </ul>
    </div>


</header>



<script type="text/javascript">

    /* GA tracking for Menu Click */
    function GATrack_Menu(ctrlId) {
        if ($(ctrlId).length > 0) {
            $(ctrlId).click(function () {
                console.log($(this).find('a').text().trim());
                ga('send', 'event', { eventCategory: 'SG Header', eventAction: 'Menu Click', eventLabel: $(this).find('a').text().trim() });
            });
        }
    }

    GATrack_Menu('.menu li:not(li:last)');

    function HidePipe() {
        if ($('.guidelinesMob').length > 0) {
            $('.menu ul li:nth-last-child(2)').css("background", "none");
        } else { $('.menu ul li:last').css("background", "none"); }
    }

    HidePipe();


    function SubmitSearch(inputCtrl) {
        if ($(inputCtrl).length) {
            $(inputCtrl).keypress(function (e) {
                if (e.which == 13) {
                    var url = window.location.origin + '/sg/search-results?searchStr=' + $(this).val();
                    window.location.href = url;
                    return false;

                }
            });
        } else return false;
    }

    function Search_in_button(btnId, inputCtrl) {
        if ($(btnId).length && $(inputCtrl).length) {
            $(btnId).click(function (e) {
                var url = window.location.origin + '/sg/search-results?searchStr=' + $(inputCtrl).val();
                window.location.href = url;
                return false;

            });
        } else return false;
    }

    SubmitSearch('#txtSearch'); Search_in_button('#btnsubmit', '#txtSearch');

</script>


