﻿@model SGEventsCalendar.Models.MetaContent
@{
    Layout = null;
}

@if (!string.IsNullOrEmpty(Model.MetaTitle))
{
<meta name="Title" content="@Model.MetaTitle" />
<meta name="description" content="@Html.Raw(Model.MetaDescription)" />
<meta name="keywords" content="@Model.MetaKeywords" />
}
@if (!string.IsNullOrEmpty(Model.FBID))
{
<meta property="fb:app_id" content="@Model.FBID"/>
}
@if (!string.IsNullOrEmpty(Model.OGImage))
{
<meta property="og:image" id="metaImg" content="@Model.OGImage"/>
}

<title>@Model.PageTitle</title>

