﻿@{
    ViewBag.Title = "Notfound";
}

<div class="wrap-404">
    <div class="wrap-content">
        <div class="inner">
            <div class="wrap-icon">
                <img src="/assets/sgcalendar/images/icon-404.png" alt="">
            </div>
            <div class="wrap-message">
                <h1 class="heading">Oops...</h1>
                <h2 class="title">We can't seem to find the page you are looking for.
                </h2>
                <p class="desc">
                     <a href="/">< back </a>
                </p>
            </div>
        </div>
    </div>
</div>
