﻿@model SGCare.Models.HeadContent
@{
    Layout = null;
}

<header id="page-header">
    <div class="wrap-top">
        <div class="wrap-left pull-left">
            <a href="/SingaporeCares" class="logo" onclick="ga('send', 'event', { eventCategory: 'SGCares Header’, eventAction: 'Click', eventLabel: 'SGCares logo'});">
                <img class="thumb" src="@Model.Logo" />
            </a>
        </div>
        <div class="wrap-center pull-left">
            <a href="/SingaporeCares/act-of-kindness" class="nav-item  first" title="@Model.Kindnessmenu" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: @Model.Kindnessmenu});">
                <span class="nav-text">@Model.Kindnessmenu</span>
            </a>
            <a href="/SingaporeCares/volunteer-opportunities" class="nav-item " title="@Model.ProgramesMenu" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: @Model.ProgramesMenu});">
                <span class="nav-text">@Model.ProgramesMenu</span>
            </a>
            <a href="/SingaporeCares/ground-up-activity" class="nav-item " title="@Model.ActivityMenu" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: @Model.ActivityMenu});">
                <span class="nav-text">@Model.ActivityMenu</span>
            </a>
            <a href="/SingaporeCares/stories" class="nav-item last " title="@Model.StoriesMenu" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: @Model.StoriesMenu});">
                <span class="nav-text">@Model.StoriesMenu</span>
            </a>
        </div>
        <div class="wrap-right pull-right">
            <a href="javascript:void(0);" class="icon-nav" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: 'Open menu'});">
                <span class="icon icon-line"></span>
                <span class="icon icon-line"></span>
                <span class="icon icon-line"></span>
            </a>
           <!--code comment by us -->
           @* <a href="/SingaporeCares" class="logo" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: 'SGCares logo'});">
                <img class="thumb" src="@Model.Logo">
            </a>*@
        </div>
        <div class="wrap-right pull-right hidden-xs">
            @*<a href="" target="_blank" class="button-download">
                <span class="download-text">@Model.CorporatePartnerShip</span>
            </a>*@

            <ul>
                <li>
                    <a href="#" class="share-box-link">
                        <img src="/assets/SGCares/images/global/share.png" />
                        <span>@Model.ShareText</span>

                    </a>
                    <div class="shareCon">
                        <ul>
                            <li><a data-title="@Model.SocData.SocTitle" data-desc="@Model.SocData.SocDesc" data-img="@Model.SocData.SocImg" href="javascript:void(0)" class="facebook">
                                <img src="/assets/SGCares/images/global/facebook.png" /></a></li>
                            <li><a class="outlook" data-title="@Model.SocData.SocTitle" data-desc="@Model.SocData.SocDesc" href="javascript:void(0)">
                                <img src="/assets/SGCares/images/global/email.png" /></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="@Model.GuidelinesFile" target="_blank">
                    <img src="/assets/SGCares/images/global/logo-guidelines.png" />
                    <span>@Model.LogoAndGuidelinesText</span>
                    </a></li>
            </ul>

        </div>
    </div>
    <div class="wrap-nav">
        <nav class="text-center">
            <!-- <a href="landing.html" class="nav-item active hidden-xs" title="Our Focus">
                    <span class="nav-text">Our Focus</span>
                </a> -->
            <a href="/SingaporeCares/act-of-kindness" class="nav-item  first" title="@Model.Kindnessmenu" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: '@Model.Kindnessmenu'});">
                <span class="nav-text">@Model.Kindnessmenu</span>
            </a>
            <a href="/SingaporeCares/volunteer-opportunities" class="nav-item" title="@Model.ProgramesMenu" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: '@Model.ProgramesMenu'});">
                <span class="nav-text">@Model.ProgramesMenu</span>
            </a>
            <a href="/SingaporeCares/ground-up-activity" class="nav-item " title="@Model.ActivityMenu" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: '@Model.ActivityMenu'});">
                <span class="nav-text">@Model.ActivityMenu</span>
            </a>
            <a href="/SingaporeCares/stories" class="nav-item last " title="@Model.StoriesMenu" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: '@Model.StoriesMenu'});">
                <span class="nav-text">@Model.StoriesMenu</span>
            </a>
            @* <a href="stories.html" class="nav-item last visible-xs" title="Corporate Partnerships" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: 'Corporate Partnerships'});">
                <span class="nav-text">Corporate Partnerships</span>
            </a>*@
            <div class="wrap-bottom">
                <ul>
                    <li class="nav-item">
                        <span>@Model.ShareText</span>
                     
                        <div class="pull-right">
                            <a data-title="@Model.SocData.SocTitle" data-desc="@Model.SocData.SocDesc" data-img="@Model.SocData.SocImg" href="javascript:void(0)" class="facebook" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Share', eventLabel: 'Facebook'});">
                                <img src="/assets/SGCares/images/global/facebook.png" /></a>
                            <a class="outlook" data-title="@Model.SocData.SocTitle" data-desc="@Model.SocData.SocDesc" href="javascript:void(0)" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Share', eventLabel: 'Email'});" >
                                <img src="/assets/SGCares/images/global/email.png" /></a>
                            <a class="whatsapp" data-title="@Model.SocData.SocTitle" data-desc="@Model.SocData.SocDesc" href="javascript:void(0)" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Share', eventLabel: 'Whatsapp'});">
                                <img src="/assets/SGCares/images/global/whatsapp.png" /></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <span>@Model.LogoAndGuidelinesText</span>
                     
                        <div class="pull-right">
                            <a href="@Model.GuidelinesFile" target="_blank" onclick="ga('send', 'event', { eventCategory: 'SGCares Header', eventAction: 'Click', eventLabel: @Model.LogoAndGuidelinesText});">
                                <img src="/assets/SGCares/images/global/guidelines.png" /></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="nav-fade"></div>
</header>

<script type="text/javascript">
    $('.socFB').click(function () {
        var Title = $(this).attr('data-title'), Desc = $(this).attr('data-desc'), Image = $(this).attr('data-img')
        Facebook(Title,Desc,Image)
    })
</script>

