﻿@model SGCare.Models.SGCareLandData
@{
    ViewBag.Title = "Singapore Cares| Homepage";
    Layout = null;
}

@using Sitecore.Links;
@using SGCare.Models;

<main class="page page-landing">
    @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Maintenance Message").ToString().Trim()))
    { 
    <div class="maintenance"><span><i class="fa fa-close"></i>@Html.Sitecore().Field("Maintenance Message")</span></div>
    }
        <div class="container-fluid">
            <!-- begin section hero -->
            <section class="section-hero">
               <!-- Section comment by us-->
              @*  <div class="wrap-hero wrap-video">
                    <img class="bg-thumb hidden-xs" src="@Model.DeskMastheadBanner" />
                    <img class="bg-thumb visible-xs" src="@Model.MobMastheadBanner" />

                     @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Masthead Video URL").ToString()))
                     { 
                        <div class="video-play-wrapper">
                            <a href=".modalVideo2" data-gs-vtext="Top banner video" data-gs-cta="@Model.GetStartedCTA" data-gs-url="@Model.GetStartedCTAUrl" title="Play" class="play" data-src="@Html.Sitecore().Field("Masthead Video URL")" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Click', eventLabel: 'top banner video'});"></a>
                            <svg>
                                <rect class="outer" rx="20" ry="20" width="64" height="64" />
                                <rect class="inner" x="7" y="7" rx="16" ry="16" width="50" height="50" />
                                <path class="triangle" d="M24 20 L48 32 L24 44 L24 20 L48 32" />
                            </svg>
                        </div>
                     }

                </div>*@
                 <div class="wrap-hero plege-hero">
                    <img class="bg-thumb hidden-xs" src="@Model.DeskMastheadBanner" />
                    <img class="bg-thumb visible-xs" src="@Model.MobMastheadBanner" />
                    
                    <div class="wrap-pledge">
                        <div class="fieldset">
                            <h2><span>@Model.MeterTitle</span></h2>
                            <div class="pledge-counter"></div>
                            <!-- <legend class="btm">Actions Pledged</legend> -->
                            <h3>
                                <span> @Model.ActionPledgedText</span>
                            </h3>
                        </div>

                        <p class="text-center">@Model.MeterDescription</p>

                        @*<div class="wrap-pledge-options">
                            <ul>
                                   @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Act Of Kindness Text").ToString()))
                                   {
                                <li data-pledge-type="Kindness">
                                    <div class="opt-image"><img src="/assets/SGCares/images/pledge-option-1.png" /></div>
                                    <div class="opt-desc">@Model.ActofKindnessText</div>
                                </li>
                                   }
                                   @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Volunteer For a Cause Text").ToString()))
                                   {
                                <li class="middle" data-pledge-type="Volunteer">
                                    <div class="opt-image"><img src="/assets/SGCares/images/pledge-option-2.png" /></div>
                                    <div class="opt-desc">@Model.VolunteerforCauseText</div>
                                </li>
                                   }
                                   @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Group-Up Activity Text").ToString()))
                                   {
                                <li data-pledge-type="Activity">
                                    <div class="opt-image"><img src="/assets/SGCares/images/pledge-option-3.png" /></div>
                                    <div class="opt-desc">@Model.GroupUpActivityText</div>
                                </li>
                                   }
                            </ul>
                        </div>*@

                         <div class="wrap-pledge-options">
                             <ul>
                                <li data-pledge-type="Kindness">
                                     @if (!string.IsNullOrEmpty(Model.ActofKindnessPledgeimage))
                                     {
                                    <div class="opt-image"><img src="@Model.ActofKindnessPledgeimage" /></div>
                                     }
                                    <div class="opt-desc">@Convert.ToString(Html.Sitecore().Field("Act Of Kindness Text"))</div>
                                </li>
                                <li class="middle" data-pledge-type="Volunteer">
                                     @if (!string.IsNullOrEmpty(Model.VolunteerforCausePledgeImage))
                                     {
                                    <div class="opt-image"><img src="@Model.VolunteerforCausePledgeImage" /></div>
                                     }
                                    <div class="opt-desc">@Convert.ToString(Html.Sitecore().Field("Volunteer For a Cause Text"))</div>
                                </li>
                                <li data-pledge-type="Activity">
                                     @if (!string.IsNullOrEmpty(Model.GroupUpActivityPledgeImage))
                                     {
                                    <div class="opt-image"><img src="@Model.GroupUpActivityPledgeImage" /></div>
                                     }
                                    <div class="opt-desc">@Convert.ToString(Html.Sitecore().Field("Group-Up Activity Text"))</div>
                                </li>
                            </ul>
                        </div>

                          @if (!string.IsNullOrEmpty(Model.PledgenowImage))
                          {
                        <a href="#pledge-overlay" class="btn-pledge">
                            <img src="@Model.PledgenowImage" />
                            <img src="/assets/SGCares/images/btn-pledge-hover.png" class="active" />
                        </a>
                          }
                    </div>
                       </div>
            </section>

            <!-- begin section future -->
            <section class="section-future">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-sm-push-1">
                                <h2 class="heading">
                                    <span>@Html.Sitecore().Field("Introduction Title")</span>
                                </h2>

                                <h3 class="title">@Html.Sitecore().Field("Introduction Sub Title")</h3>

                                <p class="desc">@Html.Sitecore().Field("Introduction Content")</p>

                                 @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Read More Content").ToString()))
                                 { 
                                <div class="button__wrapper">
                                    <a class="button--read-more collapsed" title="Read more" role="button" data-toggle="collapse" href="#collapseContentFuture" aria-expanded="false" aria-controls="collapseExample" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Click', eventLabel: 'read more'});">Read more</a>
                                    <svg class="hidden-xs">
                                        <rect class="outer" rx="12" ry="12" width="180" height="44" />
                                        <rect class="inner" x="4" y="4" rx="10" ry="10" width="172" height="36" />
                                    </svg>
                                </div>
                                 }
                            </div>
                        </div>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Read More Content").ToString()))
                {  
                    
               <div class="content content--expand-collapse collapse" id="collapseContentFuture">
                    <div class="container">
                        <div class="row">
                             <div class="col-xs-12 col-sm-10 col-sm-push-1">
                                <div class="row mobile-list">

                            @*<div class="col-xs-12">*@
                              
                              @*  <div class="mobile-list">*@
                                     
                                   @Html.Sitecore().Field("Read More Content")
                                          
                                @*</div>*@
                                
                           @* </div>*@

                            <div class="col-xs-12">
                                <div class="button__wrapper">
                                    <a class="button--read-more collapsed" title="Collapse" role="button" data-toggle="collapse" href="#collapseContentFuture" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                    <svg class="hidden-xs">
                                        <rect class="outer" rx="12" ry="12" width="180" height="44" />
                                        <rect class="inner" x="4" y="4" rx="10" ry="10" width="172" height="36" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                   </div>
                }
            </section>
            <!-- end section future -->

            <!-- begin section news -->
            <section class="section-news">
                <div class="news news--two-col">
                    <h2 class="heading">@Html.Sitecore().Field("Focus Title")</h2>
                    <div class="body_text text-center block-main">
                        <p>@Html.Sitecore().Field("Focus Desc")</p>
                        
                         @if (!string.IsNullOrEmpty(Model.InvolvedMastheadBanner))
                         { 
                         <div class="wrap-video">
                            <img src="@Model.InvolvedMastheadBanner" alt="">
                              @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Get Involved Video Url").ToString()))
                              { 
                            <div class="video-play-wrapper">
                                <a href=".modalVideo2" title="Play" class="play" data-gs-url="@Model.GetStartedCTAUrl" data-gs-cta="@Model.GetStartedCTA" data-src="@Html.Sitecore().Field("Get Involved Video Url")" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Click', eventLabel: 'sgcares home video'});"></a>
                                <svg>
                                    <rect class="outer" rx="20" ry="20" width="64" height="64"></rect>
                                    <rect class="inner" x="7" y="7" rx="16" ry="16" width="50" height="50"></rect>
                                    <path class="triangle" d="M24 20 L48 32 L24 44 L24 20 L48 32"></path>
                                </svg>
                            </div>
                              }
                        </div>
                         }
                         
                    </div>
                    <div class="content">
                        @if (@Model.Categories.Count > 0 && Model != null)
                        {
                            for (int ind = 0; ind < Model.Categories.Count; ind++)
                            {
                                string cls = string.Empty, titleCls = string.Empty, bodyCls = string.Empty; 
                           
                                <div class="content__wrapper clearfix">
                             @if (ind % 2 == 0)
                             {
                                 cls = "pull-left";
                             }
                             else { cls = "pull-right"; titleCls = "text-right text-xs-left"; bodyCls = "text-right"; }

                                <div class="content__img @cls">
                                    <div class="wrap-video">
                                        <img src="@Model.Categories[ind].CatImage" alt="">

                                        @if (!string.IsNullOrEmpty(Model.Categories[ind].VideoUrl))
                                        { 
                                        <div class="video-play-wrapper">
                                            <a href=".modalVideo2" data-gs-vtext="@Model.Categories[ind].Text" data-gs-cta="@Model.Categories[ind].GetStartedCTA" data-gs-url="@Model.Categories[ind].GetStartedUrl" title="Play" class="play" data-src="@Model.Categories[ind].VideoUrl" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Click', eventLabel: '@Model.Categories[ind].Text Video'});"></a>
                                            <svg>
                                                <rect class="outer" rx="20" ry="20" width="64" height="64" />
                                                <rect class="inner" x="7" y="7" rx="16" ry="16" width="50" height="50" />
                                                <path class="triangle" d="M24 20 L48 32 L24 44 L24 20 L48 32" />
                                            </svg>
                                        </div>
                                        }
                                    </div>
                                </div>

                            <div class="content__info pull-left">
                                <h3 class="title @titleCls">
                                    <img src="@Model.Categories[ind].CategoryIcon" alt="">
                                    <span>@Model.Categories[ind].Text</span>
                                </h3>
                                <div class="body_text @bodyCls">
                                    <p>@Html.Raw(Model.Categories[ind].ShortDesc.Trim())</p>
                                </div>
                                @if (!string.IsNullOrEmpty(@Model.Categories[ind].CTA))
                                {
                                <div class="link__wrapper @bodyCls">
                                    @{
                                    string url = (LinkManager.GetItemUrl(Model.Categories[ind].StoriesItem) + "?cat=" + CommonFun.Encode_Decode(Model.Categories[ind].CatItem.Name, "EN"));
                                        }
                                    <a href="@url" title="@Model.Categories[ind].CTA" class="link" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'View programmes', eventLabel: '@Model.Categories[ind].Text'});">@Model.Categories[ind].CTA</a>
                                </div>
                                }
                            </div>
                        </div>
                            }
                        }

                    </div>
                </div>

                <div class="news news--three-col">
                    <h2 class="heading">@Html.Sitecore().Field("Stories Title")</h2>
                    <div class="body_text text-center">
                        <p>@Html.Sitecore().Field("Stories Short Description")</p>
                    </div>
                    <div class="content clearfix">
                         @if (Model != null && Model.Stories.Count > 0)
                         {
                             foreach (var story in Model.Stories)
                             {
                                 
                               <div class="content__wrapper">
                                    <a href="@story.ItemPath" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'View stories', eventLabel: '@story.Title'});">
                                        <div class="wrap-img">
                                            <img src="@story.ThumbnailImage" alt="">
                                        </div>
                                    </a>
                                    <div class="info">
                                        <a href="@story.ItemPath">
                                            <h3 class="title">
                                                <img src="@story.CategoryIconPath" alt="">
                                                <span>@story.Title</span>
                                            </h3>
                                        </a>
                                        @if (!string.IsNullOrEmpty(story.CTA))
                                        {
                                            <div class="link__wrapper">
                                                <a href="@story.ItemPath" title="@story.CTA" class="link" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'View stories', eventLabel: '@story.Title'});">@story.CTA</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                             
                             }
                         }
                    </div>
                </div>
            </section>
            <!-- end section news -->

            <!-- begin section main -->
            <section class="section-main">
                <!-- begin block quotes -->
                <div class="block-quotes">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1">
                                <div class="wrap-quote">
                                    <ul class="list-quote">
                                         @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Quote Name 1").ToString()) || !string.IsNullOrEmpty(@Html.Sitecore().Field("Quote Title 1").ToString()) || !string.IsNullOrEmpty(@Html.Sitecore().Field("Quote Desc 1").ToString()))
                                         {
                                            <li class="item-quote">
                                                <a class="item-link" href="#">
                                                    <figure class="avatar">
                                                       @if (!string.IsNullOrEmpty(Model.Quote.QuoteImg1))
                                                       { 
                                                            <img class="thumb" src="@Model.Quote.QuoteImg1" />
                                                       }
                                                       else
                                                       {
                                                            <img class="thumb" src="/assets/SGCares/images/dummy/avatar-default.jpg" />
                                                       }
                                                        <svg>
                                                            <rect class="inner" rx="50%" ry="50%" width="106" height="106" />
                                                        </svg>
                                                    </figure>
                                                    <figcaption class="info">
                                                        <span class="author-name">@Html.Sitecore().Field("Quote Name 1")</span>
                                                        <span class="author-title">@Html.Sitecore().Field("Quote Title 1")</span>
                                                        <p class="quote">
                                                            @Html.Sitecore().Field("Quote Desc 1")
                                                        </p>
                                                    </figcaption>
                                                </a>
                                            </li>
                                         }
                                        @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Quote Name 2").ToString()) || !string.IsNullOrEmpty(@Html.Sitecore().Field("Quote Title 2").ToString()) || !string.IsNullOrEmpty(@Html.Sitecore().Field("Quote Desc 2").ToString()))
                                        { 
                                            <li class="item-quote">
                                                <a class="item-link" href="#">
                                                    <figure class="avatar">
                                                         @if (!string.IsNullOrEmpty(Model.Quote.QuoteImg2))
                                                         { 
                                                            <img class="thumb" src="@Model.Quote.QuoteImg2" />
                                                         }
                                                         else
                                                         {
                                                            <img class="thumb" src="/assets/SGCares/images/dummy/avatar-default.jpg" />
                                                         }
                                                        <svg>
                                                            <rect class="inner" rx="50%" ry="50%" width="106" height="106" />
                                                        </svg>
                                                    </figure>
                                                    <figcaption class="info">
                                                        <span class="author-name">@Html.Sitecore().Field("Quote Name 2")</span>
                                                        <span class="author-title">@Html.Sitecore().Field("Quote Title 2")</span>
                                                        <p class="quote">
                                                            @Html.Sitecore().Field("Quote Desc 2")
                                                        </p>
                                                    </figcaption>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end block quotes -->
            </section>
            <!-- end section main -->

            <!-- begin section partners -->
            <section class="section-partners">
                <h2 class="heading">@Model.PartnerData.MovementTitle</h2>
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-push-3">
                                <div class="row">
                                    @if (@Model.Movements.Count > 0)
                                    {
                                        foreach (var item in Model.Movements)
                                        {
                                            //string url = !string.IsNullOrEmpty(item.URL) ? item.URL : "javascript:void(0)";
                                            string url = item.URL;
                                            if (!string.IsNullOrEmpty(url) && !url.Contains("javascript"))
                                            {
                                               
                                               <a href="@item.URL" target="_blank">
                                        <div class="col-xs-12 col-sm-6">
                                            <img src="@item.ThumbImage" alt="">
                                        </div>
                                    </a> 
                                            }
                                            else
                                            {
                                                <div class="col-xs-12 col-sm-6">
                                            <img src="@item.ThumbImage" alt="">
                                        </div>
                                            }

                                        }
                                    }
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="btn-toggle expand active" href="#" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Click', eventLabel: 'see our full list of partners'});">
                                    @Model.PartnerData.ExpandText
                                    <img src="/assets/SGCares/images/global/icon-plus-orange.png" />
                                </a>
                                <div class="wrap-collapse-content">
                                    <div class="inner">
                                        <div class="row">
                                            <h3 class="title">@Model.PartnerData.PartnerTitle</h3>
                                            <div class="col-xs-12">
                                                <div class="block-logos">

                                                    @if (Model.Partners != null && Model.Partners.Count > 0)
                                                    {
                                                        foreach (var partner in @Model.Partners)
                                                        {
                                                            //string url = !string.IsNullOrEmpty(partner.PartnerUrl) ? partner.PartnerUrl : "javascript:void(0)";

                                                            string url = partner.PartnerUrl;
                                                            if (!string.IsNullOrEmpty(url) && !url.Contains("javascript"))
                                                            {
                                                                  <a href="@url" target="_blank">
                                                        <div class="wrap-logo">
                                                            <img src="@partner.Image" alt="">
                                                        </div>
                                                    </a>
                                                            }
                                                            else
                                                            {
                                                                 <div class="wrap-logo">
                                                            <img src="@partner.Image" alt="">
                                                        </div>
                                                            }

                                                        }
                                                    }
                                                    
                                                    <!-- <div class="wrap-logo empty"></div>
                                                    <div class="wrap-logo empty"></div> -->
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <a class="btn-toggle collapsed" href="#">
                                                    collapse
                                                    <img src="/assets/SGCares/images/global/icon-minus-orange.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("General Enquiry Title").ToString()) && !string.IsNullOrEmpty(@Html.Sitecore().Field("Email Address").ToString()))
                {
                <p class="text-center">
                    <span>@Html.Sitecore().Field("General Enquiry Title"):</span><text> Send your enquiries to </text><a href="mailto:@Html.Sitecore().Field("Email Address")" title="@Html.Sitecore().Field("Email Address")" onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Click', eventLabel: 'general enquiries'});">@Html.Sitecore().Field("Email Address")</a>
                </p>
                }
            </section>
            <!-- end section partners -->
        </div>
    @*  <!-- START Sticky Pledge  -->
        <div class="pledge-sticky">
            <span class="close"><img src="/assets/SGCares/images/btn-white-close.png" /></span>
            <h4>SG Care Meter</h4>
            <p>Join us in making Singapore a more caring society.</p>
            <a href="/singaporecares"><img src="/assets/SGCares/images/pledge-now-btn.png" /></a>
        </div>
        <!-- END Sticky Pledge  -->*@
        <a class="btn-back-top" href="javascrip:;"></a>

    <div class="wrap-modal">
    <div role="dialog" class="modal fade modal-fullscreen style-video-2 modalVideo2">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-body">
                    @*<iframe width="560" height="315" data-src="https://www.youtube.com/embed/zWouunPUDVc" src="" frameborder="0" allowfullscreen></iframe>*@
                    <div id="player" class="YTTrack"></div>
                    <br />
                    <div class="wrap-button">
                        <div class="button__wrapper get-started-need">
                            <a class="button" target="_blank"  href="#" title="link" ></a>
                           <svg>
                                    <rect class="outer" rx="12" ry="12" width="180" height="44" />
                                    <rect class="inner" x="4" y="4" rx="10" ry="10" width="172" height="36" />
                                </svg>
                        </div>
                        <div class="button__wrapper">
                            <a class="button" data-dismiss="modal" href="javascript:void(0);" title="close" onclick="ga('send','event',{eventCategory: 'SGCares Homepage', eventAction: 'Close', eventLabel: 'top banner video'})">CLOSE</a>
                           <svg>
                                    <rect class="outer" rx="12" ry="12" width="180" height="44" />
                                    <rect class="inner" x="4" y="4" rx="10" ry="10" width="172" height="36" />
                                </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

     <!-- [begin pledge overlay]-->
    <div class="pledge-overlay-wrapper">
        <div id="pledge-overlay" class="pledge-overlay-content">
            <img src="/assets/SGCares/images/pledge-overlay-masthead.png" />
            <div class="pledge-form">
                <div class="pledge-form-con">
                    <p>Keep in touch with us for the latest events, movements and activities</p>
                    <form name="frmPledge" id="frmPledge" data-parsley-validate="" data-parsley-errors-container="#error-sms">
                        <div id="error-sms"></div>
                        <div>
                            <input type="text" name="txtName" id="txtName" placeholder="Your name" data-parsley-pattern="/^([^0-9]*)$/" data-parsley-required-message="Please fill in your name." data-parsley-pattern-message="Please check to ensure your name does not include any numbers" required /></div>

                        <div>
                            <input type="email" name="txtEmail" id="txtEmail" placeholder="Your email address" data-parsley-required-message="Please fill in your email address." data-parsley-error-message="Your email is not valid." required /></div>

                        <div class="pledge-check">
                            <input type="checkbox" name="chkAgree" id="chkAgree" class="css-checkbox" data-parsley-required-message="Please agree to the terms and conditions." required />
                            <label for="chkAgree" class="css-label">I agree to receive news and information from Ministry of Culture, Community and Youth and its partners</label></div>

                        <div class="button__wrapper btn-full-width">
                            <button type="submit">Submit</button>
                           
                            <!-- <a class="button--read-more collapsed" title="Read more" role="button" data-toggle="collapse" href="#collapseContentFuture" aria-expanded="false" aria-controls="collapseExample">SUBMIT</a> -->
                            <svg class="hidden-xs">
                                <rect class="outer-orange" rx="12" ry="12" width="445" height="45" />
                                <rect class="inner-orange" x="4" y="4" rx="10" ry="10" width="437" height="37" />
                            </svg>
                            <svg class="show-xs">
                                <rect class="outer-orange" rx="12" ry="12" width="280" height="45"></rect>
                                <rect class="inner-orange" x="4" y="4" rx="10" ry="10" width="272" height="37"></rect>
                            </svg>
                        </div>
                    </form>
                </div>

                <a href="#">Skip this step</a>
                @{
                    string initValue = Convert.ToString(Html.Sitecore().Field("Pledge Intial Value"));
                    int initCount = !string.IsNullOrEmpty(initValue) ? Convert.ToInt32(initValue) : 0;
                    }

                 <input type="hidden" id="init-value" value="@initValue" />
                <input type="hidden" id="pledge-count" value="@Model.PledgeCount" />

               
                <!-- <a class="button--read-more collapsed" title="Read more" role="button" data-toggle="collapse" href="#collapseContentFuture" aria-expanded="false" aria-controls="collapseExample">SUBMIT</a>
                <svg class="hidden-xs">
                    <rect class="outer" rx="12" ry="12" width="450" height="45" />
                    <rect class="inner" x="4" y="4" rx="10" ry="10" width="44" height="39" />
                </svg> -->
            </div>
        </div>
    </div>

    <!-- [end pledge overlay]-->
    </main>
<!-- main -->

<script type="text/javascript">
    $(function () {

        $('.section-future .row p:empty').remove();

        function QuotesHide() {
            if ($('.list-quote').find('li').length > 0)
                $('.block-quotes').show();
            else
                $('.block-quotes').remove();
        }

        QuotesHide();

        $('.maintenance span i').click(function () { $(this).parent().parent().remove(); })

        $('.btn-pledge').click(function () {
            var pledgeName = $('.wrap-pledge-options').find('li.active').text()
            ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Pledge now', eventLabel: pledgeName });
        });

        $('.pledgeSubmit').click(function () {
            var pledgeName = $('.wrap-pledge-options').find('li.active').text()
            ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Submit', eventLabel: pledgeName });
        });
    })

    var player, player1, player2, player3, player4;
    var gsVideoName = "";
    function onYouTubeIframeAPIReady(playerContainer, _gsVideoName, _videoId) {
        gsVideoName = _gsVideoName;
        player = new YT.Player(playerContainer, {
            height: '315',
            width: '560',
            videoId: _videoId,
            events: { 'onStateChange': onPlayerStateChange }
        });
    }

    function onPlayerStateChange(event) {
        var EventType = "";
        EventType = event.data == YT.PlayerState.PLAYING ? "Play" : EventType;
        EventType = event.data == YT.PlayerState.PAUSED ? "Pause" : EventType;
        EventType = event.data == YT.PlayerState.ENDED ? "Finished" : EventType;
        if (EventType != "") {
            // console.log(EventType);
            // console.log(gsVideoName);
            ga('send', 'event', 'SGCares Homepage', EventType, gsVideoName);
        }
    }

</script>
