﻿@model  SGCare.Models.Stories

@using Sitecore.Links;

@{
    ViewBag.Title = "Singapore Cares :: Stories List";
    Layout = null;
}

<main class="page page-stories">
     @*<div class="maintenance"><span><i class="fa fa-close"></i>Our website will undergo scheduled maintenance from 24 april 3pm - 25 april 3am. We apologise for any inconvenience caused.</span></div>*@
        <div class="container-fluid">
            <!-- begin section hero -->
            <section class="section-hero">
                <div class="wrap-hero">
                       <img class="bg-thumb hidden-xs" src="@Model.ListDeskImg" />
                    <img class="bg-thumb visible-xs" src="@Model.ListMobImg" />

                    @if (!string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("Page Title").ToString())))
                    {
                     <h1 class="hero-text"><span>@Convert.ToString(Html.Sitecore().Field("Page Title").ToString())</span></h1>
                    }

                </div>
            </section>
            <!-- end section hero -->

            <!-- begin section news -->
            <section class="section-news">
                <div class="news news--two-col">
                     @if (!string.IsNullOrEmpty(Convert.ToString(Html.Sitecore().Field("Introduction").ToString())))
                     {
                    <div class="body_text text-center">
                        <p>
                       @Html.Sitecore().Field("Introduction")
                            </p>
                    </div>
                     }
                    <div class="block-filter body-text text-center">
                        <a href="#"><span><img src="/assets/SGCares/images/icon_filter.png" /></span> Filter by</a>
                    </div>
                        <!-- code comment by us-->
                     <div class="block-filter-wrapper">
                        <div class="block-filter-body body-text">
                            <a href="#"><img src="/assets/SGCares/images/btn-close.png" /></a>
                            <div class="filter-options">
                                <div class="filter-cause">
                                    <h6>Cause</h6>
                                    @for (int index = 0; index < Model.ListCategories.Count; index++)
                                    {
                                        var count = @index + 1;
                                    <input type="checkbox" data-value="@Model.ListCategories[index].CatItem.Name.Trim()" id="@count" class="css-checkbox" /> <label for="@count" class="css-label">@Model.ListCategories[index].Text.Trim()</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content__wrapper clearfix">
                            <input type="hidden" id="storiescount" value="@Model.ListStories.Count" />
                            @if (Model != null && Model.ListStories.Count > 0)
                            {
                                for (var ind = 0; ind < Model.ListStories.Count; ind++)
                                {
                                    string cls = string.Empty, titleCls = string.Empty, bodyCls = string.Empty;

                                    if (ind % 2 == 0)
                                    {
                                        cls = "pull-left";
                                    }

                                    else { cls = "pull-right"; titleCls = "text-right text-xs-left"; bodyCls = "text-right"; }
                            
                            <div class="content__img @cls">
                                <div class="wrap-video">
                                  
                                    <img src="@Model.ListStories[ind].ThumbnailImage" alt="">
                                    @if (!string.IsNullOrEmpty(Model.ListStories[ind].VideoUrl) && Model.ListStories[ind].VideoUrl != "javascript:void(0)")
                                    {
                                   <div class="video-play-wrapper">
                                        <a href=".modalVideo2"  data-gs-cta="@Model.ListStories[ind].GetStartedCTA" data-gs-url="@Model.ListStories[ind].GetStartedUrl" title="Play" class="play" data-src="@Model.ListStories[ind].VideoUrl"></a>
                                        <svg>
                                            <rect class="outer" rx="20" ry="20" width="64" height="64" />
                                            <rect class="inner" x="7" y="7" rx="16" ry="16" width="50" height="50" />
                                            <path class="triangle" d="M24 20 L48 32 L24 44 L24 20 L48 32" />
                                        </svg>
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="content__info pull-left">
                                <h3 class="title @titleCls">
                                    <img src="@Model.ListStories[ind].CategoryIconPath" alt="">
                                   
                                    <span>@Model.ListStories[ind].Title</span>
                                </h3>
                                <div class="body_text @bodyCls">
                                 <p>@Html.Raw(Model.ListStories[ind].ShortDesc)</p>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.ListStories[ind].CTA))
                                {
                                    <div class="link__wrapper @bodyCls">
                                        <a href="@Model.ListStories[ind].ItemPath" title="@Model.ListStories[ind].CTA" class="link" onclick="ga('send', 'event', { eventCategory: 'SGCares Stories', eventAction: 'View story', eventLabel: '@Model.ListStories[ind].Item.Name'});">@Model.ListStories[ind].CTA</a>
                                    </div>
                                }
                            </div>
                                }
                            }
                        </div>
                      
                    </div>
                </div>
                <!--begin paging-->
                <div class="wrap-paging">
                     @if (Model.PageCount > 5)
                     { 
                	    <a class="page-link prev" href="javascript:void(0);">
                		    <span>prev</span>
                	    </a>
                     }
                	<div class="page-links">
                		<div class="wrap-inner">
                              @for (int index = 1; index <= Model.PageCount; index++)
                              {
                                  string active = index == 1 ? "active" : string.Empty;
                              
                			    <a class="page-link @active" data-page="old-page" href="javascript:void(0);">
                				    <span class="outer">
                					    <span class="innter">@index</span>
                				    </span>
                			    </a>
                              }
                		</div>
                	</div>
                      @if (Model.PageCount > 5)
                      { 
                	    <a class="page-link next" href="javascript:void(0);">
                		    <span>next</span>
                	    </a>
                      }
                </div>
                <!--end paging-->
            </section>
            <!-- end section news -->
        </div>
        <a class="btn-back-top" href="javascrip:;"></a>

    @* for youtube popup *@
    <div class="wrap-modal">
    <div role="dialog" class="modal fade modal-fullscreen style-video-2 modalVideo2">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-body">
                    @*<iframe width="560" height="315" data-src="https://www.youtube.com/embed/d9H0i4V9eAc" src="" frameborder="0" allowfullscreen></iframe>*@
                    <div id="player" class="YTTrack"></div>
                    <div class="wrap-button">
                        <div class="button__wrapper get-started">
                            <a class="button" target="_blank" href="#" title="link"></a>
                            <svg>
                                <rect class="outer" rx="12" ry="12" />
                                <rect class="inner" x="4" y="4" rx="10" ry="10" />
                            </svg>
                        </div>
                        <div class="button__wrapper">
                            <a class="button" data-dismiss="modal" href="javascript:void(0);" title="close">CLOSE</a>
                            <svg>
                                <rect class="outer" rx="12" ry="12" />
                                <rect class="inner" x="4" y="4" rx="10" ry="10" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
<!-- main -->

@* Hidden Story content for Dynamic purpose *@
<div class="hidenStory" style="display: none">
    <div class="content__img">
        <div class="wrap-video">
            <img src="#" alt="">
            <div class="video-play-wrapper">
                <a href=".modalVideo2" title="Play" class="play"></a>
                <svg>

                    <rect class="outer" rx="20" ry="20" width="64" height="64"></rect>
                    <rect class="inner" x="7" y="7" rx="16" ry="16" width="50" height="50"></rect>
                    <path class="triangle" d="M24 20 L48 32 L24 44 L24 20 L48 32"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="content__info pull-left">
        <h3 class="title">
            <img src="#" alt="">

            <span></span>
        </h3>
        <div class="body_text">
            <p></p>
        </div>
        <div class="link__wrapper">
            <a href="javascript:void(0)" title="View Story" class="link">View Story</a>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        var str = '', ajaxUrl = '/SGCare/SGCaresAjax.aspx/GetStories';

        $('.nav-item.last').addClass('active');
        //var position = $('.section-hero').height() + $('.news').find('.body_text').height() + $('.news').find('.block-filter').outerHeight();

        /* Filter items in Checkbox Change Event */
        function FilterCause(ctrlItemID) {
            if ($(ctrlItemID).length) {

                $(ctrlItemID).find('input[type=checkbox]').change(function () {
                    var position = $('.section-hero').height() + $('.news').find('.body_text').height() + $('.news').find('.block-filter').outerHeight();

                    $('body,html').animate({ scrollTop: position + 400 }, 1500); str = '';
                    var checkedCBs = $(ctrlItemID).find('input[type=checkbox]:checked');

                    checkedCBs.each(function () {
                        str += str == '' ? $(this).data('value') : ',' + $(this).data('value');
                    });

                    /* Calling 'GetStories' function when we click on Checkbox */
                    GetStories(str, 0);
                });
            } else { return false; }
        }

        FilterCause('.filter-cause');

        /* GA Tracking for Open Menu */
        function OpenMenuGA(ctrlId) {
            if ($(ctrlId).length > 0) {
                $(ctrlId).click(function () {
                    if ($(this).attr('class') == 'nice-select') {
                        ga('send', 'event', { eventCategory: 'SGCares Stories', eventAction: 'Drop down menu', eventLabel: 'open menu' });
                    }
                });
            } else { return false; }
        }

        OpenMenuGA('.nice-select');

        /* Get Stories */
        function GetStories(catName, skipCount) {
            try {
                $.ajax({
                    type: "post", url: ajaxUrl, data: "{catName:'" + catName + "', skipNumber:'" + skipCount + "'}", dataType: "json", contentType: 'application/json; charset=utf-8', cache: false,
                    success: function (data) {
                        $('.content__wrapper.clearfix').html('');
                        if (data.d.length > 0) {

                            for (var index = 0; index < data.d.length; index++) {
                                Bind_Story_Content('.hidenStory', data.d[index], index);

                                if (index == 0)
                                    Set_Pagination(data.d[index].PageCount, '.wrap-paging', '.wrap-inner');
                            } Get_Stories_Paging('.wrap-paging a');
                        } else {
                            Set_Pagination(0, '.wrap-paging', '.wrap-inner');
                            $('.content__wrapper.clearfix').html('<div class="no-items"><img src="/assets/SGCares/images/files-ic.png"/><br/><br/>No Items found.</div>');
                            return false;
                        }
                        SGF.main.initModal();
                    }, error: function (err) { console.log('err'); console.log(err); }, fail: function (fail) { console.log('fa'); console.log(err); }
                });
            } catch (exce) { throw exce; }
        }

        FilterCause('.list li'); Get_Stories_Paging('.wrap-inner a');

        /* Get Items in Paging click event */
        function Get_Stories_Paging(ctrlId) {
            $(ctrlId).click(function () {
                var position = $('.section-hero').height() + $('.news').find('.body_text').height() + $('.news').find('.block-filter').outerHeight();

                try {
                    if ($(this).hasClass('active')) {
                        return false;
                    } else {
                        var skipCnt = parseInt($(this).find('.innter').text().trim()) * 4 - (1 * 4), catName = str;

                        $.ajax({
                            type: "post", url: ajaxUrl, data: "{'catName':'" + catName + "', 'skipNumber':'" + skipCnt + "'}", dataType: "json", contentType: 'application/json; charset=utf-8', cache: false,
                            success: function (data) {
                                $('.content__wrapper.clearfix').html('');

                                if (data.d.length > 0) {
                                    for (var index = 0; index < data.d.length; index++) {
                                        Bind_Story_Content('.hidenStory', data.d[index], index);
                                    }
                                }
                                if ($('.block-filter-wrapper').is(':visible')) position = position + 335; else position = position + 25;

                                $('body,html').animate({ scrollTop: position }, 1500);
                                SGF.main.initModal();

                            }, error: function (err) { console.log(err); }, fail: function (fail) { console.log(fail); }
                        });
                    }
                } catch (ex) { throw ex; }
            });
        }

        /* Place data in controls and append to DOM */
        function Bind_Story_Content(ctrlId, item, ind) {
            if ($(ctrlId).length > 0 && item != null) {

                var mainDiv = $(ctrlId), leftCls = '', rightCls = '';

                if (parseInt(ind) % 2 == 0) {
                    leftCls = 'pull-left';
                    mainDiv.find('.content__img').attr('class', 'content__img').addClass(leftCls);
                } else {
                    rightCls = 'text-right';
                    mainDiv.find('.content__img').attr('class', 'content__img').addClass('pull-right')
                }

                var _media = mainDiv.find('.content__img .wrap-video');
                _media.find('img').attr('src', item.ThumbnailImage);

                if (item.VideoUrl != "javascript:void(0)") {
                    _media.find('.video-play-wrapper').show();
                    _media.find('a').attr({ 'data-src': item.VideoUrl, 'data-gs-cta': item.GetStartedCTA, 'data-gs-url': item.GetStartedUrl, 'data-gs-vtext': '' });

                }
                else {
                    _media.find('.video-play-wrapper').hide();
                }

                var _info = mainDiv.find('.content__info');
                _info.find('.title').attr('class', 'title').addClass(rightCls).find('img').attr('src', item.CategoryIconPath);
                _info.find('.title').find('span').text(item.Title);
                _info.find('.body_text').attr('class', 'body_text').addClass(rightCls).html(item.ShortDesc);

                if (item.CTA.trim() != '') {
                    _info.find('.link__wrapper').show();
                    _info.find('.link__wrapper').attr('class', 'link__wrapper').addClass(rightCls).find('a').
                        attr({ 'href': item.ItemPath, 'title': item.CTA, 'onclick': "ga('send', 'event', { eventCategory: 'SGCares Stories', eventAction: 'View story', eventLabel: '" + item.Title + "'});" }).text(item.CTA);
                } else {
                    _info.find('.link__wrapper').hide();
                }

                $('.content__wrapper.clearfix').append(mainDiv.html());
                //window.scrollTo(0, 500);


            }
            else { return false; }
        }

        function Set_Pagination(count, parentCtrl, childCtrl) {
            if ($(parentCtrl).length > 0 && $(childCtrl).length > 0) {
                if (count > 0) {
                    $(parentCtrl).show(); $(childCtrl).html('');

                    for (var page = 1; page <= count; page++) {
                        var cls = '';
                        cls = page == 1 ? 'active' : '';
                        var pageHtml = "<a class='page-link " + cls + "' data-page='old-page' href='javascript:void(0);'><span class='outer'><span class='innter'>" + page + "</span></span></a>";
                        $(childCtrl).append(pageHtml);

                        if (count > 5) { $('.prev,.next').show(); } else $('.prev,.next').hide();
                    }
                } else { $(parentCtrl).hide(); }
            } else { return false; }
        }
      
    })

    var player, player1, player2, player3, player4;
    var gsVideoName = "";
    function onYouTubeIframeAPIReady(playerContainer, _gsVideoName, _videoId) {
        gsVideoName = _gsVideoName;
        player = new YT.Player(playerContainer, {
            height: '315',
            width: '560',
            videoId: _videoId,
            events: { 'onStateChange': onPlayerStateChange }

        });

    }
</script>
