﻿@model SGCare.Models.Header

@{
    Layout = null;
}

<header class="clearfix">
    <div class="menuIcon pullLeft">
        <span class="iconLine"></span>
        <span class="iconLine"></span>
        <span class="iconLine"></span>
    </div>

    <div class="logo pullLeft">
        <a href="/sec">
            <img src="@Model.Logo" alt=""></a>
    </div>
    <div class="guidelines pullRight">
        <a href="#">@Model.DownloadLogoCTA
        <img src="@Model.DownloadIconImg" alt=""></a>
    </div>
    <div class="menuMain">
        <div class="menu">
            <ul>
                <li><a href="event-listing.html">@Model.Menu[0]</a></li>
                <li><a href="story-listing.html">@Model.Menu[1]</a></li>
                <li><a href="http://www.sg/sgfuture" target="_blank">@Model.Menu[2]</a></li>
                <li><a href="#" target="_blank">@Model.Menu[3]</a></li>
                <li><a href="http://www.sg/sg50" target="_blank">@Model.Menu[4]</a></li>
                <li class="guidelinesMob"><a href="#">@Model.DownloadLogoCTA</a></li>
            </ul>
        </div>
    </div>
</header>

<script type="text/javascript">

    alert('@Model.Logo');
</script>
