﻿@model SGCare.Models.Home
@{
    Layout = null;
}

<section class="sgSpirit">
    <div class="maintenance"><span><i class="fa fa-close"></i>Our website will undergo scheduled maintenance from 24 april 3pm - 25 april 3am. We apologise for any inconvenience caused.</span></div>
    <!-- <div class="mainWraper">
		<h4>Our Singapore Spirit</h4>
		<p>The Singapore spirit lives in all of us.<br>
			In the things we do and the unique ways in which we do them.</p>
		<p class="readMoreCon">And as we move towards our future, it’s this spirit that
			will carry us forward. In order to create a Singapore where
			each of us has a voice, the Singapore spirit has to be the guiding
			force behind all the choices we make.</p>
		<div class="readMore"><a>Read more <i class="fa fa-angle-down"></i></a></div>
		<div class="collapse"><a>Collapse <i class="fa fa-angle-up"></i></a></div>
	</div> -->
</section>
<div class="accordionSlide clearfix">
    <ul>
        <li class="active">
            <a href="#" target="_blank">
                <img src="/assets/sgcalendar/images/accordion1.jpg" alt="" class="deskImg">
                <img src="/assets/sgcalendar/images/accordion1-mob.jpg" alt="" class="mobImg">
                <div class="accordionCon">
                    <h3>SGfuture</h3>
                    <p>
                        Making tomorrow brighter than today.<br>
                        This is our legacy.
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <img src="/assets/sgcalendar/images/accordion2.jpg" alt="" class="deskImg">
                <img src="/assets/sgcalendar/images/accordion2-mob.jpg" alt="" class="mobImg">
                <div class="accordionCon">
                    <h3>OUR
                            <br>
                        SINGAPORE
                            <br>
                        FUND</h3>
                    <p>
                        Making tomorrow brighter than today.<br>
                        This is our legacy.
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <img src="/assets/sgcalendar/images/accordion3.jpg" alt="" class="deskImg">
                <img src="/assets/sgcalendar/images/accordion3-mob.jpg" alt="" class="mobImg">
                <div class="accordionCon">
                    <h3>OUR
                            <br>
                        PEOPLE</h3>
                    <p>
                        Making tomorrow brighter than today.<br>
                        This is our legacy.
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>
<!-- Section calendar -->
<div class="section section-calendar">
    <h2 class="section-heading">FEATURED STORIES</h2>
    <p class="section-desc">Our city is abuzz with all types of events for every kind of Singaporean. Here are some highlights.</p>
    <div class="wrap-calendar">
        <!-- block event loop -->
        <div class="block-event" data-img="/assets/sgcalendar/images/calendar/event-detail-large.jpg">
            <a class="inner" href="javascript:void(0);">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/block-event-img-1.jpg" />
                    <span class="tag">Free</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year hide-small">JAN '17</div>
                            <div class="year show-small">JAN</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">The Marketplace, Future of Us Exhibition, Gardens by the Bay</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="block-event" data-img="/assets/sgcalendar/images/calendar/event-detail-large.jpg">
            <a class="inner" href="javascript:void(0);">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/block-event-img-2.jpg" />
                    <span class="tag">Free</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year hide-small">JAN '17</div>
                            <div class="year show-small">JAN</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">The Marketplace, Future of Us Exhibition, Gardens by the Bay</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="block-event" data-img="/assets/sgcalendar/images/calendar/event-detail-large.jpg">
            <a class="inner" href="javascript:void(0);">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/block-event-img-3.jpg" />
                    <span class="tag">Free</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year hide-small">JAN '17</div>
                            <div class="year show-small">JAN</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">The Marketplace, Future of Us Exhibition, Gardens by the Bay</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="block-event" data-img="/assets/sgcalendar/images/calendar/event-detail-large.jpg">
            <a class="inner" href="javascript:void(0);">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/block-event-img-4.jpg" />
                    <span class="tag">Free</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year hide-small">JAN '17</div>
                            <div class="year show-small">JAN</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">The Marketplace, Future of Us Exhibition, Gardens by the Bay</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="block-event" data-img="/assets/sgcalendar/images/calendar/event-detail-large.jpg">
            <a class="inner" href="javascript:void(0);">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/block-event-img-5.jpg" />
                    <span class="tag">Free</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year hide-small">JAN '17</div>
                            <div class="year show-small">JAN</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">The Marketplace, Future of Us Exhibition, Gardens by the Bay</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="block-event" data-img="/assets/sgcalendar/images/calendar/event-detail-large.jpg">
            <a class="inner" href="javascript:void(0);">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/block-event-img-6.jpg" />
                    <span class="tag">Free</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year hide-small">JAN '17</div>
                            <div class="year show-small">JAN</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">The Marketplace, Future of Us Exhibition, Gardens by the Bay</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="block-event" data-img="/assets/sgcalendar/images/calendar/event-detail-large.jpg">
            <a class="inner" href="javascript:void(0);">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/block-event-img-7.jpg" />
                    <span class="tag">Free</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year hide-small">JAN '17</div>
                            <div class="year show-small">JAN</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">The Marketplace, Future of Us Exhibition, Gardens by the Bay</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="block-event block-more">
            <div class="inner">
                <img class="bg" src="/assets/sgcalendar/images/calendar/block-event-more-bg.jpg" />
                <a href="event-listing.html" class="link-more">
                    <span class="content">
                        <span>View more</span>
                        <ul class="anim-loader">
                            <li class="circle"></li>
                            <li class="circle"></li>
                            <li class="circle"></li>
                        </ul>
                    </span>
                </a>
            </div>
        </div>
        <!-- end block event loop -->
    </div>
</div>
<hr class="section-end" />
<!-- End Section calendar -->
<div class="featuredStoriesSection clearfix">
    <h2>Featured Stories</h2>
    <div class="storiesMain clearfix">
        <div class="storyRow clearfix">
            <div class="story50">
                <div class="storyCell">
                    <img src="/assets/sgcalendar/images/story1.jpg" alt="">
                    <div class="storyCon">
                        <span class="date">03 Mar 2016</span>
                        <h3>Celebrating
                                <br>
                            Lifelong Learning</h3>
                        <a href="#">Profile</a>
                    </div>
                    <div class="storyInnerMain">
                        <div class="storyInnerCon">
                            <p>SGfuture is a new citizen engagement series to provide Singaporeans with a platform to come together to share their views, aspirations and ideas for the future.</p>
                            <a href="article.html">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <a href="article.html" class="storyInnerLink"></a>
                    </div>
                </div>
            </div>
            <div class="story50">
                <div class="storyRow clearfix">
                    <div class="story50">
                        <div class="storyCell">
                            <img src="/assets/sgcalendar/images/story2.jpg" alt="">
                            <div class="storyCon">
                                <span class="date">03 Mar 2016</span>
                                <h3>Future Of Play</h3>
                                <a href="#">Profile</a>
                            </div>
                            <div class="storyInnerMain">
                                <div class="storyInnerCon">
                                    <p>SGfuture is a new citizen engagement series.</p>
                                    <a href="article.html">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                                <a href="article.html" class="storyInnerLink"></a>
                            </div>
                        </div>
                    </div>
                    <div class="story50">
                        <div class="storyCell">
                            <img src="/assets/sgcalendar/images/story3.jpg" alt="">
                            <div class="storyPlay">
                                <img src="/assets/sgcalendar/images/story3-icon.png" alt="">
                                <h3>Listen to
                                        <br>
                                    OUR Playlist</h3>
                                <a href="#">
                                    <img src="/assets/sgcalendar/images/play-icon.png" alt=""></a>
                            </div>
                            <a href="article.html" class="storyInnerLink"></a>
                        </div>
                    </div>
                </div>
                <div class="storyCell">
                    <img src="/assets/sgcalendar/images/story4.jpg" alt="">
                    <div class="storyCon">
                        <span class="date">03 Mar 2016</span>
                        <h3>Bringing Total
                                <br>
                            Defence To Life!</h3>
                        <a href="#">Profile</a>
                    </div>
                    <div class="storyInnerMain">
                        <div class="storyInnerCon">
                            <p>SGfuture is a new citizen engagement series to provide Singaporeans with a platform to come together to share their views, aspirations and ideas for the future.</p>
                            <a href="article.html">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <a href="article.html" class="storyInnerLink"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="storyRow clearfix">
            <div class="story25">
                <div class="storyCell">
                    <img src="/assets/sgcalendar/images/story5.jpg" alt="">
                    <div class="storyCon">
                        <span class="date">03 Mar 2016</span>
                        <h3>What We Can Do To Keep Singapore Safe And Strong</h3>
                        <a href="#">Profile</a> <a href="#">SG FUND</a>
                    </div>
                    <div class="storyInnerMain">
                        <div class="storyInnerCon">
                            <p>SGfuture is a new citizen engagement series.</p>
                            <a href="article.html">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <a href="article.html" class="storyInnerLink"></a>
                    </div>
                </div>
            </div>
            <div class="story25 last">
                <div class="storyCell">
                    <img src="/assets/sgcalendar/images/story7.jpg" alt="">
                    <div class="storyCon">
                        <span class="date">03 Mar 2016</span>
                        <h3>Smart Communities</h3>
                        <a href="#">Profile</a>
                    </div>
                    <div class="storyInnerMain">
                        <div class="storyInnerCon">
                            <p>SGfuture is a new citizen engagement series.</p>
                            <a href="article.html">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <a href="article.html" class="storyInnerLink"></a>
                    </div>
                </div>
            </div>
            <div class="story50">
                <div class="storyCell">
                    <img src="/assets/sgcalendar/images/story6.jpg" alt="">
                    <div class="storyCon">
                        <span class="date">03 Mar 2016</span>
                        <h3>Water For
                                <br>
                            Future Generation</h3>
                        <a href="#">Profile</a> <a href="#">SG FUND</a>
                    </div>
                    <div class="storyInnerMain">
                        <div class="storyInnerCon">
                            <p>SGfuture is a new citizen engagement series to provide Singaporeans with a platform to come together to share their views, aspirations and ideas for the future.</p>
                            <a href="article.html">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <a href="article.html" class="storyInnerLink"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="storyRow clearfix">
            <div class="story50">
                <div class="storyCell">
                    <img src="/assets/sgcalendar/images/story8.jpg" alt="">
                    <div class="storyCon">
                        <span class="date">03 Mar 2016</span>
                        <h3>Future of Giving</h3>
                        <a href="#">Profile</a>
                    </div>
                    <div class="storyInnerMain">
                        <div class="storyInnerCon">
                            <p>SGfuture is a new citizen engagement series to provide Singaporeans with a platform to come together to share their views, aspirations and ideas for the future.</p>
                            <a href="article.html">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <a href="article.html" class="storyInnerLink"></a>
                    </div>
                </div>
            </div>
            <div class="story50">
                <div class="storyCell">
                    <img src="/assets/sgcalendar/images/story9.jpg" alt="">
                    <div class="storyCon">
                        <span class="date">03 Mar 2016</span>
                        <h3>Lorem Ipsum Dolor
                                <br>
                            Sit Amet</h3>
                        <a href="#">Profile</a>
                    </div>
                    <div class="storyInnerMain">
                        <div class="storyInnerCon">
                            <p>SGfuture is a new citizen engagement series to provide Singaporeans with a platform to come together to share their views, aspirations and ideas for the future.</p>
                            <a href="article.html">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <a href="article.html" class="storyInnerLink"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="story-listing.html" class="seeMoreStories">See more stories
		<ul class="anim-loader">
            <li class="circle"></li>
            <li class="circle"></li>
            <li class="circle"></li>
        </ul>
    </a>
</div>
<div class="revisit">
    <div class="revisitImg"></div>
    <h4>Revisit SG50</h4>
    <p>A tribute to 5 decades of vision hard work, and achievement.</p>
    <a href="http://www.sg/sg50" target="_blank">Find out more</a>
</div>

<!-- Download Popup -->
<div class="downloadPopupWraper" id="downloadGuides">
    <div class="downloadPopupContainer">
        <div class="inner">
            <div class="downloadHeader">
                <p>
                    <a href="javascript:void(0);"></a>
                </p>
            </div>
            <div class="downloadCon">
                <h1>Our singapore spirit</h1>
                <br />
                <br />
                <img src="/assets/sgcalendar/images/ovelay-logo.png" alt="">
                <p class="note">
                    <i>The Singapore spirit lives in all of us.<br />
                        In the things we do and the unique ways in which we do them.<br />
                        <br />
                        And as we move towards our future,<br />
                        it’s this spirit that will carry us forward.
                    </i>
                </p>
                <p>As a symbol of the shared values and aspirations that bind us as a nation, we created the SG logo. We encourage all who would like to identify with the Singapore Spirit to use the logo.</p>
                <p>Please note that use of the SG logo does not imply endorsement of any event, product or service. We hope that you will treat the SG logo with dignity and respect, and in accordance with Singapore laws. </p>
                <p>Lastly, we recommend that you only use SG logo files downloaded from this website.</p>
                <div class="downloadBTN"><a href="#">Download SG Logo and Usage Guide</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Download Popup -->

<!-- Detail Event Popup -->
<div class="eventDetailPopupWraper" id="eventDetail">
    <div class="eventDetailPopupContainer">
        <div class="inner">
            <div class="eventDetailHeader">
                <a href="javascript:void(0);"></a>
            </div>
            <div class="eventDetailHeaderMobile">
                <a href="javascript:void(0);" class="close">
                    <i class="fa fa-angle-left"></i>
                </a>
                <div class="wrap-social">
                    <ul class="list">
                        <li class="item">
                            <a href="whatsapp://send?text=Text!" data-action="share/whatsapp/share" class="whatsapp">
                                <img src="/assets/sgcalendar/images/calendar/icon-whatsapp.png" />
                            </a>
                        </li>
                        <li class="item">
                            <a href="http://www.facebook.com/share.php?u=www.sg" target="_blank" class="facebook">
                                <img src="/assets/sgcalendar/images/calendar/icon-facebook.png" />
                            </a>
                        </li>
                        <li class="item">
                            <a href="mailto:" class="mail">
                                <img src="/assets/sgcalendar/images/calendar/icon-mail.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="eventDetailCon">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/event-detail-large.jpg" />
                    <span class="tag">Free Apply</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year">JAN</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">
                                The Marketplace, Future of Us Exhibition, Gardens by the Bay
								<a href="https://www.google.com/maps" target="_blank" class="link">View on Google Maps</a>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-clear"></div>
                    <div class="content">
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                        <a href="http://www.loremipsum.com" target="_blank" class="link">www.loremipsum.com</a>
                    </div>
                    <div class="wrap-social">
                        <ul class="list">
                            <li class="item">
                                <a href="http://www.facebook.com/share.php?u=www.sg" target="_blank" class="facebook">
                                    <img src="/assets/sgcalendar/images/calendar/icon-facebook.png" />
                                </a>
                            </li>
                            <li class="item">
                                <a href="mailto:" class="mail">
                                    <img src="/assets/sgcalendar/images/calendar/icon-mail.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="eventDetailFooter">
                <p class="note">Got a similar event?</p>
                <p class="desc">Get it listed <a href="mailto:" class="link">here</a> by sending us your event details.</p>
                <a href="#" class="link">Terms and conditions apply.</a>
            </div>
        </div>
    </div>
</div>
<!-- End Detail Event Popup -->

<script src="/assets/sgcalendar/scripts/calendar.js"></script>
<script>
    $(document).ready(function () {
        /*$('.storyCon').on('touchstart', function (e) {
                'use strict';
                var link = $(this);
                if (link.hasClass('hover')) {
                    return true;
                } else {
                    link.addClass('hover');
                    $('.storyCon').not(this).removeClass('hover');
                    e.preventDefault();
                    return false;
                }
            });*/
        $('.sgSpirit .readMoreCon').fadeOut();
        $('.sgSpirit .collapse').fadeOut();
        $('.menu').fadeOut();
        $('.sgSpirit .readMore a').click(function () {
            $('.sgSpirit .readMoreCon').slideToggle(300);
            $('.sgSpirit .collapse').show();
            $('.sgSpirit .readMore').hide();
        });
        $('.sgSpirit .collapse a').click(function () {
            $('.sgSpirit .readMoreCon').slideToggle(300);
            $('.sgSpirit .collapse').hide();
            $('.sgSpirit .readMore').show();
        });

        /* Accordion Slide */
        $(".accordionSlide ul li").hover(function () {
            if (screen.width <= 767) {
                $(".accordionSlide ul li").removeClass("active");
                $(this).addClass("active");
                $(".accordionSlide ul li").removeAttr("style");
                $(this).height($(this).find("img.mobImg").height());
            } else {
                $(".accordionSlide ul li").removeClass("active");
                $(this).addClass("active");
            }
            //$(".accordionCon h3 br").css('display','none').delay(5000);
        });

        /* Latest Stories */
        /*	$(".storyCell").mouseover(function(e) {
                $(this).find(".storyInnerMain")
                    });
    
            $(".storyCell").mouseout(function(e) {
                $(this).find(".storyInnerMain")
                    });*/

        /* Maintenance */
        $(".maintenance i").click(function () {
            $(".maintenance").fadeOut(300);
        });
        /* Download Guides */
        $("#downloadGuides").hide();
        $(".guidelines a, .guidelinesMob a").click(function () {
            $("#downloadGuides").fadeIn(300);
            $("body").addClass("hideScrool");
        });
        $(".downloadHeader p a, .downloadFooter img").click(function () {
            $("#downloadGuides").fadeOut(300);
            $("body").removeClass("hideScrool");
        });
        $("#downloadGuides").click(function (e) {
            if (e.target == this) {
                $("#downloadGuides").fadeOut(300);
                $("body").removeClass("hideScrool");
            }
        });

        /* MENU */
        $('.menuIcon').click(function () {
            $('.menu').fadeToggle(300).toggleClass('menuList');
            $('.menuIcon').toggleClass('menuIconActive');
        });
        var width = $(document).width();
        1024 >= width ? $("body").bind("touchstart", function (t) {
            var e = $(".menuIcon, .menu");
            e.is(t.target) || 0 != e.has(t.target).length || jQuery(".menu").removeClass('menuList') && jQuery(".menu").hide() && jQuery(".menuIcon").removeClass('menuIconActive')
        }) : $(document).mouseup(function (t) {
            var e = $(".menuIcon, .menu");
            e.is(t.target) || 0 != e.has(t.target).length || jQuery(".menu").removeClass('menuList') && jQuery(".menu").hide() && jQuery(".menuIcon").removeClass('menuIconActive')
        });
    });
</script>
