﻿@model SGCare.Models.Footer
@{
    Layout = null;
}

<footer id="footer" class="footerHome">
    <div class="footerCont">
        <p>Connect with us:</p>
        <ul>
            <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank" class="youTube"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="footerLogo">
            <a href="/sec">
                <img src="/assets/sgcalendar/images/logo.png" alt=""></a>
        </div>
        <p><span>Copyright &copy; 2016.</span><span> Ministry of Culture, Community and Youth. </span><span>All rights reserved.</span></p>
    </div>
</footer>
