﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <title>SG Events Calendar | Singapore Events Calendar</title>
    <link href="/assets/sgcalendar/css/main.css" rel="stylesheet" />
    <link href="/assets/sgcalendar/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/sgcalendar/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/sgcalendar/styles/style.css">
    <script src="/assets/sgcalendar/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/sgcalendar/js/jquery.bxslider.js"></script>
    @*<script src="/assets/sgcalendar/scripts/calendar.js"></script>*@


     <script type="text/javascript">

         /* GA Analytics Code */
         (function (i, s, o, g, r, a, m) {
             i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                 (i[r].q = i[r].q || []).push(arguments)
             }, i[r].l = 1 * new Date(); a = s.createElement(o),
             m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
         })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

         ga('create', 'UA-71697861-1', 'auto');
         ga('send', 'pageview');

</script>

</head>
<body>

    @Html.Sitecore().Placeholder("Header")
    @Html.Sitecore().Placeholder("Content")
    @Html.Sitecore().Placeholder("Footer")
</body>

</html>
