.content{
	height:100%;
}
.celebrationIdeasTitle{
	margin-top:0;
}

.menu
{
    width: 1280px;
    height: 50px;
    background-color: #353334;
    position: relative;
    margin: 0 auto;
    z-index: 999999;
}

.menu_nav
{
    width: 65%;
    height: 50px;
    position: relative;
    /*margin-left: 50px;*/
    float: left;
}

.menu_nav div
{
	float: left;
	padding: 20px 25px 14px 25px;
}

.menu_nav a span
{
	/*color: #F5F5F5;*/
	color: #ccc;
}
.menu_nav a:hover span
{
	/*color: #F5F5F5;*/
	color: #fff;
}
.menu_nav a.active_nav span{
	color: #fff;
}
.menu_nav a.active_nav a span{
	color: #ccc;
}
.menu_nav .active_nav a:hover span{
	color: #fff;
}

div#nav div div.mediumMenu
{
	display:none;
	position:absolute;
	padding:0;
	margin:0;
	text-align:left;
	background:#fff;
	background-color:#C6171E;
	box-shadow 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	padding-top:5px;
	padding-bottom:5px;
	border-left:none;
    /*margin-top: 5px;
    left: -50px;*/
	left:0;
	margin-top:14px;
}
div#nav div div.mediumMenu .innerMenuBg{
	display:block;
	padding:0;
	margin:0;
	padding-left:5px;
	padding-right:5px;
	min-width:1160px;
	width:auto;
	margin-left:110px;
}
div#nav div div a{
	color:#666;
	padding:0;
	margin:0;
	/*font-size:16px;*/
	font-size:1em;
	line-height:2em;
	padding-top:5px;
	padding-bottom:5px;
}
div#nav div div a span{
	padding-left:50px;
	padding-right:50px;
}
div#nav div div a:first-child{
	border-top:none;
}
div#nav div div a:hover{
	color:#e61f22;
}


.responsiveMenu
{
    display: none;
}

    .responsiveMenu a
    {
        color: #fff;
        font-size: 16px;
        float: left;
        margin-left: 10px;
        margin-top: 20px;
        cursor: pointer;
    }

        .responsiveMenu a:hover
        {
            text-decoration: none;
        }

.menuBtn
{
    height: 60px;
    background-color: #353334;
}

.footer #cpMobile
{
    display: none;
}

    .mobile
    {
        display: none;
    }

.contactUsDetails{
	width:50%;
	border: 1px solid #ccc;
	background:#f5f5f5;
	margin-bottom:20px;
	margin-top:20px;
	padding:20px;
	border-radius:10px;
}
.contactUsDetails input[type="text"], .contactUsDetails input[type="email"], .contactUsDetails textarea{
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border: 1px solid #ccc;
	border-radius:5px;
	height:30px;
}
.contactUsDetails input[type="submit"]{
	color:#545454;
	padding:8px 25px;
	font-weight:normal;
	margin-right:5px;
	border:none;
	cursor:pointer;
	border:2px solid #545454;
	text-transform:uppercase;
	font-size:16px;
	background:none;
}
.contactUsDetails input[type="submit"]:hover{
	/*background:#ff0000;*/
}
.contactUsLabel{
}

#topMemberMobile, #middleMemberMobile, #bottomMemberMobile
{
    display: none;
}
/*.sg50Committee
{
    float:left;
    width: 100%;
}
.sg50Committee #sg50CommitteeIcons{
	float:left;
	position:relative;

}
.sg50Committee #sg50CommitteeIcons > div
{
	float:left;
	position:relative;
	left:0;
	margin-bottom:10px;
}*/

.ball .mobile{
	display:block;
}

#wrapperMobile
{
    display: none;
}

#pagerMobile
{
    display: none;
}

.bxslider
{
    display: none;
}

.bx-wrapper
{
    display: none;
}
.closePopup{
	position:absolute;
	top:3px;
	right:3px;
}


/* Desktop/iPad/Tablet 769 to 1024 Responsive 
@media screen and (min-width:769px) and (max-width: 1024px){
	body{
		
	}
	.container{
        width:100%;
	}
	.menu{
		width:100%;
	}

}*/

/* Mobile/iPad/Tablet 300 to 768 Responsive */
@media screen and (min-width: 300px) and (max-width: 768px)
{
    html
    {
        overflow-x: hidden;/
    }

    body
    {
        width: 100%;
    }

    .container
    {
        width: 100%;
    }

    #header
    {
        width: 100%;
    }

    .social_nav
    {
        display: none;
    }

    .responsiveMenu
    {
        display: block;
    }

    

    .menuBtn
    {
        width: 100%;
    }

    .header
    {
        width: 100%;
		height:auto;
		float:left;
		position:relative;
    }
	.menu
    {
        display: none;
        width: 100%;
		float:left;
		height:auto;
    }

    .menu_nav .SG50Logo
    {
        display: none;
    }

    #nav
    {
        width: 100%;
        min-height: 100px;
        margin: 0;
        background-color: #353334;
		height:auto;
		float:left;
    }

        #nav div
        {
            /*padding:10px 0 0px 0;*/
			padding:0;
            border-top: 1px solid #F5F5F5;
            float: left;
            width: 100%;
        }
		#nav div a{
			padding:10px;	
			display: block;
		}

            .menu_nav div:first-child
            {
                border-top: none;
            }
	div#nav div div.mediumMenu
	{
		border-radius:0px 0px 0px 0px;
		position:relative;
		float:left;
		width:100%;
		height:auto;
		margin-top:0;
	}
	div#nav div div.mediumMenu .innerMenuBg{
		padding-left:0px;
		padding-right:0px;
		min-width:320px;
		width:100%;
		margin-left:0px;
	}
	
    .innerMenuBg > a
    {
        width: 100%;
        float: left;
        position: relative;
    }

	div#nav div div a{
		background:none;
		color:#515151;
		border-top:1px solid #ddd;
		line-height:1em;
	}
	div#nav div div a span{
		padding-left:10px;
		padding-right:10px;
	}


    .content
    {
        width: 100%;
		float:left;
    }

    .content_inner
    {
        width: 100%;
    }

        .content_inner #wrapper
        {
            display: none;
        }

    .bxslider, .bx-wrapper
    {
        display: block;
        width: 100%;
    }

        .bxslider li, .bx-slider img
        {
            width: 100%;
        }

        .bxslider h1
        {
            position: absolute;
            top: 10%;
            left: 10px;
            color: #F5F5F5;
            font-size: 16px;
            font-weight: bold;
        }

        .bxslider p
        {
            position: absolute;
            top: 25%;
            left: 10px;
            color: #F5F5F5;
            font-size: 15px;
			line-height:1.2em;
			margin-right:10px;
        }

    .carouselButtonMobile1 a
    {
        position: absolute;
        top: 75%;
        left: 10px;
        font-size: 0.8em;
    }

    .carouselButtonMobile2 a
    {
        position: absolute;
        top: 70%;
        left: 10px;
        font-size: 0.8em;
    }

    .carouselButtonMobile3 a
    {
        position: absolute;
        top: 50%;
        left: 10px;
        font-size: 0.8em;
    }

    .carouselButtonMobile4 a
    {
        position: absolute;
        top: 50%;
        left: 10px;
        font-size: 0.8em;
    }

        /*.content_inner #wrapperMobile
        {
            width: 100%;
            display: block;
        }

    #wrapperMobile img
    {
        width: 100%;
    }

a.carouselButtonMobile
{
    position: absolute;
    display: inline-block;
    margin-top: 15px;
    border: 2px solid #F5F5F5;
    color: #F5F5F5;
    padding: 10px 30px 10px 25px;
}

    .carouselButtonMobile:nth-child(1)
    {
        position: absolute;
        top: 20%;
    }*/

    .about
    {
        display: block;
        padding: 0;
        margin: 0;
    }

        .about .padding
        {
            padding: 0;
            margin: 0;
            margin-left: 10px;
			margin-right: 10px;
        }

        .about #aboutTitle
        {
            width: 100%;
            padding: 0;
            margin: 0;
        }

            .about #aboutTitle img
            {
                width: 30px;
                height: 30px;
                margin-bottom: -3px;
            }

            .about #aboutTitle h1
            {
                font-size: 2em;
                font-weight: bold;
            }

        .about #roundImage
        {
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
        }

            .about #roundImage img
            {
                width: 200px;
                height: auto;
                margin-left: 20px;
                margin-top: 10px;
                margin-bottom: 20px;
            }

        .about #aboutContent
        {
            width: 100%;
            padding: 0;
            margin: 0;
			margin-bottom:10px;
        }

            .about #aboutContent p
            {
                font-size: 1em;
            }
			.about #downloadLogoAndGuide, .about #downloadLogoAndGuide2{
				min-width:200px;
				text-align:center;
			}

        /*.about #downloadLogoAndGuide
        {
            display: inline-block;
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
            margin-left: -25px;
        }

            .about #downloadLogoAndGuide a
            {
                width: 80%;
                font-size: 0.5em;
                padding: 5px;
            }

        .about #downloadLogoAndGuide2
        {
            display: inline-block;
			padding: 0;
            margin: 0;
            position: relative;
            top: -2px;     
        }

            .about #downloadLogoAndGuide2 a
            {
                width: 50%;
                font-size: 0.5em;
                margin-left: 130px;
                padding: 5px;
            }*/

    .sg50LogoAndGuide
    {
        width: 100%;
    }

    #sg50LogoAndGuideBanner, #sg50LogoAndGuideBanner img
    {
        width: 100%;
        height: 100%;
    }

    .sg50LogoAndGuide .padding
    {
        padding: 0;
        margin: 0;
        /*margin-left: 20px;*/
		margin-left: 10px;
		margin-right: 10px;
    }

    #sg50LogoAndGuideContainer
    {
        width: 100%;
    }

    .sg50LogoAndGuide #sg50LogoAndGuideTitle
    {
        width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 20px;
    }

        .sg50LogoAndGuide #sg50LogoAndGuideTitle h1
        {
            font-size: 2em;
        }

    .sg50LogoAndGuide #sg50LogoAndGuideContent
    {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

        .sg50LogoAndGuide #sg50LogoAndGuideContent p
        {
            font-size: 1em;
        }

    .sg50LogoAndGuide #icons
    {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

        .sg50LogoAndGuide #icons > div:nth-child(1)
        {
            width: 50%;
        }

        .sg50LogoAndGuide #icons > div img:nth-child(1)
        {
            width: 40%;
            height: auto;
        }

        .sg50LogoAndGuide #icons > div:nth-child(2)
        {
            width: 50%;
        }

        .sg50LogoAndGuide #icons > div:nth-child(3)
        {
            width: 33.33%;
        }

        .sg50LogoAndGuide #icons > div:nth-child(4)
        {
            width: 33.33%;
        }

        .sg50LogoAndGuide #icons > div:nth-child(5)
        {
            width: 33.33%;
        }

        .sg50LogoAndGuide #icons > div
        {
            padding: 0;
            margin: 0;
        }

        .sg50LogoAndGuide #icons p
        {
            font-size: 0.8em;
        }

        .sg50LogoAndGuide #icons div:nth-child(1n+1)
        {
            padding: 0;
            margin: 0;
        }

    .sg50LogoAndGuide #sg50LogoAndGuideButton
    {
        display: inline-block;
        padding: 0;
        margin: 0;
        padding-bottom: 30px;
        margin-right: 80px;
    }

        .sg50LogoAndGuide #sg50LogoAndGuideButton a
        {
            width: 80%;
            font-size: 0.75em;
        }

    .sg50Committee
    {
        width: 100%;
		margin-bottom:0px;
		padding-bottom:20px;
    }

        .sg50Committee #sg50CommitteeBanner
        {
            width: 100%;
            height: 100%;
        }

            .sg50Committee #sg50CommitteeBanner img
            {
                width: 100%;
                height: 100%;
            }

        .sg50Committee #sg50CommitteeTitle
        {
            width: 100%;
            padding: 0;
            margin: 0;
			left:10px;
			margin-right:10px;
            /*margin-left: -100px;*/
        }

            .sg50Committee #sg50CommitteeTitle h1
            {
                font-size: 2em;
            }

            #topMember, #bottomMember
    {
        display: none;
    }

    #topMemberMobile
    {
        display: block;
        width: 100%;
        height: auto;
    }

        #topMemberMobile > div
        {
            width: 30%;
            height: auto;
        }

    #topMemberMobile div
    {
        float: left;
        margin-top: 150px;
        margin-left: 10px;
        height: auto;
    }

        #topMemberMobile img
        {
            width: 100%;
            height: auto;
        }

            #topMemberMobile div:nth-child(2)
            {
                margin-bottom: 10px;
            }

    #middleMemberMobile
    {
        display: block;
        /*width: 90%;*/
        margin-left: 10px;
		margin-right: 10px;
        height: auto;
    }

        #middleMemberMobile img
        {
            width: 100%;
            height: auto;
        }

    #bottomMemberMobile
    {
        display: block;
        /*width: 90%;*/
        margin-left: 10px;
		margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
    }

        #bottomMemberMobile img
        {
            width: 100%;
            height: auto;
        }

        .sg50Committee #sg50SteeringCommittee
        {
            position: absolute;
            left: 5px;
            overflow: hidden;
        }

    #sg50SteeringCommittee div
    {
        padding: 10px -20px 10px 0;
    }


/*Press*/
    .pressBanner
    {
        width: 100%;
        height: auto;
    }

    .mobile
    {
        display: block;
		margin: 0 auto;
		width: 100%;
		height: 100%;
    }

        .mobile img
        {
            width: 100%;
            height: auto;
        }
		.mobile img.block
        {
            width: 100%;
            height: auto;
        }

    .pressBannerCaption
    {
        width: 100%;
        position: absolute;
        top: 30px;
        left: 10px;
    }

        .mobile h1
        {
            width: 70%;
            font-size: 1.5em;
        }

    .desktop
    {
        display: none;
    }



    /*ShareAnIdea&IdeaMain*/
    .shareAnIdea
    {
        width: 100%;
    }

        .shareAnIdea > img
        {
            width: 100%;
        }

    #shareAnIdeaTitle
    {
        width: 40%;
        position: relative;
        left: 10px;
    }

        #shareAnIdeaTitle h1
        {
            font-size: 1em;
        }

    #submitButton
    {
        width: 40%;
        position: relative;
        top: 40px !important;
        left: 10px;
        font-size: 0.7em;
    }

    #rightSide
    {
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.8em;
        border: none;
    }

    #noOfIdeas p
    {
        width: 120px;
        overflow: hidden;
    }

    #sortBy p
    {
        width: 120px;
        overflow: hidden;
    }

    .ball
    {
        width: 100%;
    }

    div#canvas div canvas
    {
        width: 100%;
    }

    .ideaCanvas
    {
    	display:none;
    }
    .ball.mobileDiv
    {
    	display:block;
    }

    .ball .mobile div
    {
		margin-top: 0;
		padding-top: 25%;
		text-align: center;
		font-size: 16px;
		padding-left: 10%;
		padding-right: 10%;
    }
    
    #submitButton a
    {
		padding: 10px 7px 5px 7px;
    }
    /*Footer*/
    .footer
    {
        clear: both;
        width: 100%;
        background-color: #353334;
        height: 180px;
		padding-bottom:10px;
    }

        .footer #divider
        {
            display: none;
        }

        .footer .footer_nav
        {
            position: relative;
            top: 15px;
        }

    .footer_nav a span
    {
        float: left;
        width: 100%;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        font-size: 0.938em;
        padding: 10px 0;
		margin-left:2%;
		margin-right:2%;
		width:98%;
    }

    .footer p
    {
        width: 100%;
        text-align: center;
        font-size: 0.750em;
        margin-top: 25px;
        margin-right: 0;
    }

    .footer #cpDesktop
    {
        display: none;
    }

    .footer #cpMobile
    {
        display: block;
    }


	/* Updated by Sathiya */
	.desktop{
		display: none;
	}

	.projectss{
		width:100%;
	}
	#projectsBannerImage{
		position:relative;
		
	}
	#projectsBannerImage img{
		width:100%;
		height:770px;
	}
	#projectsBannerCaption h1{
		left:5%;
		position:relative;
		width:95%;
		font-size:2.5em;
	}
	#projectsBannerCaption h2{
		left:5%;
		position:relative;
		width:95%;
		top:140px;
		font-size:2em;
	}
	#projectsBannerCaption p{
		left:5%;
		position:relative;
		width:95%;
		font-size:1em;
		top:180px
	}
	.projectss #shareAnIdeaButton{
		top:720px;
		left:50%;
		margin-left:-110px;
	}

	.contactUsDetails{
		margin-left:5px;
		margin-right:5px;
		width:90%;
		padding:10px;
	}
	.contactUsBanner
	{
		height: 320px;
	}
	#contactUsMCCY{
		position:relative;
	}
	#contactUsLink, #contactUsMCCY, #contactUsTitle, #contactUsDiscription{
		margin-left:2%;
		margin-right:2%;
		width:98%;
	}
	.formRow div.left{
		width:100%;
	}
	.formRow div.right{
		width:100%;
	}
	/*.contactUsNameTextBox, .contactUsEmailTextBox {
		width:67%;
	}
	.contactUsSubjectTextBox {
		width:67%;
	}
	.contactUsMessageTextBox{
		width:96%;
	}
	.contactUsDetails{
		width:85%;
	}
	#capthcaMainDiv{
		margin-left:0;
	}*/

	#contactUsBannerImage, #contactUsBannerCaption, .contactUsBanner{
		width:100%;
	}
	#contactUsBannerImage img{
		width:100%;
		/*height:auto;*/
		height:300px;
	}
	.pressDetailsBanner img{
		width:100%;
	}

	#contactUsBannerCaption{
		left:5%;
		width:95%;
		font-size:80%;
	}
	.pressBannerImage.desktop{
		display:block;
	}
	.pressBannerImage.desktop img{
		width:100%;
		height:auto;
	}
	#slider .slide-block{
		left:0;
		width:90%;
	}
	/*#slider .slide-block h1, #slider .slide-block p {
		width:90%;
	}
	*/
	.SG50Logo{
		margin-left:0;
	}
	.ball{
		margin-top:100px;
		float:left;
	}
	.ball .mobile{
		position: relative;
		color: #fff;
		background-color: red;
		border-radius: 50%;
		width: 250px;
		height: 250px;
		left:0;
		top:0;;
		display:block;
		margin:20px auto;
	}
	.ball .mobile span{
		left:50%;
		
		top:50%;
		width: 250px;
		text-align:center;

	}
	.ball .mobile div{
		margin-top:0;
		padding-top:25%;
	}
	#bgCircle{
		display:none;
	}
	.ideaformDiv{
		position:relative !important;
	}
	.ideaTitle{
		width:100%;
		padding-top:10px !important;
	}
	.ideaBlurb{
		padding-left:2% !important;
		padding-right:2% !important;
		padding-top:20px !important;
		padding-bottom:20px;
	}
	.ideaFormContent{
		margin-left:2% !important;
		margin-right:2% !important;
	}
	.ideaFormContent textarea{
		width:100% !important;
	}
	#sfName{
		margin-left:-5px;
	}
	.styled_select{
	}
	.questionMark{
		padding-left:10px !important;
	}
	.questionText{
		width:75% !important;
	}
	.txtSearch, .learnMore{
		width:95% !important;
	}
	#rightSide #noOfIdeas{
		width:100%;
	}
	.btnSearch
    {
		left:85%;
		top: 22px;
		position:absolute;
    }
    #learnMorePopUp
    {
        width: 50% !important;
        margin-left: -40%! important;
    }
    .learnMorePopUpTitle, .learnMorePopUpContent
    {
        width: 100%;
    }	
	#dvPopup, #dvPopup2, #dvHouseRulesPopup, #dvAckPopup{
		width:100%;
	}
	#FontTitle{	
		left:10px;
		width:85%;
		font-size:36px;
	}
	#FontTitle, .FontTitle, .FontTitleHR1, .FontTitleHR{	
		font-size:36px;
		left:10px;
	}
	#FontTitle2{	
		left:10px;
		width:85%;
		font-size:22px;
	}
	#FontTitle2{	
		font-size:22px;
	}	
	.FontTitle1, .FontTitle2, .FontTitle3{
		font-size:34px;
		width:95%;
	}
	#Qmark{
		right:5px;
		top:55px;
		width:50px;
	}
	#Qmark img{
		width:100%;

	}
	#Qmark2{
		right:5px;
		top:55px;
		width:50px;
	}
	#Qmark2 img{
		width:100%;

	}	
	.faqBlock{
		left:10px;
		width:97%;
	}
	.faqBlock p{
		font-size:90%;
	}
	.faqTitle, .faqContents{
		width:97%;
	}
	.faqContents p, .faqTitle p{
		width:100%;
		margin-left:0px;
	}
	.faqContents ul{
		font-size:90%;
	}
	#FontTitleHR{
		left:10px;		
		width:95%;
	}
	#FontTitleHR p{
		width:100%;
		font-size:30px;
	}
	.houseRulesContents, .ackContents{
		width:96%;
		margin-left:10px;
		font-size:85%;

/*celebrationFund*/
    .celebMobile
    {
        width: 100%;
        display: block;
    }

        .celebMobile .banner1, .banner1 .bannerImage1, .banner1 .celebCaption
        {
            width: 100%;
        }

	
	.ideaForm{

	}
	.ideaSuccessBlurb, .ideaSuccessMore{
		padding-left: 10px !important;
		padding-right: 10px !important;
		
	}
	.ideaSuccessMore{
		margin-top:20px !important; 
		font-size:20px !important;
	}
	.ideaSuccessTitle{
		padding-top:20px !important;
		margin-bottom:20px !important; 
		font-size:22px !important;
	}
	.ideaSuccessBlurb{
		font-size:18px !important;
	}
	.celebrationIdeas{
		width:100%;
	}
	.celebrationIdeasTitle{
		width:90%;
	}
	.celebrationIdeasImageBanner{
		min-height:400px;
		float:none;
		margin:0 auto;
	}
	.celebrationIdeasBottomDesc{
		margin-bottom:20px;
	}

	
}
