/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}

body
{
    line-height: 1;
	background:#f1f1f1;
}

ol, ul
{
    list-style: none;
}

blockquote, q
{
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after
    {
        content: '';
        content: none;
    }

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

body
{
    font-family: helvetica, gotham book, Arial;
}

a
{
    text-decoration: none;
}

.container
{
    width: 1280px;
    margin: 0 auto;
}
.header .header{
	position:relative;
	z-index:11;
}
.menu
{
    width: 1280px;
    height: 50px;
    background-color: #353334;
    position: relative;
    margin: 0 auto;
}

.menu_nav
{
    width: 65%;
    height: 50px;
    position: relative;
    /*margin-left: 50px;*/
    float: left;
}

    .menu_nav div
    {
        float: left;
        padding: 20px 25px 0 25px;
    }

    .menu_nav a span
    {
        color: #F5F5F5;
    }

.SG50Logo
{
    position: relative;
    top: -14px;
    left: 0;
	margin-left:50px;
}

    .SG50Logo img
    {
        width: 40px;
    }

.social_nav
{
    float: right;
    margin-right: 50px;
}

    .social_nav div
    {
        float: left;
        padding: 10px 8px 0 8px;
    }

.content
{
    width: 1280px;
    clear: both;
    background-color: white;
}

.content_inner
{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
}

#wrapper
{
    height: 100%;
    width: 100%;
    min-height: 715px;
    min-width: 1280px;
    z-index: -1;
}

#slider
{
    margin: 0 0 0 0;
    height: 715px;
    overflow: hidden;
    background: url(/SG50/images/ajax-loader.gif) center center no-repeat;
}

    #slider .slide
    {
        position: relative;
        display: none;
        height: 565px;
        float: left;
        background-position: center right;
        cursor: pointer;
        border-left: 1px solid #000;
    }

        #slider .slide:first-child
        {
            border: none;
        }

        #slider .slide.active
        {
            cursor: default;
        }

    #slider .slide-block
    {
        position: absolute;
        left: 100px;
		top:75px;
        display: inline-block;
        width: 580px;
        padding: 20px;
        color: #F5F5F5;
        overflow: hidden;
        border-radius: 4px;
    }

        #slider .slide-block h1
        {
            font-size: 4em;
            font-weight: bold;
            margin: 0 0 10px 0;
            line-height: 1;
        }

        #slider .slide-block p
        {
            margin: 0;
            width: 600px;
            font-size: 1.625em;
        }

#pager {
	border-radius: 20px;
	text-align: center;
	width: 120px;
	height: 50px;
	padding-top: 2px;
	margin: 235px 0 0 -60px;
	position: absolute;
	top: 340px;
	left: 50%;
}

#pager a.selected span {
	background: #666;
}

#pager a {
	display: inline-block;
	padding: 5px;
}

#pager span {
	border-radius: 10px;
	background: #ccc;
	text-indent: -100px;
	line-height: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	overflow: hidden;
}

.carouselButton a
{
    display: inline-block;
    margin-top: 15px;
    border: 2px solid #F5F5F5;
    color: #F5F5F5;
    padding: 10px 30px 10px 25px;
}

.carouselButtonMobile1 a
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    border: 2px solid #F5F5F5;
    color: #F5F5F5;
    padding: 3px 5px 3px 5px;
}

.carouselButtonMobile2 a
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    border: 2px solid #F5F5F5;
    color: #F5F5F5;
    padding: 3px 5px 3px 5px;
}

.carouselButtonMobile3 a
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    border: 2px solid #F5F5F5;
    color: #F5F5F5;
    padding: 3px 5px 3px 5px;
}

.carouselButtonMobile4 a
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    border: 2px solid #F5F5F5;
    color: #F5F5F5;
    padding: 3px 5px 3px 5px;
}

#wrapperMobile {
	width: 100%;
	height: 500px;
	margin: 0 0 0 0;
    margin-bottom: 50px;
	position: relative;
	left: 0;
}
#carouselMobile > div {
	height: 500px;
	float: left;
}
#carouselMobile img {
	min-width: 100%;
	min-height: 100%;
}
#pagerMobile {
	text-align: center;
	width: 120px;
	height: 50px;
	padding-top: 2px;
	margin: 235px 0 0 -60px;
	position: absolute;
	top: 55%;
	left: 50%;
}
#pagerMobile a.selected span {
	background: #666;
}
#pagerMobile a {
	display: inline-block;
	padding: 5px;
}
#pagerMobile span {
	border-radius: 10px;
	background: #ccc;
	text-indent: -100px;
	line-height: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	overflow: hidden;
}

.about
{
    clear: both;
    width: 100%;
    position: relative;
    margin-top: -100px;
}

    .about .padding
    {
        padding: 25px;
        padding-left: 100px;
        /*padding-bottom: 130px;*/
		padding-bottom: 60px;
    }

    .about #roundImage
    {
        float: right;
        margin: -180px 100px 100px 0;
    }

        .about #roundImage img
        {
            width: 300px;
            height: 300px;
        }

    .about #aboutTitle
    {
        width: 700px;
        margin-left: 25px;
        padding: 0px 0 25px 0;
    }

        .about #aboutTitle img
        {
            width: 55px;
            height: 55px;
        }

        .about #aboutTitle h1
        {
            font-size: 4.375em;
            font-weight: bold;
            letter-spacing: 0.03em;
            color: #312F30;
        }

    .about .aboutContent
    {
        margin-left: 25px;
        width: 650px;
    }

        .about .aboutContent p
        {
            color: #545454;
            font-size: 1.625em;
            letter-spacing: 0.03em;
        }
	
	.about #downloadLogoAndGuide, .about #downloadLogoAndGuide2{	
		float:left;
		margin-left:25px;
		margin-top:20px;
		margin-bottom:20px;
		padding: 10px 25px 10px 25px;
		border: 2px solid #545454;
	}
	.about #downloadLogoAndGuide a, .about #downloadLogoAndGuide2 a{
		color: #545454;
	}

    /*.about #downloadLogoAndGuide a
    {
        display: inline-block;
        width: 200px;
        margin-left: 25px;
        margin-top: 25px;
        border: 2px solid #545454;
        color: #545454;
        padding: 10px 10px 10px 25px;
    }

    .about #downloadLogoAndGuide2 a
    {
        display: inline-block;
        float: left;
        margin-top: -40px;
        margin-left: 300px;
        width: 215px;
        border: 2px solid #545454;
        color: #545454;
        padding: 10px 10px 10px 25px;
    }*/

.sg50LogoAndGuide
{
    clear: both;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url('/SG50/images/landingbg1.png');
}

.sg50LogoAndGuide .padding
{
    padding: 25px;
    padding-left: 100px;
    padding-bottom: 130px;
}

/*#sg50LogoAndGuideBanner
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}*/

#sg50LogoAndGuideContainer
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sg50LogoAndGuide #sg50LogoAndGuideTitle
{
    width: 700px;
    margin-left: 25px;
    padding: 50px 0 25px 0;
}

    .sg50LogoAndGuide #sg50LogoAndGuideTitle h1
    {
        font-size: 4.375em;
        font-weight: bold;
        letter-spacing: 0.03em;
        color: #F5F5F5;
    }

.sg50LogoAndGuide #sg50LogoAndGuideContent
{
    margin-left: 25px;
    padding-bottom: 36px;
    width: 90%;
}

    .sg50LogoAndGuide #sg50LogoAndGuideContent p
    {
        color: #F5F5F5;
        font-size: 1.625em;
        letter-spacing: 0.05em;
    }

.sg50LogoAndGuide #icons
{
    margin-left: 25px;
}

    .sg50LogoAndGuide #icons > div
    {
        float: left;
        text-align: center;
    }

    .sg50LogoAndGuide #icons p
    {
        color: #F5F5F5;
        font-size: 1.250em;
        padding-top: 10px;
        letter-spacing: 0.05em;
    }

    .sg50LogoAndGuide #icons div:nth-child(1n+1)
    {
        padding-right: 90px;
    }

.sg50LogoAndGuide #sg50LogoAndGuideButton
{
    clear: both;
    padding-top: 50px;
}

    .sg50LogoAndGuide #sg50LogoAndGuideButton a
    {
        display: inline-block;
        width: 220px;
        margin-left: 25px;
        margin-top: 25px;
        border: 2px solid #F5F5F5;
        color: #F5F5F5;
        padding: 20px 20px 20px 35px;
        font-size: 1.125em;
    }

.sg50Committee
{
    clear: both;
    width: 100%;
    height: 1075px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
    background-image: url('/SG50/images/landingbg5.jpg');
}

    .sg50Committee p
    {
        font-size: 0.7em;
    }

    /*.sg50Committee #sg50CommitteeBanner
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }*/

    .sg50Committee #sg50CommitteeTitle
    {
        position: absolute;
        top: 50px;
        left: 125px;
        z-index: 1;
    }

        .sg50Committee #sg50CommitteeTitle h1
        {
            font-size: 3.5em;
            font-weight: bold;
            letter-spacing: 0.03em;
            color: #000000;
        }

#topMember
{
    width: 100%;
    margin-left: 80px;
}

    #topMember > div
    {
        float: left;
        padding-right: 10.5px;
        margin-top: 150px;
    }


#bottomMember
{
    clear: both;
    width: 100%;
}

    #bottomMember div
    {
        margin-left: 80px;
        padding-top: 20px;
    }

.sg50Committee #sg50SteeringCommittee
{
    position: absolute;
    top: 150px;
    left: 10%;
    color: #ffffff;
    /*background: url('/SG50/images/landingbg2.png') no-repeat;*/
}

#sg50SteeringCommittee div
{
    float: left;
}

#sg50SteeringCommittee #sg50SteeringCommitteeTitle h1
{
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 0.938em;
    font-weight: bold;
}

#sg50SteeringCommitteeMembers
{
    clear: both;
    text-align: center;
    background: url('/SG50/images/imgdot.png') repeat-x;
}

    #sg50SteeringCommitteeMembers > div
    {
        padding: 22px;
    }

.sg50Committee #sg50SteeringCommittee h2
{
    padding-top: 10px;
    font-size: 0.688em;
    font-weight: bold;
}

.sg50Committee #sg50SteeringCommittee p
{
    font-size: 0.688em;
}

.sg50Committee #programmeOffice
{
    position: absolute;
    top: 150px;
    right: 33%;
    z-index: 1;
    background: url('/SG50/images/landingbg3.png') no-repeat;
    color: #ffffff;
}

#programmeOffice div
{
    float: left;
    padding: 18px 35px;
}

#programmeOffice #programmeOfficeTitle h1
{
    text-align: center;
    margin-left: 15px;
    margin-bottom: 25px;
    font-size: 0.938em;
    font-weight: bold;
}

#programmeOfficeMember
{
    clear: both;
    text-align: center;
    background: url('/SG50/images/imgdot.png') repeat-x;
}

    #programmeOfficeMember #lw
    {
        margin-top: -20px;
    }

.sg50Committee #programmeOffice h2
{
    padding-top: 10px;
    font-size: 0.688em;
    font-weight: bold;
}

.sg50Committee #programmeOffice p
{
    font-size: 0.688em;
}

.sg50Committee #sg50CommitteeIcons
{
    position: absolute;
    top: 440px;
    left: 125px;
    z-index: 1;
    color: #ffffff;
}

#sg50CommitteeIcons h1
{
    text-align: center;
    padding-bottom: 5px;
    font-size: 0.688em;
    font-weight: bold;
}

#sg50CommitteeIcons p
{
    margin-top: 10px;
    padding: 10px;
}

.sg50Committee #sg50CommitteeIcons > div
{
    padding: 5px;
    width: 194px;
    height: 233px;
    background: url('/SG50/images/landingbg4.png') no-repeat;
}

.sg50Committee #sg50CommitteeEduAndYouth
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#sg50CommitteeEduAndYouthMembers
{
    background: url('/SG50/images/imgdot.png') repeat-x;
}

    #sg50CommitteeEduAndYouthMembers #hsk div
    {
        float: left;
        margin-top: 20px;
    }

    #sg50CommitteeEduAndYouthMembers #hy
    {
        clear: both;
    }

        #sg50CommitteeEduAndYouthMembers #hy div
        {
            float: left;
        }

.sg50Committee #sg50CommitteeEduAndYouthTitle img
{
    width: 50px;
    height: 50px;
    margin-left: 70px;
}

.sg50Committee #sg50CommitteeCultureAndCommunity
{
    position: absolute;
    top: 0;
    left: 215px;
    z-index: 1;
}

#sg50CommitteeCultureAndCommunityMembers
{
    background: url('/SG50/images/imgdot.png') repeat-x;
}

    #sg50CommitteeCultureAndCommunityMembers #hsk div
    {
        float: left;
        margin-top: 20px;
    }

    #sg50CommitteeCultureAndCommunityMembers #hy
    {
        clear: both;
    }

        #sg50CommitteeCultureAndCommunityMembers #hy div
        {
            float: left;
        }

.sg50Committee #sg50CommitteeCultureAndCommunityTitle img
{
    width: 50px;
    height: 50px;
    margin-left: 70px;
}

.sg50Committee #sg50CommitteeEcoAndInter
{
    position: absolute;
    top: 0;
    left: 430px;
    z-index: 1;
}

#sg50CommitteeEcoAndInterMembers
{
    background: url('/SG50/images/imgdot.png') repeat-x;
}

    #sg50CommitteeEcoAndInterMembers #hsk div
    {
        float: left;
        margin-top: 20px;
    }

    #sg50CommitteeEcoAndInterMembers #hy
    {
        clear: both;
    }

        #sg50CommitteeEcoAndInterMembers #hy div
        {
            float: left;
        }

.sg50Committee #sg50CommitteeEcoAndInterTitle img
{
    width: 50px;
    height: 50px;
    margin-left: 70px;
}

.sg50Committee #sg50CommitteeEnviAndInfra
{
    position: absolute;
    top: 0;
    left: 645px;
    z-index: 1;
}

#sg50CommitteeEnviAndInfraMembers
{
    background: url('/SG50/images/imgdot.png') repeat-x;
}

    #sg50CommitteeEnviAndInfraMembers #hsk div
    {
        float: left;
        margin-top: 20px;
    }

    #sg50CommitteeEnviAndInfraMembers #hy
    {
        clear: both;
    }

        #sg50CommitteeEnviAndInfraMembers #hy div
        {
            float: left;
        }

.sg50Committee #sg50CommitteeEnviAndInfraTitle img
{
    width: 50px;
    height: 50px;
    margin-left: 70px;
}

.sg50Committee #sg50CommitteePartnership
{
    position: absolute;
    top: 0;
    left: 860px;
    z-index: 1;
}

#sg50CommitteePartnershipMembers
{
    background: url('/SG50/images/imgdot.png') repeat-x;
}

#sg50CommitteePartnership #hsk div
{
    float: left;
    margin-top: 20px;
}

#sg50CommitteePartnership #hy
{
    clear: both;
}

    #sg50CommitteePartnership #hy div
    {
        float: left;
    }

.sg50Committee #sg50CommitteePartnershipTitle img
{
    width: 50px;
    height: 50px;
    margin-left: 70px;
}

.sg50Committee #sg50CommitteeMembers
{
    position: absolute;
    top: 730px;
    left: 10%;
    color: #ffffff;
    padding: 10px;
    background: url('/SG50/images/landingbg5.png')no-repeat;
}

    .sg50Committee #sg50CommitteeMembers #sg50CommitteeMembersTitle h1
    {
        text-align: center;
        padding-bottom: 10px;
        font-size: 0.938em;
        font-weight: bold;
    }

.sg50Committee #sg50CommitteeMembersSeparator
{
    background: url('/SG50/images/imgdot.png') repeat-x;
    height: 5px;
}

.sg50Committee #sg50CommitteeMembers div#hsk
{
    float: left;
}

.sg50Committee #sg50CommitteeMembers img
{
    padding: 5px;
    padding-top: 15px;
}

.sg50Committee #sg50CommitteeMembersButton
{
    clear: both;
    padding-top: 50px;
}

    .sg50Committee #sg50CommitteeMembersButton a
    {
        display: inline-block;
        width: 325px;
        margin-left: 10%;
        margin-top: 870px;
        border: 2px solid #353334;
        color: #353334;
        padding: 20px 10px 20px 25px;
        font-size: 0.938em;
        font-weight: bold;
    }

.pressBanner
{
    margin: 0 auto;
    width: 1280px;
    height: 400px;
}

    .pressBanner #pressBannerInner
    {
        position: relative;
        margin: 0 auto;
    }

.pressBannerImage, .pressBannerCaption
{
    position: absolute;
    top: 0;
    left: 0;
}

.pressBannerCaption
{
    width: 580px;
    top: 105px;
    left: 125px;
}

    .pressBannerCaption h1
    {
        color: #F5F5F5;
        font-size: 3.5em;
        font-weight: bold;
        letter-spacing: 0.03em;
        text-shadow: 30px 30px 50px #000000;
    }

.projectss
{
    margin: 0 auto;
    width: 1280px;
    height: 770px;
}

    .projectss #projectsInner
    {
        position: relative;
        margin: 0 auto;
    }

#projectsBannerImage, #projectsBannerCaption, #shareAnIdeaButton
{
    position: absolute;
    top: 0;
    left: 0;
}

#projectsBannerImage
{
    top: 0;
    left: 0;
    z-index: -1;
}

#projectsBannerCaption h1
{
    position: absolute;
    top: 100px;
    left: 150px;
    color: #F5F5F5;
    z-index: 1;
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 0.03em;
    width: 670px;
}

#projectsBannerCaption h2
{
    position: absolute;
    top: 300px;
    left: 150px;
    color: #F5F5F5;
    font-size: 1.625em;
    letter-spacing: 0.03em;
    width: 705px;
}

#projectsBannerCaption p
{
    position: absolute;
    top: 420px;
    left: 150px;
    color: #F5F5F5;
    font-size: 0.8em;
    letter-spacing: 0.03em;
    width: 470px;
}

.projectss #shareAnIdeaButton
{
    width: 220px;
    height: auto;
    position: absolute;
    left: 150px;
    top: 490px;
}

    .projectss #shareAnIdeaButton a
    {
        text-decoration: none;
        border: 2px solid #F5F5F5;
        color: #F5F5F5;
        padding: 10px 35px 10px 35px;
        font-size: 1.125em;
    }

.shareAnIdea
{
    position: relative;
    margin: 0 auto;
    width: 1280px;
    height: 801px;
}

#shareAnIdeaTitle
{
    position: absolute;
    top: 30px;
    left: 50px;
    /*width: 390px;*/
	width: 490px;

}

    #shareAnIdeaTitle h1
    {
        color: #353334;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.03em;
    }

#submitButton
{
    position: absolute;
    top: 100px;
    left: 50px;
}

    #submitButton img
    {
        position: relative;
        width: 20px;
        top: 4px;
    }

    #submitButton a
    {
        text-decoration: none;
		font-family: helvetica;
        color: #CC3333;
        font-weight: bold;
        border: 2px solid #696969;
        padding: 5px 35px 5px 35px;
    }

.shareAnIdea #rightSide
{
    float: right;
}

#rightSide
{
    width: 250px;
}

    #rightSide #noOfIdeas
    {
        position: absolute;
        top: 90px;
    }

    #rightSide #sortBy
    {
        position: absolute;
        top: 120px;
    }

#noOfIdeas p
{
    width: 200px;
    font-size: 0.7em;
    font-weight: bold;
    color: #353334;
    border-bottom: 1px solid #696969;
    overflow: hidden;
	padding-bottom: 2px;
}

#sortBy p
{
    width: 200px;
    font-size: 0.7em;
    font-weight: bold;
    color: #353334;
    border-bottom: 1px solid #696969;
    overflow: hidden;
	padding-bottom: 2px;
}

#noOfIdeas h1
{
    font-weight: bold;
    color: #353334;
}

#sortBy h1
{
    font-weight: bold;
    color: #353334;
}

.footer
{
    clear: both;
    width: 100%;
    background-color: #353334;
    color: #ffffff;
    height: 50px;
}

    .footer .footer_nav
    {
        position: relative;
        top: 15px;
    }

.footer_nav a span
{
    text-decoration: none;
    color: #ffffff;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 0.938em;
}

.footer p
{
    text-align: right;
    float: right;
    font-size: 0.750em;
    margin-right: 15px;
}

/*FAQ CSS*/
.faqTitle p
{
    font-weight: Bold;
    width: 880px;
    text-align: left;
    float: none;
    margin-right: 0;
	font-size:16px;
}

#dvPopup
{
    display: none;
    /*width: 85%;*/
	width:900px;
    height: 82%;
    background-color: #F01334;
    position: relative;
    overflow: auto;
	border-radius:10px;
}

#FontTitle
{
    font-size: 70px;
    color: White;
    font: Gotham;
    font-weight: Bold;
    /*position: absolute;
    top: 65px;*/
	position:relative;
    /*left: 80px;*/
	left: 20px;
    width: 650px;
    display: block;
    text-align: left;
    float: left;
    margin-right: 0;
	margin-bottom: 30px;
	margin-top: 30px;
}

.FontTitle1
{
    font-size: 70px;
    color: White;
    top: 70px;
    left: 20px;
    width: 650px;
    display: block;
}

.FontTitle2
{
    font-size: 70px;
    color: White;
    top: 80px;
    left: 80px;
    width: 650px;
    display: block;
}

.FontTitle3
{
    font-size: 70px;
    color: White;
    top: 90px;
    left: 20px;
    width: 750px;
    display: block;
}

p.FontTitle1
{
    text-align: left;
    float: none;
    margin-right: 0;
}

p.FontTitle2
{
    text-align: left;
    float: none;
    margin-right: 0;
}

p.FontTitle3
{
    text-align: left;
    float: none;
    margin-right: 0;
}

#Qmark
{
    font-size: 40px;
    color: White;
    font: helvetica Bold;
    position: absolute;
    top: 40px;
    right: 20px;
}

.faqBlock
{
    font-size: 16px;
    color: black;
    font: helvetica Bold;
    /*position: absolute;
    top: 290px;*/
    left: 20px;
    width: 650px;
	background: url('/SG50/images/House Rules/imgdot.png') repeat-x;
    padding-top: 20px;

	position:relative;
	float:left;
    margin-top: 0px;

}
.faqContents{
	margin-bottom:10px;
	float:left;
	width:850px;
}
.faqContents p
{
    font-size: 16px;
    color: white;
    font-family: helvetica;
    left: 150px;
    width: 800px;
    height: auto;
    margin-left: 36px;
    margin-right: 0;
    margin-bottom: 10px;
    line-height:1.5em;
    text-align: left;
    float: none;
}
.faqContents ul{
	margin-left: 56px;
	font-size:14px;
	color:#fff;
}
.faqContents ul li{
	list-style-type:disc;
	list-style: disc;
	line-height:1.5em;
}
.faqTitle
{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: Bold;
    width: 850px;
	cursor:pointer;
}
.faqTitle img{
	margin-right:10px;
}
.faqContents a, .faqTitle a{
	color:#000;
	font-weight:bold;
}
.faqContents a:hover, .faqTitle a:hover{
	color:#fff;
}

.getInTouch
{
    text-align: left;
    color: white;
    text-decoration: underline;
}

.moreQues
{
    margin-left: 26px;
    font: Gotham Bold;
}

p.moreQues
{
    margin-left: 26px;
    font: helvetica Bold;
    text-align: left;
    float: none;
    margin-right: 0;
}

/*HOUSEHOUSE RULES CSS*/

#dvHouseRulesPopup
{
    display: none;
    width: 80%;
    height: 90%;
    background-color: #F01334;
    position: relative;
    overflow: auto;
	border-radius:10px;
}

#dvAckPopup
{
    display: none;
    width: 60%;
    height: 65%;
    background-color: #F01334;
    position: relative;
    overflow: auto;
	border-radius:10px;
}

.FontTitleHR
{
    font-size: 75px;
    color: White;
    font: helvetica;
    font-weight: Bold;
    /*position: absolute;
    top: 35px;*/
	position:relative;
	float:left;
    left:8%;
	margin-right:8%;
    width: 84%;
    display: block;
    margin-bottom: 30px;
	margin-top: 30px;
}

    .FontTitleHR p
    {
        float: none;
        text-align: left;
    }

.houseRulesContents
{
    font-size: 16px;
    color: White;
    font: helvetica;
    font-weight: Bold;
    /*position: absolute;
    top: 280px;*/
	position:relative;
	float:left;
    margin-left: 82px;
    margin-top: 0px;
    background: url('/SG50/images/House Rules/imgdot.png') repeat-x;
    padding-top: 20px;
    width: 850px;
	line-height: 1.5em;
}

.ackContents
{
    font-size: 16px;
    color: White;
    font: helvetica;
    font-weight: Bold;
    /*position: absolute;
    top: 100px;*/
	position:relative;
	float:left;
    margin-top: 0px;
    background: url('/SG50/images/House Rules/imgdot.png') repeat-x;
    padding-top: 20px;
    /*width: 630px;*/
	margin-left:8%;
	margin-right:8%;
	line-height: 1.5em;
}

    .houseRulesContents div p
    {
        margin-bottom: 30px;
        margin-left: 0;
        text-align: left;
        float: none;
        margin-right: 0;
        width: 613px;
    }

.FontTitleHR1
{
    font-size: 70px;
    color: White;
    top: 0px;
    left: 90px;
    width: 100%;
    display: block;
}

.FontTitleHR2
{
    font-size: 70px;
    color: White;
    top: 80px;
    left: 90px;
    width: 100%;
    display: block;
}

.FontTitleHR3
{
    font-size: 70px;
    color: White;
    top: 90px;
    left: 90px;
    width: 100%;
    display: block;
}

.contactUsBanner
{
    margin: 0 auto;
    width: 1280px;
    height: 400px;
}

    .contactUsBanner #contactUsBannerInner
    {
        position: relative;
        margin: 0 auto;
    }

#contactUsBannerImage, #contactUsBannerCaption
{
    position: absolute;
    top: 0;
    left: 0;
}

#contactUsBannerCaption
{
    width: 580px;
    top: 105px;
    left: 125px;
}

    #contactUsBannerCaption h1
    {
        color: #F5F5F5;
        font-size: 3.5em;
        font-weight: bold;
        letter-spacing: 0.03em;
        text-shadow: 10px 10px 30px #000000;
    }

#contactUsContent
{
    position: relative;
    min-height: 859px;
}

#contactUsLink
{
    margin-left: 126px;
    padding-top: 20px;
}

#contactUsMCCY
{
    margin-left: 1010px;
    padding-top: 0;
    /*font-family: Gotham-light;*/
    font-size: 16px;
    position: absolute;
}

    #contactUsMCCY p
    {
        line-height: 1.5em;
        margin-top: 10px;
    }

        #contactUsMCCY p.title
        {
            font-weight: bold;
        }

#contactUsTitle
{
    margin-left: 126px;
    padding-top: 20px;
    /*font-size:32px;
	text-decoration:underline;*/
    font-weight: Bold;
    font-size: 2.375em;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #312F30;
	width:850px;
}
#contactUsTitle p{
	border-bottom:solid 1px #113706;
}

#contactUsDiscription
{
    margin-left: 126px;
    padding-top: 0px;
    /*font-family: Gotham-light;*/
    font-size: 16px;
}

.contactUsLabel
{
    font-weight: Bold;
    min-width: 100px;
	vertical-align:top;
}

.contactUsDetails
{
    margin-left: 126px;
    padding-top: 20px;
	float:left;
}

.oneColumn div
{
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.twoColumn div
{
    width: 50%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#dvPopup2
{
    display: none;
    width: 85%;
    height: 80%;
    background-color: #F01334;
    position: relative;
    overflow: auto;
	border-radius:10px;
}

#FontTitle2
{
    font-size: 50px;
    color: White;
    font: Gotham;
    font-weight: Bold;
    position: absolute;
    top: 65px;
    left: 80px;
    width: 550px;
    height: 250px;
    display: block;
    text-align: left;
    float: none;
    margin-right: 0;
}

#Qmark2
{
    font-size: 40px;
    color: White;
    font: Gotham Bold;
    position: absolute;
    top: 40px;
    right: 70px;
}

/*celebrationIdeas*/
.celebrationIdeas
{
    width: 1280px;
    margin: 0 auto;
}

.celebrationIdeasTitle
{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 20px;
}

    .celebrationIdeasTitle h1
    {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        line-height: 2em;
        border-bottom: 1px solid black;
    }

.celebrationIdeasDesc
{
    width: 60%;
    margin: 0 auto;
}

    .celebrationIdeasDesc p
    {
        font-size: 1em;
        text-align: center;
        line-height: 1.5em;
    }

.celebrationIdeasImage
{
    width: 100%;
    min-height: 435px;
    margin: 0 auto;
    margin-top: 20px;
}

.celebrationIdeasImageBanner, .celebrationIdeasImageBanner img
{
    width: 320px;
    height: 240px;
}

    .celebrationIdeasImageBanner
    {
        float: left;
    }

.celebrationIdeasBottomDesc
{
    clear: both;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 80px;
}

    .celebrationIdeasBottomDesc h1
    {
        font-size: 1em;
        text-align: center;
        line-height: 1.5em;
    }

.celebrationIdeasImageBanner .caption
{
    margin-top: 10px;
}

.celebrationIdeasImageBanner .caption > img
{
    width: 20px;
    height: 20px;
    float: left;
	margin-left:80px;

}

.celebrationIdeasImageBanner .caption > h1
{
    position: relative;
    top: 3px;
    left: 10px;
    font-weight: bold;
	margin: 0 auto;
}

.celebrationIdeasImageBanner .caption > p
{
    clear: both;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
	line-height:1.5em;
}

.formRow{
	float:left;
	width:100%;
	margin-bottom:10px;
	margin-top:10px;
}
.formRow div.left{
	float:left;
	width:20%;
	padding-top:8px;
}
.formRow div.right{
	float:left;
	width:80%;
	
}
.contactUsNameTextBox
{
  width: 99%;
}

.contactUsEmailTextBox
{
	width: 99%;
	/*margin-top: 20px;
	margin-bottom: 5px;*/
}

.contactUsSubjectTextBox
{
	width: 99%;
}

.contactUsMessageTextBox
{
	width: 98%;
	height:80%;
}

#messageTextBox
{
	height: 130px;
}

.submitButton
{
	/*margin-left:500px;*/
}

#capthcaMainDiv
{
	/*margin-left: 106px;*/
}

.subjectValidation
{
	/*margin-left: 106px;*/
}

.messageValidation
{
	/*margin-left: 106px;*/
}

.idea_details > div
{
    z-index: 100;
}
/*idea page*/
#rightSide .learnMore a
{
    color: #333;
    font-weight: bold;
	text-transform:uppercase;
}
.btnSearch {
        border: 0px;
        background-color: transparent;
        background-image: url('/sg50/images/search.png');
        background-repeat: no-repeat;
        left: -22px;
        top: 2px;
        position: relative;
        width: 20px;
    }
#learnMorePopUp
{
    display: none;
    width: 350px;
    position: absolute;
    background-color: #F6F3F4;
    opacity: 0.89;
    padding: 10px;
}

.learnMorePopUpTitle h1
{
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}

.learnMorePopUpContent
{
    margin-top: 10px;
}

    .learnMorePopUpContent p
    {
        line-height: 1.5em;
    }


	.errorMsg span{
		width:100%;
		float:left;
		color:#ef2c2e;
		padding-top:2px;
		font-size:12px;
	}

/*celebrationFund*/

.celebMobile
{
    display: none;
    width: 768px;
    margin: 0 auto;
}

    .celebMobile .banner1
    {
        width: 100%;
    }

.banner1, .banner2, .banner3, .banner4
{
    width: 100%;
    position: relative;
}

.banner1 .celebCaption1, .banner2 .celebCaption2, .banner3 .celebCaption3, .banner4 .celebCaption4
{
    width: 100%;
    position: absolute;
    top: 3%;
    left: 5%;
}

.celebCaption1 h1, .celebCaption3 h1
{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #F5F5F5;
	margin-bottom:20px;
}

.celebCaption1 p, .celebCaption3 p
{
    width: 80%;
    font-size: 15px;
    color: #F5F5F5;
    line-height: 1.4em;
}

.celebCaption2 h1
{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #333;
	margin-bottom:20px;
}

.celebCaption2 p
{
    width: 67%;
    font-size: 15px;
    color: #333;
    line-height: 1.4em;
}

.celebCaption4 h1
{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom:20px;
}

.celebCaption4 p
{
    width: 76%;
    font-size: 15px;
    color: #333;
    line-height: 1.4em;
}

.banner4 .downloadButton1 a
{
    position: absolute;
    bottom: 12%;
    left: 5%;
    width: 135px;
    border: 2px solid #545454;
    font-size: 0.75em;
    color: #545454;
    padding: 2px;
}

.banner4 .downloadButton2 a
{
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 210px;
    border: 2px solid #545454;
    font-size: 0.75em;
    color: #545454;
    padding: 2px;
}