﻿@model SGCare.Models.FooterContent
<!-- START Sticky Pledge  -->
@{
    Layout = null;
}

@if (!string.IsNullOrEmpty(@Model.StickyTitle) && !string.IsNullOrEmpty(@Model.StickyDesc) && !string.IsNullOrEmpty(@Model.PledgeNowImage))
{ 
    <div class="pledge-sticky">
        <span class="close">
            <img src="/assets/SGCares/images/btn-white-close.png" /></span>
        <h4>@Model.StickyTitle</h4>
        <p>@Model.StickyDesc</p>
        <a href="/singaporecares">
            <img src="@Model.PledgeNowImage"  onclick="ga('send', 'event', { eventCategory: 'SGCares Homepage', eventAction: 'Pledge now', eventLabel: 'sticky pledge’});"></a>
    </div>
}
<!-- END Sticky Pledge  -->


<footer id="page-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="desc">Connect with us:</p>
                <ul class="list-social">
                    @Html.Raw(Model.SocialMediaContent)
                </ul>
                <p class="logo">
                    <img class="thumb" src="@Model.FooterLogo">
                </p>
                <p class="small-desc">
                    @Html.Raw(Model.Copyrights)
                </p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">

    var FBID = '@Model.ConfigDetails.FBAppId';

    window.fbAsyncInit = function () {
        FB.init({
            appId: FBID, status: true, cookie: true,
            version: 'v2.2'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    /* Share on Faceboook */
    function Facebook(Title, Description, Img, HostName) {
        //console.log(Title + ',' + Description + ',' + Description + HostName + ',' + Img);
        FB.ui({
            method: 'feed', name: Title, link: window.location.href, picture: fbimg = HostName + Img, description: Description,
        }, function (response) {
            if (response && !response.error_message) {
                console.log('Posting completed.');
                //ga('send', 'event', { eventCategory: 'SGCares Story details', eventAction: 'Share', eventLabel: 'Facebook' });
                //ga('send', 'social', 'Facebook', 'share', window.location.href);
            } else {
                alert('Error while posting.');
            }
        });
    }

    /* Mail to functionality */
    function MailSend(Title, Content) {
        //console.log(Title + ', ' + Content);
        var email = '', subject = Title, emailBody = Content + '%0a' + encodeURIComponent(window.location.toString()) + '';
        document.location = "mailto:" + email + "?subject=" + subject + "&body=" + emailBody;
    }

    /* Whatsapp functionality */
    function WhatsApp(Content) {
        //   console.log(Content);
        var message = encodeURIComponent(Content) + ', ' + encodeURIComponent(window.location.toString()) + '';
        var whatsapp_url = "whatsapp://send?text=" + message;
        window.location.href = whatsapp_url;
    }

    /* Facebook Share Click Event */
    function FacebookShare(ctrlId) {
        try {
            if ($(ctrlId).length) {
                $(ctrlId).click(function () {
                    var title = $(this).data('title'), desc = $(this).data('desc'), img = $(this).data('img');
                    alert($(this).hasClass('details'));
                    if ($(this).hasClass('details')) {
                        $('#og-title').attr('content', title); $('#og-desc').attr('content', desc); $('#og-img').attr('content', img);
                    }
                    else { alert('not details'); }
                    alert('fb started');
                    Facebook(title, desc, img, '@Model.ConfigDetails.HostName');
                });
            } else { return false; }
        } catch (ex) { throw ex; }
    }

    /* Outllok Click Event */
    function Outlook(ctrlId) {
        try {
            if ($(ctrlId).length) {
                $(ctrlId).click(function () {
                    var title = $(this).data('title'), desc = $(this).data('desc');
                    MailSend(title, desc);
                });
            } else { return false; }
        } catch (ex) { throw ex; }
    }

    /* WhatsApp Share Click Event */
    function WhatsAppShare(ctrlId) {
        try {
            if ($(ctrlId).length) {
                $(ctrlId).click(function () {
                    var desc = $(this).data('desc'); WhatsApp(desc);
                });
            } else { return false; }
        } catch (ex) { throw ex; }
    }

    FacebookShare('.facebook'); Outlook('.outlook'); WhatsAppShare('.whatsapp');

</script>



