﻿@model SGCare.Models.Story

@{
    ViewBag.Title = "Singapore Cares :: Stories";
    Layout = null;
}

@using Sitecore.Links;
@using SGCare.Models;

@*@section scripts{
    @Html.Raw(Model.Metatags)
}*@

<main class="page page-article page-story-detail">
        <div class="container-fluid">
            <!-- begin section hero -->
            <section class="section-hero">
                <div class="wrap-hero">
                    <img class="bg-thumb hidden-xs" src="@Model.DeskThumbImage" />
                    <img class="bg-thumb visible-xs" src="@Model.MobThumbImage" />
                </div>
            </section>
            <!-- end section hero -->
            <!-- begin section main -->
            <section class="section-main">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-push-1 no-padding">
                            <div class="block-social">
                               <a class="icon icon-facebook" href="javascript:Facebook('@Model.SocShareTitle','@Model.SocShareDesc','@Model.SocShareImage','@Model.HostName')">facebook</a>
                                <a class="icon icon-mail" href="javascript:MailSend('@Model.SocShareTitle','@Model.SocShareDesc')" onclick="ga('send', 'event', { eventCategory: 'SGCares Story details', eventAction: 'Share', eventLabel: 'Email'});">mail</a>
                               <a class="icon icon-whatsapp" href="javascript:WhatsApp('@Model.SocShareDesc')" data-action="share/whatsapp/share" onclick="ga('send', 'event', { eventCategory: 'SGCares Story details', eventAction: 'Share', eventLabel: 'Whatsapp'});">Share via Whatsapp</a>
                            </div>
                            <article class="article-content">

                                <h3 class="title">
                                  <img src="@Model.CategoryIconPath" alt="">

                                  <span>@Html.Sitecore().Field("Title")</span>
                                </h3>
                                @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Author").ToString()))
                                { 
                                <p>By @Html.Sitecore().Field("Author")</p>
                                }

                                @Html.Sitecore().Field("Introduction")

                                <ul class="list-img">
                                    @foreach (var img in Model.CarouseItems)
                                    {
                                        if (img.ItemType == "Image")
                                        { 
                                        <li><img src="@img.ItemImage"></li>
                                        }
                                        else
                                        {
                                        <li>
                                        <div class="wrap-video">
                                            <img class="bg-thumb" src="@img.ItemImage">
                                            <div class="video-play-wrapper">
                                                <a href="#modalVideo2" title="Play" class="play" data-src="@img.Url"></a>
                                                <svg>
                                                    <rect class="outer" rx="20" ry="20" width="64" height="64"></rect>
                                                    <rect class="inner" x="7" y="7" rx="16" ry="16" width="50" height="50"></rect>
                                                    <path class="triangle" d="M24 20 L48 32 L24 44 L24 20 L48 32"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                        }

                                    }
                                </ul>

                                 @Html.Sitecore().Field("Bodycopy")

                            </article>
                        </div>
                        <div class="side-bar col-xs-12 col-sm-4 col-sm-push-1">

                             @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Find Out How URL").ToString()))
                             { 
                                <div class="banner text-center">
                                    <h3 class="title">@Html.Sitecore().Field("Ready to Join Title")</h3>
                                    <p class="desc">@Html.Sitecore().Field("Ready to Join Description")</p>
                                    <div class="button__wrapper">
                                     @{
                                 string url = !string.IsNullOrEmpty(Model.FindOutHowUrl) ? Model.FindOutHowUrl : "javascript:void(0)";
                                    }
                                         @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Find Out How Text").ToString()))
                                         {
                                        <a href="@url" class="button button--read-more collapsed" target="_blank" title="@Html.Sitecore().Field("Find Out How Text")">@Html.Sitecore().Field("Find Out How Text")</a>
                                        <svg>
                                            <rect class="outer" rx="12" ry="12" width="180" height="44" />
                                            <rect class="inner" x="4" y="4" rx="10" ry="10" width="172" height="36" />
                                        </svg>
                                         }
                                    </div>
                                </div>
                             }

                             @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Email").ToString()))
                             {
                                <div class="banner text-center">
                                     @if (string.IsNullOrEmpty(Html.Sitecore().Field("Find Out How URL").ToString()))
                                     {
                                         <h3 class="title">@Html.Sitecore().Field("Ready to Join Title")</h3>
                                     }
                                    <p class="desc">@Html.Sitecore().Field("Mail Description")</p>
                                    <div class="button__wrapper">
                                         @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Drop us an email text").ToString()))
                                         {
                                             string ccEmail = !string.IsNullOrEmpty(Convert.ToString(@Html.Sitecore().Field("CC Email"))) ? Convert.ToString(@Html.Sitecore().Field("CC Email")) : " ";
                                        <a href="mailto:@Html.Sitecore().Field("Email")?cc=@ccEmail&subject=@Html.Sitecore().Field("Story Title") volunteer sign-up&body=Hi! We’re interested in taking on this cause that you’re spearheading. Please tell us how we can contribute our time and skills to it.%0d%0a%0d%0aHere are our details.%0d%0a%0d%0aAbout Us:%0d%0aOrganisation/group name:%0d%0aContact person:%0d%0aContact number:%0d%0aAvailability (duration or schedule):%0d%0a%0d%0aVolunteer Details%0d%0aNumber of volunteers (estimated):%0d%0aAge range:%0d%0aSkill sets (please list): %0d%0aWe are volunteering because:%0d%0a" class="button button--drop-email collapsed" title="@Html.Sitecore().Field("Drop us an email text")" onclick="ga('send', 'event', { eventCategory: 'SGCares Story details', eventAction: 'Drop us an email', eventLabel: '@Html.Sitecore().Field("Story Title")'});">@Html.Sitecore().Field("Drop us an email text")</a>
                                        <svg>
                                            <rect class="outer" rx="12" ry="12" width="180" height="44" />
                                            <rect class="inner" x="4" y="4" rx="10" ry="10" width="172" height="36" />
                                        </svg>
                                         }
                                    </div>
                                </div>
                             }
                            
                          @if (((List<Story>)ViewBag.RelatedStories).Count > 0)
                          {
                            <div class="block-relate">
                                <h3 class="title">Related Stories</h3>
                                <div class="items">
                                     @foreach (Story story in (List<Story>)ViewBag.RelatedStories)
                                     {
                                        <div class="item__wrapper clearfix">
                                            <div class="item__img pull-left">
                                                <img src="@story.ThumbnailImage" alt="">
                                            </div>
                                            <div class="item__info pull-left">
                                                <a href="@story.ItemPath" title="@story.CTA" class="link" onclick="ga('send', 'event', { eventCategory: 'SGCares Story details', eventAction: 'Related story', eventLabel: '@story.Title'});">
                                                    <span>@story.Title</span>
                                                </a>
                                            </div>
                                        </div>
                                     }
                                    
                                </div>
                            </div>
                          }
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section main -->
        </div>
    </main>

<!-- [begin modal]-->
<div class="wrap-modal">
    <div rol="dialog" id="modalVideo2" class="modal fade modal-fullscreen style-video-2 ">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-body">
                    <iframe width="560" height="315" data-src="" src="" frameborder="0" allowfullscreen></iframe>
                    <!-- <a data-dismiss="modal" href="javascript:void(0);" class="close-button" aria-label="Close"></a> -->
                    <br />
                    <div class="wrap-button">
                        @*<div class="button__wrapper">
                            <a class="button" href="#" title="link">GET STARTED</a>
                            <svg>
                                <rect class="outer" rx="12" ry="12" />
                                <rect class="inner" x="4" y="4" rx="10" ry="10" />
                            </svg>
                        </div>*@
                        <div class="button__wrapper">
                            <a class="button" data-dismiss="modal" href="javascript:void(0);" title="close">CLOSE</a>
                            <svg>
                                <rect class="outer" rx="12" ry="12" />
                                <rect class="inner" x="4" y="4" rx="10" ry="10" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [end modal]-->

<script type="text/javascript">

    var FBID = '@Model.FBAppId';

    $(function () {

        $('.nav-item.last').addClass('active');

        /* Hide BX Slider Paging when only one slide*/
        function HideBXSliderPage(ctrlId) {
            '@Model.CarouseItems.Count' <= 1 ? $(ctrlId).parent().remove() : false;
        }

        HideBXSliderPage('.bx-pager')
    });

        window.fbAsyncInit = function () {
            FB.init({
                appId: FBID, status: true, cookie: true,
                version: 'v2.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        /* Share on Faceboook */
        function Facebook(Title, Description, Img, HostName) {
            // calling the API ...
            //var fbtitle = Title, fbdes = Description, fbimg = HostName + Img, obj = {
            //    method: 'feed', link: window.location.href, picture: fbimg, name: fbtitle,
            //    // caption: fbdes,
            //    description: fbdes
            //};
            //ga('send', 'social', 'Facebook', 'share', window.location.href);
            //FB.ui(obj);
            FB.ui({
                method: 'feed',
                name: Title,
                link: window.location.href,
                picture: fbimg = HostName + Img,
                description: Description,
            }, function (response) {
                if (response && !response.error_message) {
                    alert('Posting completed.');
                    ga('send', 'event', { eventCategory: 'SGCares Story details', eventAction: 'Share', eventLabel: 'Facebook' });
                    ga('send', 'social', 'Facebook', 'share', window.location.href);
                } else {
                    alert('Error while posting.');
                }
            }
            );
        }

        /* Mail to functionality */
        function MailSend(Title, Content) {
            var email = '', subject = Title, emailBody = Content + '%0a' + encodeURIComponent(window.location.toString()) + '';
            document.location = "mailto:" + email + "?subject=" + subject + "&body=" + emailBody;

        }
        /* Whatsapp functionality */
        function WhatsApp(Content) {
            var message = encodeURIComponent(Content) + ', ' + encodeURIComponent(window.location.toString()) + '';
            var whatsapp_url = "whatsapp://send?text=" + message;
            window.location.href = whatsapp_url;
        }


</script>
