﻿@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<script src="/Scripts/jquery-1.7.1.js"></script>

<script type="text/javascript">

    $(function () {

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/SGCare/Welcome',
            data: { id: '67' },
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('error');
            }
        });
    })
</script>
