﻿@model SGEventsCalendar.Models.SGEvent
@{
    ViewBag.Title = "EventsListing";
}

@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@using System.Linq;
@using SGEventsCalendar.Models;
@using Sitecore.Links;

@{
    DateTime now = DateTime.Now.AddMonths(-1);
    now = new DateTime(now.Year, now.Month, 1);

    DateTime nowDisable = DateTime.Now;
    List<int> months = new List<int>() { Convert.ToInt32(now.ToString("MM")), Convert.ToInt32(now.AddMonths(1).ToString("MM")), Convert.ToInt32(now.AddMonths(2).ToString("MM")) };
}

<!-- Page event listing -->
@using (Html.BeginForm("EventsListing", "SGEvents", FormMethod.Post, new { id = "formPost" }))
{
    
    <div class="page-event-listing">
        <!-- Section head -->
        @if (!string.IsNullOrEmpty(Model.IntroTitle) || !string.IsNullOrEmpty(Model.IntroContent))
        { 
            <div class="section section-head">
                <h2 class="section-heading">@Model.IntroTitle</h2>

                @if (!string.IsNullOrEmpty(Model.IntroContent))
                {
                    <p class="section-desc">
                        @Html.Raw(Model.IntroContent)
                    </p>
                }
            </div>
        }
        <!-- End Section head -->

        <!-- Section filter -->
        <div class="filter-bg"></div>
        <div class="section-filter">
            <div class="wrap-func">
                <a href="javascript:void(0);" onclick="ga('send', 'event', { eventCategory: 'SG Event Listing', eventAction: 'Open', eventLabel: 'open filter'});" class="btn-filter">Filters
					<i class="fa fa-sliders"></i>
                </a>
                <a href="/SG/events-calendar" class="btn btn-reset">Reset</a>
            </div>

            <ul class="list">
                <li class="item select-category">
                    @Html.Hidden("categoryName", string.Empty)
                    <label>Category</label>
                    <i class="fa fa-angle-right"></i>
                    <select>
                        @if (Model.Categories.Count > 0)
                        { 
                            <option value="0">@Model.Categories[0].AllOption</option>
                        }
                        @foreach (var cate in Model.Categories)
                        { 
                            <option value="@cate.Value">@cate.Text</option>
                        }
                    </select>
                </li>
                <li class="item select-type">
                    @Html.Hidden("type", string.Empty)

                    <label>Type</label>
                    <i class="fa fa-angle-right"></i>
                    <select>
                        @if (Model.EventTypes.Count > 0)
                        { 
                            <option value="0">@Model.EventTypes[0].AllOption</option>
                        }
                        @foreach (var type in Model.EventTypes)
                        { 
                            <option value="@type.Value">@type.Text</option>
                        }
                    </select>
                </li>
                <li class="item select-audience">
                    @Html.Hidden("audiType", string.Empty)
                    <label>Audience</label>
                    <i class="fa fa-angle-right"></i>
                    <select>
                        @if (Model.AudienceTypes.Count > 0)
                        { 
                            <option value="0">@Model.AudienceTypes[0].AllOption</option>
                        }
                        @foreach (var audi in Model.AudienceTypes)
                        { 
                            <option value="@audi.Value">@audi.Text</option>
                        }
                    </select>
                </li>
                @{
                        DateTime first = new DateTime(nowDisable.Year, 1, 1);
                }
                <li class="item select-period">
                    @Html.Hidden("period", string.Empty)

                    <label>Period</label>
                    <i class="fa fa-angle-right"></i>
                    <select class="hidden-xs">
                        <option value="0">All time</option>
                        @{string filterHide = " ";}
                        @for (int index = 0; index < 8; index++)
                        {

                            if (index != 0 && index != 4)
                            {
                                filterHide = "opt-hide";
                            }
                            else
                            {
                                filterHide = " ";
                            }
                         
                            <option value="@first.AddMonths((index * 3)).ToString("MM,yyyy"),@first.AddMonths((index * 3) + 2).ToString("MM,yyyy")">&lt;span class="year @filterHide"&gt;@first.AddMonths((index * 3)).ToString("yyyy")&lt;/span&gt;
                            &lt;span class="month"&gt;@first.AddMonths((index * 3)).ToString("MMM") - @first.AddMonths((index * 3) + 2).ToString("MMM")&lt;/span&gt;
                            </option>
                        }
                    </select>
                    <select class="visible-xs" style="display: none;">
                        <option value="0">All time</option>
                        @for (int index = 0; index < 8; index++)
                        {
                            <option value="@first.AddMonths((index * 3)).ToString("MM,yyyy"),@first.AddMonths((index * 3) + 2).ToString("MM,yyyy")">@first.AddMonths((index * 3)).ToString("yyyy") @first.AddMonths((index * 3)).ToString("MMM") - @first.AddMonths((index * 3) + 2).ToString("MMM")
                            </option>
                        }
                    </select>
                </li>
                <li class="item">
                    <a href="#" class="btn btn-apply">Apply</a>
                    <a href="/SG/events-calendar" class="btn btn-reset">Reset</a>
                </li>
            </ul>
        </div>
        <!-- End Section filter -->
        <!-- Section calendar -->
        <div class="section section-calendar">
            <div class="wrap-mobile-month">
                <ul class="list">
                    @{int MobileFilterItemsCount = 0; int indexValueM; int indexValueCountM = 0; int forCountM = 11; int yearValueM = 0; int ExpandValueM = 0;}
                    @for (int index = 0; index <= forCountM; index++)
                    {
                        string active = string.Empty;


                        indexValueM = index;
                        if (Model.GetPost == "Post with filter")
                        {


                            forCountM = 2;

                            if (Model.PeriodStartYear == Convert.ToInt32(first.AddYears(1).ToString("yyyy")))
                            {
                                yearValueM = 12;
                            }

                            if (indexValueCountM == 0)
                            {
                                active = "active";
                            }

                            if (Model.PeriodStartMonth == 1)
                            {

                                indexValueM = 0 + yearValueM - (nowDisable.Month - 2) + indexValueCountM;
                                indexValueCountM++;

                            }

                            else if (Model.PeriodStartMonth == 4)
                            {
                                indexValueM = 3 + yearValueM - (nowDisable.Month - 2) + indexValueCountM;
                                indexValueCountM++;
                            }

                            else if (Model.PeriodStartMonth == 7)
                            {
                                indexValueM = 6 + yearValueM - (nowDisable.Month - 2) + indexValueCountM;
                                indexValueCountM++;
                            }

                            else if (Model.PeriodStartMonth == 10)
                            {
                                indexValueM = 9 + yearValueM - (nowDisable.Month - 2) + indexValueCountM;
                                indexValueCountM++;
                            }

                        }
                        else
                        {
                            if (Model.GetPost == "Get")
                            {
                                ExpandValueM = 1;
                            }
                            active = index == ExpandValueM ? "active" : string.Empty;
                        }

                        //List<SGEvent> _filterItems = Model.ListEvents.Where(x => ((Convert.ToInt32(x.FromDate.ToString("MM")) == now.AddMonths(indexValueM).Month && Convert.ToInt32(x.FromDate.ToString("yyyy")) == now.AddMonths(indexValueM).Year) || (Convert.ToInt32(x.FromDate.ToString("MM")) == now.AddMonths(indexValueM).Month) && x.FromDate <= now.AddMonths(indexValueM).Date && x.ToDate == new DateTime(0001, 1, 1)) || ((x.ToDate >= now.Date) && x.FromDate <= now.AddMonths(indexValueM).Date) && x.ToDate >= now.AddMonths(indexValueM)).ToList();


                        List<SGEvent> _filterItems = Model.ListEvents.Where(x =>

                       (Convert.ToInt32(x.FromDate.ToString("MM")) == now.AddMonths(indexValueM).Month && Convert.ToInt32(x.FromDate.ToString("yyyy")) == now.AddMonths(indexValueM).Year)

                       || (x.ToDate >= now.AddMonths(indexValueM).Date && x.FromDate <= now.AddMonths(indexValueM).Date)

                       ).ToList();

                        if ((_filterItems.Count >= 0 && Model.GetPost == "Get") || (_filterItems.Count > 0 && Model.GetPost == "Post") || (_filterItems.Count >= 0 && Model.GetPost == "Post with filter"))
                        {
                            MobileFilterItemsCount++;
                          
                        <li class="item">
                            <a class="@active" href="javascript:void(0)" onclick="ga('send', 'event', { eventCategory: 'SG Event Listing', eventAction: 'Top bar click', eventLabel: @string.Format("'{0}_{1}'", now.AddMonths(indexValueM).ToString("MMM"), now.AddMonths(indexValueM).ToString("yyyy"))});" data-month="@now.AddMonths(indexValueM).Month">@now.AddMonths(indexValueM).ToString("MMM") @now.AddMonths(indexValueM).ToString("yyyy")</a>
                        </li>
                        }
                    }

                    @if (MobileFilterItemsCount == 0 && Model.GetPost != "Post with filter")
                    {
                        if (Model.GetPost == "Get")
                        {
                            ExpandValueM = 1;
                        }
                        for (int index = 0; index <= 11; index++)
                        {
                            string active = string.Empty;
                            active = index == ExpandValueM ? "active" : string.Empty;
                        <li class="item">
                            <a class="@active" href="javascript:void(0)" onclick="ga('send', 'event', { eventCategory: 'SG Event Listing', eventAction: 'Top bar click', eventLabel: @string.Format("'{0}_{1}'", now.AddMonths(index).ToString("MMM"), now.AddMonths(index).ToString("yyyy"))});" data-month="@now.AddMonths(index).Month">@now.AddMonths(index).ToString("MMM") @now.AddMonths(index).ToString("yyyy")</a>
                        </li>
                        }
                    }

                </ul>
            </div>
            <div class="wrap-calendar">
                <!-- block event loop -->
                @{int monthInd = 0; int indexValue; int indexValueCount = 0; int forCount = 11; int yearValue = 0; int ExpandValue = 0;}
                @for (int index = 0; index <= forCount; index++)
                {

                    indexValue = index;
                    if (Model.GetPost == "Post with filter")
                    {
                        forCount = 2;


                        if (Model.PeriodStartYear == Convert.ToInt32(first.AddYears(1).ToString("yyyy")))
                        {
                            yearValue = 12;
                        }

                        if (Model.PeriodStartMonth == 1)
                        {
                            indexValue = 0 + yearValue - (nowDisable.Month - 2) + indexValueCount;
                            indexValueCount++;
                        }

                        else if (Model.PeriodStartMonth == 4)
                        {
                            indexValue = 3 + yearValue - (nowDisable.Month - 2) + indexValueCount;
                            indexValueCount++;
                        }

                        else if (Model.PeriodStartMonth == 7)
                        {
                            indexValue = 6 + yearValue - (nowDisable.Month - 2) + indexValueCount;
                            indexValueCount++;
                        }

                        else if (Model.PeriodStartMonth == 10)
                        {
                            indexValue = 9 + yearValue - (nowDisable.Month - 2) + indexValueCount;
                            indexValueCount++;
                        }
                    }

                    DateTime.Compare(new DateTime(), new DateTime());

                    List<SGEvent> _filterItems = Model.ListEvents.Where(x =>

                        (Convert.ToInt32(x.FromDate.ToString("MM")) == now.AddMonths(indexValue).Month && Convert.ToInt32(x.FromDate.ToString("yyyy")) == now.AddMonths(indexValue).Year)

                        || (x.ToDate >= now.AddMonths(indexValue).Date && x.FromDate <= now.AddMonths(indexValue).Date)

                        ).ToList();

                    // ((Convert.ToInt32(x.FromDate.ToString("MM")) == now.AddMonths(indexValue).Month && Convert.ToInt32(x.FromDate.ToString("yyyy")) == now.AddMonths(indexValue).Year) || (Convert.ToInt32(x.FromDate.ToString("MM")) == now.AddMonths(indexValue).Month) && x.FromDate <= now.AddMonths(indexValue).Date && x.ToDate == new DateTime(0001, 1, 1)) || ((x.ToDate >= now.Date) && x.FromDate <= now.AddMonths(indexValue).Date) && x.ToDate >= now.AddMonths(indexValue)).ToList();

                    if ((_filterItems.Count >= 0 && Model.GetPost == "Get") || (_filterItems.Count > 0 && Model.GetPost == "Post") || (_filterItems.Count >= 0 && Model.GetPost == "Post with filter"))
                    {
                        string collpase, text;
                        if (Model.GetPost == "Get")
                        {
                            ExpandValue = 1;
                        }

                        collpase = index == ExpandValue ? "collapsed" : string.Empty; text = index == ExpandValue ? "collapse" : "Expand";


                        string isShow;
                        isShow = monthInd > 2 ? "none" : "block";
                                  
                    <div class="block-event month" data-post="@Model.GetPost" data-month="@now.AddMonths(indexValue).Month" style="display:@isShow">
                        <div class="inner">
                            <img class="bg" src="/assets/sgcalendar/images/calendar/block-event-month-@string.Format("{0}", (index % 3 + 1) + ".jpg")"  />
                            @{monthInd++; if (@Model.PostStartMonth == 0)
                              {
                                  Model.PostStartMonth = now.AddMonths(index).Month;
                              }}
                            <div class="wrap-info">
                                @if (_filterItems.Count > 0)
                                { 
                                    <p class="desc">@_filterItems.Count exciting events are happening in</p>
                                }
                                <h3 class="month-large">@now.AddMonths(indexValue).ToString("MMM")</h3>
                                <h3 class="year-large">@now.AddMonths(indexValue).ToString("yyyy")</h3>
                            </div>
                            <div class="wrap-action">
                                <a href="javascript:void(0)" class="btn-action @collpase">
                                    <span class="text">@text</span>
                                    <span class="icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    }

                    if (_filterItems != null && _filterItems.Count > 0)
                    {
                        if (@now.AddMonths(indexValue).Month == DateTime.Now.Month && @now.AddMonths(indexValue).Month == DateTime.Now.Year && Model.GetPost == "Get")
                        {
                            _filterItems = Model.ListItems;
                        }
                        
                        foreach (SGEvent each in _filterItems)
                        {
                            string hide = index == ExpandValue ? string.Empty : "hidden", disable = string.Empty;

                            if (each.FromDate < nowDisable.Date && each.ToDate < nowDisable.Date)
                            {
                                disable = "disable";
                            }

                            
                    <div class="block-event @disable @hide" data-index="@index"  data-expand-value="@DateTime.Now.Month" data-month="@now.AddMonths(indexValue).Month" data-img="@each.DetailLargeImg" data-page="listing">
                        <a class="inner" href="javascript:void(0);" data-item-id="@each.item.ID" data-item-url="@LinkManager.GetItemUrl(each.item)">
                            <figure class="wrap-thumb">
                                @if (disable == "disable")
                                {
                                    <img class="thumb gray-img" src="@each.ThumbImg" alt="@each.ThumbImgAlt" />
                                }
                                else
                                {
                                    <img class="thumb" src="@each.ThumbImg" alt="@each.ThumbImgAlt" />
                                }
                                @if (!string.IsNullOrEmpty(each.EntryType))
                                { 
                                    <span class="tag">@each.EntryType</span>
                                }
                            </figure>

                            @{
                                string[] names = System.Globalization.DateTimeFormatInfo.CurrentInfo.AbbreviatedDayNames;
                            }

                            <div class="wrap-info">
                                <div class="left">
                                    <div class="date from-date">
                                        <div class="dow">@names[(int)each.FromDate.DayOfWeek]</div>
                                        <div class="dom">@each.FromDate.ToString("dd")</div>
                                        <div class="year hide-small">@each.FromDate.ToString("MMM") '@each.FromDate.ToString("yy")</div>
                                        <div class="year show-small">@each.FromDate.ToString("MMM")<div style="display: none">'@each.FromDate.ToString("yy")</div>
                                        </div>
                                    </div>

                                    @if (each.ToDate != new DateTime(0001, 1, 1) && !each.AllDay && each.FromDate.Date != each.ToDate.Date)
                                    { 
                                        <div class="date to-date">
                                            <div class="dow">@names[(int)@each.ToDate.DayOfWeek]</div>
                                            <div class="dom">@each.ToDate.ToString("dd")</div>
                                            <div class="year hide-small">@each.ToDate.ToString("MMM") '@each.ToDate.ToString("yy")</div>
                                            <div class="year show-small">@each.ToDate.ToString("MMM")<div style="display: none">'@each.FromDate.ToString("yy")</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="right">
                                    <div class="wrap-title">
                                        <div class="event-type">@each.Category</div>
                                        <h3 class="event-title">@each.Name</h3>
                                    </div>
                                    <div class="wrap-location">
                                        @if (each.AllDay)
                                        {
                                            <div class="time">All Day</div>
                                        }
                                        @if (!each.AllDay && (each.FromDate.ToString("HH.mm") != "00.00" || each.FromDate.ToString("HH.mm") != "00.00"))
                                        { 
                                           
                                            <div class="time">@each.FromDate.ToString("HH.mm") - @each.ToDate.ToString("HH.mm")</div>
                                        }

                                        <div class="place">@each.Location</div>
                                    </div>
                                </div>

                                <div class="hide-event-info" style="display: none">

                                    @Html.Hidden("detail-desc", each.Description, new { @class = "detail-desc" })
                                    <br />
                                    @Html.Hidden("maps-link", each.GoogleMapLink, new { @class = "maps-link" })
                                    <br />
                                    @Html.Hidden("soc-share-title", each.SocShareTitle, new { @class = "soc-share-title" })
                                    @Html.Hidden("soc-share-img", each.SocShareImg, new { @class = "soc-share-img" })
                                    @Html.Hidden("soc-share-desc", each.SocShareDesc, new { @class = "soc-share-desc" })
                                    <br />
                                    @Html.Hidden("website-url", each.Url, new { @class = "website-url" })
                                    <br />
                                    @Html.Hidden("mail-to", each.EventDetailsMail, new { @class = "mail-to" })
                                    @Html.Hidden("note-title", each.NoteTitle, new { @class = "note-title" })
                                    @Html.Hidden("note-con", each.NoteContent, new { @class = "note-con" })
                                    @Html.Hidden("terms-title", each.TermsTitle, new { @class = "terms-title" })
                                    @Html.Hidden("terms-url", each.TermsCondExternalLink, new { @class = "terms-url" })
                                    @Html.Hidden("item-name", each.item.Name, new { @class = "item-name" })

                                    @Html.Hidden("cat-type", each.Category, new { @class = "cat-type" })
                                    @Html.Hidden("audi-type", each.AudienceType, new { @class = "audi-type" })
                                    @Html.Hidden("item-event-type", each.Type, new { @class = "item-event-type" })
                                    @Html.Hidden("item-period", each.FromDate.ToString("dd-MM-yyyy") + " to " + each.ToDate.ToString("dd-MM-yyyy"), new { @class = "item-period" })
                                </div>
                            </div>
                        </a>
                    </div>
                        }
                    }

                    else
                    {
                        string hide = index == 0 ? string.Empty : "hidden";
                        if (Model.GetPost != "Post")
                        { 
                    <div class="block-event comming @hide" data-month="@now.AddMonths(indexValue).Month">
                        <div class="inner">
                            <span class="flash"></span>
                            <img class="bg" src="/assets/sgcalendar/images/calendar/block-event-img-none.jpg" alt="No Image" />
                        </div>
                    </div>
                        }
                    }
                }

                @if ((Model.GetPost == "Get" && 12 - 1 > 3) || (monthInd > 3 && Model.GetPost == "Post"))
                { 
                    <div class="block-event block-more">
                        <div class="inner">
                            <img class="bg" src="/assets/sgcalendar/images/calendar/block-event-more-bg.jpg" alt="Events More" />
                            <a href="javascript:void(0)" class="link-more" onclick="ga('send', 'event', { eventCategory: 'SG Event Listing', eventAction: 'View', eventLabel: 'view next 3 months'});">
                                <span class="content">
                                    <span>View next 3 months</span>
                                    <ul class="anim-loader">
                                        <li class="circle"></li>
                                        <li class="circle"></li>
                                        <li class="circle"></li>
                                    </ul>
                                </span>
                            </a>
                        </div>
                    </div>
                }

@*<div class="block-event block-add">
                    <div class="inner">
                        <img class="bg" src="/assets/sgcalendar/images/calendar/block-event-img-add.jpg" />
                        <div class="wrap-add">
                            <a class="btn-add" href="javascript:void(0);"></a>
                            <div class="wrap-add-info">
                                <p class="desc">@Model.NewEvent.NewBlockTitle</p>
                                <a class="link" target="_blank" href="@Model.NewEvent.TermsUrl">@Model.NewEvent.TermsConditionsCTA</a>
                            </div>
                        </div>
                    </div>
                </div>*@
                <!-- end block event loop -->
            </div>
            <div class="wrap-tnc">
                @if (!string.IsNullOrEmpty(Model.TandCContent) && !string.IsNullOrEmpty(Model.TandCLink))
                {
                    <p>
                        @Model.TandCContent <a target="_blank" href="@Model.TandCLink" class="link">here</a>.
                    </p>
                }
            </div>
        </div>
        <!-- End Section calendar -->
    </div>
}
<!-- End Page event listing -->


<!-- Download Popup -->
<div class="downloadPopupWraper" id="downloadGuides">
    <div class="downloadPopupContainer">
        <div class="inner">
            <div class="downloadHeader">
                <p>
                    <a href="javascript:void(0);"></a>
                </p>
            </div>
            <div class="downloadCon">
                <h1>Our singapore spirit</h1>
                <br />
                <br />
                <img src="/assets/sgcalendar/images/ovelay-logo.png" alt="">
                <p class="note">
                    <i>The Singapore spirit lives in all of us.
                            <br />
                        In the things we do and the unique ways in which we do them.
                            <br />
                        <br />
                        And as we move towards our future,
                            <br />
                        it’s this spirit that will carry us forward.
                    </i>
                </p>
                <p>
                    As a symbol of the shared values and aspirations that bind us as a nation, we created the SG logo. We
                        encourage all who would like to identify with the Singapore Spirit to use the logo.
                </p>
                <p>
                    Please note that use of the SG logo does not imply endorsement of any event, product or service. We hope
                        that you will treat the SG logo with dignity and respect, and in accordance with Singapore laws.
                </p>
                <p>Lastly, we recommend that you only use SG logo files downloaded from this website.</p>
                <div class="downloadBTN">
                    <a href="#">Download SG Logo and Usage Guide</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Download Popup -->
<!-- Submit Event Popup -->
<div class="submitEventPopupWraper" id="submitEventGuides">
    <div class="submitEventPopupContainer">
        <div class="inner">
            <div class="submitEventHeader">
                <a href="javascript:void(0);"></a>
            </div>
            <div class="submitEventCon">
                <h1>Tell us about your event</h1>
                <br />
                <br />
                <p class="note">
                    Holding an event that carries the Singapore Spirit?
                        <br />
                    Get it listed here so more Singaporeans can find out about it.
                </p>
                <ul>
                    <li>This is Photoshop's version of Lorem Ipsum. Proinravida nibh vel velit adiscping elit.</li>
                    <li>Auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</li>
                    <li>Consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                            amet mauris.</li>
                    <li>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris
                            vitae erat asdispc.</li>
                    <li>Consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                            per inceptos</li>
                    <li>Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque
                            elit.
                    </li>
                </ul>
                <div class="submitEventBTN">
                    <a href="mailto:">Submit an event</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Submit Event Popup -->
<!-- Detail Event Popup -->
<div class="eventDetailPopupWraper" id="eventDetail">
    <div class="eventDetailPopupContainer">
        <div class="inner">
            <div class="eventDetailHeader">
                <a href="javascript:void(0);"></a>
            </div>
            <div class="eventDetailHeaderMobile">
                <a href="javascript:void(0);" class="close">
                    <i class="fa fa-angle-left"></i>
                </a>
                <div class="wrap-social">
                    <ul class="list">
                        <li class="item">
                            <a target="_blank" data-mobile-href="whatsapp://send?text=Text!" data-desktop-href="https://web.whatsapp.com/send?text=share_text" href=""
                                data-action="share/whatsapp/share" target="_blank" class="whatsapp">
                                <img src="/assets/sgcalendar/images/calendar/icon-whatsapp.png" />
                            </a>
                        </li>
                        <li class="item">
                            <a href="http://www.facebook.com/share.php?u=www.sg" target="_blank" class="facebook">
                                <img src="/assets/sgcalendar/images/calendar/icon-facebook.png" />
                            </a>
                        </li>
                        <li class="item">
                            <a href="mailto:" class="mail">
                                <img src="/assets/sgcalendar/images/calendar/icon-mail.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="eventDetailCon">
                <figure class="wrap-thumb">
                    <img class="thumb" src="/assets/sgcalendar/images/calendar/event-detail-large.jpg" />
                    <span class="tag">Free Apply</span>
                </figure>
                <div class="wrap-info">
                    <div class="left">
                        <div class="date from-date">
                            <div class="dow">Mon</div>
                            <div class="dom">20</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                        <div class="date to-date">
                            <div class="dow">Web</div>
                            <div class="dom">31</div>
                            <div class="year hide-small">MAR '17</div>
                            <div class="year show-small">MAR</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="wrap-title">
                            <div class="event-type">Our Celebration Fund</div>
                            <h3 class="event-title">A Cleaner, Greener and Smart Home Symposium</h3>
                        </div>
                        <div class="wrap-location">
                            <div class="time">10.00 - 18.00</div>
                            <div class="place">
                                The Marketplace, Future of Us Exhibition, Gardens by the Bay
                                    <a href="https://www.google.com/maps" target="_blank" class="link">View on Google Maps</a>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-clear"></div>
                    <div class="content">
                        <p>
                            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
                                id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
                                auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                                inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit
                                amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
                                Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl
                                quis neque. Suspendisse in orci enim.
                        </p>
                        <a href="http://www.loremipsum.com" target="_blank" class="link">www.loremipsum.com</a>
                    </div>
                    <div class="wrap-social">
                        <ul class="list">
                            <li class="item">
                                <a href="http://www.facebook.com/share.php?u=www.sg" target="_blank" class="facebook">
                                    <img src="/assets/sgcalendar/images/facebook.png" />
                                </a>
                            </li>
                            <li class="item">
                                <a href="mailto:" class="mail">
                                    <img src="/assets/sgcalendar/images/icon-email.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="wrap-tnc">
                        <a href="#" class="link">Terms and conditions apply.</a>
                    </div>
                </div>
            </div>
            <div class="eventDetailFooter">
                <p class="note">Got a similar event?</p>
                <p class="desc">
                    Get it listed
                        <a href="mailto:" class="link">here</a> by sending us your event details.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Submit Event Popup -->
<div class="submitEventPopupWraper" id="submitEventGuides">
    <div class="submitEventPopupContainer">
        <div class="inner">
            <div class="submitEventHeader">
                <a href="javascript:void(0);"></a>
            </div>
            <div class="submitEventCon">
                <h1>@Model.OveryLayContent.OverlayTitle</h1>
                <br />
                <br />
                <p class="note">@Html.Raw(Model.OveryLayContent.OverlayContent)</p>
                <ul>
                    @Html.Raw(@Model.OveryLayContent.OverlayDescription)
                </ul>
                @{
                    string eMail = "mailto:" + @Model.OveryLayContent.Email;
                }
                <div class="submitEventBTN"><a href="@eMail">@Model.OveryLayContent.CTAText</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Submit Event Popup -->
<div class="no-items" style="display: none">
    <img src="/assets/sgcalendar/images/files-ic.png" alt="No Items or Events"><br>
    <br>
    No items found.
</div>
<style type="text/css">
    .no-items {
        font-family: Calibri;
        font-size: medium;
        font-weight: bold;
        color: #747474;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<script type="text/javascript">
    $(function () {

        function GetFilterData(ctrlId, catCtrls, arrCtrls, arrIndexCtrls) {
            if ($(ctrlId).length > 0 && $(catCtrls).length > 0 && $(arrCtrls).length >= 0) {
                $(ctrlId).click(function () {
                    var filterGATracking = '';
                    $(catCtrls).each(function () {
                        var value = '', index, optionIndex = '';
                        index = $(this).index();
                        console.log(index + ' index');
                        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {

                            if (index < 3) {
                                var optionTag = $(this).find('select:eq(0) option:selected'); value = optionTag.val(); optionIndex = optionTag.index();
                            }
                            else {
                                var optionTag = $(this).find('select:eq(1) option:selected'); value = optionTag.val(); optionIndex = optionTag.index();
                            }
                        }
                        else {
                            var liTag = $(this).find('li.selected'); value = liTag.data('value'); optionIndex = liTag.index();
                            filterGATracking += filterGATracking != '' ? '_' + liTag.text() : liTag.text();
                        }
                        $(arrCtrls[index]).val(value + ': ' + optionIndex);
                    });
                    ga('send', 'event', { eventCategory: 'SG Event Listing', eventAction: 'Apply', eventLabel: filterGATracking });
                    $('form#formPost').submit();
                });
            } else { return false; }
        }

        GetFilterData('.btn.btn-apply', '.section-filter > .list > li:not(:last)', ['#categoryName', '#type', '#audiType', '#period'], ['#categoryOption', '#typeOption', '#audiOption', '#periodOption']);

        /* Set Select */
        function SetSelectedOption(ctrlId, arrIndexCtrls) {
            $(ctrlId).each(function () {

                var optionInd = $(arrIndexCtrls[$(this).index()]).val().split(':')[1];

                if (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    if ($(this).index() < 3) {
                        var optionTag = $(this).find('select:eq(0)').prop('selectedIndex', optionInd);
                    }
                    else {
                        var optionTag = $(this).find('select:eq(1)').prop('selectedIndex', optionInd);
                    }
                } else {
                    var dis = $(this).find('li'); dis.removeClass('selected'); dis.eq(optionInd).addClass('selected');
                    dis.parents('.nice-select').addClass('active');
                    $(this).find('span.current').text(dis.eq(optionInd).text());
                }
            });
        }

        /* Open popup in Event Details page */
        function OpenPopup(templateId, itemId) {
            if (templateId != null && templateId != '' && templateId != typeof (undefined)) {
                if (templateId != '{B26203A5-6896-4E97-998B-6E9F16E8BCFA}') {
                    $('.block-event').find('[data-item-id="' + itemId + '"]').eq(0).trigger('click');
                }
                else {
                }
            } else { return false; }
        }

        $('.wrap-tnc').show();

        $(window).load(function () {

            OpenPopup('@Model.ConItemTempId', '@Model.ConItemId');

            if ('@Model.GetPost' == 'Post' || '@Model.GetPost' == 'Post with filter') {
                SetSelectedOption('.section-filter > .list > li:not(:last)', ['#categoryName', '#type', '#audiType', '#period']);

                if ('@Model.GetPost' == 'Post with filter') {
                    $(".block-event.month[data-month='@Model.PeriodStartMonth']").find('.btn-action:not(".collapsed")').trigger('click');
                    $("li[data-month='@Model.PeriodStartMonth']").find('.btn-action').trigger('click');
                }

                // PostStartMonth
                if ('@Model.GetPost' == 'Post') {
                    $(".block-event.month[data-month='@Model.PostStartMonth']").find('.btn-action:not(".collapsed")').trigger('click');
                    $("a[data-month='@Model.PostStartMonth']").addClass("active");
                    $("li[data-month='@Model.PostStartMonth']").find('.btn-action:not(".collapsed")').trigger('click');

                }

                SGF.calendar.initEvalHeight();

            }
            if ($('.wrap-calendar div').length <= 0) {
                $('.no-items').show();
                $('.wrap-tnc').hide();
            } else { $('.no-items').hide(); $('.wrap-tnc').show(); }
        });
    })

</script>
<script src="/assets/sgcalendar/scripts/calendar.js"></script>


