﻿@model List<SGEventsCalendar.Models.Story>


    @*@model List<SGEventsCalendar.Models.Story>*@
    
    
@{
    Layout = null;
    ViewBag.Title = "Featured Stories";
}

@using SGEventsCalendar.Models;




<input type='hidden' id='current_page' />
<input type='hidden' id='show_per_page' />

<div class="featuredStories">
    @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Feature Title").ToString()))
    {
        <h2>@Html.Sitecore().Field("Feature Title")</h2>
    }
    @if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Description").ToString()))
    {
        <p>
            @Html.Sitecore().Field("Description")
        </p>
    }
</div>

<div class="storyGrid">
    <ul id="content">
        @if (Model != null && Model.Count > 0)
        {
            foreach (Story story in Model)
            {
            <li>
                <div class="gridBlock">
                    <img src="@story.ThumbImg" alt="" />
                    <div class="gridContent">
                        <span>@Convert.ToDateTime(@story.EventDate).ToString("dd MMM yyyy")</span>
                        <h4>@story.Title</h4>

                        @foreach (string _name in story.Categories)
                        {
                            <a href="javascript:void(0)" class="titles">@_name</a>
                        }

                    </div>
                    <div class="gridInnerCon">
                        <div class="gridInnerConMain">
                            <p>@Html.Raw(@story.ShortDesc)</p>
                            <a href="@Sitecore.Links.LinkManager.GetItemUrl(story.item)">@story.ReadMoreCTA <i class="fa fa-angle-right"></i></a>
                        </div>
                        <a href="@Sitecore.Links.LinkManager.GetItemUrl(story.item)" class="listTarget"></a>
                    </div>
                </div>
            </li>
            }
        }
    </ul>
</div>

<ul class="pagiNation">

    <li id='page_navigation' style="padding-top: 10px;"></li>
</ul>

<style>
    #page_navigation a {
        /*padding: 3px;*/
        border: 1px solid #e0e0e0;
        font-size: 13px;
        margin: 0 2px;
        color: #fff;
        text-decoration: none;
    }

    .active_page {
        background: red;
        color: white !important;
        /* background: #b8b8b8; */
    }
</style>

<script src="/assets/SG/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var show_per_page = 2, number_of_items = $('#content').children().size(), number_of_pages = Math.ceil(number_of_items / show_per_page);

        //set the value of our hidden input fields
        $('#current_page').val(0);
        $('#show_per_page').val(show_per_page);

        var navigation_html = '<a class = "next prev previous_link",  href="javascript:First();"><<</a>';
        navigation_html += '<a class = "next prev previous_link",  href="javascript:previous();"><</a>';
        var current_link = 0;

        while (number_of_pages > current_link) {
            navigation_html += '<a  class = "next page_link", href="javascript:go_to_page(' + current_link + ')" longdesc="' + current_link + '">' + (current_link + 1) + '</a>';
            current_link++;
        }

        navigation_html += '<a class = "next Next next_link",  href="javascript:next();">></a>';
        navigation_html += '<a class = "next Next next_link",  href="javascript:Last();">>></a>';
        $('#page_navigation').html(navigation_html);

        //add active_page class to the first page link
        $('#page_navigation .page_link:first').addClass('active_page active');

        //hide all the elements inside content div
        $('#content').children().css('display', 'none');

        //and show the first n (show_per_page) elements
        $('#content').children().slice(0, show_per_page).css('display', 'inline-block');

        /*Hide pagination if items below 6*/
        if (number_of_items > show_per_page) {
            $('.pagiNation').show();
        }
        else {
            $('.pagiNation').hide();
        }

        /* PAGE NUM CLICK LEFT ARROWS SHOW*/

        $('#page_navigation').find('.page_link').click(function () {

            if ($('#page_navigation').find('.page_link').index(this) > 0) {
                $('#page_navigation .previous_link').show();

            }
            else {
                $('#page_navigation .previous_link').hide();

            }
        });

        /* PAGE NUM CLICK RIGHT  ARROWS SHOW*/

        $('#page_navigation').find('.page_link').click(function () {
            if ($('#page_navigation').find('.page_link').index(this) == $('#page_navigation').find('.page_link').length - 1) {

                $('#page_navigation').find('.next_link').hide();
            }
            else {
                $('#page_navigation').find('.next_link').show();
            }
        });

        /*Previous << hide */
        function PreviousLast(ctrlId) {
            if (ctrlId > 0) {
                $(ctrlId).click(function () {
                    alert('ra');
                    $('.previous_link').hide();
                    $('.next_link').show();
                });
            }
        }
        PreviousLast('.previous_link:eq(0)')

        /*Next >> hide*/
        $('.next_link:eq(1)').click(function () {
            $('.next_link').hide();
            $('.previous_link').show();
        });

        /* Previous < hide*/
        $('.previous_link:eq(1)').click(function () {
            //alert($('#page_navigation').find('.active_page').index('.page_link'))
            if ($('#page_navigation').find('.active_page').index('.page_link') > 1) {
                $('.next_link').show();
            }
            else {
                $('.previous_link').hide();
                $('.next_link').show();
            }
        })

        /*Next > hide*/
        $('.next_link:eq(0)').click(function () {
            if ($('#page_navigation').find('.active_page').index('.page_link') < $('#page_navigation').find('.page_link').length - 2) {
                $('.previous_link').show();
            }
            else {
                $('.next_link').hide();
                $('.previous_link').show();
            }
        });
    });

    function previous() {
        new_page = parseInt($('#current_page').val()) - 1;
        //if there is an item before the current active link run the function
        if ($('.active_page').prev('.page_link').length == true) {
            go_to_page(new_page);
        }
    }

    function next() {
        new_page = parseInt($('#current_page').val()) + 1;
        //if there is an item after the current active link run the function
        if ($('.active_page').next('.page_link').length == true) {
            go_to_page(new_page);
        }
    }

    function Last() {
        var show_per_page = 2;
        var number_of_items = $('#content').children().size();
        var number_of_pages = Math.ceil(number_of_items / show_per_page);
        new_page = number_of_pages - 1;
        if ($('.active_page').next('.page_link').length == true) {
            go_to_page(new_page);
        }

    }

    function First() {
        new_page = 0;
        //if there is an item before the current active link run the function
        if ($('.active_page').prev('.page_link').length == true) {
            go_to_page(new_page);
        }
    }

    function go_to_page(page_num) {
        var show_per_page = parseInt($('#show_per_page').val());
        var start_from = page_num * show_per_page;
        var end_on = start_from + show_per_page;
        $('#content').children().css('display', 'none').slice(start_from, end_on).css('display', 'inline-block');
        $('.page_link[longdesc=' + page_num + ']').addClass('active_page active').siblings('.active_page').removeClass('active_page active');

        //update the current page input field
        $('#current_page').val(page_num);
    }

    $(window).load(function () {
        $('#page_navigation').find('.previous_link').hide();
        $('#page_navigation').find('.next_link').show();
    });

</script>
