﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    @Html.Sitecore().Placeholder("Meta")
    <link href="/assets/sgcalendar/css/main.css" rel="stylesheet" type="text/css">
    <link href="/assets/sgcalendar/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/sgcalendar/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <script src="/assets/sgcalendar/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/sgcalendar/js/jquery.nice-select.min.js"></script>
    <script src="/assets/sgcalendar/js/jquery.bxslider.js"></script>

    <link href="/assets/sgcalendar/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/assets/sgcalendar/css/nice-select.css" rel="stylesheet" type="text/css">
    <link href="/assets/sgcalendar/css/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/sgcalendar/css/slick-theme.css" />
    <link href="/assets/sgcalendar/styles/style.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">

        /* GA Analytics Code */
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-73061932-3', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- Google Tag Manager -->
    <script type="text/javascript">        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
        new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZB8MK3');</script>
    <!-- End Google Tag Manager -->

</head>
<body class="preload">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6B92M"
            height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.Sitecore().Placeholder("Header")
    @Html.Sitecore().Placeholder("Content")
    @Html.Sitecore().Placeholder("Footer")
</body>

</html>
<script type="text/ecmascript">

    $(document).ready(function () {
        /* new menu */

        function New_Menu() {
            $('.js-toggle-search').on('click', function (e) {
                $('.menu-first').addClass('hide');
                $('.wrap-search').off('focusout').addClass('show').find('input').focus();

                setTimeout(function () {
                    $('.wrap-search').find('input').focus();
                    $('.wrap-search').on('focusout', function () {
                        $('.wrap-search').off('focusout');
                        setTimeout(function () { $('.wrap-search').removeClass('show').find('input').val(''); $('.menu-first').removeClass('hide'); }, 300);
                    });
                }, 350);
            });

            $('.js-close').on('click', function (e) {
                $('.wrap-search').off('focusout').removeClass('show').find('input').val('');
                $('.menu-first').removeClass('hide');
            });

            $('.menuIcon').click(function () {
                $('.wrap-new-menu').toggleClass('show');
            });
        }

        /* Calling new menu function */
        New_Menu();

        /* end new menu */

        $('.sgSpirit .readMoreCon,.menu,.sgSpirit .collapse').fadeOut();

        $('.sgSpirit .readMore a').click(function () {
            $('.sgSpirit .readMoreCon').slideToggle(300);
            $('.sgSpirit .collapse').show();
            $('.sgSpirit .readMore').hide();
        });

        $('.sgSpirit .collapse a').click(function () {
            $('.sgSpirit .readMoreCon').slideToggle(300);
            $('.sgSpirit .collapse').hide();
            $('.sgSpirit .readMore').show();
        });

        /* Accordion Slide */
        $(".accordionSlide ul li").hover(function () {
            if (screen.width <= 767) {
                $(".accordionSlide ul li").removeClass("active");
                $(this).addClass("active");
                $(".accordionSlide ul li").removeAttr("style");
                $(this).height($(this).find("img.mobImg").height());
            } else {
                $(".accordionSlide ul li").removeClass("active");
                $(this).addClass("active");
            }

            //$(".accordionCon h3 br").css('display','none').delay(5000);
        });

        /* Maintenance */
        $(".maintenance i").click(function () {
            $(".maintenance").fadeOut(300);
        });

        /* Menu */
        $('.menuIcon').click(function () {
            $('.menu').fadeToggle(300).toggleClass('menuList');
            $('.menuIcon').toggleClass('menuIconActive');
        });

        var width = $(document).width();

        1024 >= width ? $("body").bind("touchstart", function (t) {
            var e = $(".menuIcon, .menu");
            e.is(t.target) || 0 != e.has(t.target).length || jQuery(".menu").removeClass('menuList') && jQuery(".menu").hide() && jQuery(".menuIcon").removeClass('menuIconActive')
        }) : $(document).mouseup(function (t) {
            var e = $(".menuIcon, .menu");
            e.is(t.target) || 0 != e.has(t.target).length || jQuery(".menu").removeClass('menuList') && jQuery(".menu").hide() && jQuery(".menuIcon").removeClass('menuIconActive')
        });

        $('.storyCon').on('touchstart', function (e) {
            'use strict';
            var link = $(this);
            if (link.hasClass('hover')) {
                return true;
            } else {
                link.addClass('hover');
                $('.storyCon').not(this).removeClass('hover');
                e.preventDefault();
                return false;
            }
        });

        setTimeout(function () {
            document.body.classList.remove('preload');

            (function (w) {
                "use strict";
                if (!w.loadCSS) {
                    w.loadCSS = function () { };
                }

                var rp = loadCSS.relpreload = {};

                rp.support = (function () {
                    var ret;
                    try {
                        ret = w.document.createElement("link").relList.supports("preload");
                    } catch (e) {
                        ret = false;
                    }
                    return function () {
                        return ret;
                    };
                })();

                rp.bindMediaToggle = function (link) {
                    var finalMedia = link.media || "all";

                    function enableStylesheet() {
                        link.media = finalMedia;
                    }

                    if (link.addEventListener) {
                        link.addEventListener("load", enableStylesheet);
                    } else if (link.attachEvent) {
                        link.attachEvent("onload", enableStylesheet);
                    }

                    setTimeout(function () {
                        link.rel = "stylesheet";
                        link.media = "only x";
                    });
                    // also enable media after 3 seconds,
                    // which will catch very old browsers (android 2.x, old firefox) that don't support onload on link
                    setTimeout(enableStylesheet, 3000);
                };

                // loop through link elements in DOM
                rp.poly = function () {
                    // double check this to prevent external calls from running
                    if (rp.support()) {
                        return;
                    }
                    var links = w.document.getElementsByTagName("link");
                    for (var i = 0; i < links.length; i++) {
                        var link = links[i];
                        // qualify links to those with rel=preload and as=style attrs
                        if (link.rel === "preload" && link.getAttribute("as") === "style" && !link.getAttribute("data-loadcss")) {
                            // prevent rerunning on link
                            link.setAttribute("data-loadcss", true);
                            // bind listeners to toggle media back
                            rp.bindMediaToggle(link);
                        }
                    }
                };

                // if unsupported, run the polyfill
                if (!rp.support()) {
                    // run once at least
                    rp.poly();

                    // rerun poly on an interval until onload
                    var run = w.setInterval(rp.poly, 500);
                    if (w.addEventListener) {
                        w.addEventListener("load", function () {
                            rp.poly();
                            w.clearInterval(run);
                        });
                    } else if (w.attachEvent) {
                        w.attachEvent("onload", function () {
                            rp.poly();
                            w.clearInterval(run);
                        });
                    }
                }


                // commonjs
                if (typeof exports !== "undefined") {
                    exports.loadCSS = loadCSS;
                }
                else {
                    w.loadCSS = loadCSS;
                }
            }(typeof global !== "undefined" ? global : this));
            setTimeout(function () { SGF.calendar.initEvalHeight() }, 2000);
        }, 5000);

        /* Latest Stories */
        /*$(".storyCell").mouseover(function (e) {
            $(this).find(".storyInnerMain")
        });

        $(".storyCell").mouseout(function (e) {
            $(this).find(".storyInnerMain")
        });*/
    });
</script>
